// body start
main {
  background-color: white;
}
.getStarted {
  background: #136f63;
  color: #fff;
  border-radius: 4px;
  border: 1px solid #136f63;
  cursor: pointer;
  width: 100%;
}
.reset p {
  font-weight: 400;
  color: #969696;
  text-align: justify;
  text-justify: inter-word;
}

.resetdiv ::ng-deep .mat-list .mat-list-item .mat-line {
  word-wrap: break-word;
  white-space: pre-wrap;
}
.resetdiv
  ::ng-deep
  .mat-form-field-appearance-fill
  ::ng-deep
  .mat-form-field-flex {
  padding: 0em 0.75em 0 0.75em !important;
}
// body end
