$border-color: #ccc;
$tooltip-body-color: #fff;
$tooltip-arrow-width: 10px;


.tooltip-container {
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);
    margin: 1rem;
    margin-top: .7rem;
    min-width: 50px;
    max-width: 400px;
    background: $tooltip-body-color;
    border: 1px solid $border-color;
    pointer-events: none;
    position: relative;
    min-height: 1rem;
    padding: 1rem;

  &:after,
  &:before {
      content: '';
      display: block;
      position: absolute;
      bottom: 100%;
      width: 0;
      height: 0;
      border-style: solid;
  }

  &:after {
      left: calc(49% + 2px);
      border-color: transparent transparent $tooltip-body-color transparent;
      border-width: $tooltip-arrow-width;
  }

  &:before {
      left: calc(49%);
      border-color: transparent transparent $border-color transparent;
      border-width: $tooltip-arrow-width + 2px;
  }
}