<main class="content mg-t-100">
  <section fxLayout='row wrap' class="stripebg">
    <div class="bg"></div>
  </section>
  <section class="container confirm-order pd-y-60-f">
    <div fxLayout="row wrap" fxLayoutAlign="space-around center" class='pd-t-40-f pd-b-100-f'>
      <div fxFlex='50%' fxFlex.sm='80%' fxFlex.xs='80%'>
        <mat-card fxFlex='100%' class="pd-y-30-f">
          <mat-card-title>
            <h1 class="title-text tx-xs-24-f tx-sm-28-f tx-md-28-f tx-lg-30-f tx-xl-30-f tx-semibold mg-t-10-f color1 tx-center-f">
              Confirm your Order</h1>
          </mat-card-title>
          <mat-card-content class='mg-t-30-f'>
            <form [formGroup]="SubscriptionPaymentForm" >
                <div fxLayout='row wrap' fxLayoutAlign='strat start'>
                  <div fxFlex='10%'></div>
                  <div fxFlex="35%" fxLayoutAlign='start start' class='tx-14-f color1 mg-t-10-f'>
                  Product  
                  </div>
                  <div fxFlex="55%" fxLayoutAlign='start start' class='tx-14-f color1 tx-semibold mg-t-10-f'>
                  : &nbsp;&nbsp;&nbsp;{{subscriptionOrder}}
                  </div>
                  <div fxFlex='10%'></div>
                  <div fxFlex="35%" fxLayoutAlign='start start' class='tx-14-f color1 mg-t-10-f'>
                  Name 
                  </div>
                  <div fxFlex="55%" fxLayoutAlign='start start' class='tx-14-f color1 tx-semibold mg-t-10-f'>
                  : &nbsp;&nbsp;&nbsp;{{subscriberName}}
                  </div>
                  <div fxFlex='10%'></div>
                  <div fxFlex="35%" fxLayoutAlign='start start' class='tx-14-f color1 mg-t-10-f'>
                  Email 
                  </div>
                  <div fxFlex="55%" fxLayoutAlign='start start' class='tx-14-f color1 tx-semibold mg-t-10-f' style="word-break: break-all !important;">
                  : &nbsp;&nbsp;&nbsp;{{subscriberEmail}}
                  </div>
                  <div fxFlex='10%'></div>
                  <div fxFlex="35%" fxLayoutAlign='start start' class='tx-14-f color1 mg-t-10-f'>
                  Contact Number 
                  </div>
                  <div fxFlex="55%" fxLayoutAlign='start start' class='tx-14-f color1 tx-semibold mg-t-10-f'>
                  : &nbsp;&nbsp;&nbsp;{{subscriberContact}}
                  </div>
                  <div fxFlex='10%'></div>
                  <div fxFlex="35%" fxLayoutAlign='start start' class='tx-14-f color1 mg-t-10-f'>
                  Payment Plan 
                  </div>
                  <div fxFlex="55%" fxLayoutAlign='start start' class='tx-14-f color1 tx-semibold mg-t-10-f'>
                  : &nbsp;&nbsp;&nbsp;{{subscriberPlan}}
                  </div>
                  <div fxFlex='10%'></div>
                  <div fxFlex="35%" fxLayoutAlign='start start' class='tx-14-f color1 mg-t-10-f'>
                  Total Price
                  </div>
                  <div fxFlex="55%" fxLayoutAlign='start start' class='tx-14-f color1 tx-semibold mg-t-10-f'>
                  : &nbsp;&nbsp;&nbsp;{{subscriptionCurrency}} {{subscriptionPrice}}
                  </div>
                  <div fxFlex='10%'></div>
                  <div fxFlex="35%" fxLayoutAlign='start start' class='tx-14-f color1 mg-t-10-f'>
                  Start Date
                  </div>
                  <div fxFlex="55%" fxLayoutAlign='start start' class='tx-14-f color1 tx-semibold mg-t-10-f'>
                  : &nbsp;&nbsp;&nbsp;{{subscriptionStartDate}}
                  </div>
                  <div fxFlex='10%'></div>
                  <div fxFlex="35%" fxLayoutAlign='start start' class='tx-14-f color1 mg-t-10-f'>
                  End Date
                  </div>
                  <div fxFlex="55%" fxLayoutAlign='start start' class='tx-14-f color1 tx-semibold mg-t-10-f'>
                  : &nbsp;&nbsp;&nbsp;{{subscriptionEndDate}} 
                  </div>
                </div>
                <button mat-flat-button class='Payment' (click)="makePayment()">Make Payment</button>
                <div class='mg-t-10-f tx-center-f'>
                  <img width="150" height="100" src="/assets/images/Razorpay.png" alt="razorpay">
                </div>
                <div class="tx-center">
                <button mat-flat-button (click)="goBack()" class="color1" style="text-decoration: underline;">Go Back</button>
                </div>
            </form>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </section>
</main>