.confirm-order .mat-card-title{
  padding-bottom: 10px;
  border-bottom:1px solid #e3e9ef;
}
.Payment{
  margin-top: 20px !important;
  width: 100% !important;
  background-color: #00A878;
  border: 2px solid #00A878;
  color: white;
  font-weight: 600 !important;
  line-height: 30px !important;
}
.Payment:hover{
  margin-top: 20px !important;
  width: 100% !important;
  background-color: white;
  border: 2px solid #00A878;
  color: #00A878;
  font-weight: 600 !important;
  line-height: 30px !important;
}