<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Poppins" />
<div style="padding-top: 250px;">
<div style="max-width: 550px;margin: auto;font-family: 'Poppins', sans-serif; padding: 8px;">
    <span class="fa-stack fa-4x" style="text-align: center; display: inline-block; width: 100%; color: white; font-size: 50px;">
        <i class="fa fa-circle fa-stack-2x " style="color: #51aa51;"></i>
        <i class="fa fa-thumbs-o-up fa-stack-1x"></i>
    </span>
    <div style="border: solid 1px rgb(214, 214, 214);z-index: 1;margin-top: -25px;">
        <h3 style="text-align: center;color: #002060;padding-top: 10px;"><b>Verification Success</b></h3>
        <p style="text-align: center; color: #8a8a8a;font-size: 14px;">Thank you for your support, we have successfully verified your email address.<br>You can now proceed to you home page.</p>
        <div style="text-align: center;padding-bottom: 12px;">
            <a href="https://www.72pi.ai" target="_blank" style="text-transform: uppercase; text-decoration: none; font-size: 14px; color: black;">Take Me Home</a>
        </div>
    </div>
</div>
</div>