 <button class="close" mat-button mat-dialog-close>
  <mat-icon >close</mat-icon>
</button>
<p class="tx-xs-18-f tx-sm-20-f tx-md-22-f tx-lg-24-f tx-xl-24-f color1 tx-bold  tx-center">Feedback</p>
<div class='tx-center'>
  <h3 class='mg-t-20-f tx-xs-14-f tx-sm-14-f tx-md-14-f tx-lg-16-f tx-xl-16-f '>How was your experience with this website?</h3>
  <div class="list-inline rating-list" *ngFor="let star of stars; let i= index"> 
    <p (click)="countStar(star)" id="{{'starId'+i}}" [ngClass]="{'selected': (star <= selectedValue)}" (mouseover)="addStar(star)" (mouseout)="removeStar(star)">★</p>
  </div>
  <div *ngIf="feedback==0">
    <h3 class='mg-t-20-f tx-xs-14-f tx-sm-14-f tx-md-14-f tx-lg-16-f tx-xl-16-f'>Please leave your feedback below</h3>
    <textarea cols="35" rows="5" class='text' placeholder="Enter your feedback here..." [(ngModel)]="feedback_text"></textarea>
    <div fxLayout="row wrap" class="mg-t-20-f">
      <div fxFlex="60%" class="tx-right" >
        <button mat-flat-button mat-dialog-close>Cancel</button>
      </div>
      <div fxFlex="40%" >
        <button class="btncol" [disabled]="click" mat-flat-button color="primary" (click)="submit()">Submit</button>
      </div>
  </div>
  </div>
  <div *ngIf="feedback==1" class='tx-xs-10-f pd-t-10-f feedback'>Thank you, your feedback has been submitted</div>
</div>


