.rating-list {
	p {
    // border: 2px solid rgb(0, 32, 96);
    padding-left: 5%;
    font-size: 35px;
		color: white;
		&:hover {
			color: rgb(0, 32, 96);
			~ {
				p {
					color: rgb(0, 32, 96);
				}
			}
		}
	}
	p.selected {
		color: rgb(0, 32, 96);
	}
	display: inline-block;
	list-style: none;
}

.selected{
    border: 2px solid rgb(0, 32, 96);
    font-size: 30px;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
  }
  .button {
    border: 2px solid rgb(0, 32, 96);
    border-radius: 5px;
    background-color: white;
    color: rgb(0, 32, 96);
    padding: 12px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 8px 4px;
  }

.button:hover{
  background-color:rgb(0, 32, 96);
  color: white;
}

.button:focus{
  background-color:rgb(0, 32, 96);
  color: white;
}
.btncol {
    background-color: rgb(0, 32, 96);
    color: white;
}
.rating-list {
    color:  rgb(0, 32, 96);
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color:  rgb(0, 32, 96);
}
.example-button-row .mat-button-base {
  margin: 0;
}
mat-icon {
  font-size: 16px;
}
.close{
  background-color: transparent;
  margin-left: 80%;

  width: 0em; 
  height: 0em;
}
.text{
  border:inset 2px rgb(0, 32, 96) !important;
  padding-left: 3%;
  padding-top:3%;
  font-family: Arial, sans-serif;
}
.feedback{
  color: green;
}
