<main class="content mg-t-100">
  <section fxLayout='row wrap' class="stripebg">
    <div class="bg"></div>
  </section>
  <section class="container confirm-order pd-y-60-f">
    <div  fxLayoutAlign="center center" class='pd-t-40-f pd-b-100-f' >
      <!-- <div fxFlex='50%'> -->
        <mat-card  class="pd-y-30-f" style="width:600px">
          <mat-card-title class='tx-center-f'>
            <h1 class='title-text tx-xs-24-f tx-sm-28-f tx-md-28-f tx-lg-30-f tx-xl-30-f tx-semibold mg-t-10-f color1 tx-center-f' *ngIf="success">Order Success</h1>
            <h1 class='title-text tx-xs-24-f tx-sm-28-f tx-md-28-f tx-lg-30-f tx-xl-30-f tx-semibold mg-t-10-f color1 tx-center-f' *ngIf="error">Order Failed</h1>
            <mat-icon class='success' *ngIf="success" >check_circle_outline</mat-icon>
            <mat-icon class='error' *ngIf="error" >highlight_off</mat-icon>
          </mat-card-title>
          <mat-card-content class='mg-t-30-f'>
            <div fxLayout='row wrap' >
              <div fxFlex='35%' fxLayoutAlign='center start' class='tx-14-f color1 mg-t-10-f'>
                <div fxFlex='70%'>
                  Product
                  </div>
              </div>
              <div fxFlex='65%' fxLayoutAlign='start strat' class='tx-14-f color1 tx-semibold mg-t-10-f'>
              : &nbsp;&nbsp;&nbsp;72PI Premium Subscription
              </div>
              <div fxFlex='35%' fxLayoutAlign='center start' class='tx-14-f color1 mg-t-10-f'><div fxFlex='70%'>Name</div>
              
              </div>
              <div fxFlex='65%' fxLayoutAlign='start strat' class='tx-14-f color1 tx-semibold mg-t-10-f'>
              : &nbsp;&nbsp;&nbsp;{{subscriptionDetails['first_name']}}
              </div>
              <div fxFlex='35%' fxLayoutAlign='center start' class='tx-14-f color1 mg-t-10-f'><div fxFlex='70%'>Email</div>
              
              </div>
              <div fxFlex='65%' fxLayoutAlign='start strat' class='tx-14-f color1 tx-semibold mg-t-10-f'>
              : &nbsp;&nbsp;&nbsp;{{subscriptionDetails['email']}}
              </div>
              <div fxFlex='35%' fxLayoutAlign='center start' class='tx-14-f color1 mg-t-10-f'><div fxFlex='70%'>Contact Number</div>
              
              </div>
              <div fxFlex='65%' fxLayoutAlign='start strat' class='tx-14-f color1 tx-semibold mg-t-10-f'>
              : &nbsp;&nbsp;&nbsp;{{subscriptionDetails['contact']}}
              </div>
              <div fxFlex='35%' fxLayoutAlign='center start' class='tx-14-f color1 mg-t-10-f'><div fxFlex='70%'>Payment Plan</div>
              
              </div>
              <div fxFlex='65%' fxLayoutAlign='start strat' class='tx-14-f color1 tx-semibold mg-t-10-f'>
              : &nbsp;&nbsp;&nbsp;{{subscriptionDetails['plan']}}
              </div>
              <div fxFlex='35%' fxLayoutAlign='center start' class='tx-14-f color1 mg-t-10-f'><div fxFlex='70%'>Total Price</div>
              
              </div>
              <div fxFlex='65%' fxLayoutAlign='start strat' class='tx-14-f color1 tx-semibold mg-t-10-f'>
              : &nbsp;&nbsp;&nbsp;{{subscriptionDetails['currency']}} {{subscriptionDetails['price']}}
              </div>
              <div fxFlex='35%' fxLayoutAlign='center start' class='tx-14-f color1 mg-t-10-f'><div fxFlex='70%'>Start Date</div>
              
              </div>
              <div fxFlex='65%' fxLayoutAlign='start strat' class='tx-14-f color1 tx-semibold mg-t-10-f'>
              : &nbsp;&nbsp;&nbsp;{{subscriptionDetails['start']}}
              </div>
              <div fxFlex='35%' fxLayoutAlign='center start' class='tx-14-f color1 mg-t-10-f'><div fxFlex='70%'>End Date</div>
             
              </div>
              <div fxFlex='65%' fxLayoutAlign='start strat' class='tx-14-f color1 tx-semibold mg-t-10-f'>
              : &nbsp;&nbsp;&nbsp;{{subscriptionDetails['end']}}
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      <!-- </div> -->
    </div>
  </section>
</main>