.success{
    font-size: 70px !important;
    color: #00A878 !important;
    height: 70px !important;
    width: 80px !important;
}
.error{
    font-size: 70px !important;
    color: #F52A4C !important;
    height: 70px !important;
    width: 80px !important;
}