<main class="content mg-t-100-f">
  <div class="container pd-y-60-f">
    <div fxLayout="row" fxLayoutAlign="center center">
      <div fxFlex="70%"  fxFlex.lt-md="100%">
        <div fxLayout="row wrap">
          <div fxFlex="50%" fxFlex.xs="100%">
            <h1 class="tw tx-xs-28-f tx-sm-30-f tx-md-32-f tx-lg-36-f tx-xl-36-f tx-bold lh-1 title-text">Contact Us</h1>
            <div class="mg-t-20-f">
              <form [formGroup]="contactUsForm" (ngSubmit)="onSubmit()" id="contact" >
              <fieldset>
                <input placeholder="First Name" type="text" tabindex="1" required autofocus formControlName="firstname">
              </fieldset>
              <fieldset>
                <input placeholder="Last Name  (Optional)" type="text" tabindex="2"  formControlName="lastname">
              </fieldset>
              <fieldset>
                <input placeholder="Email" type="email" tabindex="3" required formControlName="email">
              </fieldset>
              <fieldset>
                <input placeholder="Phone Number (Optional)" type="tel" maxlength="15" tabindex="4"  formControlName="phoneno">
              </fieldset>
              <fieldset>
                <input placeholder="Type Subject" type="text" tabindex="5" required formControlName="subject">
              </fieldset>
              <fieldset>
                <textarea placeholder="Type your Feedback Here..." tabindex="6" required formControlName="message"></textarea>
              </fieldset>
              <fieldset>
                <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
              </fieldset>
                <p class="p-text tx-14-f">
                  You agree to receive emails from 72PI on investing ideas, market<br>
                     updates and news. You can unsubscribe at anytime. By submitting<br>
                     this form, you agree to 72PI. Terms of Service and Privacy Policy.</p>
              </form>
              <span class='tx-center-f tx-semibold'
                  [ngClass]="{'green-color': status == 'success', 'red-color':status == 'error' }">{{response}}&nbsp;</span>
            </div>
          </div>
          <div fxFlex="50%" fxFlex.xs="100%" fxLayoutAlign="start start" fxLayout="column" class="pd-l-50-f">
            <img src="./assets/images/india.png">
            <p class="details with-icon tx-14-f">
            1st Floor, TK House, Plot 11,</p>
            <p class="tx-14-f">Shilpa Hills,Khanamet,</p>
            <p class="tx-14-f">HITEX Road, Hyderabad,</p>
            <p class="tx-14-f">Telangana,India - 500081.</p>
            <p class="with-icon tx-14-f"><i class="material-icons">phone</i> +91-8919293838</p>
            <p class="with-icon tx-14-f"><i class="material-icons" >email</i> 72pi@aishva.com</p>
            
          </div>
        </div>
      </div>
    </div>
  
  </div>
</main>