fieldset {
	border: medium none !important;
	margin: 0 0 10px;
	min-width: 100%;
	padding: 0;
  width: 100%;
}
#contact input[type="text"], #contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact textarea {
	width:100%;
	border:1px solid rgb(0, 32, 96);
	background:#FFF;
	margin:0 0 5px;
	padding:10px;
	border-radius: 6px;
	box-shadow: 0 0 2px rgb(109, 157, 255);
}


#contact textarea {
	height:100px;
	max-width:100%;
  resize:none;
}

#contact button[type="submit"] {
	cursor:pointer;
	width:100%;
	border:none;
	background: rgb(0, 32, 96);
	color:#FFF;
	margin:0 0 5px;
	padding:10px;
  	font-size:15px;
	border: 2px solid rgb(0, 32, 96);
	border-radius: 6px;
}
#contact button:hover{
	color: rgb(0, 32, 96);
	background-color: white;
	border: 2px solid rgb(0, 32, 96);
  }
  
  #contact input:focus, #contact textarea:focus {
	  outline:0;
	border:1px solid rgb(0, 32, 96);
	box-shadow:1px 1px 5px 3px rgb(173, 200, 255);
  }
  .with-icon {
	display: flex;
	align-items: center;
  }