.background-image{
    background-image:  linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ),  url(/assets/images/background-image.png);
}
// .blog-content:hover {
//     transform: scale(1.02);
//     text-decoration: none;
// }
.blog-content {
    transition: all 0.2s ease-in-out;
}
.blog-list-text-container {
    height: 113px;
    overflow-y: hidden;
}
.search-text-input{
    width:250px;
    padding: 5px 8px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    outline: none;
    border: 1px solid #ccc;
}
.go{
    padding: 5px 8px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    cursor: pointer;
    background: #1b2330;
    color: #fff;
    border: 3.5px solid #1b2330;
}
.readmore { 
    background-color: white;
    color: #002060;
    outline: none;
    border-radius: 20px;
    border: 1px solid #002060;
    padding: 8px 16px;
    cursor: pointer;
}
// .button:hover{
//     background-color:#0F2D69 ;
//     color: #FEFEFE;
//     border:none;
// }
.blog{
    color:#002060;
    font-weight: bold;
    font-size: 40px;
    font-family: 'Ubuntu', sans-serif !important;
}
.fa {
    padding: 20px;
    font-size: 15px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }
.iconImg img{
    cursor: pointer;
    height: 20px !important;
    width: 20px  !important;
    margin: 0px !important;
    opacity: 0.5;
}
.iconImg img:hover {
    transform: scale(1.1);
    text-decoration: none;
}
.pagination {
    display: inline-block;
  }
.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}