<main class="content mg-t-100-f">
  <div class="container pd-y-60-f" >
    <div fxLayout="row">
      <h1 class="tw tx-xs-28-f tx-sm-30-f tx-md-32-f tx-lg-36-f tx-xl-36-f tx-bold lh-1 title-text" fxFlex="50%"
        fxFlex.xs="100%">Blogs</h1>
      <div class='pagination' fxLayoutAlign='end center' fxLayoutAlign.xs='center center' fxFlex="50%" fxFlex.xs="100%">
        <pagination-controls class="pagination tx-center" (pageChange)="p = $event"></pagination-controls>
      </div>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="space-between stretch">
      <mat-card class="mg-t-30-f blog-content pd-16-f"
        *ngFor="let blog of blogs | paginate: {itemsPerPage:6,currentPage:p};" fxLayout="column" fxFlex="31%"
        fxFlex.lt-lg="48%" fxFlex.xs="100%" fxLayoutAlign="space-between stretch">
        <mat-card-content>
          <img mat-card-image src="{{site}}/media/{{blog.image_title}}" height="200" alt="">
          <h3 class="tx-12-f pcolor">{{blog.posted_at| date:'medium'}}</h3>
          <p class="tx-xs-14-f tx-sm-14-f tx-md-16-f tx-lg-18-f tx-xl-18-f tx-bold p-text cursor-f"
            (click)="blogReadMore(blog)">{{blog.title}}</p>
          <p class="tx-xs-13-f tx-sm-13-f p-text">{{blog.short_description}}</p>
        </mat-card-content>
        <div fxLayout="row wrap">
          <div fxFlex="50%">
            <button class="readmore tx-bold" (click)="blogReadMore(blog)">Read More</button>
          </div>
          <div fxFlex="50%" fxLayoutAlign="end center" class='iconImg'>
            <a href="#" class="mg-r-10-f"><img mat-card-image src="../../assets/images/facebook_icon.png"
                alt="facebook"></a>
            <a href="#" class="mg-r-10-f"><img mat-card-image src="../../assets/images/twitter_icon.png"
                alt="twitter"></a>
            <a href="#"><img mat-card-image src="../../assets/images/linkedin_icon.png" alt="linkedin"></a>
          </div>
        </div>
      </mat-card>
    </div>
    <div class="mg-y-30-f" fxLayoutAlign='end center'>
      <pagination-controls class="pagination tx-center" (pageChange)="p = $event"></pagination-controls>
    </div>
  </div>
</main>