.content {
  padding: 50px 0px;
}

::ng-deep .filterdailog {
  width: 80vw !important;
}

::ng-deep .p-datatable table {
  table-layout: fixed !important;
  width: 100%;
}

.mat-button-wrapper,
.mat-button {
  font-size: 13px !important;
}

.screener-table th {
  word-wrap: initial !important;
  line-break: unset !important;
  width: 180px !important;
  white-space: nowrap !important;
  vertical-align: middle !important;
  background-color: #e5e8ef !important;
  // text-transform: capitalize;
  border-right: 1px solid #ddd;
  color: #202225 !important;
  font-size:14px !important;

}

.screener-table tr {
  display: table-row !important;
  min-height: 20px !important;
}

.screener-table tr td {
  padding: 0.5rem !important;
  white-space: nowrap !important;
  width: 180px !important;
  color: #202225 !important;
  font-size:14px !important;

}

::ng-deep .screener-table th {
  border: none !important;
}

.screener-table th:nth-child(2),
.screener-table tr td:nth-child(2) {
  width: 300px !important;
}

.screener-table th:nth-child(2),
.screener-table td:nth-child(2) {
  text-align: left !important;
}

.screener-table th:nth-child(1),
.screener-table tr td:nth-child(1) {
  width: 50px !important;
}
.screener-table th:nth-last-child(1),
.screener-table th:nth-last-child(2),
.screener-table th:nth-last-child(3),
.screener-table td:nth-last-child(1),
.screener-table td:nth-last-child(2),
.screener-table td:nth-last-child(3),
.screener-table th:nth-last-child(4),
.screener-table td:nth-last-child(4) {
  display: none !important;
}
::ng-deep .mat-form-field-appearance-legacy .mat-form-field-flex {
  padding: 0px 20px !important;
}

::ng-deep .dropdown-div {
  width: 100% !important;
}

::ng-deep .dropdown-div mat-label,
::ng-deep .dropdown-div mat-form-field {
  width: 70% !important;
  // background-color: red;
}

::ng-deep .mat-form-field-appearance-outline ::ng-deep .mat-form-field-infix {
  padding: 0 0 0.5rem 0 !important;
  text-overflow: ellipsis;
  overflow: hidden;
}

::ng-deep .mat-form-field-wrapper {
  padding-bottom: 0px !important;
}

.Reset {
  background-color: white;
  border: 2px solid #136f63;
  color: #136f63;
  padding: 0px;
  line-height: 28px !important;
}

.Apply {
  border: 2px solid #002060;
  color: white;
  background-color:#002060;
  padding: 0px;
  line-height: 28px !important;
}

.CreatePortfolio,
.AddToExisting {
  background-color: #002060 !important;
  border: #002060 !important;
  color: white !important;
}

.Save,
.Save:hover,
::ng-deep .p-confirm-dialog-accept,
::ng-deep .p-confirm-dialog-accept:hover {
  background-color: #136f63 !important;
  border: 1px solid #136f63 !important;
  color: white !important;
}

::ng-deep .p-dialog ::ng-deep .p-dialog-header ::ng-deep .p-dialog-header-icon,
::ng-deep
  .p-dialog
  ::ng-deep
  .p-dialog-header
  ::ng-deep
  .p-dialog-header-icon:hover,
::ng-deep .p-confirm-dialog-reject,
::ng-deep .p-confirm-dialog-reject:hover,
.Cancel {
  // background-color: #F52A4C !important;
  border: 1px solid #f52a4c !important;
  color: #f52a4c !important;
}

.Save,
.Cancel {
  padding: 5px 8px !important;
}

::ng-deep .screener-div .mat-tab-label {
  background-color: transparent !important;
  color: #002060 !important;
  font-weight: 700 !important;
  padding: 0px 15px !important;
  min-width: max-content !important;
}
/* Styles for the active tab label */
::ng-deep .screener-div .mat-tab-label.mat-tab-label-active {
  background-color: #e7f3ff !important;
  font-weight: 700 !important;
  opacity: 1 !important;
  border: none !important;
}

.p-input-icon-right > .p-inputtext {
  width: 50% !important;
}
::ng-deep .screener-div .p-inputtext {
  font-size: 14px !important;
  width: 100px !important;
}
::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  padding: 0px 16px !important;
}

.screener-table th:nth-child(4),
.screener-table tr td:nth-child(4),
.screener-table th:nth-child(46),
.screener-table tr td:nth-child(46) {
  width: 200px !important;
}
.screener-table th:nth-child(n + 9):nth-child(-n + 10),
.screener-table tr td:nth-child(n + 9):nth-child(-n + 10),
.screener-table th:nth-child(n + 14):nth-child(-n + 16),
.screener-table tr td:nth-child(n + 14):nth-child(-n + 16),
.screener-table th:nth-child(n + 29):nth-child(-n + 32),
.screener-table tr td:nth-child(n + 29):nth-child(-n + 32) {
  width: 120px !important;
}
.screener-table th:nth-child(3),
.screener-table tr td:nth-child(3),
.screener-table th:nth-child(5),
.screener-table tr td:nth-child(5),
.screener-table th:nth-child(11),
.screener-table tr td:nth-child(11),
.screener-table th:nth-child(17),
.screener-table tr td:nth-child(17),
.screener-table th:nth-child(19),
.screener-table tr td:nth-child(19),
.screener-table th:nth-child(n + 27):nth-child(-n + 28),
.screener-table tr td:nth-child(n + 27):nth-child(-n + 28),
.screener-table th:nth-child(n + 33):nth-child(-n + 34),
.screener-table tr td:nth-child(n + 33):nth-child(-n + 34) {
  width: 150px !important;
}

.screener-table th:nth-child(n + 12):nth-child(-n + 13),
.screener-table tr td:nth-child(n + 12):nth-child(-n + 13),
.screener-table th:nth-child(n + 21):nth-child(-n + 22),
.screener-table tr td:nth-child(n + 21):nth-child(-n + 22),
.screener-table th:nth-child(n + 38):nth-child(-n + 44),
.screener-table tr td:nth-child(n + 38):nth-child(-n + 44),
.screener-table th:nth-child(47),
.screener-table tr td:nth-child(47) {
  width: 100px !important;
}


.screener-table th:nth-child(18),
.screener-table tr td:nth-child(18),
.screener-table th:nth-child(20),
.screener-table tr td:nth-child(20),
.screener-table th:nth-child(n + 36):nth-child(-n + 37),
.screener-table tr td:nth-child(n + 36):nth-child(-n + 37) {
  width: 220px !important;
}
::ng-deep .screener-div .mat-tab-body-content {
  overflow: unset !important;
}
::ng-deep .screener-div .p-dropdown,
::ng-deep .screener-div .p-inputtext,
::ng-deep .screener-div .p-inputnumber {
  width: 100% !important;
}
.first-col {
  left: 5px;
  text-align:center;
}
.sticky-col {
  position: sticky !important;
  position: -webkit-sticky;
  background-color: #fff;
}
.second-col {
  left: 2.5vw;
  cursor: pointer;
}
::ng-deep .mat-tab-group,
::ng-deep .mat-tab-body.mat-tab-body-active ,
::ng-deep .mat-tab-label-container {
  z-index:-9999 ;
}
.ANY{
  background-color: rgb(253, 202, 64) !important;
}