<div *ngIf="errorFlag" class="mg-t-100-f">
  <app-page401 *ngIf="errorMsg=='401'"></app-page401>
  <app-page402 *ngIf="errorMsg=='402'"></app-page402>
  <app-page403 *ngIf="errorMsg=='403'"></app-page403>
  <app-page404 *ngIf="errorMsg=='404'"></app-page404>
  <app-page405 *ngIf="errorMsg=='405'"></app-page405>
  <app-page406 *ngIf="errorMsg=='406'"></app-page406>
  <app-page412 *ngIf="errorMsg=='412'"></app-page412>
  <app-page500 *ngIf="errorMsg=='500'"></app-page500>
  <app-page501 *ngIf="errorMsg=='501'"></app-page501>
  <app-page502 *ngIf="errorMsg=='502'"></app-page502>
</div>
<main class="content mg-t-100" *ngIf="contentFlag">
  <div class="container">
    <div class="se-pre-con" *ngIf="loading"></div>
    <div class="screener-div">
      <mat-card-title>
      <h1 class="tw tx-xs-28-f tx-sm-30-f tx-md-32-f tx-lg-36-f tx-xl-36-f tx-bold lh-1 title-text">Stock Screener</h1>

      </mat-card-title>
      <mat-card-content>
        <!-- <button pButton label="Filters" icon="pi pi-filter" class="p-button-success mg-r-20" (click)="openFiltersDailog()"></button> -->
        <div class='se-pre-con-div' *ngIf='divloading'></div>
        <mat-tab-group  (selectedTabChange)="onTabChange($event)" animationDuration="0ms" mat-align-tabs="flex-start" class='mg-b-20-f tx-14-f'>
          <mat-tab label="Quantitative">
           
          </mat-tab>
          <mat-tab label="Fundamental">
           
          </mat-tab>
          <mat-tab label="Technical">
       
          </mat-tab>
          <mat-tab label="Risk/Other">
            
          </mat-tab>
        </mat-tab-group>
        <div fxLayout="row wrap" *ngIf = "quantFlag">
          <div fxFlex="25%" fxFlex.md="25%" fxFlex.sm="50%" fxFlex.xs="100%"
            *ngFor="let element of quantitative_keys;let i =index">
            <div fxLayout="row" class='tx-14-f mg-t-5-f' fxLayoutAlign='end'>
              <mat-label fxFlex="60%" fxFlex.md="50%" fxFlex.sm="50%" fxFlex.xs="100%"
                class="mg-t-10-f tx-right pd-r-10-f tx-14-f">{{quantitative_names[i]}}:</mat-label>
              <mat-form-field appearance="outline" fxFlex="40%" fxFlex.md="50%" fxFlex.sm="50%" fxFlex.xs="100%">
                <select matNativeControl (change)="onFilterChange($event,element)"
                  [(ngModel)]="selectedVals[element]" class="screener-select" [ngClass]="{ANY:selectedVals[element]!='Any'}">
                  <option *ngFor="let val of quantitative_list[element]" [value]="val" class='tx-14-f'>
                    {{val}}
                  </option>
                </select>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div fxLayout="row wrap" *ngIf = "riskFlag">
          <div fxFlex="25%" fxFlex.md="33.3%" fxFlex.sm="50%" fxFlex.xs="100%"
            *ngFor="let element of risk_keys;let i =index">
            <div fxLayout="row" class='tx-14-f mg-t-5-f' fxLayoutAlign='end'>
              <mat-label fxFlex="60%" fxFlex.md="60%" fxFlex.sm="50%" fxFlex.xs="100%"
                class="mg-t-10-f tx-right pd-r-10-f tx-14-f">{{risk_names[i]}}:</mat-label>
              <mat-form-field appearance="outline" fxFlex="40%" fxFlex.md="40%" fxFlex.sm="50%" fxFlex.xs="100%">
                <select matNativeControl (change)="onFilterChange($event,element)"
                  [(ngModel)]="selectedVals[element]" class="screener-select"  [ngClass]="{ANY:selectedVals[element]!='Any'}">
                  <option *ngFor="let val of risk_list[element]" [value]="val" class='tx-14-f'>
                    {{val}}
                  </option>
                </select>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div fxLayout="row wrap" *ngIf = "techFlag">
          <div fxFlex="25%" fxFlex.md="33.3%" fxFlex.sm="50%" fxFlex.xs="100%"
            *ngFor="let element of technical_keys;let i =index">
            <div fxLayout="row" class='tx-14-f mg-t-5-f' fxLayoutAlign='end'>
              <mat-label fxFlex="60%" fxFlex.md="60%" fxFlex.sm="50%" fxFlex.xs="100%"
                class="mg-t-10-f tx-right pd-r-10-f tx-14-f">{{technical_names[i]}} :</mat-label>
              <mat-form-field appearance="outline" fxFlex="40%" fxFlex.md="40%" fxFlex.sm="50%" fxFlex.xs="100%">
                <select matNativeControl (change)="onFilterChange($event,element)"
                  [(ngModel)]="selectedVals[element]" class="screener-select"  [ngClass]="{ANY:selectedVals[element]!='Any'}">
                  <option *ngFor="let val of technical_list[element]" [value]="val" class='tx-14-f'>
                    {{val}}
                  </option>
                </select>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div fxLayout="row wrap" *ngIf = "fundFlag">
          <div fxFlex="25%" fxFlex.md="33.3%" fxFlex.sm="50%" fxFlex.xs="100%"
            *ngFor="let element of fundamental_keys;let i =index">
            <div fxLayout="row" class='tx-14-f mg-t-5-f' fxLayoutAlign='end'>
              <mat-label fxFlex="60%" fxFlex.md="60%" fxFlex.sm="50%" fxFlex.xs="100%"
                class="mg-t-10-f tx-right pd-r-10-f tx-14-f">{{fundamental_names[i]}}:</mat-label>
              <mat-form-field appearance="outline" fxFlex="40%" fxFlex.md="40%" fxFlex.sm="50%" fxFlex.xs="100%">
                <select matNativeControl (change)="onFilterChange($event,element)"
                  [(ngModel)]="selectedVals[element]" class="screener-select"  [ngClass]="{ANY:selectedVals[element]!='Any'}">
                  <option *ngFor="let val of fundamental_list[element]" [value]="val" class='tx-14-f'>
                    {{val}}
                  </option>
                </select>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="tx-right mg-b-20 mg-t-10-f">
          <button mat-raised-button class='Reset tx-13-f tx-semibold mg-r-10-f' (click)="resetFilters()">Reset</button>
          <button mat-raised-button class='Apply tx-13-f ' (click)="getfiltersdata()">Apply</button>
        </div>
        <div class="mg-b-20 tx-14-f" fxLayout="row wrap" fxAlign='start start'>
          <div fxFlex='40%' fxFlex.lg='37%' fxFlex.md='50%' fxFlex.sm='60%' fxFlex.xs='100%'
            class='pd-r-10-f pd-xs-r-0-f'>
            <mat-label class='tx-14-f tx-semibold pd-r-10-f tx-right' fxLayoutAlign="center center">Default Investment
              Amt/Stock:
            </mat-label>
            <p-inputNumber fxFlex='50%' fxFlex.lg='40%' fxFlex.xs='100%' [(ngModel)]="def_amnt"
              (onInput)="modifyQuantity($event)" locale="{{currency_symbol}}" placeholder="Default Investment Amount">
            </p-inputNumber>
          </div>
          <div fxFlex='32%' fxFlex.lg='29%' fxFlex.md='50%' fxFlex.sm='40%' fxFlex.xs='100%'
            class='tx-right mg-xs-t-10-f pd-r-10-f pd-md-r-0-f pd-xs-r-0-f'>
            <span class="p-input-icon-right">
              <input pInputText type="text" fxFlex='100%' (input)="dt.filterGlobal($event.target.value, 'contains')"
                placeholder="Search..." />
            </span>
          </div>
          <div fxFlex='20%' fxFlex.lg='23%' fxFlex.md='90%' fxFlex.sm='80%' fxFlex.xs='100%' fxLayoutAlign='end start'
            class='tx-right mg-xs-t-10-f mg-md-t-10-f'>
            <button pButton pRipple label="Create Portfolio" class='CreatePortfolio mg-r-10-f pd-x-5-f'
              (click)="createPortfolio()"></button>
            <button pButton pRipple label="Add to Exisiting" class='AddToExisting pd-x-5-f'
              (click)="addToExistPortfolio()"></button>
              <!-- <button pButton pRipple label="Create Portfolio" class='CreatePortfolio mg-r-10-f pd-x-5-f'
              (click)="createPortfolio()" [disabled]="!selectedstocks || !selectedstocks.length"></button>
            <button pButton pRipple label="Add to Exisiting" class='AddToExisting pd-x-5-f'
              (click)="addToExistPortfolio()" [disabled]="!selectedstocks || !selectedstocks.length"></button> -->
          </div>
          <div fxFlex='8%' fxFlex.lg='11%' fxFlex.xs='100%' class='tx-right mg-md-t-10-f mg-sm-t-10-f mg-xs-t-10-f'>
            <button mat-flat-button class='tx-14-f pd-x-10-f pd-y-0-f tx-semibold '>{{filteredValuesLength }}
              Stocks</button>
          </div>
        </div>
        <p-table #dt class="screener-table" [columns]="cols" [value]="screener_table_data" [scrollable]="true"
          scrollHeight="500px" [virtualScroll]="true" [virtualRowHeight]="30" [autoLayout]="true"
          [(selection)]="selectedstocks" (onFilter)="onFilter($event, dt)">
          <ng-template pTemplate="header" let-headername>
            <tr>
              <th class="first-col sticky-col">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
              </th>
              <th class='tx-justify-left sticky-col second-col'>Company</th>
              <th [pSortableColumn]="col.field" *ngFor="let col of headername;">
                <div *ngIf="!(col.field=='Quantity') && !(col.field=='Company') && !(['GICS','Market Cap Category','Piotroski Score','F&O'].includes(col.field))"
                  class='tx-14-f tx-justify-right pd-r-0-f num-width'> {{col.header}}<p-sortIcon [field]="col.field">
                  </p-sortIcon>
                </div>
                <div *ngIf="!(col.field=='Quantity') && !(col.field=='Company') && (['GICS','Market Cap Category'].includes(col.field))"
                  class='tx-14-f tx-justify-left pd-l-0-f text-width'> {{col.header}}<p-sortIcon [field]="col.field">
                  </p-sortIcon>
                </div>
                <div *ngIf="(col.field=='Quantity' || col.field == 'Piotroski Score')" class='tx-center-f pd-r-20-f'> {{col.header}}<p-sortIcon [field]="col.field">
                </p-sortIcon> </div>
                <div *ngIf="(col.field=='F&O')" class='tx-justify-left pd-l-0-f'> {{col.header}}<p-sortIcon [field]="col.field">
                </p-sortIcon> </div>

              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-stocks let-columns="columns" class="tx-14-f ">
            <tr *ngIf='!divloading'>
              <td class="first-col sticky-col">
                <p-tableCheckbox [value]="stocks" #chkEnable></p-tableCheckbox>
              </td>
              <td class='tx-justify-left sticky-col second-col'>
                <div fxLayout="row">
                  <div fxLayoutAlign="start start">
                    <img class="symbol-logo" src="{{stocks.IMGURL}}" alt="{{stocks.Security_Code}}">
                  </div>
                  <div fxLayout="column" class="pd-l-10-f">
                    <div class="tx-14-f color1 tx-bold cursor-f"
                      (click)="getStockInfopage(stocks.Company,stocks.Security_Code)">{{stocks.Security_Code}}</div>
                    <div class="tx-12-f tx-semibold ">
                      {{stocks.Company}}
                    </div>
                  </div>
                </div>
              </td>
              <td *ngFor="let col of columns" class='tx-14-f'>
                <div
                  *ngIf="(['MCap (in Cr)','MCap (in M)','Sales (TTM)','Volume','Target Price'].includes(col.field))"
                  class='tx-14-f tx-justify-right pd-r-20-f'>
                  <span *ngIf='stocks[col.field] == "-1234567890123"'>N/A</span>
                  <span *ngIf='!(stocks[col.field] == "-1234567890123")'>{{stocks[col.field] |
                    number:'1.0-0':currency_symbol}}</span>
                </div>
                <div
                  *ngIf="(['Volatility','Div Yield','Sales Growth','Sales Growth 3Y/5R CAGR','EPS Growth','EPS Growth 3Y/5R CAGR','ROE','ROCE','FCF Margin','Realtive Strength 30D','Realtive Strength 90D','RSI (14D)','MTD', 'QTD','YTD',  '1M', '3M', '6M','1Y','Share Turnover','Avg 10D vs Avg 90D Vol'].includes(col.field))"
                  class='tx-14-f tx-justify-right pd-r-20-f'>
                  <span *ngIf='stocks[col.field] == "-1234567890123"'>N/A</span>
                  <span *ngIf='!(stocks[col.field] == "-1234567890123")'>{{stocks[col.field] | number:'1.1-1'}}%</span>
                </div>
                <div
                  *ngIf="!(col.field=='Quantity') && !(col.field=='Company') && !(['GICS','Market Cap Category','MCap (in Cr)','MCap (in M)','FsTicker','Sales (TTM)','Volume','Target Price','Avg 10D vs Avg 90D Vol','Volatility','Div Yield','Sales Growth','Sales Growth 3Y/5R CAGR','EPS Growth','EPS Growth 3Y/5R CAGR','ROE','ROCE','FCF Margin','Realtive Strength 30D','Realtive Strength 90D','RSI (14D)','MTD', 'QTD','YTD',  '1M', '3M', '6M','1Y','Share Turnover','F&O','IMGURL','Security_Code','Piotroski Score'].includes(col.field))"
                  class='tx-14-f tx-justify-right pd-r-20-f'>
                  <span *ngIf='stocks[col.field] == "-1234567890123"'>N/A</span>
                  <span *ngIf='!(stocks[col.field] == "-1234567890123")'>{{stocks[col.field] | number:'1.2-2'}}</span>
                </div>
                <div
                  *ngIf="!(col.field=='Quantity') && !(col.field=='Company') && (['GICS','Market Cap Category','FsTicker'].includes(col.field))"
                  class='tx-14-f tx-justify-left pd-l-10-f'>
                  <span *ngIf='stocks[col.field] == "-1234567890123"'>N/A</span>
                  <span *ngIf='!(stocks[col.field] == "-1234567890123")'>{{stocks[col.field]}}</span></div>
                <div *ngIf="(col.field=='Quantity') " class='tx-14-f tx-center-f'>
                  <p-inputNumber [(ngModel)]="stocks[col.field]" [minFractionDigits]="0" [maxFractionDigits]="0"
                    [disabled]="!chkEnable.checked" locale="{{currency_symbol}}" class="tx-14-f"></p-inputNumber>
                </div>
                <div *ngIf="(col.field=='F&O') " class='tx-14-f tx-justify-left pd-l-20-f'>
                  {{stocks[col.field]}}
                </div>
                <div *ngIf="(col.field=='Piotroski Score') " class='tx-14-f tx-center-f pd-r-20-f'>
                  {{stocks[col.field]}}
                </div>
              </td>
            </tr>
          </ng-template>
        </p-table>

      </mat-card-content>
      <p-dialog [(visible)]="NewPortfolioDialog" [style]="{width: '450px'}" header="Create New Portfolio" [modal]="true"
        styleClass="p-fluid">
          <ng-template pTemplate="content" >
            <p  *ngIf="!selectedstocks.length">Please select stocks  to create portfolio</p>
            <div class="p-field" *ngIf="selectedstocks.length">
              <input type="text" pInputText class="p-inputtext-sm" placeholder="Enter your Portfolio Name"
                (input)="newportfolioname=$event.target.value">
            </div>
          </ng-template>
          <ng-template pTemplate="footer">
            <button pButton pRipple label="Cancel" class="p-button-text Cancel" (click)="hideDialog()" *ngIf="selectedstocks.length"></button>
            <button pButton pRipple label="Save" class="p-button-text Save" (click)="saveCreatePortfolio()" *ngIf="selectedstocks.length"></button>
            <button pButton pRipple label="Ok" class="p-button-text Save" (click)="hideDialog()" *ngIf="!selectedstocks.length"></button>
          </ng-template>

      </p-dialog>
     
     
     
     
      <p-dialog [(visible)]="AddExisitingDialog" [style]="{width: '450px'}" header="Add to Exisiting Portfolio"
        [modal]="true" styleClass="p-fluid" class="existModal" [contentStyle]="{'overflow':'visible'}">
        <ng-template pTemplate="content">
          <p *ngIf="!selectedstocks.length">Please select stocks  to create portfolio</p>
          <div class="p-field"  *ngIf="selectedstocks.length">
            <p-dropdown [options]="userportfolios" [(ngModel)]="selectedPortfolio" optionLabel="portfolio_name" filterBy="name"
              [required]="true" appendTo="body" placeholder="Select Portfolio" class="existDropdown">
              <ng-template pTemplate="selectedItem">
                <div class="country-item country-item-value" *ngIf="selectedPortfolio">
                  <div>{{selectedPortfolio.portfolio_name}}</div>
                </div>
              </ng-template>
              <ng-template let-filter pTemplate="item">
                <div class="country-item">
                  <div>{{filter.portfolio_name}}</div>
                </div>
              </ng-template>
            </p-dropdown>
          </div>
        </ng-template>
        <ng-template pTemplate="footer">
          <button pButton pRipple label="Cancel" class="p-button-text Cancel" (click)="hideDialog()"  *ngIf="selectedstocks.length"></button>
          <button pButton pRipple label="Save" class="p-button-text Save" (click)="saveAddToExistPort()"  *ngIf="selectedstocks.length"></button>
          <button pButton pRipple label="Ok" class="p-button-text Save" (click)="hideDialog()" *ngIf="!selectedstocks.length"></button>
        </ng-template>
      </p-dialog>
    </div>
  </div>
</main>

