<div *ngIf="errorFlag" class="mg-t-100-f">
  <app-page401 *ngIf="errorMsg=='401'"></app-page401>
  <app-page402 *ngIf="errorMsg=='402'"></app-page402>
  <app-page403 *ngIf="errorMsg=='403'"></app-page403>
  <app-page404 *ngIf="errorMsg=='404'"></app-page404>
  <app-page405 *ngIf="errorMsg=='405'"></app-page405>
  <app-page406 *ngIf="errorMsg=='406'"></app-page406>
  <app-page412 *ngIf="errorMsg=='412'"></app-page412>
  <app-page500 *ngIf="errorMsg=='500'"></app-page500>
  <app-page501 *ngIf="errorMsg=='501'"></app-page501>
  <app-page502 *ngIf="errorMsg=='502'"></app-page502>
</div>
<main class="content mg-t-100-f analyst-target-price-component" *ngIf="contentFlag">
  <div class="container pd-y-60-f" *ngIf="emptyStocks">
    No portfolio for this user<a routerLink="/{{country}}/CreatePortfolio-SelectingStocks">Create Portfolio</a>
  </div>
  <div class="container pd-y-60-f" *ngIf="!emptyStocks">
    <div class="se-pre-con" *ngIf="loading"></div>
    <div class='se-pre-con-div' *ngIf='divloading'></div>

    <h1 class="tw tx-xs-28-f tx-sm-30-f tx-md-32-f tx-lg-36-f tx-xl-36-f tx-bold lh-1 title-text">Analyst Target Price</h1>

      <p-dropdown [options]="portfolio_list" [style]="{'width': '15rem'}" [(ngModel)]="selectedPortfolio" optionLabel="portfolio_name" [filter]="true" filterBy="portfolio_name" (onChange)="onChange()" placeholder="Select a portfolio">
        <ng-template pTemplate="selectedItem">
            <div class="country-item country-item-value" *ngIf="selectedPortfolio">
                <div>{{selectedPortfolio.portfolio_name}}</div>
            </div>
        </ng-template>
        <ng-template let-portfolio pTemplate="item">  
            <div class="country-item">
                <div>{{portfolio.portfolio_name}}</div>
            </div>
        </ng-template>
    </p-dropdown>
      <cdk-virtual-scroll-viewport [itemSize]="30" class="mg-t-20-f">
        <table  mat-table #table [dataSource]="targetPriceData"  matSort (matSortChange)="sortTableData($event,'targetPriceData')">
          <ng-container matColumnDef="security_code" sticky>
            <th mat-header-cell  *matHeaderCellDef mat-sort-header class="left-align-header" >Company</th>
           <td mat-cell *matCellDef="let element" class="left-align-header">
            <div fxLayout="row">
              <div fxLayoutAlign="start start">
                <img class="symbol-logo" src="{{element.IMGURL}}" alt="{{element.security_code}}">
              </div>
              <div fxLayout="column" class="pd-l-10-f">
                <div class="tx-14-f color1 tx-bold cursor-f" (click)="getStockInfopage(element.Company,element.security_code)" >{{element.security_code}}</div>
                <div class="tx-12-f tx-semibold ">
                  {{element.Company}}
                </div>
              </div>
            </div>
           </td> 
          </ng-container>
          <ng-container matColumnDef="Upside_Downside_Potential">
            <th mat-header-cell  *matHeaderCellDef mat-sort-header class="center-align-header">Upside/Downside Potential</th>
           <td mat-cell *matCellDef="let element"> <app-spark-line [data]="element.Upside_Downside_Potential" [max_value]='maxValue'></app-spark-line></td>
          </ng-container>
          <ng-container matColumnDef="Investment_Amount">
            <th mat-header-cell  *matHeaderCellDef mat-sort-header class="width-100-f">Investment Amount</th>
           <td mat-cell *matCellDef="let element"> {{element.Investment_Amount | percent:'1.1' }}</td>
          </ng-container>
          <ng-container matColumnDef="Avg_Upside">
            <th mat-header-cell  *matHeaderCellDef mat-sort-header class="width-150-f">
              <span>Avg Upside Target Price (<span  class="currencySymbolFont">{{currencysymbol}}</span>)</span>

            </th>
           <td mat-cell *matCellDef="let element">{{element.Avg_Upside | number:'1.0-0':symbol }}</td>
          </ng-container>
          <ng-container matColumnDef="Avg_Downside" >
            <th mat-header-cell  *matHeaderCellDef mat-sort-header class="width-150-f">
              <span>Avg Downside Target Price (<span  class="currencySymbolFont">{{currencysymbol}}</span>)</span>

            </th>
           <td mat-cell *matCellDef="let element">{{element.Avg_Downside |  number:'1.0-0':symbol }}</td>
          </ng-container>
          <ng-container matColumnDef="up_down_ratio">
            <th mat-header-cell  *matHeaderCellDef mat-sort-header class="width-100-f" >Up/Down Potential</th>
           <td mat-cell *matCellDef="let element"> {{element.up_down_ratio | number:'1.1-1':symbol}}</td>
          </ng-container>

          <ng-container matColumnDef="Current_Price">
            <th mat-header-cell  *matHeaderCellDef mat-sort-header class="width-150-f">
              <span>Current Price (<span  class="currencySymbolFont">{{currencysymbol}}</span>)</span>

            </th>
           <td mat-cell *matCellDef="let element;">{{element.Current_Price| number:'1.0-0':symbol}}</td>
          </ng-container>
          <ng-container matColumnDef="_52_Wk_L_H">
            <th mat-header-cell  *matHeaderCellDef mat-sort-header class="center-align-header">52 Wk L/H</th>
           <td mat-cell *matCellDef="let element"><app-spark-line2 [data]="element._52_Wk_L_H" [maxValue]='maxValue2' [minValue]='minValue2' [categories]='element.categories' [plot_line]='element.plot_line'></app-spark-line2></td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="['security_code','Investment_Amount','Current_Price','Avg_Upside','Avg_Downside','up_down_ratio','Upside_Downside_Potential','_52_Wk_L_H'];sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: ['security_code','Investment_Amount','Current_Price','Avg_Upside','Avg_Downside','up_down_ratio','Upside_Downside_Potential','_52_Wk_L_H'];"></tr>
        </table>
      </cdk-virtual-scroll-viewport>

  </div>

</main>