  .search-text-input{
    width:450px;
    padding: 5px 8px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    outline: none;
    border: 1px solid #ccc;
  }
  /* Styles for tab labels */
  ::ng-deep .mat-tab-label {
    background-color: transparent  !important;
    color: #002060 !important;
    font-weight: 700  !important;
  }
  
  /* Styles for the active tab label */
  ::ng-deep .mat-tab-label.mat-tab-label-active {
    background-color: #ddd  !important;
    // color: orange  !important;
    font-weight: 700  !important;
  }
  .analyst-target-price-component .mat-cell:nth-child(1){
    min-width: 300px;
     max-width: 300px;
     word-wrap:break-word;
    }
    