<div *ngIf="errorFlag" class="mg-t-100-f">
  <app-page401 *ngIf="errorMsg=='401'"></app-page401>
  <app-page402 *ngIf="errorMsg=='402'"></app-page402>
  <app-page403 *ngIf="errorMsg=='403'"></app-page403>
  <app-page404 *ngIf="errorMsg=='404'"></app-page404>
  <app-page405 *ngIf="errorMsg=='405'"></app-page405>
  <app-page406 *ngIf="errorMsg=='406'"></app-page406>
  <app-page412 *ngIf="errorMsg=='412'"></app-page412>
  <app-page500 *ngIf="errorMsg=='500'"></app-page500>
  <app-page501 *ngIf="errorMsg=='501'"></app-page501>
  <app-page502 *ngIf="errorMsg=='502'"></app-page502>
</div>
<main class="content mg-t-100-f" *ngIf="contentFlag">
  <div class="container pd-y-60-f" *ngIf="emptyStocks">
    No portfolio for this user<a routerLink="/{{country}}/CreatePortfolio-SelectingStocks">Create Portfolio</a>
  </div>
  <div class="container pd-y-60-f" *ngIf="!emptyStocks">
    <div class="se-pre-con" *ngIf="loading"></div>

    <h1 class="tw tx-xs-28-f tx-sm-30-f tx-md-32-f tx-lg-36-f tx-xl-36-f tx-bold lh-1 title-text">Valuation Multiples</h1>

    <div class='pd-t-10'>
      <div fxLayout="row wrap" fxLayoutAlign="start center">
        <p class="tx-xs-14-f tx-sm-14-f tx-md-14-f tx-lg-16-f tx-xl-16-f sub-text mg-t-15-f mg-r-15-f">Select Portfolio
        </p>
        <p-dropdown [options]="userPortfolios" [style]="{'width': '15rem'}" [(ngModel)]="selectedPortfolio"
          optionLabel="portfolio_name" [filter]="true" filterBy="portfolio_name"
          (onChange)="onPortfolioChange('portfolioName')" placeholder="Select a portfolio">
          <ng-template pTemplate="selectedItem">
            <div class="country-item country-item-value" *ngIf="selectedPortfolio">
              <div>{{selectedPortfolio.portfolio_name}}</div>
            </div>
          </ng-template>
          <ng-template let-portfolio pTemplate="item">
            <div class="country-item">
              <div>{{portfolio.portfolio_name}}</div>
            </div>
          </ng-template>
        </p-dropdown>
        <!-- </div>
      <div fxLayout="row wrap" fxLayoutAlign="start stretch" fxFlex="25%"> -->
        <p class="tx-xs-14-f tx-sm-14-f tx-md-14-f tx-lg-16-f tx-xl-16-f sub-text mg-l-15-f mg-t-15-f mg-r-15-f">Select
          Stock</p>
        <p-dropdown [options]="portfolioStocks" [style]="{'width': '25rem'}" [(ngModel)]="selectedStock"
          optionLabel="company_name" [filter]="true" filterBy="company_name"
          (onChange)="onPortfolioChange('factsetTicker')" placeholder="Select a Stock">
          <ng-template pTemplate="selectedItem">
            <div class="country-item country-item-value" *ngIf="selectedStock">
              <div>{{selectedStock.company_name}}</div>
            </div>
          </ng-template>
          <ng-template let-portfolio pTemplate="item">
            <div class="country-item">
              <div>{{portfolio.company_name}}</div>
            </div>
          </ng-template>
        </p-dropdown>
      </div>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="space-between center" class="mg-t-10">
      <mat-card fxFlex="49%" fxFlex.sm="49%" fxFlex.xs="100%" class="mg-t-30"
        *ngFor="let chart of charts; let i = index">
        <mat-card-title>
          <h3 class="tx-xs-14-f tx-sm-16-f tx-md-16-f tx-lg-18-f tx-xl-18-f color1 tx-semibold">{{chartNames[i]}}</h3>
        </mat-card-title>
        <mat-card-content>
          <div [chart]='chart'></div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</main>
