<div class="freeTrail">
    <span (click)="showMyContainer=!showMyContainer">Search Stock</span>
    <div class="stocksearch" *ngIf="showMyContainer">
      <div style="width:400px">
        <div fxLayout="row">
          <div fxFlex="85%" class="main-search-stock-sidenav">
              <ng-select [items]="stocknames" [virtualScroll]="true" bindLabel="fs_name" 
              placeholder="Search Stock" (change)="getStockInfopageGlobal(selectedStock)" [(ngModel)]="selectedStock"
              [clearable]="false">
              <ng-template ng-label-tmp let-item="item">
              </ng-template>
              <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
                {{item.fs_name}}
              </ng-template>
            </ng-select>
          </div>
          <div fxFlex="15%">
            <mat-select-country appearance="fill" class="NavCountryDropDown pd-b-10-f"
            [countries]="predefinedCountries" [value]="defaultValue" placeHolder=""
            (onCountrySelected)="onCountrySelected($event)">
          </mat-select-country>
          </div>
        </div>
      </div>
    </div>
  </div>
