.freeTrail {
    position: fixed;
    top: calc(30% - 81px);
    right: 0px;
    width: 30px !important;
    border-radius:20px 0px 0px 20px !important;
    padding: 15px 0 10px 8px !important;
    background: #136F63  !important;
    z-index:999;
   }
   .freeTrail .stocksearch{
    position: fixed;
    top: calc(30% - 41px);
    right: 33px;
    padding: 15px 0 10px 8px !important;
    background: white  !important;
    border:2px solid #136F63;
    z-index:999;
   }
   .freeTrail span{
       font-weight:600 !important;
       writing-mode: vertical-lr; transform: rotate(180deg);text-decoration:none;color:white;
   }
 
  .ng-select-div {
    text-align: center;
    align-items: center;
  }
  .ng-select{
      border:1px solid black;
      padding-bottom:0px !important;
  }

  ::ng-deep .ng-select .ng-dropdown-panel {
    width:100% !important;
  }

  ::ng-deep ng-select .ng-select-container:after {
    border-bottom: thin solid white !important;
  }
  ::ng-deep ng-select .ng-select-container .ng-value-container .ng-placeholder {
    color: black !important;
  }
  ::ng-deep .main-search-stock-sidenav .ng-select .ng-select-container .ng-value-container .ng-input{
    bottom:0px !important;
    font-size:18px !important;
    padding:0px 10px;
  }
