<main class="content aboutusComponent">
  <!-- section-1 start -->
  <div class="pd-y-100-f pd-md-t-60-f pd-md-b-0-f aboutus-background background-color1">
    <div class="container pd-y-60-f pd-md-t-100-f pd-xs-t-80-f" fxLayoutAlign="center center">
      <div fxLayout="row wrap">
        <div fxFlex="40%" fxFlex.lt-lg="100%" fxLayoutAlign="center center">
          <div fxFlex="80%" fxFlex.xs="85%">
            <div fxFlex.xs="100%" fxLayout="column">
              <b class="tx-90-f tx-sm-36-f tx-md-40-f tx-xs-24-f lh-2">We are</b>
              <mat-divider></mat-divider>
              <b class="tx-136-f tx-sm-40-f tx-md-126-f tx-xs-36-f lh-2">72PI</b>
            </div>
          </div>
        </div>
        <div fxFlex="60%" fxFlex.lt-lg="100%" fxLayoutAlign="center center">
          <div fxFlex="80%" fxFlex.xs="85%">
            <div fxFlex.xs="100%" fxLayout="column">
              <p class="tx-20-f tx-md-18-f  tx-sm-16-f tx-xs-14-f lh-7 lh-xs-5"><b>Set up in 2020,</b> we are a
                seasoned team of investment management professionals and technology innovators with a vision to make
                world-class investing transparent and simple for mass affluent and high-net worth investors.</p>
              <p class="tx-20-f  tx-md-18-f tx-sm-16-f  tx-xs-14-f lh-7 lh-xs-5">We are on a Mission to bring the power
                of Robust investment frame works and Deep-Tech to offer innovative and effective investment solutions
                for long term wealth creation. We bring a GLOBAL perspective to all our investment solutions for our
                clients around the world.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- section-1 end -->

  <!-- section-2 start -->
  <div class="container pd-t-60-f pd-b-0-f" fxLayout="row" fxLayout.lt-md="column">
    <div fxFlex="100%" fxLayoutAlign="center center" fxHide.gt-sm>
      <div fxFlex="80%" fxLayout="column">
        <div class="tx-36-f tx-lg-36-f tx-md-34-f tx-sm-32-f tx-xs-30-f color1 tx-bold">Core Values</div>
        <!-- <div class="tx-16-f tx-md-14-f  tx-sm-14-f tx-xs-14-f pd-t-20-f lh-5 pcolor">Enable everyone to invest with confidence across global markets</div> -->
      </div>
    </div>
    <div fxFlex="70%" fxFlex.lt-sm="100%" fxLayoutAlign="space-around stretch">
      <div fxFlex="85%" fxLayout="row wrap" fxLayoutAlign="space-around stretch">
        <mat-card fxFlex="30%" fxFlex.lt-sm="45%" class="tx-center mg-t-30-f mg-xs-t-15-f">
          <img src="/assets/images/integrity.png" alt="Integrity">
          <div class="color1 tx-semibold tx-16-f tx-md-14-f  tx-sm-14-f tx-xs-14-f">Integrity</div>
        </mat-card>
        <mat-card fxFlex="30%" fxFlex.lt-sm="45%" class="tx-center mg-t-30-f mg-xs-t-15-f">
          <img src="/assets/images/client_focus.png" alt="Client Focus"> 
          <div class="color1 tx-semibold tx-16-f tx-md-14-f  tx-sm-14-f tx-xs-14-f">Client Focus</div>
        </mat-card>
        <mat-card fxFlex="30%" fxFlex.lt-sm="45%" class="tx-center mg-t-30-f mg-xs-t-15-f">
          <img src="/assets/images/investment_expertise.png" alt="Investment Expertise">
          <div class="color1 tx-semibold tx-16-f tx-md-14-f  tx-sm-14-f tx-xs-14-f">Investment Expertise</div>

        </mat-card>
        <mat-card fxFlex="30%" fxFlex.lt-sm="45%" class="tx-center mg-t-30-f mg-xs-t-15-f">
          <img src="/assets/images/collaboration.png" alt="Collaboration">
          <div class="color1 tx-semibold tx-16-f tx-md-14-f  tx-sm-14-f tx-xs-14-f">Collaboration</div>
        </mat-card>
        <mat-card fxFlex="30%" fxFlex.lt-sm="45%" class="tx-center mg-t-30-f mg-xs-t-15-f">
          <img src="/assets/images/global_perspective.png" alt="Global Perspective">
          <div class="color1 tx-semibold tx-16-f tx-md-14-f  tx-sm-14-f tx-xs-14-f">Global Perspective</div>
        </mat-card>
        <mat-card fxFlex="30%" fxFlex.lt-sm="45%" class="tx-center mg-t-30-f mg-xs-t-15-f">
          <img src="/assets/images/innovation_continuous_learning.png" alt="Innovation Continuous Learning">
          <div class="color1 tx-semibold tx-16-f tx-md-14-f  tx-sm-14-f tx-xs-14-f">Innovation & Continuous Learning
          </div>
        </mat-card>
      </div>
    </div>
    <div fxFlex="30%" fxLayoutAlign="center center" fxHide.lt-md>
      <div class="coreValues" fxLayout="column">
        <span class="tx-36-f tx-lg-36-f tx-md-34-f tx-sm-32-f tx-xs-30-f color1 tx-bold">Core Values</span>
        <!-- <span class="tx-16-f tx-md-14-f  tx-sm-14-f tx-xs-14-f pd-t-20-f lh-5 pcolor" >Enable everyone to invest with confidence across global markets</span> -->
      </div>
    </div>
  </div>
  <!-- section-2 end -->

  <!-- section-3 start -->
  <div class="mg-y-60-f">
    <div fxLayout="row">
      <div fxFlex="30%" fxFlex.md="30%" class="pi-section" fxHide.lt-sm>
        <img src="/assets/images/logo_type_green_bg.png" alt="Logo type green bg"width="100%" height="100%">
      </div>
      <div fxFlex="70%" fxFlex.xs="100%" class="background-color2 pd-md-y-30-f" fxLayoutAlign="center center">
        <div fxFlex="80%" fxFlex.xs="85%">
          <div fxFlex.xs="100%" fxLayout="column" class="pi-section-data">
            <span class="tx-36-f tx-lg-36-f tx-md-34-f tx-sm-32-f tx-xs-30-f color1 tx-bold lh-3">The Culture that
              drives Fin-Tech Innovation</span>
            <span class="tx-16-f  tx-md-14-f  tx-sm-14-f tx-xs-14-f pd-t-20-f pd-md-t-10-f lh-7 pcolor">At 72PI, we are
              committed to building a great team culture that fasters curiosity, innovation and collaboration. We are a
              professional team of Investment Researchers, Portfolio Managers, Quantitative Analysts, Software
              Developers and Client Advisors. We focus on applying rigorous investment frame works and technology tools
              to analyse data sets of investment opportunities around the world. We encourage thoughtful exchange of
              ideals in an open environment. These values underpin our efforts to build the next generation of
              intelligent investment advisory platforms and solutions.
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- section-3 end -->

  <!-- section-4 start -->
  <div class="container pd-t-0-f pd-b-0-f" fxHide.xs>
    <h1 class="tx-36-f tx-36-f tx-lg-36-f tx-md-34-f tx-sm-32-f tx-xs-30-f color1 tx-bold tx-center pd-b-0-f">What we do
    </h1>
    <div fxLayout="row">
      <div fxFlex="50%" fxFlex.xs="100%" class="what-we-do-image">
        <img src="/assets/images/deep_tech_meets_investment.png" alt="Deep Tech Meets Investment" class="fit-image">
      </div>
      <div fxFlex="50%" fxFlex.xs="100%" fxLayoutAlign="center center">
        <div fxLayout="column" fxFlex="80%">
          <span class="tx-24-f  tx-md-22-f  tx-sm-20-f tx-xs-18-f  tx-bold lh-3">Deep Tech meets Smart
            Investing...</span>
          <span class="tx-16-f  tx-md-14-f  tx-sm-14-f tx-xs-14-f  pd-t-20-f pd-md-t-10-f lh-7 pcolor">At 72PI, we are
            building a suite of useful automated investment management solutions to empower investors. We research and
            develop robust investment signals and curated model portfolios by combining “Quanta-mental” approaches with
            Technical Analysis and Machine Learning Algorithms. Our AI-enabled platform is an advanced portfolio
            intelligence engine that helps active managers accelerate their strategy development and be adaptive to
            changing market conditions. </span>
        </div>

      </div>
    </div>
    <div fxLayout="row">
      <div fxFlex="50%" fxFlex.xs="100%" fxLayoutAlign="center center">
        <div fxLayout="column" fxFlex="80%">
          <span class="tx-24-f  tx-md-22-f  tx-sm-20-f tx-xs-18-f  tx-bold lh-3">Our Investing Edge...</span>
          <span class="tx-16-f  tx-md-14-f  tx-sm-14-f tx-xs-14-f  pd-t-20-f pd-md-t-10-f lh-7 pcolor">Our investment
            research team is focussed on uncovering distinct sources of alpha across global markets and asset classes.
            We mainly follow a robust investment process that combines

            "Quanta-mental" research with Technical analysis augmented by Machine-Learning tools.We actively research
            over 500+ global stocks across US, India and other select developed and emerging countries, various trending
            investment themes and develop Quantamental and Systematic strategies and related portfolio management
            solutions.Our focus is on consistent "Smart Alpha" generation through absolute return strategies with
            asymmetric risk-return profiles and an emphasis on capital preservation.</span>

        </div>
      </div>
      <div fxFlex="50%" fxFlex.xs="100%" class="what-we-do-image" fxLayoutAlign="center center">
        <img src="/assets/images/our_investing_edge.png" alt="Our Investing Edge" class="fit-image">
      </div>
    </div>
    <div fxLayout="row">
      <div fxFlex="50%" fxFlex.xs="100%" class="what-we-do-image">
        <img src="/assets/images/guided_advisory.png" alt="Guided Advisory" class="fit-image">
      </div>
      <div fxFlex="50%" fxFlex.xs="100%" fxLayoutAlign="center center">
        <div fxLayout="column" fxFlex="80%">
          <span class="tx-24-f   tx-md-22-f  tx-sm-20-f tx-xs-18-f tx-bold lh-3">Guided Investment advisory...</span>
          <span class="tx-16-f  tx-md-14-f  tx-sm-14-f tx-xs-14-f  pd-t-20-f pd-md-t-10-f lh-7 pcolor">We are a premier
            investment advisory firm serving Mass-Affluent and HNW investors. We focus on offering curated stock
            research, risk-aligned model portfolios and automated investment solutions to our investors. We aim to
            deliver consistent "Smart" Alpha with low correlations with the broader markets at affordable costs. </span>
        </div>

      </div>
    </div>
  </div>

  <div class="container pd-t-0-f pd-b-0-f" fxHide.gt-xs>
    <div fxLayout="column">
      <div fxFlex.xs="100%" fxLayoutAlign="center center">
        <div fxFlex="85%">
          <div fxLayout="column">
            <h1 class="tx-36-f tx-lg-36-f tx-md-34-f tx-sm-32-f tx-xs-30-f color1 tx-bold tx-center pd-b-0-f">What we do
            </h1>
            <span class="tx-24-f  tx-md-22-f  tx-sm-20-f tx-xs-18-f  tx-bold lh-3 mg-t-20-f">Deep Tech meets Smart
              Investing...</span>
            <div fxLayoutAlign="center center"><img src="/assets/images/deep_tech_meets_investment.png" alt="Deep tech meets investments"
                class="fit-image"> </div>
            <span class="tx-16-f  tx-md-14-f  tx-sm-14-f tx-xs-14-f  pd-t-20-f pd-md-t-10-f lh-7 pcolor">At 72PI, we are
              building a suite of useful automated investment management solutions to empower investors. We research and
              develop robust investment signals and curated model portfolios by combining “Quanta-mental” approaches
              with Technical Analysis and Machine Learning Algorithms. Our AI-enabled platform is an advanced portfolio
              intelligence engine that helps active managers accelerate their strategy development and be adaptive to
              changing market conditions. </span>
          </div>
        </div>
      </div>
      <div fxFlex.xs="100%" fxLayoutAlign="center center">
        <div fxFlex="85%">
          <div fxLayout="column">
            <span class="tx-24-f  tx-md-22-f  tx-sm-20-f tx-xs-18-f  tx-bold lh-3 mg-t-20-f">Our Investing
              Edge...</span>
            <div fxLayoutAlign="center center"><img src="/assets/images/our_investing_edge.png" alt="our investing edge"class="fit-image"></div>
            <span class="tx-16-f  tx-md-14-f  tx-sm-14-f tx-xs-14-f  pd-t-20-f pd-md-t-10-f lh-7 pcolor">Our investment
              research team is focussed on uncovering distinct sources of alpha across global markets and asset classes.
              We mainly follow a robust investment process that combines

              "Quanta-mental" research with Technical analysis augmented by Machine-Learning tools.We actively research
              over 2000+ global stocks across US, India and other select developed and emerging countries, various
              trending investment themes and develop Quantamental and Systematic strategies and related portfolio
              management solutions.Our focus is on consistent "Smart Alpha" generation through absolute return
              strategies with asymmetric risk-return profiles and an emphasis on capital preservation.</span>
          </div>
        </div>
      </div>
      <div fxFlex.xs="100%" fxLayoutAlign="center center">
        <div fxFlex="85%">
          <div fxLayout="column">
            <span class="tx-24-f   tx-md-22-f  tx-sm-20-f tx-xs-18-f tx-bold lh-3 mg-t-20-f">Guided Investment
              Advisory...</span>
            <div fxLayoutAlign="center center"><img src="/assets/images/guided_advisory.png"alt="Guided Advisory" class="fit-image"> </div>
            <span class="tx-16-f  tx-md-14-f  tx-sm-14-f tx-xs-14-f  pd-t-20-f pd-md-t-10-f lh-7 pcolor">We are a
              premier investment advisory firm serving Mass-Affluent and HNW investors. We focus on offering curated
              stock research, risk-aligned model portfolios and automated investment solutions to our investors. We aim
              to deliver consistent "Smart" Alpha with low correlations with the broader markets at affordable costs.
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- section-4 end -->

  <!-- section-5 start -->
  <div class="container pd-y-60-f section-5">
    <h1 class="tx-36-f tx-lg-36-f tx-md-34-f tx-sm-32-f tx-xs-30-f color1 tx-bold tx-center pd-b-30-f pd-xs-b-10-f">Our
      Team</h1>
    <div fxLayout="row" fxLayoutAlign="center center" [@.disabled]="true">
      <mat-tab-group class="our-team-tabs">
        <mat-tab label="Leadership Team">
          <div fxHide.lt-sm fxLayout="row wrap" class="mg-t-30-f mg-xs-t-20-f pd-x-10-f pd-y-5-f" fxLayoutGap="70px"
            fxLayoutGap.xs="10px" fxLayoutAlign="space-around stretch">
            <mat-card class="our-team pd-x-0-f pd-t-0-f mg-t-5-f" fxFlex.xs="47%">
              <mat-card-content fxLayout="column">
                <img  alt="Suresh" width="100%" height="100%" src="assets/images/suresh.jpg" class="gray-scale-frame"
                  routerLink='/aboutus/team/suresh'>
                <span class="tx-xs-14-f tx-sm-14-f tx-md-14-f tx-lg-16-f tx-xl-16-f pd-t-20-f tx-bold tx-center pointer"
                  routerLink='/aboutus/team/suresh'>Suresh Raju</span>
                <span class="tx-14-f  pcolor pd-t-10-f tx-center">Founder, CEO</span>
                <div class="tx-center pd-t-10-f">
                  <a href="mailto:suresh@72pi.ai" target="_blank" class="Icons" rel="noopener">
                    <img src="/assets/images/email.png" alt="email" matTooltip="Email" matTooltipPosition="above">
                  </a>
                  <a href="https://www.linkedin.com/in/suresh-raju-4966282/" target="_blank" class="Icons pd-l-15-f"  rel="noopener">
                    <img src="/assets/images/linkedin.png" alt="linkedin" matTooltip="LinkedIn" matTooltipPosition="above">
                  </a>
                </div>
              </mat-card-content>
            </mat-card>
            <mat-card class="our-team pd-x-0-f pd-t-0-f mg-t-5-f" fxFlex.xs="47%">
              <mat-card-content fxLayout="column">
                <img alt="MadhuSudhan" width="100%" height="100%" src="assets/images/madhu.jpg" class="gray-scale-frame"
                  routerLink='/aboutus/team/madhu'>
                <span class="tx-xs-14-f tx-sm-14-f tx-md-14-f tx-lg-16-f tx-xl-16-f pd-t-20-f tx-bold tx-center pointer"
                  routerLink='/aboutus/team/madhu'>Madhusudan Subramanian</span>
                <span class="tx-14-f  pcolor pd-t-10-f tx-center">Co-Founder, CIO</span>
                <div class="tx-center pd-t-10-f">
                  <a href="mailto:madhu@72pi.ai" target="_blank" class="Icons"  rel="noopener">
                    <img src="/assets/images/email.png" alt="email" matTooltip="Email" matTooltipPosition="above">
                  </a>
                  <a href="https://www.linkedin.com/in/madhusudan-subramanian-cfa-caia-89662b4/" target="_blank"  rel="noopener"
                    class="Icons pd-l-15-f">
                    <img src="/assets/images/linkedin.png" alt="linkedin" matTooltip="LinkedIn" matTooltipPosition="above">
                  </a>
                </div>
              </mat-card-content>
            </mat-card>

          </div>
          <div fxLayoutAlign="center  center">
            <div fxFlex="90%" fxHide.gt-xs class="mg-t-30-f">
              <mat-card class="mg-t-10-f">
                <div fxLayout="row" class="pd-y-10-f">
                  <div fxFlex="100%">
                    <mat-list class="teamDetails">
                      <mat-list-item>
                        <img mat-list-icon src="/assets/images/suresh.jpg" alt="Suresh Image"
                          routerLink='/aboutus/team/suresh'>
                        <span mat-line class="tx-14-f  pcolor pd-t-10-f">Suresh Raju founded 72PI to provide insightful
                          equity research ideas and bring institutional style portfolio
                          analytics to the individual investor. Suresh...</span>

                      </mat-list-item>
                    </mat-list>
                    <div fxLayout="row">
                      <div fxFlex="50%" fxLayout="column" class="pd-l-30-f">
                        <span class="tx-16-f pd-t-20-f tx-bold" routerLink='/aboutus/team/suresh'>Suresh Raju</span>
                        <span class="tx-14-f  pcolor pd-t-10-f">Founder, CEO</span>
                      </div>
                      <div fxFlex="50%" fxLayoutAlign="end center">
                        <button class="readmore pd-y-10-f pd-x-20-f color1 tx-16-f tx-bold"
                          routerLink='/aboutus/team/suresh'>Read More</button>
                      </div>

                    </div>
                  </div>
                </div>
              </mat-card>
              <mat-card class="mg-t-20-f">
                <div fxLayout="row" class="pd-y-10-f">
                  <div fxFlex="100%">
                    <mat-list class="teamDetails">
                      <mat-list-item>
                        <img mat-list-icon src="/assets/images/madhu.jpg" alt="Madhusudhan Image"
                          routerLink='/aboutus/team/madhu'>
                        <span mat-line class="tx-14-f  pcolor pd-t-10-f">Madhusudan Subramanian is 72PI's Co-Founder and
                          CIO and is helping identify new analytics features that an individual investor will find
                          useful in managing wealth.
                          He is a strategic ...</span>

                      </mat-list-item>
                    </mat-list>
                    <div fxLayout="row">
                      <div fxFlex="50%" fxLayout="column" class="pd-l-30-f">
                        <span class="tx-16-f pd-t-20-f tx-bold" routerLink='/aboutus/team/madhu'>Madhusudan
                          Subramanian</span>
                        <span class="tx-14-f  pcolor pd-t-10-f">Co-Founder, CIO</span>
                      </div>
                      <div fxFlex="50%" fxLayoutAlign="end center">
                        <button class="readmore pd-y-10-f pd-x-20-f color1 tx-16-f tx-bold"
                          routerLink='/aboutus/team/madhu'>Read More</button>
                      </div>

                    </div>
                  </div>
                </div>
              </mat-card>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Technology Team">
        </mat-tab>
        <mat-tab label="Advisory Team">
        </mat-tab>
      </mat-tab-group>
    </div>

  </div>
  <!-- section-5 end -->

  <!-- section-6 start -->
  <div class="container pd-t-0-f pd-b-60-f" fxLayoutAlign="center center" fxLayout="column" fxHide.lt-md>
    <h1 class="tx-36-f tx-lg-36-f tx-md-34-f tx-sm-32-f tx-xs-30-f color1 tx-bold tx-center pd-b-30-f">Our Partners</h1>
    <div fxLayout="row" fxLayoutGap="30px" fxLayoutAlign="center center">
      <div fxFlex="30%">
        <img src="/assets/images/interactive_brokers.png" alt="INTERACTIVE BROKERS" fxLayoutAlign="start center">
      </div>
      <div fxFlex="30%">
        <img src="/assets/images/cmots.png" alt="CMOTS" fxLayoutAlign="center center">

      </div>
      <div fxFlex="30%" fxLayoutAlign="end center">
        <img src="/assets/images/eod.png" alt="EOD">
      </div>
    </div>
  </div>
  <div class="container pd-t-0-f pd-b-60-f" fxLayout="row wrap" fxHide.gt-sm fxLayoutAlign="center center">
    <h1 fxFlex.lt-md="100%"
      class="tx-36-f tx-lg-36-f tx-md-34-f tx-sm-32-f tx-xs-30-f color1 tx-bold tx-center pd-b-10-f">Our Partners</h1>
    <div fxFlex="85%">
      <div class="partnersDivision">
      </div>
    </div>

  </div>
  <!-- section-6 end -->

  <!-- section-7 start -->
  <div class="getstarted-div pd-y-100-f pd-sm-y-30-f">
    <div class="container pd-l-50-f pd-sm-l-30-f">
      <div fxLayout="row wrap" fxLayoutAlign="center center">
        <div fxLayout="row wrap" fxFlex="100%">
          <div fxFlex="100%" fxLayoutAlign="space-between center" class="with-icon">
            <span class="tx-xs-10-f tx-sm-16-f tx-md-24-f tx-lg-32-f tx-xl-36-f tx-semibold ">
              Insightful Research</span>
            <mat-icon
              class="tx-semibold mg-l-10-f mg-r-30-f mg-md-x-20-f mg-xs-x-0-f tx-xs-10-f tx-sm-16-f tx-md-24-f tx-lg-32-f tx-xl-34-f">
              star</mat-icon>
            <span class="tx-xs-10-f tx-sm-16-f tx-md-24-f tx-lg-32-f tx-xl-36-f tx-semibold ">Smart Alpha</span>
            <mat-icon
              class="tx-semibold mg-l-10-f mg-r-30-f mg-md-x-20-f mg-xs-x-0-f tx-xs-10-f tx-sm-16-f tx-md-24-f tx-lg-32-f tx-xl-34-f">
              star</mat-icon>
            <span class="tx-xs-10-f tx-sm-16-f tx-md-24-f tx-lg-32-f tx-xl-36-f tx-semibold ">Deep-Tech Innovation
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- section-7 end -->
</main>