.aboutusComponent .aboutus-background {
  background: url(/assets/images/worldmap.png);
  color: white;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
}
.aboutusComponent .getstarted-div {
  background: linear-gradient(rgba(3, 36, 94, 0.7), rgba(3, 36, 94, 0.7)), url(/assets/images/blue_strip_image.png);
  color: white;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
}
.aboutusComponent .coreValues {
  width: 250px !important;
}
/* Styles for the active tab label */
.aboutusComponent .mat-tab-label.mat-tab-label-active {
  background-color: #002060 !important;
  color: white !important;
  border-radius: 50px !important;
  padding-left:40px;
  padding-right:40px;
}
.aboutusComponent mat-ink-bar {
  background-color: transparent !important;
}
.aboutusComponent .our-team {
  width: 300px !important;
  overflow: hidden !important
}
.aboutusComponent .our-team img {
  -webkit-filter: grayscale(100%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  transition: all 0.2s ease-in-out;
}
.aboutusComponent .our-team img:hover {
  -webkit-filter: grayscale(0%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
  transform: scale(1.03);
  text-decoration: none;
}
.aboutusComponent  .mat-tab-label.mat-tab-label-active:not(.mat-tab-disabled),
.aboutusComponent  .mat-tab-label.mat-tab-label-active.cdk-keyboard-focused:not(.mat-tab-disabled) {
  opacity: 1;
}
::ng-deep .aboutusComponent .mat-tab-labels {
  background-color: #F4FAFF !important;
  color: #171721 !important;
  font-weight: 700 !important;
  justify-content: center;
  /* align items in Main Axis */
}
.aboutusComponent  .mat-tab-nav-bar,
.aboutusComponent  .mat-tab-header {
  border-bottom: 1px solid transparent !important;
}
.aboutusComponent .partners {
  width: 750px !important;
}
.aboutusComponent .getStarted {
  background-color: white;
  color: #002060;
  outline: none;
  border: none;
  border-radius: 20px;
}
.aboutusComponent .readmore {
  color: #002060;
  outline: none;
  border: 1px solid #002060;
  border-radius: 20px;
  background-color: white;
}
.aboutusComponent .partnersDivision {
  background: url(/assets/images/partners.png) repeat 0 0;
  background-size: cover !important;
  animation: fund-logos-slide-mobile 60s linear infinite !important;
  height: 130px !important;
  width: 100% !important;
}
.with-icon {
  display: flex;
  align-items: center;
}
.with-icon mat-icon{
  width:auto !important;
  height:auto !important;
}
.with-icon span{
  word-wrap: unset; white-space: nowrap;
}
@media (max-width: 1000px) {
  .aboutusComponent .fit-image {
    object-fit: cover !important;
    /*this makes the image in src fit to the size specified below*/
    width: 100%;
    /* Here you can use wherever you want to specify the width and also the height of the <img>*/
  }
  .aboutusComponent .partners {
    width: 80% !important;
  }
}
@media (max-width: 600px) {
  .aboutusComponent .fit-image {
    object-fit: cover !important;
    /*this makes the image in src fit to the size specified below*/
    width: 70%;
    /* Here you can use wherever you want to specify the width and also the height of the <img>*/
  }
  .aboutusComponent  .mat-tab-label {
    height: 30px !important;
    width: auto !important;
    padding: 0 10px !important;
    font-size: 13px !important;
  }
}
@media (max-width: 680px) {
  .aboutusComponent .our-team {
    width: 250px !important;
    overflow: hidden !important
  }
}
@keyframes fund-logos-slide-mobile {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -1400px 0;
  }
}
.aboutusComponent .profile-photo {
  border-radius: 100%;
  margin: 0 auto;
  max-width: 280px;
  overflow: hidden;
  width: 100%;
}
.aboutusComponent .teamDetails .mat-list-icon {
  width: 130px !important;
  height: 130px !important;
}
.aboutusComponent .teamDetails .mat-line {
  white-space: normal !important;
  ;
}
.aboutusComponent .teamDetails mat-list-item {
  height: auto !important;
}
.teamDetails img {
  cursor: pointer
}
.aboutusComponent .section-5 img{
  cursor:pointer;
}
.getstarted-div mat-icon{
  width: 12px !important;
}
.our-team-tabs{
  z-index:0;
}
.our-team-tabs .mat-tab-label{
  margin-right:50px;
}
.our-team-tabs .mat-tab-label:last-child{
  margin-right:0px;
}