<main class="content logindiv mg-t-100-f">
  <div class="container pd-y-60-f">
    <div fxLayout="row" fxLayoutAlign="center center">
      <mat-card class="login-card" fxFlex='31%' fxFlex.lg='33%' fxFlex.md='45%' fxFlex.sm=60% fxFlex.xs=80%>
        <div fxLayout="column">
          <div class="sub-title-text tx-xl-24-f tx-lg-24-f tx-md-16-f tx-sm-14-f tx-xs-14-f tx-center-f lh-1"
            [ngStyle]="{'color':'rgba(0,0,0,0.7)'}">Reset Password</div>
          <form [formGroup]="passwordResetDoneForm" (ngSubmit)="onSubmit()" class='mg-t-30-f '>
            <div *ngIf="error"><span class='red-color tx-14-f'>{{error['error']['new_password2'][0]}}</span></div>
            <div class="mg-t-10-f form-group">
              <mat-form-field appearance="fill" fxFlex="100%">
                <mat-label class='pcolor tx-14-f'>Passsword</mat-label>
                <input matInput placeholder="Password" type="password" formControlName="new_password1">
                <div *ngIf="submitted && f.new_password1.errors" class="invalid-feedback">
                  <div *ngIf="f.new_password1.errors.required"></div>
                </div>
              </mat-form-field>
            </div>
            <div class="mg-t-10-f form-group">
              <mat-form-field appearance="fill" fxFlex="100%">
                <mat-label class='pcolor tx-14-f'>Confirm Passsword</mat-label>
                <input matInput placeholder="Confirm Password" type="password" formControlName="new_password2"
                  [ngClass]="{ 'is-invalid': submitted && f.new_password2.errors }">
                <div *ngIf="submitted && f.new_password2.errors" class="invalid-feedback">
                  <div *ngIf="f.new_password2.errors.required"></div>
                </div>
              </mat-form-field>
            </div>
            <button type="submit" mat-raised-button class="login mg-y-10-f tx-14-f">Reset Password</button>
          </form>
          <div>
            <div class='tx-bold pd-y-10-f'>Instructions:</div>
            <div class="tx-10-f">1.Your password can’t be too similar to your other personal information.</div>
            <div class="tx-10-f">2.Your password must contain at least 8 characters.</div>
            <div class="tx-10-f">3.Your password can’t be a commonly used password.</div>
            <div class="tx-10-f">4.Your password can’t be entirely numeric.</div>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</main>