.tickerv-wrap {
  box-sizing: content-box;
  height: 12px; /* Take note of this */
  overflow: hidden; /* Hide scrollbars */
  padding: 1px;
} 
/* TICKER ANIMATION */
@keyframes tickerv {
  2%   {margin-top: -25px;}
  26%   {margin-top: -25px;}
  30%  {margin-top: -50px;}
  50%  {margin-top: -50px;}
  54%  {margin-top: -75px;}
  74%  {margin-top: -75px;}
  78%{ margin-top: -100px;}
  98%{ margin-top: -100px;}
  100%{ margin-top: -108px;}
}
.tickerv-wrap ul {
  padding: 0px !important;
  margin: 0;
  list-style-type: none;
  animation: tickerv 60s infinite;
  animation-timing-function: ease-in;
}
/* ITEMS */
.tickerv-wrap ul li {
  font-size: 12px;
  padding:0px;
  line-height: 24px /* Same as wrapper height */
}