<div class="tickerv-wrap">
  <ul>
    <li>
      <div fxLayout="row wrap" fxLayoutAlign="space-between center" class="mg-t-20-f" style="white-space: nowrap;">
        <div fxFlex="25%" fxFlex.md="32%" fxFlex.sm="48%" fxFlex.xs="95%" *ngFor="let element of market_data">
          <span><b>{{element.Ticker}} : {{element.Current_Price}} </b><b
              [style.color]="element.Net_Change[0] =='+' ? '#136F63 !important' : '#F52A4C !important'"> {{element.Net_Change}}
              ({{element.Percentage_Change}}%)
              <span *ngIf="element.Net_Change[0] =='+'">&#8593;</span>
              <span *ngIf="element.Net_Change[0] =='-'">&#8595;</span>
            </b> </span>
        </div>
      </div>
    </li>
  </ul>
</div>