::ng-deep .create-portfolio-details-main .section-1 .card1 {
  box-shadow: 5px 5px 5px -3px rgba(0, 0, 0, 0.2),
    5px 8px 10px 1px rgba(0, 0, 0, 0.14), 5px 3px 14px 2px rgba(0, 0, 0, 0.12) !important;
}

.create-portfolio-table th {
  word-wrap: initial !important;
  line-break: unset !important;
  width: 180px !important;
  vertical-align: middle !important;
  background-color: #e5e8ef !important;
  // text-transform: capitalize;
  border-right: 1px solid #ddd;
  color: #202225 !important;
  font-size:14px !important;
}

.create-portfolio-table tr {
  display: table-row !important;
  min-height: 20px !important;
}

.create-portfolio-table tr td {
  padding: 0.5rem !important;
  width: 180px !important;
  color: #202225 !important;
  font-size:14px !important;

}

::ng-deep .create-portfolio-table th {
  border: none !important;
}

.create-portfolio-table th:nth-child(2),
.create-portfolio-table tr td:nth-child(2) {
  width: 300px !important;
  word-wrap:break-word !important;
}

.create-portfolio-table th:nth-child(1),
.create-portfolio-table tr td:nth-child(1) {
  width: 50px !important;
}
.p-button.p-button-icon-only.p-button-rounded {
  height: 20px !important;
  width: 20px !important;
  margin-right: 10px;
}
::ng-deep .pi {
  font-size: 0.7rem !important;
}
.del-mul-stocks {
  margin-left: 20px !important;
  margin-right: 20px;
}
::ng-deep .existModal .p-dialog .p-dialog-header {
  padding: 1rem !important;
}
::ng-deep .existModal .p-dialog .p-dialog-content {
  padding: 2rem 2rem 5rem 2rem !important;
}
.disable-td {
  pointer-events: none;
}

.Create,
.Existing {
  border: 1px solid #126f63;
  background-color: #126f63 !important;
  color: white !important;
}
::ng-deep .create-portfolio-details-main .p-dropdown,
::ng-deep .create-portfolio-details-main .p-inputtext,
::ng-deep .create-portfolio-details-main .p-inputnumber {
  width: 100% !important;
}
::ng-deep
  .create-create-portfolio-details-main-main
  .p-inputtext:enabled:hover {
  border: 1px solid #ced4da !important;
}
.Cancel {
  border: 1px solid #f52a4c !important;
  background-color: white !important;
  color: #f52a4c !important;
  width: fit-content;
}
.Save,
.Save:hover {
  background-color: #136f63 !important;
  border: 1px solid #136f63 !important;
  color: white !important;
  width: fit-content;
}
::ng-deep .p-dialog ::ng-deep .p-dialog-header ::ng-deep .p-dialog-header-icon,
::ng-deep
  .p-dialog
  ::ng-deep
  .p-dialog-header
  ::ng-deep
  .p-dialog-header-icon:hover,
::ng-deep .p-confirm-dialog-reject,
::ng-deep .p-confirm-dialog-reject:hover {
  border: 1px solid #f52a4c !important;
  background-color: white !important;
  color: #f52a4c !important;
}
