<div *ngIf="errorFlag" class="mg-t-100-f">
  <app-page401 *ngIf="errorMsg=='401'"></app-page401>
  <app-page402 *ngIf="errorMsg=='402'"></app-page402>
  <app-page403 *ngIf="errorMsg=='403'"></app-page403>
  <app-page404 *ngIf="errorMsg=='404'"></app-page404>
  <app-page405 *ngIf="errorMsg=='405'"></app-page405>
  <app-page406 *ngIf="errorMsg=='406'"></app-page406>
  <app-page412 *ngIf="errorMsg=='412'"></app-page412>
  <app-page500 *ngIf="errorMsg=='500'"></app-page500>
  <app-page501 *ngIf="errorMsg=='501'"></app-page501>
  <app-page502 *ngIf="errorMsg=='502'"></app-page502>
</div>
<main class="content mg-t-100-f create-portfolio-details-main" *ngIf="contentFlag">
  <div class="container pd-y-60-f">
  <div class="se-pre-con" *ngIf="loading"></div>
    <h1 class="tw tx-xs-28-f tx-sm-30-f tx-md-32-f tx-lg-36-f tx-xl-36-f tx-bold lh-1 title-text">Create Portfolio by selecting stocks</h1>

    <p-toast></p-toast>
    <div class='se-pre-con-div' *ngIf='divloading'></div>
    <section class="section-1">
      <div fxLayout="row wrap" fxLayoutAlign="start start">
        <div fxFlex='50%' fxFlex.lg='50%' fxFlex.md='50%' fxFlex.sm='55%' fxFlex.xs='100%' fxLayoutAlign='start start'>
      </div>
      <div fxFlex='50%' fxFlex.lg='50%' fxFlex.md='50%' fxFlex.sm='45%' fxFlex.xs='100%' fxLayoutAlign='end start' class='tx-right mg-xs-t-10-f'>
        <button pButton pRipple label="Create Portfolio" class="Create mg-r-10-f pd-x-5-f"
          (click)="createPortfolio()" [disabled]="!selectedstocks || !selectedstocks.length"></button>
        <button pButton pRipple label="Add to Exisiting" class=" Existing pd-x-5-f"
          (click)="addToExistPortfolio()" [disabled]="!selectedstocks || !selectedstocks.length"></button>
      </div>
      </div>
      <div fxLayout="row wrap" fxLayoutAlign="start start" class='mg-t-15-f'>
        <div fxFlex='22%' fxFlex.md='20%' fxFlex.sm='25%' fxFlex.xs="100%" class=' pd-r-10-f pd-xs-r-0-f'>
          <p-dropdown fxFlex="100%" class='mg-xs-t-10-f'
          [options]="sectorlist" [(ngModel)]="selectedSector" optionLabel="name" [filter]="true" filterBy="name"
          (onChange)="filterBySector()" placeholder="Select Sector">
          <ng-template pTemplate="selectedItem">
            <div class="country-item country-item-value" *ngIf="selectedSector">
              <div>{{selectedSector.name}}</div>
            </div>
          </ng-template>
          <ng-template let-portfolio pTemplate="item">
            <div class="country-item">
              <div>{{portfolio.name}}</div>
            </div>
          </ng-template>
        </p-dropdown>
        </div>
        <div fxFlex="40%" fxFlex.md='40%' fxFlex.sm='50%'  fxFlex.xs="100%" class=' pd-r-10-f pd-xs-r-0-f mg-xs-t-15-f'>
          <label class='tx-14-f tx-semibold pd-r-10-f tx-right' fxLayoutAlign="center center">Default Investment
            Amount/Stock:</label>
          <p-inputNumber fxFlex="52%"  fxFlex.xs="50%"  [(ngModel)]="def_amnt" (onInput)="modifyQuantity($event)"
            placeholder="Default Investment Amount"></p-inputNumber>
        </div>
        <div fxFlex="28%"  fxFlex.md='30%' fxFlex.sm='25%'  fxFlex.xs="100%" class='tx-right pd-r-10-f pd-xs-r-0-f'>
          <span class="p-input-icon-right" fxFlex="100%" class='mg-xs-t-15-f'>
            <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
              placeholder="Search..." />
          </span>
        </div>
        <div fxFlex="10%"  fxFlex.md='10%' fxFlex.sm='100%' fxFlex.xs="100%"  class='tx-right mg-xs-t-15-f'>
          <button mat-flat-button class='tx-14-f pd-x-10-f tx-semibold '>{{filteredValuesLength }} Stocks</button>
        </div>
      </div>
    </section>
    <section class="section-2">
      <p-table #dt class="create-portfolio-table" [columns]="scrollableCols" [value]="stocksData" [scrollable]="true"
      scrollHeight="500px" [virtualScroll]="true" [virtualRowHeight]="34" sortMode="multiple"
      [globalFilterFields]="['Company','Security_Code','GICS','Market_Cap_Category']" [(selection)]="selectedstocks">
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th>
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>
          <th pSortableColumn="Company"  class='tx-justify-left'>Company<p-sortIcon field="Company" ></p-sortIcon></th>
          <th pSortableColumn="GICS" class='tx-justify-left pd-l-0-f'>Sector<p-sortIcon field="GICS" ></p-sortIcon></th>
          <th pSortableColumn="Market_Cap_Category" class='tx-justify-left pd-l-0-f'>Market Cap Category<p-sortIcon field="Market_Cap_Category" ></p-sortIcon></th>
          <th pSortableColumn="Market_Cap" class='tx-justify-right pd-r-10-f'>{{mcapname}}<p-sortIcon field="Market_Cap" ></p-sortIcon></th>
          <th pSortableColumn="Price" class='tx-justify-right pd-r-10-f'>Current Price<p-sortIcon field="Price" ></p-sortIcon></th>
          <th>Quantity</th>    
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-stocks let-columns="columns">
        <tr>
          <td>
            <p-tableCheckbox [value]="stocks" #chkEnable></p-tableCheckbox>
          </td>
          <td class='tx-justify-left'>
            <div fxLayout="row">
              <div fxLayoutAlign="start start">
                <img class="symbol-logo" src="{{stocks.IMGURL}}"  alt="{{stocks.Security_Code}}">
              </div>
              <div fxLayout="column" class="pd-l-10-f">
                <div class="tx-14-f color1 tx-bold cursor-f" (click)="getStockInfopage(stocks.Company,stocks.Security_Code)">{{stocks.Security_Code}}</div>
                <div class="tx-12-f tx-semibold ">
                  {{stocks.Company}}
                </div>
              </div>
            </div> 
          </td>
          <td class='tx-justify-left'> 
            {{stocks.GICS}}
          </td>
          <td class='tx-justify-left'>
            {{stocks.Market_Cap_Category}}
          </td>
          <td class='tx-justify-right'>
            {{stocks.Market_Cap | number:'1.0-0': symbol}}
          </td>
          <td class='tx-justify-right'>
            {{stocks.Price | number:'1.2-2': symbol}}
          </td>
          <td>
            <p-inputNumber [(ngModel)]="stocks.Quantity" [minFractionDigits]="0" [maxFractionDigits]="0"
              [disabled]="!chkEnable.checked" locale="{{symbol}}"></p-inputNumber>
          </td>
        </tr>
      </ng-template>
    </p-table>
    </section>
    <section class="dailog-modals">
      <p-dialog [(visible)]="NewPortfolioDialog" [style]="{width: '450px'}" header="Create New Portfolio"
            [modal]="true" styleClass="p-fluid">
            <ng-template pTemplate="content">
              <div class="p-field">
                <input type="text" pInputText class="p-inputtext-sm" placeholder="Enter your Portfolio Name"
                  (input)="newportfolioname=$event.target.value" #reference>
              </div>
            </ng-template>
            <ng-template pTemplate="footer">
              <button pButton pRipple label="Cancel"  class="p-button-text Cancel pd-y-5-f"
                (click)="hideDialog()"></button>
              <button pButton pRipple label="Save"  class="p-button-text Save pd-y-5-f"
                (click)="saveCreatePortfolio();reference.value=''"></button>
            </ng-template>
          </p-dialog>
          <p-dialog [(visible)]="AddExisitingDialog" [style]="{width: '450px'}" header="Add to Exisiting Portfolio"
            [modal]="true" styleClass="p-fluid" class="existModal" [contentStyle]="{'overflow':'visible'}">
            <ng-template pTemplate="content">
              <div class="p-field">
                <p-dropdown [options]="portfolioNames_dict" [(ngModel)]="selectedPortfolio" optionLabel="name"
                  filterBy="name" [required]="true" appendTo="body" placeholder="Select Portfolio" class="existDropdown">
                  <ng-template pTemplate="selectedItem">
                    <div class="country-item country-item-value" *ngIf="selectedPortfolio">
                      <div>{{selectedPortfolio.name}}</div>
                    </div>
                  </ng-template>
                  <ng-template let-filter pTemplate="item">
                    <div class="country-item">
                      <div>{{filter.name}}</div>
                    </div>
                  </ng-template>
                </p-dropdown>
              </div>
            </ng-template>
            <ng-template pTemplate="footer">
              <button pButton pRipple label="Cancel" class="p-button-text Cancel pd-y-5-f"
                (click)="hideDialog()"></button>
              <button pButton pRipple label="Save"  class="p-button-text Save pd-y-5-f"
                (click)="saveAddToExistPort()"></button>
            </ng-template>
          </p-dialog>
    </section>
  </div>
</main>