::ng-deep .mat-form-field.mat-focused ::ng-deep .mat-form-field-ripple{
  background-color: white !important;
  border-bottom: 1px solid rgba(0,0,0,.42);
}
.closeIcon{
  cursor: pointer;
}
.success{
  display: inline-flex;
  background-color: #a3ccc7;
  padding: 10px 50px 15px 50px;
  color: #136F63;
}
.error{
  display: inline-flex;
  background-color: #c79da3;
  padding: 10px 50px 15px 50px;
  color: #c5586a;
}
.icon{
  font-size: 30px;
}
.success span{
  padding-left: 20px;
  padding-top: 5px;
}
.error span{
  padding-left: 20px;
  padding-top: 5px;
}
.rating-list {
  cursor: pointer;
	p {
    // border: 2px solid rgb(0, 32, 96);
    padding-left: 5%;
    font-size: 35px;
		color: white;
		&:hover {
			color: #F79824;
			~ {
				p {
					color: #F79824;
				}
			}
		}
	}
	p.selected {
		color: #F79824;
	}
	display: inline-block;
	list-style: none;
}
.rating-list {
  color:  #F79824;
-webkit-text-stroke-width: 2px;
-webkit-text-stroke-color:  #F79824;
}
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-thick,::ng-deep .mat-form-field-appearance-outline.mat-form-field-disabled .mat-form-field-outline{
  color: rgba(0,0,0,.12) !important;
}
.LogOut{
  background-color: #002060;
  color: white;
}
.Submit{
  background-color: #136F63;
  color: white;
}
.close{
  cursor: pointer;
  color: #F52A4C;
  vertical-align: sub;
}
.close:hover{
  cursor: pointer;
  color: #F52A4C;
  background-color: #CAE5FF;
  vertical-align: sub;
  border-radius: 50%;
}
.logoutclose .mat-icon{
  height: 30px !important;
  width: 30px !important;
}