<mat-dialog-title>
  <div fxLayout='row wrap'>
    <div fxFlex='90%' fxLayoutAlign='start start'>
      <h3 class="tx-xl-24-f tx-bold tx-lg-24-f tx-md-18-f tx-sm-16-f color1">Logout</h3>
    </div>
    <div fxFlex='10%' fxLayoutAlign='end start' class='logoutclose'>
      <mat-icon class="material-icons icon close" (click)="onNoClick()">
        clear
      </mat-icon>
    </div>
  </div>
</mat-dialog-title>
<mat-dialog-content>
  <div class='tx-14-f tx-md-14-f color1'>We love to hear about your experience with 72PI</div>
  <div class="row">
    <div class='mg-y-20-f tx-center'>
        <div class="list-inline rating-list pd-r-5-f" *ngFor="let star of stars; let i= index" > 
          <p (click)="countStar(star)" id="{{'starId'+i}}" [ngClass]="{'selected': (star <= rating)}" (mouseover)="addStar(star)" (mouseout)="removeStar(star)">★</p>
        </div>
    </div>
  </div>
  <mat-form-field style="width: 100%;" appearance='outline'>
    <textarea matInput tabindex="-1" [(ngModel)]="comment" placeholder="Enter comments if any"></textarea>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align='end'>
  <button mat-flat-button type="submit" class='Submit' (click)='Submit()' [mat-dialog-close]="data">Submit</button>
  <button mat-flat-button  (click)="LogOut()" class='LogOut'>Logout</button>
</mat-dialog-actions>