<mat-sidenav-container >
  <mat-sidenav #sidenav class="example-sidenav">
    <mat-nav-list>
      <div align='end' class='pd-r-15-f'>
      <mat-icon (click)="close('toggle button')" class='close'> close</mat-icon></div>
      <mat-list-item routerLink="" (click)="toAbout()" (click)="close('toggle button')">Home</mat-list-item>
      <mat-list-item (click)="showSubmenuAboutUs = !showSubmenuAboutUs">
        <span class="full-width" *ngIf="isExpanded || isShowing">About</span>
        <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenuAboutUs}" *ngIf="isExpanded || isShowing">expand_more
        </mat-icon>
      </mat-list-item>
      <!-- <p *ngIf="isShowing || isExpanded">Lorem, ipsum dolor sit amet consectetur.</p> -->
       <div class="submenu" [ngClass]="{'expanded' : showSubmenuAboutUs}" *ngIf="isShowing || isExpanded">
          <mat-list-item routerLink="/aboutus/" (click)="toAbout()" (click)="close('toggle button')" [ngClass]="selectAbout">About Us</mat-list-item>
          <mat-list-item routerLink="/aboutus/" (click)="toTeam()" (click)="close('toggle button')" [ngClass]="selectTeam">Team</mat-list-item>
       </div>
        <mat-list-item (click)="showSubmenuMarket = !showSubmenuMarket">
          <span class="full-width" *ngIf="isExpanded || isShowing">Markets</span>
          <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenuMarket}" *ngIf="isExpanded || isShowing">expand_more
          </mat-icon>
        </mat-list-item>
         <div class="submenu" [ngClass]="{'expanded' : showSubmenuMarket}" *ngIf="isShowing || isExpanded">
            <mat-list-item routerLink='/{{selectedCountry}}/ourmarketview' (click)="close('toggle button')" routerLinkActive="active-tab">Our Market View</mat-list-item>
            <mat-list-item routerLink='/{{selectedCountry}}/market' (click)="close('toggle button')" routerLinkActive="active-tab">Market Monitor</mat-list-item>
            <mat-list-item routerLink='/{{selectedCountry}}/etfmonitor' (click)="close('toggle button')" routerLinkActive="active-tab">Global Multi Asset Monitor</mat-list-item>
            <mat-list-item routerLink='/{{selectedCountry}}/StockProfiler' (click)="close('toggle button')" routerLinkActive="active-tab">Stock Profiler</mat-list-item>
            <mat-list-item routerLink='/{{selectedCountry}}/FuturesOptions' (click)="close('toggle button')" routerLinkActive="active-tab">Futures and Options</mat-list-item>
            <mat-list-item routerLink='/{{selectedCountry}}/StocksCharts' (click)="close('toggle button')" routerLinkActive="active-tab">Stocks Charts</mat-list-item>
          </div>
          <mat-list-item (click)="showSubmenuInvestment = !showSubmenuInvestment">
            <span class="full-width" *ngIf="isExpanded || isShowing">Investment Solutions</span>
            <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenuInvestment}" *ngIf="isExpanded || isShowing">expand_more
            </mat-icon>
          </mat-list-item>
           <div class="submenu" [ngClass]="{'expanded' : showSubmenuInvestment}" *ngIf="isShowing || isExpanded">
              <mat-list-item routerLink="/InvestmentSolutions/InvestmentPhilosophy" (click)="close('toggle button')" routerLinkActive="active-tab">Investment Philosophy</mat-list-item>
              <mat-list-item routerLink='/{{selectedCountry}}/ModelPortfolios' (click)="close('toggle button')" routerLinkActive="active-tab">Model Portfolios</mat-list-item>
              <mat-list-item  (click)="close('toggle button')" routerLinkActive="active-tab">Investment Research & Insights</mat-list-item>
              <mat-list-item (click)="showSubmenuStrategies = !showSubmenuStrategies">
                <span class="full-width" *ngIf="isExpanded || isShowing">Strategies</span>
                <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenuStrategies}" *ngIf="isExpanded || isShowing">expand_more
                </mat-icon>
              </mat-list-item>
              <div class="submenu" [ngClass]="{'expanded' : showSubmenuStrategies}" *ngIf="isShowing || isExpanded">
                <mat-list-item routerLink="/Personalisation" (click)="close('toggle button')" routerLinkActive="active-tab">Personalisation</mat-list-item>
              </div>
              <mat-list-item (click)="showSubmenuPortfolio = !showSubmenuPortfolio">
                <span class="full-width" *ngIf="isExpanded || isShowing">Portfolio Builder</span>
                <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenuPortfolio}" *ngIf="isExpanded || isShowing">expand_more
                </mat-icon>
              </mat-list-item>
              <div class="submenu" [ngClass]="{'expanded' : showSubmenuPortfolio}" *ngIf="isShowing || isExpanded">
                <mat-list-item routerLink="/{{selectedCountry}}/PortfolioDetails" (click)="close('toggle button')" routerLinkActive="active-tab">My Portfolio</mat-list-item>
                <mat-list-item routerLink='/{{selectedCountry}}/wizard' (click)="close('toggle button')" routerLinkActive="active-tab">Portfolio Wizard</mat-list-item>
                <mat-list-item routerLink='/{{selectedCountry}}/Screener' (click)="close('toggle button')" routerLinkActive="active-tab">Screener</mat-list-item>
                <mat-list-item routerLink='/{{selectedCountry}}/CreatePortfolio-SelectingStocks' (click)="close('toggle button')" routerLinkActive="active-tab">By selecting stocks</mat-list-item>
              </div>
              <mat-list-item (click)="showSubmenuXRay = !showSubmenuXRay">
                <span class="full-width" *ngIf="isExpanded || isShowing">X-Ray Analyzer</span>
                <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenuXRay}" *ngIf="isExpanded || isShowing">expand_more
                </mat-icon>
              </mat-list-item>
              <div class="submenu" [ngClass]="{'expanded' : showSubmenuXRay}" *ngIf="isShowing || isExpanded">
                <mat-list-item routerLink="/{{selectedCountry}}/DashboardSummary" (click)="close('toggle button')" routerLinkActive="active-tab">Dashboard Summary</mat-list-item>
                <mat-list-item routerLink='/{{selectedCountry}}/portfolio-returns' (click)="close('toggle button')" routerLinkActive="active-tab">Portfolio Returns</mat-list-item>
                <mat-list-item routerLink='/{{selectedCountry}}/RiskOverview' (click)="close('toggle button')" routerLinkActive="active-tab">Risk Overview</mat-list-item>
                <mat-list-item routerLink='/{{selectedCountry}}/AnalystTargetPrice' (click)="close('toggle button')" routerLinkActive="active-tab">Analyst Target Price</mat-list-item>
                <mat-list-item routerLink='/{{selectedCountry}}/FactorAnalysis' (click)="close('toggle button')" routerLinkActive="active-tab">Factor Analysis</mat-list-item>
                <mat-list-item routerLink='/{{selectedCountry}}/valuationMultiples' (click)="close('toggle button')" routerLinkActive="active-tab">Valuation Multiples</mat-list-item>
              </div>
            </div>
            <mat-list-item (click)="showSubmenuInvestors = !showSubmenuInvestors">
              <span class="full-width" *ngIf="isExpanded || isShowing">For Investors</span>
              <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenuInvestors}" *ngIf="isExpanded || isShowing">expand_more
              </mat-icon>
            </mat-list-item>
             <div class="submenu" [ngClass]="{'expanded' : showSubmenuInvestors}" *ngIf="isShowing || isExpanded">
                <mat-list-item (click)="close('toggle button')" routerLinkActive="active-tab">Risk Profiler</mat-list-item>
                <mat-list-item (click)="close('toggle button')" routerLinkActive="active-tab">Strategy Portal</mat-list-item>
                <mat-list-item (click)="close('toggle button')" routerLinkActive="active-tab">Trading Portal</mat-list-item>
                <mat-list-item (click)="close('toggle button')" routerLinkActive="active-tab">Bank/payments Interfaces</mat-list-item>
                <mat-list-item (click)="close('toggle button')" routerLinkActive="active-tab">Live Portfolio</mat-list-item>
                <mat-list-item (click)="close('toggle button')" routerLinkActive="active-tab" routerLink="/{{selectedCountry}}/MySubscriptions">Manage my subscriptions</mat-list-item>
              </div>
              <mat-list-item routerLink='/blog' (click)="close('toggle button')" routerLinkActive="active-tab">Blog</mat-list-item>
              <mat-list-item routerLink='/{{selectedCountry}}/pricing-details' (click)="close('toggle button')" routerLinkActive="active-tab">Pricing</mat-list-item>
              <span *ngIf="!(LoginStatus$ | async) as LoginStatus">
                <mat-list-item (click)="close('toggle button')" *ngIf="LoginStatus" routerLink='/login'>Login </mat-list-item>
              </span>
              <mat-list-item (click)="showSubmenuLogout = !showSubmenuLogout" *ngIf="(LoginStatus$ | async) as LoginStatus">   
                <span class="full-width" *ngIf="LoginStatus" >My Profile</span>
                <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenuLogout}" *ngIf="isExpanded || isShowing">expand_more
                </mat-icon>
              </mat-list-item>      
             <div class="submenu" [ngClass]="{'expanded' : showSubmenuLogout}" *ngIf="isShowing || isExpanded" >
             
              <span *ngIf="(LoginStatus$ | async) as LoginStatus">
                <mat-list-item (click)="close('toggle button')" *ngIf="LoginStatus" routerLink="/{{selectedCountry}}/myAlerts">My Alerts</mat-list-item>
                <mat-list-item (click)="close('toggle button')" *ngIf="LoginStatus" routerLink="/change-password">Change Password</mat-list-item>
                <mat-list-item (click)="close('toggle button')" (click)="openDialogLogOut()" *ngIf="LoginStatus">Log Out</mat-list-item>
              </span>
              </div>
         
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="navbar-inverse sticky" (scroll)="onWindowScroll($event);">
      <mat-toolbar-row class="top-header-row toolbar1">
        <div class="container">
          <app-daily-market-data-scroll></app-daily-market-data-scroll>
        </div>
      </mat-toolbar-row>
      <mat-toolbar-row class="container toolbar2">
        <div class="logo-bg" routerLink=""></div>
        <!-- this span is used for separating the elements in same row left, right  -->
        <span class="menu-spacer" style="flex: 1 1 auto;"></span>
        <!-- end of the span tag for dividing -->
        <div fxLayout="column">
          <span class="container mg-t-15-f" fxLayoutAlign="end" fxShow="true" fxHide.lt-md>
            <span class="dropdown" routerLinkActive="active-tab-main">
              <button class="dropbtn pd-md-x-1-f mg-md-x-5-f">About<mat-icon class="with-icon">keyboard_arrow_down</mat-icon></button>
              <div class="dropdown-content">
                <span routerLink="/aboutus/" (click)="toAbout()" [ngClass]="selectAbout">About Us</span>
                <span routerLink="/aboutus/" (click)="toTeam()" [ngClass]="selectTeam">Team</span>
              </div>
            </span>
            <span class="dropdown" routerLinkActive="active-tab-main">
              <button class="dropbtn pd-md-x-1-f mg-md-x-5-f" >Markets<mat-icon class="with-icon">keyboard_arrow_down</mat-icon></button>
              <div class="dropdown-content">
                <span routerLink='/{{selectedCountry}}/ourmarketview' routerLinkActive="active-tab">Our Market
                  View</span>
                <span routerLink='/{{selectedCountry}}/market' routerLinkActive="active-tab">Market Monitor</span>
                <span routerLink='/{{selectedCountry}}/etfmonitor' routerLinkActive="active-tab">Global Multi Asset Monitor</span>
                <span routerLink="/{{selectedCountry}}/StockProfiler" routerLinkActive="active-tab">Stock Profiler</span>
                <span routerLink="/{{selectedCountry}}/FuturesOptions" routerLinkActive="active-tab">Futures and Options</span>
                <span routerLink="/{{selectedCountry}}/StocksCharts" routerLinkActive="active-tab">Stocks Charts</span>
              </div>
            </span>
            <span class="dropdown" routerLinkActive="active-tab-main">
              <button class="dropbtn pd-md-x-1-f mg-md-x-5-f ">Investment Solutions<mat-icon class="with-icon">keyboard_arrow_down
                </mat-icon></button>
              <div class="dropdown-content big-menu">
                <div fxLayout="row">
                  <div fxFlex="35%" class="layout-div layout-div1">
                    <span class="tx-semibold" routerLink="/InvestmentSolutions/InvestmentPhilosophy" routerLinkActive="active-tab">Investment
                      Philosophy</span>
                    <span class="tx-semibold" routerLink='/{{selectedCountry}}/ModelPortfolios' routerLinkActive="active-tab">Model Portfolios</span>
                    <span class="tx-semibold pd-b-20-f" routerLinkActive="active-tab">Investment Research & Insights</span>
                    <span class="tx-14-f tx-semibold drop-sub-title pd-t-20-f"
                      style="border-top:1px solid #D3D3D3">Strategies</span>
                    <span routerLink="/Personalisation" routerLinkActive="active-tab">Personalisation</span>
                  </div>
                  <div fxFlex="32%" class="layout-div" style="border-left:1px solid #D3D3D3">
                    <span class="tx-14-f tx-semibold drop-sub-title">Portfolio Builder</span>
                    <span routerLink="/{{selectedCountry}}/PortfolioDetails" routerLinkActive="active-tab">My Portfolio</span>
                    <span routerLink="/{{selectedCountry}}/wizard" routerLinkActive="active-tab">Portfolio Wizard</span>
                    <span routerLink="/{{selectedCountry}}/Screener" routerLinkActive="active-tab">Screener</span>
                    <span routerLink="/{{selectedCountry}}/CreatePortfolio-SelectingStocks" routerLinkActive="active-tab">By selecting
                      stocks</span>
                  </div>
                  <div fxFlex="32%" class="layout-div" style="border-left:1px solid #D3D3D3">
                    <span class="tx-14-f tx-semibold drop-sub-title">X-Ray Analyzer</span>
                    <span routerLink="/{{selectedCountry}}/DashboardSummary" routerLinkActive="active-tab">Dashboard Summary</span>
                    <span routerLink="/{{selectedCountry}}/portfolio-returns" routerLinkActive="active-tab">Portfolio Returns</span>
                    <span routerLink="/{{selectedCountry}}/RiskOverview" routerLinkActive="active-tab">Risk Overview</span>
                    <span routerLink="/{{selectedCountry}}/AnalystTargetPrice" routerLinkActive="active-tab">Analyst Target Price</span>
                    <span routerLink="/{{selectedCountry}}/FactorAnalysis" routerLinkActive="active-tab">Factor Analysis</span>
                    <span routerLink="/{{selectedCountry}}/valuationMultiples" routerLinkActive="active-tab">Valuation Multiples</span>
                  </div>
                </div>
              </div>
            </span>
            <span class="dropdown" routerLinkActive="active-tab-main">
              <button class="dropbtn pd-md-x-1-f mg-md-x-5-f">For Investors<mat-icon class="with-icon">keyboard_arrow_down</mat-icon>
              </button>
              <div class="dropdown-content">
                <span routerLinkActive="active-tab">Risk Profiler</span>
                <span routerLinkActive="active-tab">Strategy Portal</span>
                <span routerLinkActive="active-tab">Trading Portal</span>
                <span routerLinkActive="active-tab">Bank/payments Interfaces</span>
                <span routerLinkActive="active-tab">Live Portfolio</span>
                <span routerLinkActive="active-tab" routerLink="/{{selectedCountry}}/MySubscriptions">Manage my subscriptions</span>
              </div>
            </span>
            <span class="dropdown" routerLinkActive="active-tab-main">
              <button class="dropbtn pd-md-x-1-f mg-md-x-5-f without-icon" routerLink='/blog'>Blog </button>
            </span>
            <span class="dropdown" routerLinkActive="active-tab-main">
              <button class="dropbtn pd-md-x-1-f mg-md-x-5-f without-icon" routerLink='/{{selectedCountry}}/pricing-details'>Pricing</button>
            </span>
            <span class="dropdown">
              <mat-select-country appearance="fill" class="NavCountryDropDown pd-l-20-f pd-b-10-f pd-md-x-1-f mg-md-x-5-f"
                [countries]="predefinedCountries" [value]="defaultValue" placeHolder=""
                (onCountrySelected)="onCountrySelected($event)">
              </mat-select-country>
            </span>
            <span class="dropdown login-btn" *ngIf="!(LoginStatus$ | async) as LoginStatus">
              <button class="dropbtn  pd-md-x-1-f mg-md-x-5-f" *ngIf="LoginStatus" routerLink='/login'>Login</button>
            </span>
            <span class="dropdown" *ngIf="(LoginStatus$ | async) as LoginStatus">
              <button class="dropbtn pd-md-x-1-f mg-md-x-5-f">My Profile<mat-icon class="with-icon">keyboard_arrow_down
                </mat-icon></button>
              <div class="dropdown-content">
                <span *ngIf="LoginStatus" routerLink="/{{selectedCountry}}/myAlerts">My Alerts</span>
                <span *ngIf="LoginStatus" routerLink="/change-password">Change Password</span>
                <span *ngIf="LoginStatus" (click)="openDialogLogOut()">Log Out</span>
              </div>
            </span>
          </span>
          <span fxShow="true" fxHide.gt-sm>
            <button mat-icon-button class="text-right mobile-menu-icon">
              <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
            </button>
            <span class="dropdown text-right mobile-menu-icon mg-r-40">
              <mat-select-country appearance="fill" class="NavCountryDropDown pd-b-10-f"
                [countries]="predefinedCountries" [value]="defaultValue" placeHolder=""
                (onCountrySelected)="onCountrySelected($event)">
              </mat-select-country>
            </span>
          </span>
          <span fxFlex="100%" fxLayoutAlign="end center" class="mg-r-30-f mg-t-10-f mg-b-5-f">
            <span fxLayoutAlign="end center">
              <ng-select fxFlex.xs="50%" [items]="stocknames" [virtualScroll]="true" bindLabel="fs_name" class="main-search-stock"
                (focus)="focusFunction()" (focusout)="onFocusOutEvent()" placeholder="Search ticker, company or profile"
                (change)="getStockInfopageGlobal(selectedStock)" [(ngModel)]="selectedStock" [clearable]="false">
                <ng-template ng-label-tmp let-item="item">
                </ng-template>
                <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
                  {{item.fs_name}}
                </ng-template>
              </ng-select>
            </span>
          </span>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>