// common navbar styles
::ng-deep .NavCountryDropDown .mat-form-field-appearance-fill .mat-form-field-infix,
::ng-deep .NavCountryDropDown .mat-form-field-appearance-fill .mat-form-field-flex,
::ng-deep .NavCountryDropDown .mat-form-field-wrapper {
  padding: 0px !important;
  border-top: 0px solid transparent !important;
}
::ng-deep .mat-toolbar-row{
  white-space: normal !important;
}

.mat-toolbar-row, .mat-toolbar-single-row {
  height: auto;
}
.menu-spacer {
  flex: 1 1 auto;
}
.top-header-row {
	height: 30px;
	background-color: #EBF0F7;
	padding: 0px !important;
  border-bottom:1px solid #d1d3d3
}

.toolbar3{
  padding:0px !important;
  border-top: 1px solid #d1d3d3;
  // background-color:#E4E4E4;
}
.logo-bg{
  height:60px;
  width:150px;
  background-repeat: no-repeat;
  background-size: 100% 70%;
  margin-top:20px;
  cursor:pointer;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-Index: 1000 !important;
}
.subnav {
  float: left;
  overflow: hidden;
}
.dropbtn {
  font-size: 16px;
  border: none;
  border-bottom: 3px solid transparent;
  outline: none;
  color: #171721;
  padding: 2px 5px 5px 5px;
  background-color: transparent;
  margin: 0px 8px;
  cursor:pointer;
}

.login-btn .dropbtn{
  border-radius: 50px !important;
  cursor:pointer;
  min-width:max-content;
  font-size: 16px;
  padding:2px 16px !important;
  margin-left:8px;
  border: 3px solid transparent;

}
.dropdown:hover .dropbtn, .active-tab-main .dropbtn{
  background-color: transparent;
  border-bottom:3px solid #F79824;
}
.login-btn:hover .dropbtn{
  // background-color: transparent !important;
  // border:1px solid #002060;
  // color:white !important;
  border-bottom:3px solid transparent;
}
.subnav-content {
  display: none;
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 1;
}
.subnav:hover .subnav-content {
  display: block;
}

.subnav-content span:hover {
  text-decoration: underline;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white !important;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  min-width: 160px;
  padding: 10px;
  white-space: nowrap !important;

}
.big-menu{
  left:-193px;
}
.dropdown-content span {
  color: black;
  padding: 3px 16px;
  text-decoration: none;
  display: block;
  font-size: 14px;
  word-wrap: break-word;
  word-break: normal;
  cursor: pointer;
}
.dropdown-content span:hover{
  font-weight: bold;
}
.drop-sub-title{
  color:#136F63 !important;
  cursor:initial !important;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.layout-div {
  padding: 5px 20px;
}
.layout-div1{
  padding-right:50px;
  padding-left:0px;
}


/* white background navbar styles start */
.navbar-inverse {
  background-color: white;
  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px #999;
  transition: all 0.4s ease-in;
}
.navbar-inverse .logo-bg{
  background-image: url(/assets/images/logo_color.png);
}
.navbar-inverse .subnav:hover .subnavbtn,
.navbar-inverse .subnav-content{
  background-color: #6679A0;
  color:white;
}
.navbar-inverse .dropbtn{
  color:#171721;
}
::ng-deep .navbar-inverse ng-select .ng-select-container:after {
  border-bottom: 1px solid #d1d3d3 !important;
}
::ng-deep .navbar-inverse ng-select .ng-select-container .ng-value-container .ng-placeholder {
  color: grey !important;
}
::ng-deep .navbar-inverse ng-select span.ng-arrow-wrapper:before {
  color: #136F63 !important;
}
.navbar-inverse .login-btn  .dropbtn{
  background-color: #002060;
}
.navbar-inverse .login-btn .dropbtn{
  color:white;
  text-decoration:none;
}
.navbar-inverse .ng-select input,
.navbar .mobile-menu-icon{
color:black;
}

/* white background navbar styles end */
/* transparent navbar styles start */
.navbar {
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  transition: all 0.4s ease-in;
}
.navbar .logo-bg{
  background-image: url(/assets/images/logo_white.png);
}
.navbar .dropbtn{
  color:white;
}
.navbar .subnav:hover .subnavbtn,
.navbar .subnav-content{
  background-color: white;
  color:#171721;
}
::ng-deep .navbar ng-select .ng-select-container:after {
  border-bottom: thin solid white !important;
}
::ng-deep .navbar ng-select .ng-select-container .ng-value-container .ng-placeholder,
::ng-deep .navbar .NavCountryDropDown .mat-form-field-flex::after,
::ng-deep .navbar ng-select span.ng-arrow-wrapper:before {
  color: rgb(218, 218, 218) !important;
}
::ng-deep .navbar .ng-select .ng-select-container .ng-value-container .ng-input>input,
.navbar .mobile-menu-icon,
.navbar .subnavbtn{
  color:rgb(218, 218, 218);
  }
.navbar .login-btn .dropbtn{
  color: #002060;
  background-color:white;
}
.navbar .login-btn .dropbtn{
  color:#171721;
  text-decoration:none;
}

//subscribe span styles
.subscribe-span{
  padding:5px 0px 2px 10px;
}
.subscribe-input{
  padding:8px 10px;
  width:100%;
  border:1px solid #d1d3d3
}
.subscribe-input:focus{
  outline: 1px solid #F79824 !important;
}
//end of subscribe span
// Search bar styles in navbar start

.ng-select-div {
  text-align: center;
  align-items: center;
}
::ng-deep .main-search-stock .ng-select .ng-select-container {
  align-items: stretch !important;
  border:none;
  border-bottom: 1px solid #d1d3d3 !important;
}
::ng-deep .main-search-stock.ng-select .ng-dropdown-panel {
  width:150% !important;
  right:0 !important;
  left:unset !important;
}
.main-search-stock .ng-select{
  transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
  border-radius: 3px;
  padding:0px 15px !important;
  font-size:14px !important;
  color:white !important;

}
::ng-deep ng-select .ng-arrow-wrapper .ng-arrow {
  display: none !important;
}
::ng-deep ng-select span.ng-arrow-wrapper:before {
  content: "\f002";
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 16px;
  text-rendering: auto;
  color:white !important;
}
::ng-deep ng-select.ng-select-single .ng-select-container .ng-arrow-wrapper {
  bottom: 0px !important; 
 background-color: transparent !important;
 padding-left:5px !important;
 padding-right: 5px !important;
}
::ng-deep .ng-select .ng-select-container .ng-value-container .ng-placeholder {
  top:0px;
  left:10px;
  font-size:14px;
}
::ng-deep .main-search-stock .ng-select .ng-select-container .ng-value-container .ng-input{
  bottom:0px !important;
  font-size:18px !important;
  padding:0px 10px;
}
::ng-deep ng-select .ng-select-container{
  min-height:30px !important;
}
::ng-deep ng-select .ng-select-container .ng-value-container {
  padding: 0px !important;
  border-top: 0px solid transparent !important;
}
::ng-deep .ng-dropdown-panel.ng-select-bottom {
  top: calc(100% - 0em) !important;
}
::ng-deep ng-select .ng-select-container:after {
  border-bottom: thin solid white !important;
}
::ng-deep ng-select .ng-select-container .ng-value-container .ng-placeholder {
  color: white !important;
}
//end of search bar styles in navbar


.fa-chevron-down{
    font-size:12px !important;
    font-weight:normal !important;
}
.main-search-stock{
  width:300px;
}
::ng-deep .main-search-stock.ng-select{
  padding-bottom:0px !important;
}
::ng-deep .ng-dropdown-panel .ng-dropdown-panel-items .ng-option{
  font-size:14px !important;
}
::ng-deep  .ng-select .ng-select-container .ng-value-container .ng-input {
  bottom: 0em !important;
}
.active-tab {
  color: #F79824 !important;
}
.with-icon {
  vertical-align: middle ;
  display: inline !important; 
}
.without-icon{
  padding-bottom: 9px !important;
}
.mobile-menu-icon{
  float:right !important;
  justify-content: flex-end !important;
}
// sub navbar

.example-sidenav {
   user-select: none;
   position: fixed;
}
.full-width {
  width: 100%;
}
.menu-button {
  transition: 300ms ease-in-out;
  transform: rotate(0deg);
}
.menu-button.rotated {
  transform: rotate(180deg);
}
.submenu {
  overflow-y: hidden;
  transition: transform 300ms ease;
  transform: scaleY(0);
  transform-origin: top;
  padding-left: 30px;
  display: none;
}
.submenu.expanded {
  transform: scaleY(1);
  display: block;
}
mat-list-item{
  padding: 5px 0 5px 0 !important;
}
.close:hover{
  cursor: pointer;
  background-color: #CAE5FF;
  border-radius: 50%;
}