
<mat-dialog-content class='tx-center'>
  <div class={{data.status}}>
    <mat-icon class="material-icons icon" *ngIf="data.status == 'success'">check_circle</mat-icon>
    <mat-icon class="material-icons icon" *ngIf="data.status == 'error'">highlight_off</mat-icon>
    <span class='tx-16'>{{data.message}}</span>
  </div>
</mat-dialog-content>