.mj-sitemap {
    position: relative;
  
    .link{
      cursor: pointer;
    }
    
    .parent {
      position: relative;
      padding: 10px 0;
      font-weight: 500;
      color: #0046BB;
      font-size: 26px;
      list-style: disc;
    }
    
    span{
      font-size: 16px;
      vertical-align: 20%;
    }
    
      &,
      ul {
        list-style: none;
      }
      
      .child {
        right: 2.9rem;
        font-weight: normal;
        color: rgb(133, 133, 133);
        position: relative;
        padding: 8px 20px;
        cursor: pointer;
        font-size: 14px;
    
        &:after,
        &:before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          border-width: 1px;
          z-index: 0;
          color: rgb(221, 221, 221);
        }
    
        &:before {
          position: absolute;
          top: 0;
          left: -1.1em;
          height: 160%;
          border-top-style: none;
          border-left-style: solid;
          color: rgb(221, 221, 221);
        }
    
        &:after {
          top: 1.5em;
          left: -1.1em;
          width: 1.5em;
          border-top-style: solid;
          color: rgb(221, 221, 221);
        }
    
        &:last-child {
          &:before {
            border-left: none;
          }
        }
      }
    }
    
    
    
    
    .child-parent {
      right: 2.9rem;
      font-weight: normal;
      color: rgb(133, 133, 133);
      position: relative;
      padding: 1em;
      font-size: 14px;
    
      &:after,
      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        border-width: 1px;
        z-index: 0;
      }
    
      &:before {
        position: absolute;
        top: 0;
        left: -1.1em;
        height: 950%;
        border-top-style: none;
        border-left-style: solid;
        color: rgb(221, 221, 221);
      }
    
      &:after {
        top: 1.5em;
        left: -1.1em;
        width: 1.5em;
        border-top-style: solid;
        color: rgb(221, 221, 221);
      }
    
      &:last-child {
        &:before {
          border-left: none;
        }
      }
    }
    
    
    .last-child-parent {
      right: 2.9rem;
      font-weight: normal;
      color: rgb(133, 133, 133);
      position: relative;
      padding: 1em;
      font-size: 14px;
    
      &:after,
      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        border-width: 1px;
        z-index: 0;
      }
    
      &:before {
        position: absolute;
        top: 0;
        left: -1.1em;
        height: 300%;
        border-top-style: none;
        border-left-style: solid;
        color: rgb(221, 221, 221);
      }
    
      &:after {
        top: 1.5em;
        left: -1.1em;
        width: 1.5em;
        border-top-style: solid;
        color: rgb(221, 221, 221);
      }
    
      &:last-child {
        &:before {
          border-left: none;
        }
      }
    
    }
    
    
    .personlisation-child {
      right: 2.9rem;
      color: rgb(133, 133, 133);
      position: relative;
      padding: 1em;
      cursor: pointer;
      font-size: 14px;
    
    
      &:after,
      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        border-width: 1px;
        z-index: 0;
        color: rgb(221, 221, 221);
      }
    
      &:before {
        position: absolute;
        top: 0;
        left: -1.1em;
        height: 44%;
        border-top-style: none;
        border-left-style: solid;
        color: rgb(221, 221, 221);
      }
    
      &:after {
        top: 1.5em;
        left: -1.1em;
        width: 1.5em;
        border-top-style: solid;
        color: rgb(221, 221, 221);
      }
    
      &:last-child {
        &:before {
          border-left: none;
        }
      }
    }
    li:focus{
      outline: 0;
    }