<main class="content mg-t-100">
  <div class="container pd-y-60-f">
    <div class="tx-center tx-xl-semibold tx-30 pd-b-20">Site map</div>
    <div fxLayout="row wrap" fxLayoutAlign="space-around start">
      <div fxFlex="33%" fxFlex.sm="33%" fxFlex.xs="100%" class="pd-r-20">
        <ul class="mj-sitemap">
          <li class="parent link" routerLink="/"><span>Home</span></li>
          <li class="parent"><span>About</span>
            <ul class="pd-t-10">
              <li class="child" routerLink="/aboutus">About us</li>
              <li class="child" routerLink="/aboutus" (click)="toTeam()">Team</li>
            </ul>
          </li>
          <li class="parent"><span>Markets</span>
            <ul  class="pd-t-10">
              <li class="child" routerLink="/{{country}}/ourmarketview">Our Market View</li>
              <li class="child" routerLink="/{{country}}/market">Market Monitor</li>
              <li class="child" routerLink="/{{country}}/etfmonitor">Global Multi Asset Monitor</li>
              <li class="child" routerLink="/{{country}}/StockProfiler">Stock Profiler</li>
              <li class="child" routerLink="/{{country}}/FuturesOptions">Futures and Options</li>
              <li class="child" routerLink="/{{country}}/StocksCharts">Stock Charts</li>
            </ul>
          </li>
        </ul>
      </div>
      <div fxFlex="33%" fxFlex.sm="33%" fxFlex.xs="100%">
        <ul class="mj-sitemap">
          <li class="parent"><span>Investment Solutions</span>
            <ul  class="pd-t-10">
              <li class="child-parent">Portfolio Builder</li>
              <ul>
                <li class="child" routerLink="/{{country}}/PortfolioDetails">My Portfolio</li>
                <li class="child" routerLink="/{{country}}/wizard">Portfolio Wizard</li>
                <li class="child" routerLink="/{{country}}/Screener">Screener</li>
                <li class="child" routerLink="/{{country}}/CreatePortfolio-SelectingStocks">By Selecting Stocks</li>
              </ul>
              <li class="child-parent">X-Ray Analyzer</li>
              <ul>
                <li class="child" routerLink="/{{country}}/DashboardSummary">Dashboard Summary</li>
                <li class="child" routerLink="/{{country}}/portfolio-returns">Portfolio Returns</li>
                <li class="child" routerLink="/{{country}}/RiskOverview">Risk Overview</li>
                <li class="child" routerLink="/{{country}}/AnalystTargetPrice">Analyst Target Price</li>
                <li class="child" routerLink="/{{country}}/FactorAnalysis">Factor Analysis</li>
                <li class="child" routerLink="/{{country}}/valuationMultiples">Valuation Multiples</li>
              </ul>
              <li class="last-child-parent">Startegies</li>
              <ul>
                <li class="personlisation-child" routerLink="/Personalisation">Personalisation</li>
                <li></li>
              </ul>
              <li class="child" routerLink="/InvestmentSolutions/InvestmentPhilosophy">Investment Philosophy</li>
              <li class="child" routerLink="/{{country}}/ModelPortfolios">Model Portfolios</li>
              <li class="child" routerLink="">Investment Research and Insights</li>
            </ul>
          </li>
        </ul>
      </div>
      <div fxFlex="33%" fxFlex.sm="33%" fxFlex.xs="100%">
        <ul class="mj-sitemap">
          <li class="parent"><span>For Investors</span>
            <ul class="pd-t-10">
              <li class="child" routerLink="">Risk Profiler</li>
              <li class="child" routerLink="">Strategy Portal</li>
              <li class="child" routerLink="">Trading Portal</li>
              <li class="child" routerLink="">Bank/Payment Interfaces</li>
              <li class="child" routerLink="">Live Portfolio</li>
              <li class="child" routerLink="">Manage My Subscriptions</li>
            </ul>
          </li>
          <li class="parent link" routerLink="/blog"><span>Blogs</span></li>
          <li class="parent link" routerLink="/{{country}}/pricing-details"><span>Pricing</span></li>
          <li class="parent"><span>Login</span>
            <ul  class="pd-t-10">
              <li class="child" routerLink="/login">Login</li>
              <li class="child" routerLink="/signup">Signup</li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</main>