
.signup {
  background: #136f63;
  color: #fff;
  border-radius: 4px;
  border: 1px solid #136f63;
  cursor: pointer;
  width: 100%;
}
::ng-deep .mat-list .mat-list-item .mat-line {
  word-wrap: break-word;
  white-space: pre-wrap;
}
.signup-card {
  width: 400px;
  padding: 20px 35px;
}
.googleIcon {
  background: url(/assets/images/fb_google.png) no-repeat;
  background-repeat: no-repeat;
  height: 27px !important;
  width: 30px !important;
  background-position: -36px 0px;
}
.facebookIcon {
  background: url(/assets/images/fb_google.png) no-repeat;
  background-repeat: no-repeat;
  height: 27px !important;
  width: 30px !important;
  color: #38529a !important;
}
.facebook a,
.google a {
  text-decoration: none;
}
.google,
.facebook {
  background-color: transparent !important;
  border-radius: 0px;
  border: 1px solid #ccc;
}
.socialMedia mat-list-item {
  height: 40px !important;
}
.strike-through {
  text-align: center;
  border-bottom: 1px solid #dcdcdc;
  line-height: 0.1em;
}
.strike-through-margin span {
  background-color: #fff;
  padding: 10px;
}
.signupdiv
  ::ng-deep
  .mat-form-field-appearance-fill
  ::ng-deep
  .mat-form-field-flex {
  // background-color: rgba(0, 0, 0, 0.04) !important;
  padding: 1em 0.75em 0 0.75em !important;
}
::ng-deep .signupdiv .mat-list-base .mat-list-item .mat-list-item-content,
::ng-deep .signupdiv .mat-list-base .mat-list-option .mat-list-item-content {
  padding: 0px !important;
}
::ng-deep
  .signupdiv
  .mat-list-base
  .mat-list-item.mat-list-item-with-avatar
  .mat-list-item-content
  .mat-list-text,
::ng-deep
  .signupdiv
  .mat-list-base
  .mat-list-item.mat-list-option
  .mat-list-item-content
  .mat-list-text,
::ng-deep
  .signupdiv
  .mat-list-base
  .mat-list-option.mat-list-item-with-avatar
  .mat-list-item-content
  .mat-list-text,
::ng-deep
  .signupdiv
  .mat-list-base
  .mat-list-option.mat-list-option
  .mat-list-item-content
  .mat-list-text {
  padding-left: 0px !important;
}
::ng-deep .signupdiv input.mat-input-element {
  padding-top: 10px !important;
}
// // body end
