<main class="content signupdiv mg-t-100-f">
  <div class="container pd-y-60-f">
    <div fxLayout="row" fxLayoutAlign="center center">
      <mat-card class="signup-card" fxFlex='31%' fxFlex.lg='33%' fxFlex.md='45%' fxFlex.sm=60% fxFlex.xs=80%>
        <div fxLayout="column" fxFlex="100%">
          <div class="sub-title-text tx-xl-24-f tx-lg-24-f tx-md-16-f tx-sm-14-f tx-xs-14-f tx-center-f lh-1"
            [ngStyle]="{'color':'rgba(0,0,0,0.7)'}">Sign Up</div>
          <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
            <div *ngIf="error"><span class='red-color tx-14-f'>{{error['error']['username']}}</span></div>
            <div class="mg-t-30-f">
              <mat-form-field fxFlex="100%" appearance="fill">
                <mat-label class='pcolor tx-14-f'>Username</mat-label>
                <input type="text" matInput placeholder="Username" formControlName="username">
              </mat-form-field>
            </div>
            <div *ngIf="error"><span class='red-color tx-14-f'>{{error['error']['email']}}</span></div>
            <div>
              <mat-form-field fxFlex="100%" appearance="fill">
                <mat-label class='pcolor tx-14-f'>Email</mat-label>
                <input type="email" matInput placeholder="Ex. pat@example.com" required formControlName="email">
              </mat-form-field>
            </div>
            <div *ngIf="error"><span class='red-color tx-14-f'>{{error['error']['password']}}</span></div>
            <div class="mg-t-10-f">
              <mat-form-field fxFlex="100%" appearance="fill">
                <mat-label class='pcolor tx-14-f'>Passsword</mat-label>
                <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" formControlName="password">
                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </mat-form-field>
            </div><br>
            <button type="submit" mat-raised-button class="signup mg-y-10-f tx-14-f">Sign up</button>
          </form>

          <!-- <div class="strike-through strike-through-margin mg-y-20-f">
            <span>
              <strong class="or-text tx-gray-400">or</strong>
            </span>
          </div>
          <mat-list fxLayout="row wrap" fxLayoutAlign='space-between center' class="socialMedia">
            <mat-list-item class="google" fxFlex="49%" fxFlex.lg="100%" fxFlex.md='100%' fxFlex.sm='100%'
              fxFlex.xs='100%'>
              <mat-icon mat-list-icon class="googleIcon"></mat-icon>
              <div mat-line><a class="tx-12-f tx-lg-14-f tx-md-14-f tx-sm-14-f tx-xs-12-f GoogleSignIn tx-center pcolor">Sign in with Google</a></div>
            </mat-list-item>
            <mat-list-item class="facebook mg-lg-t-5-f mg-md-t-5-f mg-sm-t-5-f mg-xs-t-5-f" fxFlex="49%"
              fxFlex.lg="100%" fxFlex.md='100%' fxFlex.sm='100%' fxFlex.xs='100%'>
              <mat-icon mat-list-icon class="facebookIcon">facebook</mat-icon>
              <div mat-line><a  class="tx-12-f tx-lg-14-f tx-md-14-f tx-sm-14-f tx-xs-12-f FacebookSignIn tx-center pcolor">Sign in with Facebook</a></div>
            </mat-list-item>
          </mat-list> -->
          <div class="tx-center-f pd-y-20-f tx-14-f pcolor">Already have an account?<a [routerLink]="['/login']"
            class="tx-decoration tx-14-f">Login</a></div>
        </div>
      </mat-card>
    </div>
  </div>
</main>