.Next {
    color: white;
    background-color: #136f63;
    border: 1px solid #136f63;
  }
  .Back {
    color: white;
    background-color: #002060;
    border: 1px solid #002060;
  }
  .Reset {
    border: 1px solid #136f63;
    color: #136f63;
  }
  ::ng-deep
    .Personalisation
    .mat-radio-button.mat-accent
    .mat-radio-ripple
    .mat-ripple-element {
    background-color: #002060 !important;
  }
  
  ::ng-deep .Personalisation .mat-radio-button.mat-accent .mat-radio-inner-circle {
    background-color: #002060 !important;
  }
  
  ::ng-deep
    .Personalisation
    .mat-radio-button.mat-accent.mat-radio-checked
    .mat-radio-outer-circle {
    border-color: #002060 !important;
  }
  ::ng-deep .Personalisation .mat-form-field-appearance-outline .mat-form-field-prefix, ::ng-deep .Personalisation .mat-form-field-appearance-outline .mat-form-field-suffix{
    top : 0px !important;
  }
  ::ng-deep .Personalisation .mat-form-field-infix{
    border-top: 0px !important;
  }
  ::ng-deep .Personalisation .YrButton{
    min-width: 0px !important;
    padding: 0 10px !important;
    border-radius: 0px!important;
    background-color: rgb(0, 0, 0, 0.1);
  }
  ::ng-deep .Personalisation .MoButton{
    min-width: 0px !important;
    padding: 0 10px !important;
    border-radius: 0px 5px 5px 0px!important;
    background-color: rgb(0, 0, 0, 0.1);
  }
  .Personalisation .YrButton:hover,.Personalisation .MoButton:hover{
    background-color: rgb(0, 0, 0, 0.2);
  }
  ::ng-deep .Personalisation .mat-form-field-appearance-outline .mat-form-field-flex{
    padding: 0px 0px 0px 5px !important;
  }
  ::ng-deep .Personalisation .mat-form-field-appearance-outline .mat-form-field-infix{
    padding: 1em 0em 0em 0em !important;
  }
  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-thick{
    color: rgb(0, 0, 0, 0.1) !important; 
  }
  ::ng-deep .Personalisation .portfolioSelect .mat-form-field-appearance-outline .mat-form-field-infix{
    padding: 1em 0em 1em 0em !important;
  }
  ::ng-deep .Personalisation .portfolioSelect .mat-form-field-appearance-outline .mat-form-field-flex{
    padding: 0px 10px 0px 5px !important;
  }
  .portfolioSelect{
    height: 500px;
  }
  tr.mat-header-row{
    height: 36px !important;
    background-color: #E5E8EF !important;
    color: #5E636D !important;
  }
  .Personalisation .mat-elevation-z8{
    box-shadow: none !important;
  }
  .Personalisation .ng-select {
    padding-bottom: 0px !important;
    padding-top: 5px !important;
    margin-top: 20px !important;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    padding-left: 10px !important;
    cursor: pointer !important;
    &::ng-deep {
      .ng-select-container {
        cursor: pointer !important;
        &::ng-deep {
          .ng-value-container {
            &::ng-deep {
              .ng-input {
                > input {
                  cursor: pointer !important;
                }
              }
            }
          }
        }
      }
      .ng-dropdown-panel {
        z-index: 1 !important;
      }
    }
  }
  ::ng-deep .Personalisation ng-select .ng-arrow-wrapper .ng-arrow {
    display: inline-block !important;
  }
  ::ng-deep
    .Personalisation
    ng-select.ng-select-single
    .ng-select-container
    .ng-arrow-wrapper {
    bottom: 10px !important;
    right: 5px !important;
  }
  .personalisationTable .mat-cell:nth-child(1), .personalisationTable .mat-header-cell:nth-child(1){
    justify-content: flex-start !important;
    border-left: solid 0.5px  #E5E8EF;
    white-space:nowrap !important;
    flex: 0 0 15% !important;
    width: 15% !important;
    padding-left: 10px !important;
  }
  .RiskAverse.mat-header-cell:nth-child(2){
    box-shadow: 0px 5px 5px -3px rgb(0 0 0 / 20%), 0px 8px 10px 1px rgb(0 0 0 / 14%), 0px 3px 14px 2px rgb(0 0 0 / 12%);
  }
  .tableHighlight1.mat-header-cell:nth-child(3){
    box-shadow: 0px 5px 5px -3px rgb(0 0 0 / 20%), 0px 8px 10px 1px rgb(0 0 0 / 14%), 0px 3px 14px 2px rgb(0 0 0 / 12%);
  }
  .tableheader{
    cursor: pointer;
  }

  ::ng-deep .Personalisation .mat-radio-button.mat-radio-disabled .mat-radio-label-content
  {
    color: #0E131F !important;
  }
  .modifyAllocation{
    background-color: #002060;
    border : 1px solid #002060;
    color: white;
  }
::ng-deep .p-slider .p-slider-range,  ::ng-deep .p-slider:not(.p-disabled) .p-slider-handle:hover{
    background: #002060 !important;
  }
  ::ng-deep .p-slider .p-slider-handle{
    border: 2px solid #002060 !important;
  }
  ::ng-deep .mat-step-header .mat-step-icon-selected,  ::ng-deep .mat-step-header .mat-step-icon-state-done,  ::ng-deep .mat-step-header .mat-step-icon-state-edit{
    background-color: #002060 !important;
  }
  ::ng-deep .p-slider .p-slider-handle:focus{
    box-shadow: none !important;
  }