<main class='mg-t-100-f Personalisation'>
  <div class='container pd-y-60-f'>
    <h1 class="tx-xs-28-f tx-sm-30-f tx-md-32-f tx-lg-36-f tx-xl-36-f tx-bold lh-1 title-text">Personalisation</h1>
    <div>
      <mat-horizontal-stepper labelPosition="bottom" #stepper [@.disabled]="true" [linear]="isLinear" fxLayout="column"
        fxFlex="100" fxLayoutAlign="center">
        <mat-step fxLayoutAlign='start start'>
          <div class='mg-t-10 tx-right'>
            <button mat-raised-button matStepperNext class='Next tx-14-f tx-semibold'
              (click)='step1Next()'>Next</button>
          </div>
          <div fxLayout='row' fxLayoutAlign='center center'>
            <div fxFlex='100%' fxLayout='column'>
              <div fxFlex="100%" class='mg-b-10 mg-t-20 tx-bold tx-16-f'>1. Select Risk profile</div>
              <mat-radio-group fxFlex="100%" fxLayout="row wrap" fxLayoutAlign="start start" [(ngModel)]="Riskprofile" (change)='changeRiskValue($event.value)'>
                <div fxFlex="20%" fxFlex.lg="33%" fxFlex.md="50%" fxFlex.sm="50%" fxFlex.xs="100%">
                  <mat-radio-button value="Risk Averse" [checked]='Riskvalue>=0 && Riskvalue<=6' class='tx-14-f pcolor'>A. Risk Averse (0-6%)
                  </mat-radio-button>
                </div>
                <div fxFlex="20%" fxFlex.lg="33%" fxFlex.md="50%" fxFlex.sm="50%" fxFlex.xs="100%">
                  <mat-radio-button value="Conservative" [checked]='Riskvalue>=7 && Riskvalue<=9' class='tx-14-f pcolor'>B. Conservative
                    (7-9%)
                  </mat-radio-button>
                </div>
                <div fxFlex="20%" fxFlex.lg="33%" fxFlex.md="50%" fxFlex.sm="50%" fxFlex.xs="100%">
                  <mat-radio-button value="Moderate" [checked]='Riskvalue>=10 && Riskvalue<=11' class='tx-14-f pcolor'>C. Moderate(10-11%)</mat-radio-button>
                </div>
                <div fxFlex="20%" fxFlex.lg="33%" fxFlex.md="50%" fxFlex.sm="50%" fxFlex.xs="100%">
                  <mat-radio-button value="Aggressive" [checked]='Riskvalue>=12 && Riskvalue<=14' class='tx-14-f pcolor'>D. Aggressive (12-14%) </mat-radio-button>
                </div>
                <div fxFlex="20%" fxFlex.lg="33%" fxFlex.md="50%" fxFlex.sm="50%" fxFlex.xs="100%">
                  <mat-radio-button value="Very Aggressive" [checked]='Riskvalue>=15' class='tx-14-f pcolor'>E. Very Aggressive (>15%)
                  </mat-radio-button>
                </div>
              </mat-radio-group>
              <div fxFlex='100%' fxLayoutAlign='center start'>
                <p-slider fxFlex='50%' (onChange)="riskValueChange($event.value)" [(ngModel)]="Riskvalue" [step]=1 [min]='0' [max]='30' class='mg-t-20-f mg-b-10-f'>
                </p-slider> {{Riskvalue}}%
              </div>
              <div fxFlex="100%" class='mg-b-10 mg-t-20 tx-bold tx-16-f'>2. Investor Approach</div>
              <mat-radio-group fxFlex="100%" fxLayout="row wrap" fxLayoutAlign="start start"
                [(ngModel)]="InvestorApproach">
                <div fxFlex="20%" fxFlex.lg="33%" fxFlex.md="50%" fxFlex.sm="50%" fxFlex.xs="100%">
                  <mat-radio-button value="Active Investor" class='tx-14-f pcolor'>A. Active Investor</mat-radio-button>
                </div>
                <div fxFlex="20%" fxFlex.lg="33%" fxFlex.md="50%" fxFlex.sm="50%" fxFlex.xs="100%">
                  <mat-radio-button value="Systematic Investor" class='tx-14-f pcolor'>B. Systematic Investor
                  </mat-radio-button>
                </div>
                <div fxFlex="20%" fxFlex.lg="33%" fxFlex.md="50%" fxFlex.sm="50%" fxFlex.xs="100%">
                  <mat-radio-button value="Quality & Income Investor" class='tx-14-f pcolor'>C. Quality & Income
                    Investor
                  </mat-radio-button>
                </div>
                <div fxFlex="20%" fxFlex.lg="33%" fxFlex.md="50%" fxFlex.sm="50%" fxFlex.xs="100%">
                  <mat-radio-button value="Trader" class='tx-14-f pcolor'>D. Trader </mat-radio-button>
                </div>
                <div fxFlex="20%" fxFlex.lg="33%" fxFlex.md="50%" fxFlex.sm="50%" fxFlex.xs="100%">
                  <mat-radio-button value="New Investor" class='tx-14-f pcolor'>E. New Investor</mat-radio-button>
                </div>
              </mat-radio-group>
              <div fxFlex="100%" class='mg-b-10 mg-t-20 tx-bold tx-16-f'>3. Current & Future Income Sources</div>
              <mat-radio-group fxFlex="100%" fxLayout="row wrap" fxLayoutAlign="start start"
                [(ngModel)]="FutureIncomeSources">
                <div fxFlex="20%" fxFlex.lg="33%" fxFlex.md="50%" fxFlex.sm="50%" fxFlex.xs="100%">
                  <mat-radio-button value="Very Stable" class='tx-14-f pcolor'>A. Very Stable</mat-radio-button>
                </div>
                <div fxFlex="20%" fxFlex.lg="33%" fxFlex.md="50%" fxFlex.sm="50%" fxFlex.xs="100%">
                  <mat-radio-button value="Stable" class='tx-14-f pcolor'>B. Stable</mat-radio-button>
                </div>
                <div fxFlex="20%" fxFlex.lg="33%" fxFlex.md="50%" fxFlex.sm="50%" fxFlex.xs="100%">
                  <mat-radio-button value="Some what stable" class='tx-14-f pcolor'>C. Some what stable
                  </mat-radio-button>
                </div>
                <div fxFlex="20%" fxFlex.lg="33%" fxFlex.md="50%" fxFlex.sm="50%" fxFlex.xs="100%">
                  <mat-radio-button value="Unstable" class='tx-14-f pcolor'>D. Unstable </mat-radio-button>
                </div>
                <div fxFlex="20%" fxFlex.lg="33%" fxFlex.md="50%" fxFlex.sm="50%" fxFlex.xs="100%">
                  <mat-radio-button value="Very Unstable" class='tx-14-f pcolor'>E. Very Unstable</mat-radio-button>
                </div>
              </mat-radio-group>
              <div fxFlex="100%" class='mg-b-10 mg-t-20 tx-bold tx-16-f'>4. Mode of Investment</div>
              <mat-radio-group fxFlex="100%" fxLayout="row wrap" fxLayoutAlign="start start"
                [(ngModel)]="ModeofInvestment">
                <div fxFlex="20%" fxFlex.lg="33%" fxFlex.md="50%" fxFlex.sm="50%" fxFlex.xs="100%">
                  <mat-radio-button value="Lumsum" class='tx-14-f pcolor'>A. Lumsum</mat-radio-button>
                </div>
                <div fxFlex="20%" fxFlex.lg="33%" fxFlex.md="50%" fxFlex.sm="50%" fxFlex.xs="100%">
                  <mat-radio-button value="Monthly" class='tx-14-f pcolor'>B. Monthly</mat-radio-button>
                </div>
                <div fxFlex="20%" fxFlex.lg="33%" fxFlex.md="50%" fxFlex.sm="50%" fxFlex.xs="100%">
                  <mat-radio-button value="Quarterly" class='tx-14-f pcolor'>C. Quarterly</mat-radio-button>
                </div>
                <div fxFlex="20%" fxFlex.lg="33%" fxFlex.md="50%" fxFlex.sm="50%" fxFlex.xs="100%">
                  <mat-radio-button value="Semi Annual" class='tx-14-f pcolor'>D. Semi Annual </mat-radio-button>
                </div>
                <div fxFlex="20%" fxFlex.lg="33%" fxFlex.md="50%" fxFlex.sm="50%" fxFlex.xs="100%">
                  <mat-radio-button value="Annual" class='tx-14-f pcolor'>E. Annual</mat-radio-button>
                </div>
              </mat-radio-group>
            </div>
          </div>
        </mat-step>
        <mat-step >
          <div class='mg-t-10 tx-right'>
            <button mat-raised-button matStepperPrevious class='mg-r-10-f Back tx-14-f tx-semibold'>Back</button>
            <button mat-raised-button matStepperNext class='Next tx-semibold tx-14-f'>Next</button>
          </div>
          <div fxLayoutAlign='center start'>
            <div fxFlex='70%' fxLayout='column'>
              <div fxFlex="100%" class='mg-b-5 mg-t-20-f tx-bold tx-16-f'>1. How Long you are Investing for </div>
              <div fxLayout='row wrap' class='mg-t-20-f'>
                <div fxFlex='40%' fxLayoutAlign='end start' class='mg-t-10-f tx-semibold mg-r-10-f'>
                  Tenure
                </div>
                <div fxFlex='50%' fxLayoutAlign='start start'>
                  <mat-form-field appearance="outline">
                    <input matInput class='tx-14-f' type="number" [(ngModel)]="Tenure1" min="0" max="30"
                      oninput="validity.valid||(value='');">
                    <button mat-button class='tx-semibold tx-14-f YrButton' matSuffix>Yr</button>
                    <button mat-button class='tx-semibold tx-14-f MoButton' matSuffix>Mo</button>
                  </mat-form-field>
                </div>
                <div fxFlex='100%' fxLayoutAlign='center start'>
                  <p-slider fxFlex='50%' [(ngModel)]="Tenure1" [step]=5 [min]='0' [max]='30' class='mg-t-20-f'>
                  </p-slider>
                </div>
              </div>
              <div fxFlex="100%" class='mg-b-5 mg-t-20-f tx-bold tx-16-f'>2. How long will you stay in Investment,
                before
                with drawing >25% of your portfolio</div>
              <div fxLayout='row wrap' class='mg-t-20-f'>
                <div fxFlex='40%' fxLayoutAlign='end start' class='mg-t-10-f tx-semibold mg-r-10-f'>
                  Tenure
                </div>
                <div fxFlex='50%' fxLayoutAlign='start start'>
                  <mat-form-field appearance="outline">
                    <input matInput class='tx-14-f' type="number" [(ngModel)]="Tenure2" min="0" max="30"
                      oninput="validity.valid||(value='');">
                    <button mat-button class='tx-semibold tx-14-f YrButton' matSuffix>Yr</button>
                    <button mat-button class='tx-semibold tx-14-f MoButton' matSuffix>Mo</button>
                  </mat-form-field>
                </div>
                <div fxFlex='100%' fxLayoutAlign='center start'>
                  <p-slider fxFlex='50%' [(ngModel)]="Tenure2" [step]=5 [min]='0' [max]='30' class='mg-t-20-f'>
                  </p-slider>
                </div>
              </div>
              <div fxFlex="100%" class='mg-b-5 mg-t-20-f tx-bold tx-16-f'>3. Purpose of Investment</div>
              <mat-radio-group fxFlex="100%" fxLayout="row wrap" fxLayoutAlign="start start">
                <div fxFlex="33%" fxFlex.lg="33%" fxFlex.md="50%" fxFlex.sm="100%" fxFlex.xs="100%">
                  <mat-radio-button value="RegularIncome" class='tx-14-f pcolor'>A. Regular Income</mat-radio-button>
                </div>
                <div fxFlex="33%" fxFlex.lg="33%" fxFlex.md="50%" fxFlex.sm="100%" fxFlex.xs="100%">
                  <mat-radio-button value="CapitalAppreciation" class='tx-14-f pcolor'>B. Capital Appreciation
                  </mat-radio-button>
                </div>
                <div fxFlex="33%" fxFlex.lg="33%" fxFlex.md="50%" fxFlex.sm="100%" fxFlex.xs="100%">
                  <mat-radio-button value="Retirement" class='tx-14-f pcolor'>C. Retirement</mat-radio-button>
                </div>
                <div fxFlex="33%" fxFlex.lg="33%" fxFlex.md="50%" fxFlex.sm="100%" fxFlex.xs="100%">
                  <mat-radio-button value="Education" class='tx-14-f pcolor'>D. Education </mat-radio-button>
                </div>
                <div fxFlex="33%" fxFlex.lg="33%" fxFlex.md="50%" fxFlex.sm="100%" fxFlex.xs="100%">
                  <mat-radio-button value="Other" class='tx-14-f pcolor'>E. Other</mat-radio-button>
                </div>
              </mat-radio-group>
              <div fxFlex="100%" class='mg-b-5 mg-t-20-f tx-bold tx-16-f'>4. Loss Tolerance (X% over Investment Horizon)
              </div>
              <mat-radio-group fxFlex="100%" fxLayout="row wrap" fxLayoutAlign="space-between start">
                <mat-radio-button value="5%" class='tx-14-f pcolor'>A. < 5% </mat-radio-button>
                    <mat-radio-button value="6to10" class='tx-14-f pcolor'>B. 6-10%</mat-radio-button>
                    <mat-radio-button value="11to15" class='tx-14-f pcolor'>C. 11-15%</mat-radio-button>
                    <mat-radio-button value="15to25" class='tx-14-f pcolor'>D. 15-25% </mat-radio-button>
                    <mat-radio-button value="25%" class='tx-14-f pcolor'>E. > 25%</mat-radio-button>
              </mat-radio-group>
              <div fxLayout='row wrap' class='mg-t-20-f'>
                <div fxFlex='40%' fxLayoutAlign='end start' class='mg-t-10-f tx-semibold mg-r-10-f'>
                  Loss Tolerance
                </div>
                <div fxFlex='50%' fxLayoutAlign='start start'>
                  <mat-form-field appearance="outline">
                    <input matInput class='tx-14-f' type="number" [(ngModel)]="InterestRate" step=0.01 min="0" max="30"
                      oninput="validity.valid||(value='');">
                    <button mat-button class='tx-semibold tx-14-f YrButton' matSuffix>%</button>
                  </mat-form-field>
                </div>
                <div fxFlex='100%' fxLayoutAlign='center start'>
                  <p-slider fxFlex='50%' [(ngModel)]="InterestRate" [step]=0.5 [min]='0' [max]='30' class='mg-t-20-f'>
                  </p-slider>
                </div>
              </div>
            </div>
          </div>
        </mat-step>
        <mat-step>
          <div class='mg-t-10 tx-right'>
            <button mat-raised-button matStepperPrevious class='mg-r-10-f Back tx-14-f tx-semibold'>Back</button>
            <button mat-raised-button matStepperNext class='Next tx-semibold tx-14-f'
              (click)='step3Next()'>Next</button>
          </div>
          <div fxLayoutAlign='center start'>
            <div fxFlex='30%' fxLayout='column' class='portfolioSelect'>
              <mat-form-field appearance="outline">
                <mat-select [(ngModel)]="etf_ticker" placeholder='Select Portfolio' (change)='etfChange()'>
                  <mat-option *ngFor="let etf of selectEtf" [value]="etf.etf_ticker">{{etf.etf_name}}</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field appearance="outline" *ngIf='etf_ticker=="5 Asset Portfolio" '>
                <mat-select multiple [(ngModel)]="AssetPortfolioValue" placeholder='Select 5 Asset Portfolio'>
                  <mat-option *ngFor="let Asset of AssetPortfolio" [value]="Asset.value">{{Asset.name}}</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field appearance="outline" *ngIf='etf_ticker=="10 Asset Portfolio" '>
                <mat-select multiple [(ngModel)]="AssetPortfolioValue" placeholder='Select 10 Asset Portfolio'>
                  <mat-option *ngFor="let Asset of AssetPortfolio" [value]="Asset.value">{{Asset.name}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </mat-step>
        <mat-step>
          <div class='mg-t-10 tx-right'>
            <button mat-raised-button matStepperPrevious class='mg-r-10-f Back tx-14-f tx-semibold'>Back</button>
            <button mat-raised-button (click)="stepper.reset()" class='Reset tx-semibold tx-14-f'>Start Over</button>
          </div>
            <div fxLayout='row wrap'>
              <div fxFlex='40%' fxFlex.md='50%' fxFlex.sm='100%' fxFlex.xs='100%'>
                <div [chart]="riskPortfolio"></div>
                <div class='tx-bold tx-14-f tx-center'>{{title}}</div>
              </div>
              <div fxFlex='60%' fxFlex.md='50%'  fxFlex.sm='100%' fxFlex.xs='100%' fxLayoutAlign='end start' class="riskPortfolioTable">
                <div fxFlex='column'>
                  <table mat-table #table [dataSource]="personalisedWeights" class="personalisationTable mg-t-20-f">
                    <ng-container [matColumnDef]="col" *ngFor="let col of riskTypeColumns; let i= index">
                      <th mat-header-cell (click)="changeRiskMode(col)" class='tableheader' [ngClass]="{tableHighlight: Highlight}" *matHeaderCellDef >{{col}}</th>
                      <td mat-cell *matCellDef="let element">
                        <div *ngIf="!(col=='ETF')">
                          <div>
                            {{element[col]}}%</div>
                        </div>
                        <div *ngIf="col=='ETF'">
                          <div>{{element[col]}}</div>
                        </div>
                      </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="riskTypeColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: riskTypeColumns;"></tr>
                  </table>
                  <table mat-table #table [dataSource]="statsData" class="personalisationTable mg-t-10-f">
                    <ng-container [matColumnDef]="col" *ngFor="let col of statsColumns">
                      <th mat-header-cell *matHeaderCellDef> {{ col }} </th>
                      <td mat-cell *matCellDef="let element">
                        {{element[col]}}
                      </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="statsColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: statsColumns;"></tr>
                  </table>
                </div>
              </div>
            </div>
            <div class='tx-right mg-t-20-f'>
              <button mat-button class='modifyAllocation mg-r-10-f' matStepperPrevious>Modify Allocation</button>
              <button mat-button class='modifyAllocation' (click)='viewAllData()'>{{buttonName}}</button>
            </div>
            <div *ngIf='showMethods == true'>
            <table mat-table #table [dataSource]="allMethodsWeights" class="personalisationTable mg-t-20-f">
              <ng-container [matColumnDef]="col" *ngFor="let col of allMethodsWeightsColumns; let i= index">
                <th mat-header-cell class='tableheader' [ngClass]="{tableHighlight: Highlight}" *matHeaderCellDef >{{col}}</th>
                <td mat-cell *matCellDef="let element">
                  <div *ngIf="!(col=='ETF')">
                    <div>
                      {{element[col]}}%</div>
                  </div>
                  <div *ngIf="col=='ETF'">
                    <div>{{element[col]}}</div>
                  </div>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="allMethodsWeightsColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: allMethodsWeightsColumns;"></tr>
            </table>
            <table mat-table #table [dataSource]="allMethodsStats" class="personalisationTable mg-t-10-f">
              <ng-container [matColumnDef]="col" *ngFor="let col of allStatsColumns">
                <th mat-header-cell *matHeaderCellDef> {{ col }} </th>
                <td mat-cell *matCellDef="let element">
                  {{element[col]}}
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="allStatsColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: allStatsColumns;"></tr>
            </table>
          </div>
        </mat-step>
      </mat-horizontal-stepper>
    </div>
  </div>
</main>