<main class="content mg-t-100 aboutus-teamComponent">
    <div class="container pd-y-100-f pd-md-x-30-f">
        <div fxLayout="row">
            <div fxFlex="25%" fxHide.lt-lg fxLayoutAlign="center start">
                <img [src]="slideItems[indexVal].src" alt="" id="sureshMadhu">
            </div>
            <div fxFlex="75%" fxFlex.lt-lg="100%">
                <div fxLayout="row">
                    <div fxFlex="60%" fxFlex.lt-lg="50%" fxFlex.xs="100%">
                        <div fxHide.gt-xs class="mg-b-10-f">
                            <button mat-button (click)="showPreviousImage()"><img
                                    src="assets/images/testimonial_left.png"></button>
                            <a href="#" class="tx-16-f tx-md-14-f  tx-bold color1 pd-t-10-f" routerLink='/aboutus'
                                (click)="team()">Back to Our Team</a>
                            <button mat-button (click)="showNextImage()"><img
                                    src="assets/images/testimonial_right.png"></button>
                        </div>
                        <img [src]="slideItems[indexVal].src" alt="" class="sureshMadhu-mobile mg-t-0-f" fxHide.gt-md>
                        <div [innerHTML]="slideItems[indexVal].title" class="mg-md-t-10-f"> </div>
                    </div>
                    <div fxFlex="40%" fxFlex.lt-lg="50%" fxLayoutAlign="end start" fxHide.lt-sm>
                        <button mat-button (click)="showPreviousImage()"><img
                                src="assets/images/testimonial_left.png"></button>
                        <a href="#" class="tx-16-f tx-md-14-f  tx-bold color1 pd-t-10-f" routerLink='/aboutus'
                            (click)="team()">Back to Our Team</a>
                        <button mat-button (click)="showNextImage()"><img
                                src="assets/images/testimonial_right.png"></button>
                    </div>
                </div>
                <div [innerHTML]="slideItems[indexVal].about"></div>
                <button class="backtoteam pd-y-10-f pd-x-10-f tx-16-f tx-md-14-f tx-bold mg-t-50-f mg-sm-t-20-f pointer"
                    routerLink='/aboutus' (click)="team()">Back to Our Team</button>
            </div>
        </div>
    </div>
</main>