.aboutus-teamComponent a{
	text-decoration: none !important;
}
.aboutus-teamComponent #sureshMadhu{
  box-shadow:-15px -15px #002060;
  border-radius:5px;
}
.aboutus-teamComponent .backtoteam{
  background-color:white;
  color:#002060;
  outline:none;
  border-radius:20px;
  border:2px solid #002060;
}
.aboutus-teamComponent .sureshMadhu-mobile{
  width:200px !important;
  height:200px !important;
}