// body start
main {
    background-color: white;
  }
  .getStarted {
    background: #136f63;
    color: #fff;
    border-radius: 4px;
    border: 1px solid #136f63;
    cursor: pointer;
    width: 100%;
  }
  .reset p {
    font-weight: 400;
    color: #969696;
    text-align: justify;
    text-justify: inter-word;
  }
  
  
  // body end
  