<main class="content mg-t-100">
  <div class="container pd-y-60-f">
      <div>
    <div fxLayout="row"  fxLayoutAlign="center center">
        <mat-card class="login-card" fxFlex='31%' fxFlex.lg='33%' fxFlex.md='45%' fxFlex.sm=60% fxFlex.xs=80% >
              <div fxLayout="column">
              <div class="sub-title-text tx-xl-24-f tx-lg-24-f tx-md-16-f tx-sm-14-f tx-xs-14-f tx-center-f lh-1" [ngStyle]="{'color':'rgba(0,0,0,0.7)'}" >Email Verification</div>
              <br>
              <div *ngIf="error"><span class='red-color tx-14-f'>Something went wrong, try again after some time</span></div>
              <p class="mg-t-15-f lh-8-f tx-14-f pcolor">We are happy you signed up for 72PI. To start exploring the 72PI, you must verify your email address.</p>
              <p class="lh-8 tx-14-f pcolor">Confirm and Verify you email by clicking on the Verify Email button.</p>
              <button type="submit" mat-raised-button class="getStarted  tx-xs-14-f tx-sm-14-f tx-md-16-f tx-lg-18-f tx-xl-18-f" (click)="verifyMyEmail()">Verify Email</button>
              <p  class="mg-t-25-f tx-14-f pcolor">Please contact us if you have any trouble in verifying your email address.<a  class='tx-bold tx-decoration'> help@72pi.ai</a></p>
              </div>
          </mat-card>
      </div>
  </div>
</div>
</main>
