
.with-icon {
  display: flex;
  align-items: center;
}
.ourperformance .mat-cell:nth-child(1){
min-width: 300px;
 max-width: 300px;
 word-wrap:break-word;
}
.ourperformance-performanceTable{
  border-top:0px solid white  !important;
}
.ourperformance-performanceTable th.mat-header-cell{
  border-right: 0px solid white !important;
}
.ourperformance-performanceTable .mat-header-row {
  background-color: transparent !important;
}
.ourperformance-performanceTable  .mat-cell{
 border-right:0px solid white !important;
} 

.ourperformance-performanceTable td.mat-cell,
.ourperformance-performanceTable th.mat-header-row{
  border-bottom-color:transparent !important;
  border-bottom:0px solid transparent !important;
}
.ourperformance-performanceTable .mat-cell:nth-child(1){
  text-align:left !important;
  border-left: solid 0px  white !important;
 }
 .ourperformance-performanceTable th.mat-header-cell{
    border-bottom-style: normal !important;
    border-bottom-width:0px !important;
 }
 .portfoio_highlights_table tr{
  height:48px;
 }  
