<div *ngIf="errorFlag" class="mg-t-100-f">
  <app-page401 *ngIf="errorMsg=='401'"></app-page401>
  <app-page402 *ngIf="errorMsg=='402'"></app-page402>
  <app-page403 *ngIf="errorMsg=='403'"></app-page403>
  <app-page404 *ngIf="errorMsg=='404'"></app-page404>
  <app-page405 *ngIf="errorMsg=='405'"></app-page405>
  <app-page406 *ngIf="errorMsg=='406'"></app-page406>
  <app-page412 *ngIf="errorMsg=='412'"></app-page412>
  <app-page500 *ngIf="errorMsg=='500'"></app-page500>
  <app-page501 *ngIf="errorMsg=='501'"></app-page501>
  <app-page502 *ngIf="errorMsg=='502'"></app-page502>
</div>
<main class="content our-performance-main" *ngIf="contentFlag">
  <div class="container pd-b-60-f">

    <div class="se-pre-con" *ngIf="loading"></div>

    <section class="section-1">
      <h2 class="tx-18-f color1 tx-semibold">72PI Performance as of {{current_date|date: 'dd-MMM-yyyy'}} </h2>
      <mat-card>
        <div class="tables-div">
          <table mat-table #table [dataSource]="performanceTable" class="ourperformance-performanceTable normalTableWithText">
            <ng-container [matColumnDef]="col" *ngFor="let col of displayTableColumnsPerformanceTable">
                <th mat-header-cell *matHeaderCellDef class="width-150-f"> 
                  <div *ngIf="col=='date'"></div>      
                  <div  *ngIf="!(col=='date')" class="color1 tx-bold tx-14 center-align-header">{{col}}</div>     
                 </th>
                  <td mat-cell *matCellDef="let element">
                        <div *ngIf="col=='date'" class="tx-semibold">Since  {{element[col]|date: 'dd-MMM-yyyy'}}</div>      
                    <div  *ngIf="!(col=='date')"  class="tx-semibold center-align-header"  [style.color]="element[col] > 0 ? '#136F63 !important' : '#F52A4C !important'" >{{element[col]|percent:'1.1'}}</div>                    
                  </td>
              </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayTableColumnsPerformanceTable;" [style.min-height]="0" ></tr>
          <tr mat-row *matRowDef="let row; columns: displayTableColumnsPerformanceTable;"></tr>
          </table> 
        </div>
      </mat-card>
    </section>
    <section class="section-2">
      <h2 class="tx-sm-16-f tx-18-f color1 tx-semibold">72PI Portfolio Details</h2>
      <highcharts-chart style="width: 100%; display: block" *ngIf="flag" [Highcharts]="Highcharts"
        [options]="output_cumulative">
      </highcharts-chart>
    </section>
    <section class="section-3">
      <h2 class="tx-sn-16-f tx-18-f color1 tx-semibold">Performance Hit rate of 72PI from
        {{performanceHitDate|date:'dd-MMM-yyyy'}} to {{performanceDate|date: 'dd-MMM-yyyy'}}</h2>
        <div class="tables-div">
          <table mat-table #table [dataSource]="performanceHitIndiaTable"   *ngIf="!(country=='US')"  class="normalTableWithText">
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef class="width-150-f"></th>
            <td mat-cell *matCellDef="let element" > {{element.name}} </td> 
          </ng-container>
          <ng-container matColumnDef="signalscount">
            <th mat-header-cell *matHeaderCellDef class="width-150-f width-lg-150-f width-md-100-f center-align-header">#of Signals Issued</th>
            <td mat-cell *matCellDef="let element" class="center-align-header"> {{element.signalscount}} </td>
          </ng-container>
          <ng-container matColumnDef="win">
            <th mat-header-cell *matHeaderCellDef class="width-100-f width-lg-150-f width-md-100-f  center-align-header">Win(%)</th>
            <td mat-cell *matCellDef="let element" class="center-align-header"> {{element.win}} </td>
          </ng-container>
          <ng-container matColumnDef="avggain">
            <th mat-header-cell *matHeaderCellDef class="width-150-f width-lg-150-f width-md-100-f center-align-header">Average Gain % per Signal</th>
            <td mat-cell *matCellDef="let element" class="center-align-header"> {{element.avggain}} </td>
          </ng-container>
          <ng-container matColumnDef="avgloss">
            <th mat-header-cell *matHeaderCellDef class="width-150-f width-lg-150-f width-md-100-f center-align-header">Average Loss % per Signal</th>
            <td mat-cell *matCellDef="let element" class="center-align-header"> {{element.avgloss}} </td>
          </ng-container>
          <ng-container matColumnDef="overallgain">
            <th mat-header-cell *matHeaderCellDef class="width-150-f width-lg-150-f width-md-100-f center-align-header">Overall Gain % / Loss % per Signal</th>
            <td mat-cell *matCellDef="let element" class="center-align-header"> {{element.overallgain}} </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="['name','signalscount','win','avggain','avgloss','overallgain']"></tr>
          <tr mat-row *matRowDef="let row; columns: ['name','signalscount','win','avggain','avgloss','overallgain']"></tr>
        </table>
    
           <table mat-table #table [dataSource]="performanceHitUSTable"  *ngIf="(country=='US')"  class="normalTableWithText">
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef  class="width-100-f"></th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td> 
          </ng-container>
          <ng-container matColumnDef="signalscount" >
            <th mat-header-cell *matHeaderCellDef class="width-200-f width-lg-150-f width-md-100-f  center-align-header" >#of Signals Issued</th>
            <td mat-cell *matCellDef="let element"  class="center-align-header"> {{element.signalscount}} </td>
          </ng-container>
          <ng-container matColumnDef="win">
            <th mat-header-cell *matHeaderCellDef class="width-100-f  center-align-header">Win(%)</th>
            <td mat-cell *matCellDef="let element"  class="center-align-header"> {{element.win}} </td>
          </ng-container>
          <ng-container matColumnDef="avggain">
            <th mat-header-cell *matHeaderCellDef class="width-200-f width-lg-150-f width-md-100-f  center-align-header">Average Gain % per Signal</th>
            <td mat-cell *matCellDef="let element"  class="center-align-header"> {{element.avggain}} </td>
          </ng-container>
          <ng-container matColumnDef="avgloss">
            <th mat-header-cell *matHeaderCellDef class="width-200-f width-lg-150-f width-md-100-f  center-align-header">Average Loss % per Signal</th>
            <td mat-cell *matCellDef="let element"  class="center-align-header"> {{element.avgloss}} </td>
          </ng-container>
          <ng-container matColumnDef="overallgain">
            <th mat-header-cell *matHeaderCellDef class="width-200-f width-lg-150-f width-md-100-f  center-align-header">Overall Gain % / Loss % per Signal</th>
            <td mat-cell *matCellDef="let element"  class="center-align-header"> {{element.overallgain}} </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="['name','signalscount','win','avggain','avgloss','overallgain']"></tr>
          <tr mat-row *matRowDef="let row; columns: ['name','signalscount','win','avggain','avgloss','overallgain']"></tr>
        </table>
      </div>
    </section>
    <section class="section-4">
      <div fxLayout="row wrap" fxLayoutAlign="space-between stretch">
        <mat-card fxFlex="32%" fxFlex.lt-md="49%" fxFlex.lt-sm="100%">
          <div fxLayout="row" fxLayoutAlign="space-between center">
            <div class="tx-14-f">Equity Valuation :</div>
            <div class="tx-14-f tx-semibold"><span  class="currencySymbolFont">{{currencysymbol}}</span>{{equity_valuation| number:'1.0-0':symbol }}</div>
          </div>
          <div fxLayout="row" fxLayoutAlign="space-between center" class="mg-t-20-f">
            <div class="tx-14-f">Equity Investment :</div>
            <div class="tx-14-f tx-semibold"><span  class="currencySymbolFont">{{currencysymbol}}</span>{{equity_investment| number:'1.0-0':symbol }}</div>
          </div>
        </mat-card>
        <mat-card fxFlex="32%" fxFlex.lt-md="49%" fxFlex.lt-sm="100%" class="mg-xs-t-20-f">
          <div fxLayout="row" fxLayoutAlign="space-between center">
            <div class="tx-14-f">Profit/Loss (Unrealized) :</div>
            <div class="tx-14-f tx-semibold"><span  class="currencySymbolFont">{{currencysymbol}}</span>{{profit_loss| number:'1.0-0':symbol }}</div>
          </div>
          <div fxLayout="row" fxLayoutAlign="space-between center" class="mg-t-20-f">
            <div class="tx-14-f">Profit/Loss- Day's (Unrealized) :</div>
            <div class="tx-14-f tx-semibold"><span  class="currencySymbolFont">{{currencysymbol}}</span>{{profit_loss_day| number:'1.0-0':symbol }}</div>
          </div>
        </mat-card>
        <mat-card fxFlex="32%" fxFlex.lt-md="100%" class="mg-sm-t-20-f">
          <div fxLayout="row" fxLayoutAlign="space-between center">
            <div class="tx-14-f">Max Gainer :</div>
            <div class="tx-14-f tx-semibold with-icon"
              [style.color]="maxGainervalue>=0? '#136F63 !important'  :'#F52A4C !important' ">
              <mat-icon *ngIf="maxGainervalue<0">arrow_drop_down</mat-icon>
              <mat-icon *ngIf="maxGainervalue>=0">arrow_drop_up</mat-icon> {{maxGainerCompany}}
              (<span  class="currencySymbolFont">{{currencysymbol}}</span>{{maxGainervalue| number:'1.0-0':symbol }})
            </div>
          </div>
          <div fxLayout="row" fxLayoutAlign="space-between center" class="mg-t-20-f">
            <div class="tx-14-f">Max Loser :</div>
            <div class="tx-14-f tx-semibold with-icon"
              [style.color]="maxLoservalue>=0? '#136F63 !important'  :'#F52A4C !important' ">
              <mat-icon *ngIf="maxLoservalue<0">arrow_drop_down</mat-icon>
              <mat-icon *ngIf="maxLoservalue>=0">arrow_drop_up</mat-icon> {{maxLoserCompany }}
              (<span  class="currencySymbolFont">{{currencysymbol}}</span>{{maxLoservalue| number:'1.0-0':symbol }})
            </div>
          </div>
        </mat-card>
      </div>
    </section>
    <section class="section-5">
      <div fxLayout="row wrap" fxLayoutAlign="space-between stretch">
        <mat-card fxFlex="32%" fxFlex.lt-lg="100%" >
          <mat-tab-group animationDuration="0ms" class="ourperformance-matgroup" (selectedTabChange)="onChange($event)">
            <mat-tab label="Allocation">
              <highcharts-chart style="width: 100%; display: block" *ngIf="flag" [Highcharts]="Highcharts"
                [options]="allocation">
              </highcharts-chart>
            </mat-tab>
            <mat-tab label="Equity Cash Flow">
              <highcharts-chart style="width: 100%; display: block" *ngIf="equityCashflowFlag" [Highcharts]="Highcharts"
                class="pd-16-f" [options]="equityCashflow">
              </highcharts-chart>
            </mat-tab>
          </mat-tab-group>
        </mat-card>
        <mat-card fxFlex="32%" fxFlex.lt-lg="49%"  fxFlex.lt-sm="100%" class="mg-md-t-20-f">
          <h3 class="tx-18-f  lh-5 color1 tx-semibold">
            My Stock Performance
          </h3>
          <highcharts-chart style="width: 100%; display: block" *ngIf="flag" [Highcharts]="Highcharts"
            [options]="profitLoss">
          </highcharts-chart>
        </mat-card>
        <mat-card fxFlex="32%" fxFlex.lt-lg="49%" fxFlex.lt-sm="100%" class="mg-md-t-20-f">
          <h3 class="tx-18-f  lh-5 color1 tx-semibold">Portfolio Highlights</h3>
          <table class="portfoio_highlights_table">
            <tbody>
              <tr>
                <td class="tx-14-f">Cash</td>
                <td class="tx-14-f tx-semibold"><span  class="currencySymbolFont">{{currencysymbol}}</span>{{portfolio_highlights_cash| number:'1.0-0':symbol}}</td>
              </tr>
              <tr>
                <td class="tx-14-f">Realized P/L </td>
                <td class="tx-14-f tx-semibold"><span  class="currencySymbolFont">{{currencysymbol}}</span>{{portfolio_highlights_realized| number:'1.0-0':symbol}}</td>
              </tr>
              <tr>
                <td class="tx-14-f">Top Exposure </td>
                <td class="tx-14-f tx-semibold" [style.color]="portfolio_highlights_mps_value>=0? '#136F63 !important'  :'#F52A4C !important' ">{{portfolio_top_exposure_name}} ({{portfolio_top_exposure_value| percent:'1.1'}})</td>
              </tr>
              <tr>
                <td class="tx-14-f">Most Profitable Security(unrealized)</td>
                <td class="tx-14-f tx-semibold" [style.color]="portfolio_highlights_mps_value>=0? '#136F63 !important'  :'#F52A4C !important' ">{{portfolio_highlights_mps_name}} ({{portfolio_highlights_mps_value| percent:'1.1'}})</td>
              </tr>
              <tr>
                <td class="tx-14-f">Least Profitable Security(unrealized)</td>
                <td class="tx-14-f tx-semibold" [style.color]="portfolio_highlights_lps_value>=0? '#136F63 !important'  :'#F52A4C !important' ">{{portfolio_highlights_lps_name}} ({{portfolio_highlights_lps_value| percent:'1.1'}})</td>
              </tr>
            </tbody>
          </table>
        </mat-card>
      </div>
    </section>
    <section class="section-6">
      <h2 class="tx-sm-16-f tx-18-f color1 tx-semibold">Portfolio Current Holdings</h2>
      <cdk-virtual-scroll-viewport [itemSize]="30">
        <table mat-table #table [dataSource]="portfolio_holdings" matSort  class="ourperformance" matSortDisableClear (matSortChange)="sortData($event,'portfolio_holdings')">
          <ng-container matColumnDef="Security_Code" sticky>
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="left-align-header">Company</th>
            <td mat-cell *matCellDef="let element" class="left-align-header">
              <div fxLayout="row">
                <div fxLayoutAlign="start start">
                  <img class="symbol-logo" src="{{element.IMGURL}}" alt="{{element.Security_Code}}">
                </div>
                <div fxLayout="column" class="pd-l-10-f">
                  <div class="tx-14-f color1 tx-bold cursor-f" (click)="getStockInfopage(element.COMPANY,element.Security_Code)" >{{element.Security_Code}}</div>
                  <div class="tx-12-f tx-semibold ">
                    {{element.COMPANY}}
                  </div>
                </div>
              </div>  
            </td> 
          </ng-container>
          <ng-container matColumnDef="CURR_QTY">
            <th mat-header-cell *matHeaderCellDef  mat-sort-header class="width-200-f width-lg-150-f width-md-100-f" >Qty</th>
            <td mat-cell *matCellDef="let element"> {{element.CURR_QTY|number:'1.0-0':symbol}} </td>
          </ng-container>
          <ng-container matColumnDef="VALUE_COST">
            <th mat-header-cell *matHeaderCellDef  mat-sort-header class="width-200-f width-lg-150-f width-md-100-f"><span>Investment Amount (<span  class="currencySymbolFont">{{currencysymbol}}</span>)</span></th>
            <td mat-cell *matCellDef="let element">{{element.VALUE_COST|number:'1.0-0':symbol }} </td>
          </ng-container>
          <ng-container matColumnDef="VALUE_MKT_PRICE" class="width-200-f width-lg-150-f width-md-100-f">
            <th mat-header-cell *matHeaderCellDef mat-sort-header ><span>Current Market Value (<span  class="currencySymbolFont">{{currencysymbol}}</span>)</span></th>
            <td mat-cell *matCellDef="let element">{{element.VALUE_MKT_PRICE|number:'1.0-0':symbol}} </td>
          </ng-container>
          <ng-container matColumnDef="PCT_CHG">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="width-200-f width-lg-150-f width-md-100-f">%Gain/Loss</th>
            <td mat-cell *matCellDef="let element"  class="tx-semibold" [style.color]="element.PCT_CHG>=0? '#136F63 !important'  :'#F52A4C !important' "> {{element.PCT_CHG|percent:'1.1'}} </td>
          </ng-container>
          <ng-container matColumnDef="Profit_Loss">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="width-200-f width-lg-150-f width-md-100-f"><span>Profit/Loss (<span  class="currencySymbolFont">{{currencysymbol}}</span>)</span></th>
            <td mat-cell *matCellDef="let element"  class="tx-semibold" [style.color]="element.Profit_Loss>=0? '#136F63 !important'  :'#F52A4C !important' ">{{element.Profit_Loss|number:'1.0-0':symbol }} </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="['Security_Code','CURR_QTY','VALUE_COST','VALUE_MKT_PRICE','PCT_CHG','Profit_Loss'];sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: ['Security_Code','CURR_QTY','VALUE_COST','VALUE_MKT_PRICE','PCT_CHG','Profit_Loss'];"></tr>
        </table>
      </cdk-virtual-scroll-viewport>
    </section>
    <section class="section-7">
      <h2 class="tx-sn-16-f tx-18-f color1 tx-semibold">72PI Model Portfolio Transactions</h2>
      <cdk-virtual-scroll-viewport [itemSize]="30" class="mg-t-20-f">
        <table mat-table #table [dataSource]="transactions" matSort   class="ourperformance" matSortDisableClear (matSortChange)="sortData($event,'transactions')">
          <ng-container matColumnDef="Security_Code" sticky >
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="left-align-header">Company</th>
            <td mat-cell *matCellDef="let element" class="left-align-header">
              <div fxLayout="row">
                <div fxLayoutAlign="start start">
                  <img class="symbol-logo" src="{{element.IMGURL}}" alt="{{element.Security_Code}}">
                </div>
                <div fxLayout="column" class="pd-l-10-f">
                  <div class="tx-14-f color1 tx-bold cursor-f" (click)="getStockInfopage(element.SECDESCRIPTION,element.Security_Code)" >{{element.Security_Code}}</div>
                  <div class="tx-12-f tx-semibold ">
                    {{element.SECDESCRIPTION }}
                  </div>
                </div>
              </div>
            </td> 
          </ng-container>
          <ng-container matColumnDef="QUANTITY">
            <th mat-header-cell *matHeaderCellDef  mat-sort-header  >Qty</th>
            <td mat-cell *matCellDef="let element"> {{element.QUANTITY|number:'1.0-0':symbol}} </td>
          </ng-container>
          <ng-container matColumnDef="TRADEDATE">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="width-200-f width-lg-150-f width-md-100-f  left-align-header" >Date</th>
            <td mat-cell *matCellDef="let element" class="left-align-header"> {{element.TRADEDATE | date: 'dd-MMM-yyyy' }} </td>
          </ng-container>
          <ng-container matColumnDef="ACTION">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="width-200-f  width-lg-150-f width-md-100-f left-align-header" >Action</th>
            <td mat-cell *matCellDef="let element" class="tx-semibold left-align-header" [style.color]="element.ACTION=='Buy' ? '#136F63 !important'  :'#F52A4C !important' ">{{element.ACTION}} </td>
          </ng-container>
          <ng-container matColumnDef="PRICE">
            <th mat-header-cell *matHeaderCellDef  mat-sort-header class="width-200-f width-lg-150-f width-md-100-f "><span>Transaction Price (<span  class="currencySymbolFont">{{currencysymbol}}</span>)</span></th>
            <td mat-cell *matCellDef="let element" >{{element.PRICE|number:'1.0-0':symbol}} </td>
          </ng-container>
          <ng-container matColumnDef="NETMONEY"> 
            <th mat-header-cell *matHeaderCellDef mat-sort-header   class="width-200-f  width-lg-150-f width-md-100-f"><span>Value Cost (<span  class="currencySymbolFont">{{currencysymbol}}</span>)</span></th>
            <td mat-cell *matCellDef="let element">{{element.NETMONEY|number:'1.0-0':symbol}} </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="['Security_Code','TRADEDATE','ACTION','QUANTITY','PRICE','NETMONEY'];sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: ['Security_Code','TRADEDATE','ACTION','QUANTITY','PRICE','NETMONEY'];"></tr>
        </table>
      </cdk-virtual-scroll-viewport>
    </section>
  </div>
</main>