
<mat-dialog-title>
  <h3 class='sub-title-text tx-xl-16-f tx-lg-16-f tx-md-16-f tx-sm-14-f tx-xs-14-f'>Create Portfolio</h3>
</mat-dialog-title>
<mat-dialog-content class='mg-t-10-f save-portifolio'>
  <div fxLayout="row wrap" fxLayoutAlign="start start">
    <div fxFlex='100%' class='pd-xs-r-0-f'>
      <mat-label class='tx-14-f tx-semibold pd-r-10-f tx-right' fxLayoutAlign="center center">Portfolio Name:</mat-label>
      <input fxFlex='50%' pInputText  [disabled]='disableInput' placeholder="Portfolio Name" type='text' [(ngModel)]="data.PortfolioName">
    </div>
    <div fxFlex='100%' class="tx-center pd-y-10-f" *ngIf='displaySelect == true'>
      (OR)
    </div>
    <div fxFlex="100%" fxFlex.sm="100%" fxFlex.xs="100%" *ngIf='displaySelect == true'>
      <mat-label class='tx-14-f tx-semibold pd-r-10-f tx-right' fxLayoutAlign="center center"> Select Portfolio:</mat-label>
      <p-dropdown [disabled] = 'data.PortfolioName != null' fxFlex='50%' [options]="portfolioList" (onChange)='portifoliochange()' [(ngModel)]="data.selectedValue" optionLabel="portfolio_value" [showClear]="false" placeholder="Select Portfolio"></p-dropdown>
    </div>
  </div>
  <div class='mg-y-20-f'>
    Default Investiment Amount: <b><span class='currencySymbolFont'>{{data.currency}}</span> {{data.defaultInvest}} </b>
  </div>
  <mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-description>
          Click here to view Portfolio details
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div fxLayout="row wrap" fxLayoutAlign="start start">
        <div fxFlex="50%" fxFlex.sm="100%" fxFlex.xs="100%" class=' pd-r-10'>
          <table mat-table [dataSource]="data.quantSectorWiseStocks" class="mat-elevation-z8 wizardTableInfo">
            <ng-container [matColumnDef]="col" *ngFor="let col of data.displayedSectorWiseColumns;">
              <mat-header-cell *matHeaderCellDef>{{col}}</mat-header-cell>
              <mat-cell *matCellDef="let element">
                <div>{{element[col]}}</div>
              </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="data.displayedSectorWiseColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: data.displayedSectorWiseColumns;"></mat-row>
          </table>
        </div>
        <div fxFlex="50%" fxFlex.sm="100%" fxFlex.xs="100%" class=' pd-r-10'>
          <table mat-table [dataSource]="data.qunatMarketCapWiseStocks" class="mat-elevation-z8 wizardTableInfo">
            <ng-container [matColumnDef]="col" *ngFor="let col of data.displayedCapWiseColumns;">
              <mat-header-cell *matHeaderCellDef>{{col}}</mat-header-cell>
              <mat-cell *matCellDef="let element">
                <div>{{element[col]}}</div>
              </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="data.displayedCapWiseColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: data.displayedCapWiseColumns;"></mat-row>
          </table>
          <div class='tx-bold pd-t-10'>Total Stocks: 500</div>
          <div class='pd-t-10'>Default Invest :<mat-form-field appearance="outline">
              <input matInput placeholder="Invest" type="number" app [(ngModel)]="data.defaultInvest">
            </mat-form-field>
          </div>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</mat-dialog-content>
<mat-dialog-actions align='end'>
  <button mat-flat-button (click)="onNoClick()" class='noThanks' cdkFocusInitial>No Thanks</button>
  <button mat-flat-button (click)='saveMyPortfolio()' class='Apply' type="submit" [disabled]="!disableInput && !data.PortfolioName"
    [mat-dialog-close]="data">Create</button>
</mat-dialog-actions>