<mat-dialog-title>
  <h2 class='sub-title-text tx-xl-16-f tx-lg-16-f tx-md-16-f tx-sm-14-f tx-xs-14-f'>Select Technical Wizard Filters</h2>
</mat-dialog-title>
<mat-dialog-content>
  <mat-radio-group aria-label="Select an option" (change)="select($event.value)">
    <div class='pd-10 default'>
      <mat-radio-button value="1" checked=true>
        Default Filters (Recommended)
      </mat-radio-button>
      <p>Technical wizard will be applied with the following default filters</p>
      <div fxLayout="row wrap" *ngIf='DefaultFilters==true' fxLayoutAlign="start start">
        <div fxFlex="50%" fxFlex.sm="40%" fxFlex.xs="40%" class='pd-t-7'>
          Relative Strength Index (RSI) >=
        </div>
        <div fxFlex="50%" fxFlex.sm="60%" fxFlex.xs="60%">
          <mat-form-field appearance="outline">
            <input type="number" matInput placeholder="Enter Some Value" [(ngModel)]="data.RSI" readonly>
          </mat-form-field>
        </div>
        <div fxFlex="50%" fxFlex.sm="40%" fxFlex.xs="40%" class='pd-t-7'>
          Current Price ></div>
        <div fxFlex="50%" fxFlex.sm="60%" fxFlex.xs="60%">
          <mat-form-field appearance="outline">
            <input type="number" matInput placeholder="Enter Some Value" [(ngModel)]="data.CurrentPrice" readonly>
          </mat-form-field> % of 52 week high
        </div>
        <mat-checkbox class="example-margin" color='primary' [(ngModel)]="data.MovingAvg">(9-Day Moving Average) MA9 >
          (26-Day Moving Average) MA26</mat-checkbox>
      </div>
    </div>
    <div class='pd-10 default'>

      <mat-radio-button value="2">Custom Filters</mat-radio-button>
      <p>Choose your own filters to apply for fundamental wizard</p>
      <div class="form-horizontal" [formGroup]="editorForm" *ngIf='CustomFilters==true'>
        <div class='tx-center'><span *ngIf="editorForm.get('notification')?.errors?.atLeastOneRequired"
            style="color: #F52A4C;" class='tex-center'>
            {{editorForm.get('notification')?.errors?.atLeastOneRequired.text}}</span>
          <span *ngIf="editorForm.get('notification')?.errors?.RSIValidationRequired" style="color: #F52A4C;"
            class='tex-center'>
            {{editorForm.get('notification')?.errors?.RSIValidationRequired.text}}</span>
          <span *ngIf="editorForm.get('notification')?.errors?.CurrentPriceValidationRequired" style="color: #F52A4C;"
            class='tex-center'>
            {{editorForm.get('notification')?.errors?.CurrentPriceValidationRequired.text}}</span>
        </div>
        <div formGroupName="notification" fxLayout="row wrap" fxLayoutAlign="start start">
          <div fxFlex="50%" fxFlex.sm="50%" fxFlex.xs="50%" class='pd-t-7'>
            Relative Strength Index (RSI) >=
          </div>
          <div fxFlex="50%" fxFlex.sm="50%" fxFlex.xs="50%">
            <mat-form-field appearance="outline">
              <input min="0" max='100' oninput="validity.valid||(value='');" step="0.01" type="number" id="RSIInput"
                matInput formControlName="RSI" placeholder="Enter Some Value(0-100)" [(ngModel)]="data.RSI">
            </mat-form-field>
          </div>
          <div fxFlex="50%" fxFlex.sm="50%" fxFlex.xs="50%" class='pd-t-7'>
            Current Price ></div>
          <div fxFlex="40%" fxFlex.sm="40%" fxFlex.xs="40%">
            <mat-form-field appearance="outline">
              <input min="0" max='100' oninput="validity.valid||(value='');" step="0.01" type="number"
                id="CurrentPriceInput" matInput formControlName="CurrentPrice" placeholder="Enter Some Value(0-100)"
                [(ngModel)]="data.CurrentPrice">
            </mat-form-field>% of 52 week high
          </div>
          <mat-checkbox id="MovingAvgInput" formControlName="MovingAvg" class="example-margin" color='primary'
            [(ngModel)]="data.MovingAvg">(9-Day Moving Average) MA9 > (26-Day Moving Average) MA26</mat-checkbox>
        </div>
      </div> 
    </div>
    <div class='pd-10 default'>
      <mat-radio-button value="3">Select All</mat-radio-button>
      <p>Technical wizard will be applied for all the fundamental stocks</p>
    </div>
  </mat-radio-group>
</mat-dialog-content>
<mat-dialog-actions align='end'>
  <button mat-flat-button [mat-dialog-close]='data' class='noThanks' cdkFocusInitial>No Thanks</button>
  <button mat-flat-button class='Apply' [disabled]="CustomFilters && customFilterApply"
    [mat-dialog-close]='data'>Apply</button>
</mat-dialog-actions>