<div *ngIf="errorFlag" class="mg-t-100-f">
  <app-page401 *ngIf="errorMsg=='401'"></app-page401>
  <app-page402 *ngIf="errorMsg=='402'"></app-page402>
  <app-page403 *ngIf="errorMsg=='403'"></app-page403>
  <app-page404 *ngIf="errorMsg=='404'"></app-page404>
  <app-page405 *ngIf="errorMsg=='405'"></app-page405>
  <app-page406 *ngIf="errorMsg=='406'"></app-page406>
  <app-page412 *ngIf="errorMsg=='412'"></app-page412>
  <app-page500 *ngIf="errorMsg=='500'"></app-page500>
  <app-page501 *ngIf="errorMsg=='501'"></app-page501>
  <app-page502 *ngIf="errorMsg=='502'"></app-page502>
</div>
<main class='mg-t-100-f wizard-main'  *ngIf="contentFlag">
  <div class='container pd-y-60-f'>
    <div class="se-pre-con" *ngIf="loading"></div>
    <h1 class="tw tx-xs-28-f tx-sm-30-f tx-md-32-f tx-lg-36-f tx-xl-36-f tx-bold lh-1 title-text">Portfolio Wizard</h1>
    <div class='se-pre-con-div' *ngIf='divloading'></div>
    <mat-horizontal-stepper labelPosition="bottom" linear #stepper [@.disabled]="true"
      (selectionChange)="wizard($event.selectedIndex)">
      <mat-step *ngFor='let data of wizardData;let i = index'>
        <ng-template matStepLabel>{{data}}<div class='tx-semibold'>{{Heading[i]}}</div>
        </ng-template>
        <div class='mg-t-10-f mg-b-20-f tx-right'>
          <button mat-raised-button (click)="stepper.reset()" (click)='resetOnStartOver()' *ngIf='startOver == true'
            class='startOver pd-x-5-f mg-r-10-f tx-14-f'>Start Over</button>
          <button mat-raised-button *ngIf='nextHide == true && fundamentalCount!=0 && technicalCount!=0'
            class='tx-14-f Next pd-x-5-f' matStepperNext>Next</button>
          <button mat-raised-button *ngIf='fourthWizard == true' class='tx-14-f pd-x-5-f savePortfolio'
            (click)="openDialogSavePortfolio()">Save Portfolio</button>
        </div>
        <div fxLayout="row wrap" fxLayoutAlign="stretch">
          <div fxFlex="20%" fxFlex.sm="100%" fxFlex.xs="100%" class='wizard1 pd-r-10'>
            <mat-card [ngClass]="{'wizardHighlight': firstHighlight}">
              <mat-cart-title class="mg-b-5-f">
                <ng-select class="wizardNgSelect" [clearable]='false' [disabled]="firstWizard"
                  [(ngModel)]="selectedValue" [items]="indices" bindLabel="indices" bindValue="dbValue"
                  (change)="onIndexSelectionChange($event)">
                </ng-select>
              </mat-cart-title>
              <mat-card-content>
                <table mat-table [dataSource]="sectorWiseStocks" class="mat-elevation-z8 wizardTableInfo mg-t-2-f">
                  <ng-container [matColumnDef]="col" *ngFor="let col of displayedSectorWiseColumns;">
                    <th mat-header-cell *matHeaderCellDef class='tx-12-f tx-lg-12-f tx-md-12-f tx-sm-14-f tx-xs-13-f'>
                      {{col}} </th>
                    <td mat-cell *matCellDef="let element" class='tx-12-f tx-lg-12-f tx-md-12-f tx-sm-14-f tx-xs-13-f'>
                      <div>{{element[col]}}</div>
                    </td>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="displayedSectorWiseColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedSectorWiseColumns;"></tr>
                </table>
              </mat-card-content>
              <mat-card-actions>
                <table mat-table [dataSource]="marketCapWiseStocks" class="mat-elevation-z8 wizardTableInfo ">
                  <ng-container [matColumnDef]="col" *ngFor="let col of displayedCapWiseColumns;">
                    <th mat-header-cell *matHeaderCellDef class='tx-12-f tx-lg-12-f tx-md-12-f tx-sm-14-f tx-xs-13-f'>
                      {{col}} </th>
                    <td mat-cell *matCellDef="let element" class='tx-12-f tx-lg-12-f tx-md-12-f tx-sm-14-f tx-xs-13-f'>
                      <div>{{element[col]}}</div>
                    </td>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="displayedCapWiseColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedCapWiseColumns;"></tr>
                </table>
              </mat-card-actions>
            </mat-card>
            <div fxLayoutAlign="end end">
              <button mat-button class='dialogButton' [disabled]="firstWizard"
                (click)="openDialogFundamental()">Fundamental<span class="material-icons">settings</span></button>
            </div>
          </div>
          <div fxFlex="20%" fxFlex.sm="100%" fxFlex.xs="100%" *ngIf='firstWizard==true' class='wizard1 pd-r-10'>
            <mat-card [ngClass]="{'wizardHighlight': secondHighlight}">
              <mat-cart-title class="mg-b-5-f">
                <div class='tx-semibold pd-t-10'>Total Stocks: {{fundamentalCount}}</div>
              </mat-cart-title>
              <mat-card-content>
                <table mat-table [dataSource]="fundamentalSectorWiseStocks"
                  class="mat-elevation-z8 wizardTableInfo mg-t-10-f">
                  <ng-container [matColumnDef]="col" *ngFor="let col of displayedSectorWiseColumns;">
                    <th mat-header-cell *matHeaderCellDef class='tx-12-f tx-lg-12-f tx-md-12-f tx-sm-14-f tx-xs-13-f'>
                      {{col}} </th>
                    <td mat-cell *matCellDef="let element" class='tx-12-f tx-lg-12-f tx-md-12-f tx-sm-14-f tx-xs-13-f'>
                      <div>{{element[col]}}</div>
                    </td>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="displayedSectorWiseColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedSectorWiseColumns;"></tr>
                </table>

              </mat-card-content>
              <mat-card-actions>
                <table mat-table [dataSource]="fundamentalMarketCapWiseStocks" class="mat-elevation-z8 wizardTableInfo">
                  <ng-container [matColumnDef]="col" *ngFor="let col of displayedCapWiseColumns;">
                    <th mat-header-cell *matHeaderCellDef class='tx-12-f tx-lg-12-f tx-md-12-f tx-sm-14-f tx-xs-13-f'>
                      {{col}} </th>
                    <td mat-cell *matCellDef="let element" class='tx-12-f tx-lg-12-f tx-md-12-f tx-sm-14-f tx-xs-13-f'>
                      <div>{{element[col]}}</div>
                    </td>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="displayedCapWiseColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedCapWiseColumns;"></tr>
                </table>
              </mat-card-actions>
            </mat-card>
            <div fxLayoutAlign="end end">
              <button mat-button class='dialogButton' [disabled]="secondWizard"
                (click)="openDialogTechnical()">Technical<span class="material-icons">settings</span></button>
            </div>
          </div>
          <div fxFlex="20%" fxFlex.sm="100%" fxFlex.xs="100%" *ngIf='secondWizard==true' class='wizard1 pd-r-10'>
            <mat-card [ngClass]="{'wizardHighlight': thirdHighlight}">
              <mat-cart-title class="mg-b-5-f">
                <div class='tx-semibold pd-t-10'>Total Stocks: {{technicalCount}}</div>
              </mat-cart-title>
              <mat-card-content>
                <table mat-table [dataSource]="technicalSectorWiseStocks"
                  class="mat-elevation-z8 wizardTableInfo mg-t-10-f">
                  <ng-container [matColumnDef]="col" *ngFor="let col of displayedSectorWiseColumns;">
                    <th mat-header-cell *matHeaderCellDef class='tx-12-f tx-lg-12-f tx-md-12-f tx-sm-14-f tx-xs-13-f'>
                      {{col}} </th>
                    <td mat-cell *matCellDef="let element" class='tx-12-f tx-lg-12-f tx-md-12-f tx-sm-14-f tx-xs-13-f'>
                      <div>{{element[col]}}</div>
                    </td>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="displayedSectorWiseColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedSectorWiseColumns;"></tr>
                </table>

              </mat-card-content>
              <mat-card-actions>
                <table mat-table [dataSource]="technicalMarketCapWiseStocks" class="mat-elevation-z8 wizardTableInfo">
                  <ng-container [matColumnDef]="col" *ngFor="let col of displayedCapWiseColumns;">
                    <th mat-header-cell *matHeaderCellDef class='tx-12-f tx-lg-12-f tx-md-12-f tx-sm-14-f tx-xs-13-f'>
                      {{col}} </th>
                    <td mat-cell *matCellDef="let element" class='tx-12-f tx-lg-12-f tx-md-12-f tx-sm-14-f tx-xs-13-f'>
                      <div>{{element[col]}}</div>
                    </td>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="displayedCapWiseColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedCapWiseColumns;"></tr>
                </table>
              </mat-card-actions>
            </mat-card>
            <div fxLayoutAlign="end end">
              <button mat-button class='dialogButton' [disabled]="ThirdWizard" (click)="openDialogQuant()">Quant<span
                  class="material-icons">settings</span></button>
            </div>
          </div>
          <div fxFlex="20%" fxFlex.sm="100%" fxFlex.xs="100%" *ngIf='ThirdWizard==true' class='wizard1 pd-r-10'>
            <mat-card [ngClass]="{'wizardHighlight': fourthHighlight}">
              <mat-cart-title class="mg-b-5-f">
                <div class='tx-semibold pd-t-10'>Total Stocks: {{quantCount}}</div>
              </mat-cart-title>
              <mat-card-content>
                <table mat-table [dataSource]="quantSectorWiseStocks"
                  class="mat-elevation-z8 wizardTableInfo mg-t-10-f">
                  <ng-container [matColumnDef]="col" *ngFor="let col of displayedSectorWiseColumns;">
                    <th mat-header-cell *matHeaderCellDef class='tx-12-f tx-lg-12-f tx-md-12-f tx-sm-14-f tx-xs-13-f'>
                      {{col}} </th>
                    <td mat-cell *matCellDef="let element" class='tx-12-f tx-lg-12-f tx-md-12-f tx-sm-14-f tx-xs-13-f'>
                      <div>{{element[col]}}</div>
                    </td>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="displayedSectorWiseColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedSectorWiseColumns;"></tr>
                </table>

              </mat-card-content>
              <mat-card-actions>
                <table mat-table [dataSource]="qunatMarketCapWiseStocks" class="mat-elevation-z8 wizardTableInfo ">
                  <ng-container [matColumnDef]="col" *ngFor="let col of displayedCapWiseColumns;">
                    <th mat-header-cell *matHeaderCellDef class='tx-12-f tx-lg-12-f tx-md-12-f tx-sm-14-f tx-xs-13-f'>
                      {{col}} </th>
                    <td mat-cell *matCellDef="let element" class='tx-12-f tx-lg-12-f tx-md-12-f tx-sm-14-f tx-xs-13-f'>
                      <div>{{element[col]}}</div>
                    </td>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="displayedCapWiseColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedCapWiseColumns;"></tr>
                </table>
              </mat-card-actions>
            </mat-card>
            <div class='tx-center'>
              Click <b>Next</b> to view summary of stocks
            </div>
          </div>
          <div fxFlex="20%" fxFlex.sm="100%" fxFlex.xs="100%" *ngIf='fourthWizard==true' class='wizard1 pd-r-10'>
            <mat-card [ngClass]="{'wizardHighlight': fifthHighlight}">
              <mat-cart-title class="mg-b-5-f">
                <div class='tx-semibold pd-t-10'>Total Stocks: {{finalCount}}</div>
              </mat-cart-title>
              <mat-card-content>
                <table mat-table [dataSource]="summarySectorWiseStocks"
                  class="mat-elevation-z8 wizardTableInfo mg-t-10-f">
                  <ng-container [matColumnDef]="col" *ngFor="let col of displayedSectorWiseColumns;">
                    <th mat-header-cell *matHeaderCellDef class='tx-12-f tx-lg-12-f tx-md-12-f tx-sm-14-f tx-xs-13-f'>
                      {{col}} </th>
                    <td mat-cell *matCellDef="let element" class='tx-12-f tx-lg-12-f tx-md-12-f tx-sm-14-f tx-xs-13-f'>
                      <div>{{element[col]}}</div>
                    </td>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="displayedSectorWiseColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedSectorWiseColumns;"></tr>
                </table>
              </mat-card-content>
              <mat-card-actions>
                <table mat-table [dataSource]="summaryMarketCapWiseStocks" class="mat-elevation-z8 wizardTableInfo">
                  <ng-container [matColumnDef]="col" *ngFor="let col of displayedCapWiseColumns;">
                    <th mat-header-cell *matHeaderCellDef class='tx-12-f tx-lg-12-f tx-md-12-f tx-sm-14-f tx-xs-13-f'>
                      {{col}} </th>
                    <td mat-cell *matCellDef="let element" class='tx-12-f tx-lg-12-f tx-md-12-f tx-sm-14-f tx-xs-13-f'>
                      <div>{{element[col]}}</div>
                    </td>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="displayedCapWiseColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedCapWiseColumns;"></tr>
                </table>
              </mat-card-actions>
            </mat-card>
          </div>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
    <p-dialog [(visible)]="display" [showHeader]="false">
      <div class='tx-14-f tx-justify noStocks red-color'> No stocks found with the filters please change the filters and
        try again</div>
    </p-dialog>
    <div *ngIf='fourthWizard==false' class='tx-14-f mg-t-20-f'>
      <cdk-virtual-scroll-viewport [itemSize]="30">
        <table mat-table matSort [dataSource]="stockDatasource" class="wizardSummaryTable" matSortDisableClear
          (matSortChange)="sortData($event,'stockDatasource')">
          <ng-container [matColumnDef]="column" *ngFor="let column of displayedWizardColumns">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class='tx-14-f'
              [ngClass]="{'left-align-header': column === 'Security_Code' ||column === 'Sector' || column === 'Market Cap Category'}">
              <div *ngIf="column === 'Security_Code'">Company</div>
              <div *ngIf="!(column === 'Security_Code')&& (column ===  'Market Cap' || column ==='Price')"> {{column}}
                (<span class="currencySymbolFont">{{currencysymbol}}</span>)</div>
              <div
                *ngIf="!(column === 'Security_Code' || column ===  'Market Cap' || column ==='Price') && (column === 'Sector' || column === 'Market Cap Category') ">
                {{column}}</div>
            </th>
            <td mat-cell *matCellDef="let element" class='tx-14-f'
              [ngClass]="{'left-align-header': column === 'Security_Code' ||column === 'Sector' || column === 'Market Cap Category'}">
              <!-- {{element[column]}} -->
              <div fxLayout="row" *ngIf='column ==  "Security_Code"'>
                <div fxLayoutAlign="start start">
                  <img class="symbol-logo" src="{{element.IMGURL}}" alt="{{element.Security_Code}}">
                </div>
                <div fxLayout="column" class="pd-l-10-f">
                  <div class="tx-14-f color1 tx-bold cursor-f"
                    (click)="getStockInfopage(element.Company,element.Security_Code)">{{element.Security_Code}}</div>
                  <div class="tx-12-f tx-semibold ">
                    {{element.Company}}
                  </div>
                </div>
              </div>
              <div *ngIf='(column == "Market Cap" || column == "Price")'>
                {{element[column] | number:'1.0-0':symbol}}</div>
              <div *ngIf='(column != "Market Cap" && column != "Price" && column != "Security_Code")'>
                {{element[column]}}
              </div>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedWizardColumns;sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedWizardColumns;"></tr>
        </table>
      </cdk-virtual-scroll-viewport>
    </div>
    <!-- Summary Start -->
    <div *ngIf='fourthWizard==true' class='mg-t-20-f'>
      <h2 class='sub-title-text tx-xl-16-f tx-lg-16-f tx-md-16-f tx-sm-14-f tx-xs-14-f tx-center-f tx-semibold'>
        Portfolio Profile</h2>
      <table mat-table [dataSource]="PortfolioProfileDataSource" class="normalTableWithText">
        <ng-container [matColumnDef]="col" *ngFor="let col of PortfolioProfileColumns">
          <th mat-header-cell *matHeaderCellDef class='tx-14-f'> {{ col }} </th>
          <td mat-cell *matCellDef="let element" class='tx-14-f'>
            {{element[col]}}
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="PortfolioProfileColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: PortfolioProfileColumns;"></tr>
      </table>
      <h2 class='sub-title-text tx-xl-16-f tx-lg-16-f tx-md-16-f tx-sm-14-f tx-xs-14-f tx-center-f tx-semibold'>
        Cumulative Returns</h2>
      <div [chart]="output_cumulative_return"></div>
      <h2 class='sub-title-text tx-xl-16-f tx-lg-16-f tx-md-16-f tx-sm-14-f tx-xs-14-f tx-center-f tx-semibold'>
        Performance Metrics</h2>
      <table mat-table [dataSource]="PerformanceMetricsDataSource" class="normalTableWithText">
        <ng-container [matColumnDef]="col" *ngFor="let col of PerformanceMetricsColumns">
          <th mat-header-cell *matHeaderCellDef
            class='tx-14-f width-200-f width-lg-180-f width-md-120-f width-sm-100-f'> {{ col }} </th>
          <td mat-cell *matCellDef="let element" class='tx-14-f'>
            <div *ngIf='col == "Metric/Portfolio" || col == "Sharpe"'>{{element[col]}}</div>
            <div *ngIf='col != "Metric/Portfolio" && col != "Sharpe"'>{{element[col]}}%</div> 
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="PerformanceMetricsColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: PerformanceMetricsColumns;"></tr>
      </table>
      <div class='pd-t-10' fxLayout="row wrap" fxLayoutAlign="start start">
        <div fxFlex="60%" fxFlex.sm="100%" fxFlex.xs="100%" class=' pd-r-10'>
          <h2 class='sub-title-text tx-xl-16-f tx-lg-16-f tx-md-16-f tx-sm-14-f tx-xs-14-f tx-center-f tx-semibold'>Top
            10 Holdings</h2>
          <cdk-virtual-scroll-viewport [itemSize]="30">
            <table mat-table matSort [dataSource]="Top10HoldingsDataSource" matSortDisableClear
              (matSortChange)="sortData($event,'Top10HoldingsDataSource')">
              <ng-container [matColumnDef]="col" *ngFor="let col of Top10HoldingsColumns">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class='tx-14-f'
                  [ngClass]="{'left-align-header': col === 'Company' }">
                  <div *ngIf="col === 'Company'">Company</div>
                  <div *ngIf="!(col === 'Company')&& (col ===  'Investment Amount' || col ==='Annual_Return')"> {{col}}
                    (<span class="currencySymbolFont">{{currencysymbol}}</span>)</div>
                  <div *ngIf="col === 'Annual Return'">{{col}}</div>
                </th>
                <td mat-cell *matCellDef="let element" class='tx-14-f'
                  [ngClass]="{'left-align-header': col === 'Company'}">
                  <div fxLayout="row" *ngIf='col ==  "Company"'>
                    <div fxLayoutAlign="start start">
                      <img class="symbol-logo" src="{{element.IMGURL}}" alt="{{element.Security_Code}}">
                    </div>
                    <div fxLayout="column" class="pd-l-10-f">
                      <div class="tx-14-f color1 tx-bold cursor-f"
                        (click)="getStockInfopage(element.Company,element.Security_Code)">{{element.Security_Code}}
                      </div>
                      <div class="tx-12-f tx-semibold ">
                        {{element.Company}}
                      </div>
                    </div>
                  </div>
                  <div *ngIf='!(col ==  "Company")'>
                    <div *ngIf='(col ==  "Investment Amount") || col == "Annual_Return"' class='pd-r-10-f'>
                      {{element[col] | number:'1.0-0':symbol}}</div>
                    <div *ngIf='( col == "Annual Return")' class='pd-r-10-f'>{{element[col]}}%</div>
                  </div>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="Top10HoldingsColumns;sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: Top10HoldingsColumns;"></tr>
            </table>
          </cdk-virtual-scroll-viewport>
        </div>
        <div fxFlex="40%" fxFlex.sm="100%" fxFlex.xs="100%" class=' pd-r-10'>
          <h2 class='sub-title-text tx-xl-16-f tx-lg-16-f tx-md-16-f tx-sm-14-f tx-xs-14-f tx-center-f tx-semibold'>
            Portfolio Investment Amount By Sector</h2>
          <div [chart]="pieChart1"></div>
        </div>
      </div>
    </div>
    <!-- Summary End -->
  </div>
</main>
<!-- {{stockList|json}} -->