::ng-deep {
  .mat-form-field-underline {
    width: 0px !important;
  }
  .mat-select-arrow {
    margin-top: 10px !important;
  }
  .mat-horizontal-stepper-header {
    pointer-events: none !important;
  }
  .mat-step-header {
    &::ng-deep {
      .mat-step-icon-selected {
        background-color: #002060 !important;
      }
      .mat-step-icon-state-done {
        background-color: #002060 !important;
      }
      .mat-step-label.mat-step-label-active {
        color: #136f63 !important;
      }
      .cdk-keyboard-focused {
        background-color: white;
      }
    }
    &:hover {
      background-color: white;
    }
  }
  .wizard-main {
    .material-icons {
      font-size: 15px !important;
    }
  }
  .mat-dialog-content {
    overflow: revert !important;
    max-height: 500 !important;
  }
  .mat-radio-button {
    font-weight: 600 !important;
  }
  .mat-radio-button.mat-accent {
    &::ng-deep {
      .mat-radio-ripple {
        &::ng-deep {
          .mat-ripple-element {
            background-color: #3f51b5 !important;
          }
        }
      }
      .mat-radio-inner-circle {
        background-color: #3f51b5 !important;
      }
    }
  }
  .mat-radio-button.mat-accent.mat-radio-checked {
    &::ng-deep {
      .mat-radio-outer-circle {
        border-color: #3f51b5 !important;
      }
    }
  }
  .default.mat-radio-checked {
    border: 1px solid rgba(0, 0, 0, 0.12);
  }
  .wizard-sort-table[_ngcontent-kgb-c350] {
    position: relative;
    max-height: 200px;
    overflow: auto;
  }
  .mat-stepper-label-position-bottom {
    &::ng-deep {
      .mat-horizontal-stepper-header {
        &::ng-deep.mat-step-label {
          padding-top: 5px !important;
        }
        padding: 20px 20px !important;
      }
    }
  }
  .mat-vertical-stepper-header {
    padding: 20px 20px !important;
  }
  .mat-expansion-panel-body {
    padding: 0px !important;
  }
  .mat-step-header.cdk-program-focused {
    background-color: white;
  }
  .highcharts-title {
    font-size: 0px !important;
  }
  .ng-select.ng-select-opened {
    &::ng-deep {
      .ng-select-container {
        z-index: 0 !important;
      }
    }
  }
  .mat-stepper-horizontal {
    background-color: transparent !important;
  }
  .mat-stepper-vertical {
    background-color: transparent !important;
  }
  .mat-form-field-appearance-fill {
    .mat-form-field-flex {
      padding: 0px 16px !important;
    }
  }
}
.SavePortfolio {
  &::ng-deep {
    .mat-form-field-appearance-fill {
      &::ng-deep {
        .mat-form-field-flex {
          border-radius: 5px !important;
          padding: 0 0.75em !important;
          border: 1px solid rgba(0, 0, 0, 0.12) !important;
        }
        .mat-form-field-infix {
          padding: 0 0 2px 0 !important;
        }
      }
    }
  }
}
.mat-dialog-content {
  &::ng-deep {
    .mat-form-field-appearance-fill {
      &::ng-deep {
        .mat-form-field-infix {
          padding: 0 0 2px 0 !important;
        }
      }
    }
    .mat-form-field-appearance-outline {
      &::ng-deep {
        .mat-form-field-infix {
          padding: 0px 0px 10px 0px !important;
        }
      }
    }
  }
}
::ng-deep.mat-step-header {
  &::ng-deep {
    .mat-step-icon-state-edit {
      background-color: #002060 !important;
    }
  }
}
.stepperIcon {
  font-size: 30px !important;
  vertical-align: middle !important;
}
.mat-elevation-z8 {
  box-shadow: none;
}
.mat-card {
  padding: 10px !important;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.default {
  font-size: 13px;
  max-width: 100%;
  width: 100%;
  display: inline-block;
}
.dialogButton {
  cursor: pointer;
}
.wizard-main {
  .material-icons {
    vertical-align: text-top;
    margin-left: 3px;
  }
  &::ng-deep {
    .p-dialog {
      width: 20rem !important;
      padding: 0px !important;
      &::ng-deep {
        .p-dialog-header {
          padding: 0.5rem !important;
        }
      }
    }
    .p-dialog-header {
      justify-content: flex-end !important;
    }
  }
}
.startOver {
  background-color: #126F63  !important;
  color: white !important;
  line-height: 30px;
}
.Next {
  background-color: #002060 !important;
  color: white !important;
  line-height: 30px;
}
.savePortfolio {
  background-color: #002060 !important;
  color: white !important;
  line-height: 30px;
}
.Apply {
  background-color: #002060 !important;
  color: white !important;
  line-height: 30px;
}
.noThanks {
  line-height: 30px !important;
}
.wizardHighlight {
  box-shadow: 0 11px 30px 0 #136F63 !important;
  // box-shadow: 2px 3px 10px 0px #136F63 !important;

}
.mat-expansion-panel {
  &:not([class*="mat-elevation-z"]) {
    box-shadow: none;
  }
}
.ng-select.wizardNgSelect {
  padding-bottom: 0px !important;
  padding-top: 5px !important;
  margin-top: 0px !important;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  padding-left: 10px !important;
  cursor: pointer !important;
  &::ng-deep {
    .ng-select-container {
      cursor: pointer !important;
      &::ng-deep {
        .ng-value-container {
          &::ng-deep {
            .ng-input {
              > input {
                cursor: pointer !important;
              }
            }
          }
        }
      }
    }
    .ng-dropdown-panel {
      z-index: 0 !important;
    }
  }
}
::ng-deep .wizard-main ng-select .ng-arrow-wrapper .ng-arrow {
  display: inline-block !important;
}
::ng-deep
  .wizard-main
  ng-select.ng-select-single
  .ng-select-container
  .ng-arrow-wrapper {
  bottom: 10px !important;
  right: 5px !important;
}
.wizardTableInfo tr.mat-row,
.wizardTableInfo tr.mat-header-row {
  height: 25px !important;
}
.wizardTableInfo .mat-cell:first-of-type,.wizardTableInfo .mat-header-cell:first-of-type,.wizardTableInfo .mat-footer-cell:first-of-type{
	text-align: left !important;
	justify-content: flex-start !important;
	padding-left: 10px !important;
}
.wizardTableInfo .mat-cell:last-of-type,.wizardTableInfo .mat-header-cell:last-of-type,.wizardTableInfo .mat-footer-cell:last-of-type{
	text-align: right !important;
	justify-content: flex-end !important;
	padding-left: 10px !important;
}
.wizardSummaryTable .mat-cell:nth-child(1) {
  min-width: 300px;
  max-width: 300px;
  word-wrap: break-word;
}

::ng-deep .save-portifolio .p-dropdown,::ng-deep .save-portifolio .p-inputtext,::ng-deep .save-portifolio .p-inputnumber{
	width: 100% !important;
  }
  .save-portifolio .mat-header-row , .save-portifolio .mat-row, .save-portifolio .mat-footer-row{
	  min-height: 30px !important;
  }
  .save-portifolio .mat-cell:last-of-type,.save-portifolio .mat-header-cell:last-of-type,.save-portifolio .mat-footer-cell:last-of-type{
	  text-align: right !important;
	  justify-content: flex-end !important;
	  padding-right: 10px !important;
  }
  .save-portifolio .mat-cell:first-of-type,.save-portifolio .mat-header-cell:first-of-type,.save-portifolio .mat-footer-cell:first-of-type{
	text-align: left !important;
	justify-content: flex-start !important;
	padding-left: 10px !important;
}
::ng-deep .mat-card-actions{
	margin: 0px 0px 0px 0px !important;
}