<mat-dialog-title>
  <h3 class='sub-title-text tx-xl-16-f tx-lg-16-f tx-md-16-f tx-sm-14-f tx-xs-14-f'>Select Fundamental Wizard Filters
  </h3>
</mat-dialog-title>
<mat-dialog-content>
  <mat-radio-group aria-label="Select an option" (change)="select($event.value)">
    <div class='pd-10 default' class='dialogBorderClass'>
      <mat-radio-button value="1" checked=true>
        Default Filters (Recommended)
      </mat-radio-button>
      <p>Fundamental wizard will be applied with the following default filters</p>
      <div fxLayout="row wrap" *ngIf='DefaultFilters==true' fxLayoutAlign="start start">
        <div fxFlex="40%" fxFlex.sm="40%" fxFlex.xs="40%" class='pd-t-7'>
          Piotroski Score >=
        </div>
        <div fxFlex="60%" fxFlex.sm="60%" fxFlex.xs="60%">
          <mat-form-field appearance="outline">
            <input matInput placeholder="Enter Some Value(1-9)" [(ngModel)]="data.pscore" min="1" readonly>
          </mat-form-field> %
        </div>
        <div fxFlex="40%" fxFlex.sm="40%" fxFlex.xs="40%" class='pd-t-7'>
          Div Yield >=</div>
        <div fxFlex="60%" fxFlex.sm="60%" fxFlex.xs="60%">
          <mat-form-field appearance="outline">
            <input matInput placeholder="Enter Some Value" [(ngModel)]="data.divyield" readonly>
          </mat-form-field> %
        </div>
        <div fxFlex="40%" fxFlex.sm="40%" fxFlex.xs="40%" class='pd-t-7'>
          ROE >=</div>
        <div fxFlex="60%" fxFlex.sm="60%" fxFlex.xs="60%">
          <mat-form-field appearance="outline">
            <input matInput placeholder="Enter Some Value" [(ngModel)]="data.roe" readonly>
          </mat-form-field> %
        </div>
      </div>
    </div>
    <div class='pd-10 default' class='dialogBorderClass'>
      <mat-radio-button value="2">Custom Filters</mat-radio-button>
      <p>Choose your own filters to apply for fundamental wizard</p>
      <div class="form-horizontal" [formGroup]="editorForm" *ngIf='CustomFilters==true'>
        <div class='tx-center'><span *ngIf="editorForm.get('notification')?.errors?.atLeastOneRequired"
            style="color: #F52A4C;" class='tex-center'>
            {{editorForm.get('notification')?.errors?.atLeastOneRequired.text}}</span>
          <span *ngIf="editorForm.get('notification')?.errors?.pscoreValidationRequired" style="color: #F52A4C;"
            class='tex-center'>
            {{editorForm.get('notification')?.errors?.pscoreValidationRequired.text}}</span>
          <span *ngIf="editorForm.get('notification')?.errors?.divYieldRequired" style="color: #F52A4C;"
            class='tex-center'>
            {{editorForm.get('notification')?.errors?.divYieldRequired.text}}</span>
        </div>
        <div formGroupName="notification" fxLayout="row wrap" fxLayoutAlign="start start">
          <div fxFlex="40%" fxFlex.sm="40%" fxFlex.xs="40%" class='pd-t-7'>
            Piotroski Score >=
          </div>
          <div fxFlex="60%" fxFlex.sm="60%" fxFlex.xs="60%">
            <mat-form-field appearance="outline">
              <input min="1" max="9" oninput="validity.valid||(value='');" type="number" id="pscoreInput"
                placeholder="Enter Some Value(1-9)" matInput formControlName="pscore" [(ngModel)]="data.pscore">
            </mat-form-field>
          </div>
          <div fxFlex="40%" fxFlex.sm="40%" fxFlex.xs="40%" class='pd-t-7'>
            Div Yield >=</div>
          <div fxFlex="60%" fxFlex.sm="60%" fxFlex.xs="60%">
            <mat-form-field appearance="outline">
              <input min="0" oninput="validity.valid||(value='');" step="0.01" type="number" matInput
                id="diveYieldInput" placeholder="Enter Some Value" formControlName="divYield"
                [(ngModel)]="data.divyield">
            </mat-form-field> %
          </div>
          <div fxFlex="40%" fxFlex.sm="40%" fxFlex.xs="40%" class='pd-t-7'>
            ROE >=</div>
          <div fxFlex="60%" fxFlex.sm="60%" fxFlex.xs="60%">
            <mat-form-field appearance="outline">
              <input oninput="validity.valid||(value='');" step="0.01" type="number" matInput id="roeInput"
                placeholder="Enter Some Value" formControlName="roe" [(ngModel)]="data.roe">
            </mat-form-field> %
          </div>
        </div>
      </div>
    </div>
    <div class='pd-10 default' class='dialogBorderClass'>
      <mat-radio-button value="3">Select All</mat-radio-button>
      <p>Fundamental wizard will be applied for all the <span>{{data.selectedValue}}</span> stocks</p>
    </div>
  </mat-radio-group>
</mat-dialog-content>
<mat-dialog-actions align='end'>
  <button mat-flat-button [mat-dialog-close]="data" class='noThanks' cdkFocusInitial>No Thanks</button>
  <button mat-flat-button class='Apply' type="submit" [disabled]="customFilterApply && CustomFilters"
    [mat-dialog-close]="data">Apply</button>
</mat-dialog-actions>