<mat-dialog-title>
    <h2 class='sub-title-text tx-xl-16-f tx-lg-16-f tx-md-16-f tx-sm-14-f tx-xs-14-f'>Select Quant Wizard Filters</h2>
</mat-dialog-title>
<mat-dialog-content>
    <mat-radio-group aria-label="Select an option" (change)="select($event.value)">
        <div class='pd-10 default'>
            <mat-radio-button value="1" checked=true>
                Default Filters (Recommended)
            </mat-radio-button>

            <p>Quant wizard will be applied with the following default filters</p>
            <div *ngIf='DefaultFilters==true'>Category : i). Mid Tier ii). Top Tier
            </div>
        </div>
        <div class='pd-10 default'>
            <mat-radio-button value="2">Custom Filters</mat-radio-button>
            <p>Choose your own filters to apply for Quant wizard</p>
            <div class="form-horizontal" [formGroup]="editorForm" *ngIf='CustomFilters==true'>
                <div class='tx-center'><span *ngIf="editorForm.get('notification')?.errors?.atLeastOneRequired"
                        style="color: #F52A4C;" class='tex-center'>
                        {{editorForm.get('notification')?.errors?.atLeastOneRequired.text}}</span>
                </div>
                <div formGroupName="notification" fxLayout="row wrap" fxLayoutAlign="start start">
                    <div fxFlex="50%" fxFlex.sm="50%" fxFlex.xs="50%" class='pd-t-7'>
                        Category :
                    </div>
                    <div fxFlex="50%" fxFlex.sm="50%" fxFlex.xs="50%">
                        <mat-checkbox id="BottomTierInput" formControlName="BottomTier" class="example-margin"
                            color='primary' [(ngModel)]="data.BottomTier">Bottom Tier</mat-checkbox>
                    </div>
                    <div fxFlex="50%" fxFlex.sm="50%" fxFlex.xs="50%" class='pd-t-7'>
                    </div>
                    <div fxFlex="50%" fxFlex.sm="50%" fxFlex.xs="50%">
                        <mat-checkbox id="MidTierInput" formControlName="MidTier" class="example-margin" color='primary'
                            [(ngModel)]="data.MidTier">Mid Tier</mat-checkbox>
                    </div>
                    <div fxFlex="50%" fxFlex.sm="50%" fxFlex.xs="50%" class='pd-t-7'>
                    </div>
                    <div fxFlex="50%" fxFlex.sm="50%" fxFlex.xs="50%">
                        <mat-checkbox id="TopTierInput" formControlName="TopTier" class="example-margin" color='primary'
                            [(ngModel)]="data.TopTier">Top Tier</mat-checkbox>
                    </div>
                </div>
            </div>
        </div>
        <div class='pd-10 default'>
            <mat-radio-button value="3">Select All</mat-radio-button>
            <p>Technical wizard will be applied for all the fundamental stocks</p>
        </div>

    </mat-radio-group>
</mat-dialog-content>
<mat-dialog-actions align='end'>
    <button mat-flat-button class='noThanks' [mat-dialog-close]='data' cdkFocusInitial>No Thanks</button>
    <button mat-flat-button class='Apply' [disabled]="customFilterApply && CustomFilters" [mat-dialog-close]='data'>Apply</button>
</mat-dialog-actions>