<div *ngIf="errorFlag" class="mg-t-100-f">
  <app-page401 *ngIf="errorMsg=='401'"></app-page401>
  <app-page402 *ngIf="errorMsg=='402'"></app-page402>
  <app-page403 *ngIf="errorMsg=='403'"></app-page403>
  <app-page404 *ngIf="errorMsg=='404'"></app-page404>
  <app-page405 *ngIf="errorMsg=='405'"></app-page405>
  <app-page406 *ngIf="errorMsg=='406'"></app-page406>
  <app-page412 *ngIf="errorMsg=='412'"></app-page412>
  <app-page500 *ngIf="errorMsg=='500'"></app-page500>
  <app-page501 *ngIf="errorMsg=='501'"></app-page501>
  <app-page502 *ngIf="errorMsg=='502'"></app-page502>
</div>
<main class="content mg-t-100-f modelPortfolioComponent" *ngIf="contentFlag">
  <div class="container pd-y-90-f">
    <div class="se-pre-con" *ngIf="loading"></div>
    <section class="section-1 modelPortfolioCard" id="Overview">
      <div fxLayout="row wrap" fxLayoutAlign="center center">
        <div fxFlex="50%" fxFlex.lt-sm="100%">
          <mat-list>
            <mat-list-item>
              <img mat-list-icon src="/assets/images/{{modelPortfolioName}}.png">
              <div mat-line class="tx-sm-16-f tx-18-f  lh-5 color1 tx-semibold">{{modelPortfolioName}}</div>
              <div mat-line class="tx-14-f pd-t-5-f lh-5 pcolor">{{Description}}</div>
              <div mat-line class="mg-t-10-f">
                <div class="tx-12-f risk pd-5-f tx-center with-icon">
                  <span  class="riskCircle mg-r-5-f"></span> Moderate Risk</div>
              </div>
            </mat-list-item>
          </mat-list>
        </div>
        <div fxFlex="22%" fxLayout="column" fxFlex.lt-sm="50%" class="mg-xs-t-10-f">
          <span class="tx-14 tx-semibold">12M Return</span>
          <b [style.color]="ttm_return > 0 ? 'green !important' : 'red !important'"
            class="pd-t-5">{{ttm_return | percent:'1.1'}}</b>
        </div>
        <div fxFlex="22%" fxLayout="column" fxFlex.lt-sm="50%" class="mg-xs-t-10-f">
          <span class="tx-14 tx-semibold">CAGR <span class="tx-12-f">(2018-2020)</span></span>
          <b [style.color]="cagr > 0 ? 'green !important' : 'red !important'"
            class="pd-t-5 ">{{cagr | percent:'1.1'}}</b>
        </div>
      </div>
    </section>
    <section class="section-2" id="stocks_weights">
      <cdk-virtual-scroll-viewport [itemSize]="10">
        <table  mat-table #table [dataSource]="dataSource"  matSort  class="modelPortfolioComponentTable" matSortDisableClear (matSortChange)="sortData($event,'dataSource')"  >        
          <ng-container matColumnDef="Security_Code" sticky>
            <th mat-header-cell  *matHeaderCellDef mat-sort-header  class="left-align-header" >Company</th>
             <td mat-cell *matCellDef="let element"  class="left-align-header" > 
              <div fxLayout="row">
                <div fxLayoutAlign="start start">
                  <img class="symbol-logo" src="{{element.IMGURL}}" alt="{{element.Security_Code}}">
                </div>
                <div fxLayout="column" class="pd-l-10-f">
                  <div class="tx-14-f color1 tx-semibold cursor-f" (click)="getStockInfopage(element.CompanyName,element.Security_Code)" >{{element.Security_Code}}</div>
                  <div class="tx-12-f tx-semibold ">
                    {{element.CompanyName }}
                  </div>
                </div>
              </div>
               </td> 
          </ng-container>              
          <ng-container matColumnDef="Sector">
            <th mat-header-cell  *matHeaderCellDef mat-sort-header  class="left-align-header">Sector Name </th>
             <td mat-cell *matCellDef="let element"  class="left-align-header"> {{element.Sector}}  </td>
          </ng-container>
          <ng-container matColumnDef="MarketCapCategory">
            <th mat-header-cell  *matHeaderCellDef mat-sort-header class="left-align-header" >Market Cap Category </th>
             <td mat-cell *matCellDef="let element" class="left-align-header"> {{element.MarketCapCategory}}  </td>
          </ng-container> class="left-align-header"
          <ng-container matColumnDef="Quantity">
            <th mat-header-cell  *matHeaderCellDef mat-sort-header   class="width-70-f ">Quantity </th>
             <td mat-cell *matCellDef="let element"> {{element.Quantity|number:'1.0-0':symbol}}  </td>
          </ng-container>
          <ng-container matColumnDef="Price">
            <th mat-header-cell  *matHeaderCellDef mat-sort-header  class="width-200-f width-lg-150-f width-md-100-f"><span>Current Stock Price (<span  class="currencySymbolFont">{{currencysymbol}}</span>)</span></th>
             <td mat-cell *matCellDef="let element">{{element.Price|number:'1.0-0':symbol}}  </td>
          </ng-container>
          <ng-container matColumnDef="Market_Value">
            <th mat-header-cell  *matHeaderCellDef mat-sort-header  class="width-200-f width-lg-150-f width-md-100-f"><span>Current Market Value (<span  class="currencySymbolFont">{{currencysymbol}}</span>)</span></th>
             <td mat-cell *matCellDef="let element">{{element.Market_Value|number:'1.0-0':symbol}}  </td>
          </ng-container>                       
          <ng-container matColumnDef="Exposure">
            <th mat-header-cell  *matHeaderCellDef mat-sort-header class="width-80">Exposure</th>
             <td mat-cell *matCellDef="let element"> {{element.Exposure|percent:'1.1'}}  </td>
          </ng-container>
           <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table> 
      </cdk-virtual-scroll-viewport>
    </section>
    <section class="section-3" id="Performance">
      <h2 class="tx-18-f   tx-semibold lh-3   mg-b-28-f color1">Monthly Performance</h2>
      <table mat-table #table [dataSource]="performanceTable" class="normalTableWithoutText">
        <ng-container [matColumnDef]="col" *ngFor="let col of displayPerfomanceTableColumns">
            <th mat-header-cell  *matHeaderCellDef> {{col}} </th>
                 <td mat-cell *matCellDef="let element">
                    <div *ngIf="col=='Year'">{{element[col]}}</div>      
                    <div  *ngIf="!(col=='Year')">{{element[col] |percent:'1.1' }}</div>           
                 </td>
        </ng-container>
       <tr mat-header-row *matHeaderRowDef="displayPerfomanceTableColumns;" [style.min-height]="0" ></tr>
      <tr mat-row *matRowDef="let row; columns: displayPerfomanceTableColumns;"></tr>
      </table>
      <section class="section-3-1 periodTabs">
        <mat-tab-group (selectedTabChange)="onChange($event)" [selectedIndex]="selectedIndex" animationDuration="0ms"
          class="mg-y-20-f">
          <mat-tab label="YTD"></mat-tab>
          <mat-tab label="12M"></mat-tab>
          <mat-tab label="2019"></mat-tab>
        </mat-tab-group>
        <div [chart]='cumulative_returns' class="mg-b-20-f"></div>
      </section>
      <section class="section-3-2">
        <h2 class="tx-sm-16-f tx-18-f    tx-semibold lh-3 mg-b-28-f color1">Risk Statistics</h2>
        <div fxLayout="row wrap" fxLayoutAlign="space-between stretch">
          <div fxFlex="49%" fxFlex.lt-md="100%" class="tables-div">
            <table mat-table #table [dataSource]="metricsTable1" class="normalTableWithText risk_statistics testtable">
              <ng-container [matColumnDef]="col" *ngFor="let col of displayTableColumns1">
                  <th mat-header-cell  *matHeaderCellDef> 
                    <div *ngIf="col=='Metric/Portfolio'"></div>      
                    <div  *ngIf="!(col=='Metric/Portfolio')" class="width-90-f">{{col}}</div>     
                   </th>
                       <td mat-cell *matCellDef="let element">
                          <div>{{element[col] }}</div>                 
                        </td>
                </ng-container>
             <tr mat-header-row *matHeaderRowDef="displayTableColumns1;" [style.min-height]="0" ></tr>
            <tr mat-row *matRowDef="let row; columns: displayTableColumns1;"></tr>
            </table>
          </div>
          <div fxFlex="49%" fxFlex.lt-md="100%" class="mg-sm-t-10-f tables-div">
            <table mat-table #table [dataSource]="metricsTable2" class="normalTableWithText risk_statistics testtable" >
              <ng-container [matColumnDef]="col" *ngFor="let col of displayTableColumns2">
                  <th mat-header-cell  *matHeaderCellDef >   <div *ngIf="col=='Metric/Portfolio'"></div>      
                    <div  *ngIf="!(col=='Metric/Portfolio')" class="width-90-f">{{col}}</div>    </th>
                       <td mat-cell *matCellDef="let element">
                          <div>{{element[col] }}</div>                 
                         </td>
                </ng-container>
             <tr mat-header-row *matHeaderRowDef="displayTableColumns2;" [style.min-height]="0" ></tr>
            <tr mat-row *matRowDef="let row; columns: displayTableColumns2;"></tr>
            </table> 
          </div>
        </div>
      </section>
      <section class="section-3-3">
        <div fxLayout="row wrap" class="mg-y-20-f" fxLayoutAlign="space-between start">
          <div fxFlex="38%" fxLayout="column" fxFlex.lt-md="100%" class="tables-div">
            <h2 class="tx-sm-16-f tx-18-f   tx-semibold lh-3 color1  mg-b-28-f">Return Statistics</h2>
            <table mat-table #table [dataSource]="ror_metricsTable" class="normalTableWithText testtable" >
              <ng-container [matColumnDef]="col" *ngFor="let col of ['ROR','Value']">
                       <td mat-cell *matCellDef="let element">
                          <div>{{element[col]  }}</div>      
                       </td>
              </ng-container>
              <tr mat-row *matRowDef="let row; columns: ['ROR','Value'];"></tr>
          </table>
          </div>
          <div fxFlex="58%" fxFlex.lt-md="100%" class="mg-sm-t-10-f">
            <div fxLayout="row wrap" fxLayoutAlign="space-between start">
              <span class="tx-18-f  tx-semibold lh-3 color1">Monthly Returns</span>
              <div>
                <strong class="tx-semibold tx-14-f">Select Benchmarks</strong>
                <select (change)="onIndexChange($event)" class="mg-l-5-f">
                  <option *ngFor="let element of benchmarks;let i = index" [value]="element">
                    {{element}}
                  </option>
                </select>
              </div>
            </div>
            <div id="monthlyReturns"></div>
          </div>
        </div>
      </section>
    </section>
    <section class="section-6" id="Characteristics">

    </section>
    <nav class="section-nav">
      <div class="container  pd-x-0-f">
      <div fxLayout="row" class="modelPortfolioTabs pd-y-20-f" >
        <div (click)="scrollTo('Overview')" id="Overview-div"  class="pd-y-10-f pd-x-10-f mg-r-20-f pd-xs-0-f mg-xs-r-10-f  tx-xs-13-f tx-16-f cursor-f" [ngClass]="{ 'current-section': currentSection === 'Overview' }">Overview</div>
        <div (click)="scrollTo('stocks_weights')" id="stocks_weights-div"  class="pd-y-10-f pd-x-10-f mg-r-20-f pd-xs-0-f  mg-xs-r-10-f tx-xs-13-f tx-16-f cursor-f" [ngClass]="{ 'current-section': currentSection === 'stocks_weights' }">Stocks & Weights
        </div>
        <div (click)="scrollTo('Performance')" id="Performance-div"  class="pd-y-10-f pd-x-10-f mg-r-20-f pd-xs-0-f  mg-xs-r-10-f tx-xs-13-f tx-16-f cursor-f" [ngClass]="{ 'current-section': currentSection === 'Performance' }">Performance
        </div>
        <div (click)="scrollTo('Characteristics')" id="Characteristics-div"  class="pd-y-10-f pd-x-10-f mg-r-20-f pd-xs-0-f  mg-xs-r-10-f tx-xs-13-f tx-16-f cursor-f" [ngClass]="{ 'current-section': currentSection === 'Characteristics' }">Characteristics 
        </div>
      </div>
    </div>
    </nav>
  </div>
</main>