.modelPortfolioComponent .modelPortfolioTabs{
  background-color: #FAFAFA  !important;
  position:fixed;
  top:120px;
  width:100%;
  background-color:white !important;
}
.modelPortfolioComponent .current-section {
  color: #002060  !important;
  border-bottom:2px solid   #002060  !important;
  background-color: #e7f3ff !important;
  font-weight:600;
}
.modelPortfolioComponent section{
  position: relative;
}
 section#Overview:hover ~ .section-nav #Overview-div,
section#stocks_weights:hover ~ .section-nav #stocks_weights-div,
 section#Performance:hover ~ .section-nav #Performance-div,
section#Characteristics:hover ~ .section-nav #Characteristics-div
{
  cursor:pointer;
  color: #002060  !important;
  border-bottom:2px solid   #002060  !important;
  background-color: #e7f3ff !important;
  font-weight:600;
}
 section#Overview:hover ~ .section-nav .current-section,
section#stocks_weights:hover ~  .section-nav .current-section,
 section#Performance:hover ~  .section-nav .current-section,
 section#Characteristics:hover ~  .section-nav .current-section{
  color: black  !important;
  background-color:white !important;
  border:none  !important;
  font-weight:500;
}
.modelPortfolioComponent .mat-line{
  white-space: normal !important;;
}
.modelPortfolioComponent mat-list-item{
  height:auto !important;
}
.modelPortfolioComponent .mat-list-icon{
  width:auto !important;
  height:auto !important;
}
.modelPortfolioComponent .risk{
  background-color:white;
  border-radius:120px;
  width:120px;
  padding:5px 8px;
}
.modelPortfolioComponent .riskCircle{
  border-radius:50px;
  color:transparent  !important;
  height: 10px;
  width: 10px;
  background-color:#136F63;
  display: inline-block;
  text-align:center;

}
.modelPortfolioComponent select{
  border-radius: 0 !important;
  height: 30px !important;
  color: #969494 !important;
  background-color: #fff !important;
  padding: 6px 12px !important;
  font-size: 14px !important;
  line-height: 1.42857143 !important;
  border: 1px solid #ccc !important;
  width:200px !important;
  outline:none !important;
}
.modelPortfolioComponent .modelPortfolioCard{
  background-color:#E5E8EF;
  margin-top:180px;
  padding:16px;
}
.modelPortfolioComponentTable .mat-cell:nth-child(1){
  min-width: 300px;
   max-width: 300px;
   word-wrap:break-word;
  }
  .testtable td:first-child{
    font-weight: 700;
  }
  .with-icon {
    display: flex;
    align-items: center;
  }