
<div class="float-icon" fxLayout="column">  
    <!-- <span class="fill-space"></span> -->
    <a [href]="facebookUrl" target="_blank">
        <img  src="/assets/images/facebook.png" alt="" matTooltip="Facebook" matTooltipPosition="above">
    </a>
    <a [href]="twitterUrl" target="_blank" class="Icons">
        <img  src="/assets/images/twitter.png" alt="" matTooltip="Twitter"
         matTooltipPosition="above">
    </a>

    <a [href]="instagramUrl" target="_blank" class="Icons">
        <img  src="/assets/images/instagram.png" alt="" matTooltip="Instagram"
         matTooltipPosition="above">
    </a>
    <a [href]="linkedinUrl" target="_blank" class="Icons">
        <img  src="/assets/images/linkedin.png" alt="" matTooltip="LinkedIn" matTooltipPosition="above">
     
    </a>
    <a [href]="youtubeUrl" target="_blank" class="Icons">
        <img  src="/assets/images/youtube.png" alt=""
         matTooltip="Google+" matTooltipPosition="above" 
        >
    </a>
    <!-- <span class="fill-space"></span> -->
</div>
