<main class="content mg-t-100">
  <section fxLayout='row wrap' class="stripebg">
    <div class="bg"></div>
  </section>
  <section class="container sub-inf-div pd-y-60-f">
    <div fxLayout="row wrap" fxLayoutAlign="center center" class='pd-y-60-f matcardStyle'>
      <div fxFlex='50%' fxFlex.sm='100%' fxFlex.xs='100%' fxLayoutAlign="end center" fxLayoutAlign.sm="center start" fxLayoutAlign.xs="center start">
        <mat-card class="pd-y-30-f pd-x-40-f">
          <p class="color1">{{msgString}}</p>
          <mat-card-title>
            <h2 class='sub-title-text tx-xl-24-f tx-lg-24-f tx-md-18-f tx-sm-16-f tx-xs-16-f'>Your Information</h2>
          </mat-card-title>
          <mat-card-content>
            <input type="text" pInputText [(ngModel)]="firstName" placeholder="First Name">
            <input type="text" pInputText [(ngModel)]="lastName" placeholder="Last Name">
            <span class="p-input-icon-right">
              <i class="pi pi-envelope"></i>
            <input type="email" pInputText [(ngModel)]="email" placeholder="Email">
            </span>
            <span class="p-input-icon-right">
              <i class="pi pi-phone"></i>
              <input type="number" pInputText [(ngModel)]="mobileNumber" placeholder="Mobile Number">
            </span>
            <p-dropdown [options]="subscriptionPlan" (onChange)='subscriptionPlanChange($event.value)'
              [(ngModel)]="selectedPlan" [showClear]="false" optionLabel="plan" optionValue="plan"></p-dropdown>
            <div class='pd-y-30-f'>
              <button (click)="activateSubscription()" class='subscribe'
                mat-flat-button>Subscribe</button>
            </div>
            <p class=' tx-justify tx-12-f tx-gray-500'>By submitting this form, you confirm that you agree to our Terms
              of Service and consent to the storing and processing of your personal data as described in our Privacy
              Policy.</p>
          </mat-card-content>
        <div class="tx-center">
          <button mat-flat-button (click)="goBack()" class="color1" style="text-decoration: underline;">Go Back</button>
        </div>
        </mat-card>
      </div>
      <div fxFlex='50%' fxFlex.sm='100%' fxFlex.xs='100%' fxLayoutAlign="start center" fxLayoutAlign.sm="center start" fxLayoutAlign.xs="center start" class='mg-sm-t-20-f mg-xs-t-20-f'>
        <mat-card class="pd-y-30-f pd-x-40-f">
          <mat-card-title>
            <h2 class='sub-title-text tx-xl-24-f tx-lg-24-f tx-md-18-f tx-sm-16-f tx-xs-16-f'>Your Subscription</h2>
            <div class='sub-title-text tx-xl-26-f tx-lg-26-f tx-md-20-f tx-sm-18-f tx-xs-18-f pd-b-10-f'>Premium
              Subscription
            </div>
            <span class='sub-title-text tx-xl-18-f tx-lg-18-f tx-md-16-f tx-sm-16-f tx-xs-14-f'>{{plancostMonth}}</span>
          </mat-card-title>
          <mat-card-content>
            <ul class="tx-left items-list" >
              <li class="tx-14-f mg-t-10-f">
                <mat-icon class='mg-r-10-f green-color '>done</mat-icon><span>Model Portfolios
                 </span>
              </li>
              <li class="tx-14-f">
                <mat-icon class='mg-r-10-f green-color'>done</mat-icon><span> Stock & ETF Screener
                 </span>
              </li>
              <li class="tx-14-f">
                <mat-icon class='mg-r-10-f green-color'>done</mat-icon><span> Portfolio Analytic Tools
                  </span>
              </li>
              <li class="tx-14-f">
                <mat-icon class='mg-r-10-f green-color'>done</mat-icon><span>Curated Market & Research Insights</span>
              </li>
            </ul>
            <div class='items-list'>
              <h2 class='sub-title-text tx-xl-16-f tx-lg-16-f tx-md-14-f tx-sm-14-f tx-xs-14-f'>{{RecurringCost}}</h2>
              <div fxLayout='row wrap' fxLayoutAlign='space-around start'>
                <div fxFlex='50%'>
                  <p class='sub-title-text tx-xl-14-f tx-lg-14-f tx-md-14-f tx-sm-14-f tx-xs-14-f mg-b-1-f'>Premium
                    Subscription</p>
                  <span class='tx-semibold'>{{months}}</span>
                </div>
                <div fxFlex='50%' class='tx-semibold' fxLayoutAlign='start start'>
                  {{premiumSubscription}}
                </div>
                <div fxFlex='50%' class='mg-t-20-f'>
                  <p class='sub-title-text tx-xl-14-f tx-lg-14-f tx-md-14-f tx-sm-14-f tx-xs-14-f mg-b-1-f'>Discount</p>
                  <span class='tx-semibold'>{{promotion}}</span>
                </div>
                <div fxFlex='50%' class='tx-semibold mg-t-20-f' fxLayoutAlign='start start'>
                  <span class='red-color'>{{Discount}}</span>
                </div>
              </div>
            </div>
              <div fxLayout='row wrap' fxLayoutAlign='space-around start' class='mg-t-10-f'>
                <div fxFlex='50%'>
                  <p class='sub-title-text tx-xl-14-f tx-lg-14-f tx-md-14-f tx-sm-14-f tx-xs-14-f mg-b-1-f'>Effective Total</p>
                </div>
                <div fxFlex='50%' class='tx-semibold' fxLayoutAlign='start start'>
                  {{EffectiveTotal}}
                </div>
                <div fxFlex='50%' class='mg-t-20-f' *ngIf="GST">
                  <p class='sub-title-text tx-xl-14-f tx-lg-14-f tx-md-14-f tx-sm-14-f tx-xs-14-f mg-b-1-f'>GST@18%</p>
                </div>
                <div fxFlex='50%' class='tx-semibold mg-t-20-f' fxLayoutAlign='start start' *ngIf="GST">
                  <span style="color: #126F63;">{{GST}}</span>
                </div>
                <div fxFlex='50%' class='mg-t-20-f'>
                  <p class='sub-title-text tx-xl-14-f tx-lg-14-f tx-md-14-f tx-sm-14-f tx-xs-14-f mg-b-1-f'>Premium Total</p>
                </div>
                <div fxFlex='50%' class='tx-semibold mg-t-20-f' fxLayoutAlign='start start'>
                  <span >{{PremiumTotal}}</span>
                </div>
              </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </section>
</main>