<mat-dialog-title>
  <div fxLayout='row wrap' fxLayoutAlign='start start' class='declaimer'>
    <div fxFlex='90%'>
      <h1 class='sub-title-text tx-xl-24-f tx-lg-24-f tx-md-22-f tx-sm-20-f tx-xs-18-f'>Disclaimer</h1>
    </div>
    <div fxFlex='10%' fxLayoutAlign='end start'>
      <mat-icon mat-dialog-close>close</mat-icon>
    </div>
  </div>
</mat-dialog-title>
<mat-dialog-content>
  <div class='tx-12-f tx-justify p-text lh-3-f'>
    Aishva Financial Services Private Limited is a company incorporated under the Companies Act 1956. Aishva
    Financial Services Private Limited is a registered investment advisor with the Securities and Exchange Board of
    India
    and through its online product, www.72pi.ai, intends to provide curated content about the capital markets and
    provide
    financial modeling tools to its customers. The investments discussed or recommended through www.72pi.ai may not be
    suitable for all investors and hence, you must rely on your own examination and judgement of the stock and company
    before making investment decisions. Data provided through www.72pi.ai is for information purposes only and should
    not
    be construed as an offer or solicitation of an offer to buy or sell any securities. Information and discussions made
    available through www.72pi.ai contain forward looking statements that involve risks, uncertainties and assumptions
    that could cause actual results to differ materially from those contemplated by the relevant forward-looking
    statement. Aishva Financial Services Private Limited or www.72pi.ai or its employees / directors or any of its
    affiliates are not responsible for any losses that may arise to any person who has made investments based on the
    contents of the www.72pi.ai or information in emails or in documents. Past Performance Is No Guarantee of Future
    Results.
  </div>
</mat-dialog-content>