.declaimer mat-icon{
    cursor: pointer !important;
    color: #F52A4C;
}
.declaimer mat-icon:hover{
    color: #F52A4C;
    background-color: #CAE5FF;
    vertical-align: sub;
    border-radius: 50%;
}
.mat-dialog-container {
    padding-top: 0px !important;
}