.mat-card:not([class*=mat-elevation-z]){
    box-shadow:none;
}
.mat-card{
	background:none;
}
.section1,.section3{
    color: rgba(255, 255, 255, 0.9);
    background: #002060;
}
.sub-title1 {
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(to right,#f9d6c1,#c39779);
}
.title1{
	line-height:3.2rem!important;
}
.mission-div p,.team-desc p{
	line-height:1.78rem!important;
	margin-top:20px !important;
}