<main class="content aboutus-div">
    <div class="mg-t-0-f section1">
        <div class="container pd-t-50-f pd-b-50-f pd-xs-t-20-f pd-xs-b-20-f">
            <span class="sub-title1 tx-xs-13-f tx-sm-13-f tx-lg-16-f tx-xl-20-f">72PI is an online software platform for stock signals, portfolio and investment analytics</span>
            <div class="mg-t-20 " fxLayout="row"  fxLayoutAlign="start center" >
                <div  fxFlex="70%"  fxFlex.xs="90%" fxFlex.sm="80%" fxFlex.md="70%" >
                    <h1 class="title1 tx-xs-28-f tx-sm-30-f tx-md-32-f tx-lg-48-f tx-xl-36-f lh-1" 
                    data-aos="fade-up"  
                    data-aos-offset="120"
                    data-aos-delay="5"
                    data-aos-duration="60"
                    data-aos-easing="ease-in-out"
                    data-aos-mirror="false"
                    data-aos-once="false">
                    Enable everyone to invest with confidence across global markets
                    </h1>
                </div>
            </div>
        </div>
    </div>
    <div class="mg-t-0-f section2">
        <div class="container pd-t-50-f pd-b-50-f pd-xs-t-30-f pd-xs-b-30-f" data-aos="fade-up" data-aos-offset="120"
          data-aos-delay="5" data-aos-duration="60" data-aos-easing="ease-in-out">
            <h1 class="title1 tx-xs-28-f tx-sm-30-f tx-md-32-f tx-lg-48-f tx-xl-36-f lh-1">
                Our Vision
            </h1>
            <div class="mg-t-0 mission-div mg-b-20" fxLayout="row"  fxLayoutAlign="start center" >
                <div fxFlex="100%"  fxFlex.xs="90%" fxFlex.sm="80%" fxFlex.md="70%" >
                    <p class="tx-xs-13-f tx-sm-13-f tx-lg-16-f tx-xl-18-f">
                        Enable everyone to invest with confidence across global markets
                    </p>
                   
                </div>
            </div>
            <h1 class="title1 tx-xs-28-f tx-sm-30-f tx-md-32-f tx-lg-48-f tx-xl-36-f lh-1">
                Our Mission
            </h1>
            <div class="mg-t-0 mission-div mg-b-0" fxLayout="row"  fxLayoutAlign="start center" >
                <div fxFlex="100%"  fxFlex.xs="90%" fxFlex.sm="80%" fxFlex.md="70%" >
                    <p class="tx-xs-13-f tx-sm-13-f tx-lg-16-f tx-xl-18-f">We are on a mission to democratize the
                      leading-edge concepts, frameworks, methods and toolsets for sound investing for self-directed
                      investors around the world.
                    </p>
                    <p class="tx-xs-13-f tx-sm-13-f tx-lg-16-f tx-xl-18-f">
                      We are building out a premier Digital Investment Platform that offers “Guided-Advisory” investment
                      solutions as service at low costs to enable self-directed investors and advisors drive successful
                      outcomes on their investment journeys.
                    </p>
                </div>
            </div>
            
        </div>
    </div>
    <div class="mg-t-0-f section3">
        <div class="container pd-t-70-f pd-b-70-f pd-xs-t-30-f pd-xs-b-30-f">
            <div class="mg-t-30 " fxLayout="row"  fxLayoutAlign="start center" >
                <div  fxFlex="70%"  fxFlex.xs="90%" fxFlex.sm="80%" fxFlex.md="70%" >
                    <h1 class="title1 tx-xs-28-f tx-sm-30-f tx-md-32-f tx-lg-48-f tx-xl-36-f lh-1"  data-aos="fade-up">
                        We would like to UNLOCK the black box of tools used by institutional fund managers for individuals.
                    </h1>
                </div>
            </div>
        </div>
    </div>
    <div class="mg-t-0-f section4">
        <div class="container pd-t-70-f pd-b-70-f pd-xs-t-30-f pd-xs-b-30-f" data-aos="fade-up" data-aos-offset="120"
            data-aos-delay="5" data-aos-duration="60" data-aos-easing="ease-in-out">
            <h1 class="title1 tx-xs-28-f tx-sm-30-f tx-md-32-f tx-lg-48-f tx-xl-36-f lh-1">
                Our Value Proposition and the 72PI.ai Advantage
            </h1>
            <div class="mg-t-0 mission-div" fxLayout="row"  fxLayoutAlign="start center" >
                <div fxFlex="100%"  fxFlex.xs="90%" fxFlex.sm="80%" fxFlex.md="70%" >
                    <p class="tx-xs-13-f tx-sm-13-f tx-lg-16-f tx-xl-18-f">For many years, investing for the common man
                    has often been a daunting proposition. Caught between ever-changing ebb and flows of market
                    gyrations, fickle sentiment swings between fear and greed, coupled with internal challenges such
                    as behavioural biases, lack of discipline and sub-optimal decisions, consistent success in
                    investing and steady wealth creation through financial markets has been a distant dream.
                    </p>
                    <p class="tx-xs-13-f tx-sm-13-f tx-lg-16-f tx-xl-18-f">
                    In addition, the actions and motives of stock-brokers and money-managers whose primary goal has
                    been to gather assets, have often not been completely aligned with the investor’s interests and
                    needs. Therefore the average investor has often been offered opaque or not-so transparent
                    financial solutions at high costs.
                    </p>
                    <p class="tx-xs-13-f tx-sm-13-f tx-lg-16-f tx-xl-18-f">
                    We are working to upend that trend, by combining the best of investment frameworks and toolsets
                    with cutting-edge modern technology stacks to build the next-gen digital investment platform for
                    all. We offer investors a suite of institutional-grade toolsets, model portfolios and strategies,
                    market and niche research insights at scale. We continue to innovate by building cutting-edge
                    technology stacks ( Web, mobile apps, distributed micro-services and smart bots) and high-quality
                    investment signals and strategies leveraging AI and ML.
                    </p>
                </div>
            </div>
        </div>
    </div>
</main>