
<main class="content mg-t-100">
  <div class="container pd-y-60 our-portfolio-performance">
    <h1 class="tw tx-xs-28-f tx-sm-30-f tx-md-32-f tx-lg-36-f tx-xl-36-f tx-bold lh-1 title-text">72PI {{country}} Portfolio</h1>

    <mat-tab-group animationDuration="0ms">
      <mat-tab label="Our Performance">
          <div class="mg-t-20-f">
            <app-our-performance></app-our-performance>
          </div>
      </mat-tab>
      <mat-tab label="Our Portfolio">
        <div class="mg-t-20-f">
          <app-our-portfolio></app-our-portfolio>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</main>