::ng-deep .our-portfolio-performance  .mat-tab-label {
    background-color: transparent  !important;
    color: #002060 !important;
    font-weight: 700  !important;
    padding:0px 15px !important;
    min-width:max-content !important;
  }
  /* Styles for the active tab label */
  ::ng-deep .our-portfolio-performance  .mat-tab-label.mat-tab-label-active {
    background-color:#e7f3ff !important;
    font-weight: 700  !important;
    opacity:1 !important;
    border:none !important;
  }