<!--Scroll to top-->
<div class="scroll-to-top" [ngClass]="{'show-scrollTop': windowScrolled}">
    <button aria-label="scroll to top" mat-list-icon mat-mini-fab class="scrolltop" (click)="scrollToTop()"><mat-icon>expand_less</mat-icon></button>
</div>