.scroll-to-top {
    position: fixed;
    bottom: 15px;
    right: 15px;
    opacity: 0;
    transition: all .2s ease-in-out;
    background-color:none !important;
    z-index:100;

   }
   .show-scrollTop {
    opacity: 1;
    transition: all .2s ease-in-out;
    background-color:none !important;

   }
.scroll-to-top button{
    background-color:#002060;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1);
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1);
}