<div *ngIf="errorFlag" class="mg-t-100-f">
  <app-page401 *ngIf="errorMsg=='401'"></app-page401>
  <app-page402 *ngIf="errorMsg=='402'"></app-page402>
  <app-page403 *ngIf="errorMsg=='403'"></app-page403>
  <app-page404 *ngIf="errorMsg=='404'"></app-page404>
  <app-page405 *ngIf="errorMsg=='405'"></app-page405>
  <app-page406 *ngIf="errorMsg=='406'"></app-page406>
  <app-page412 *ngIf="errorMsg=='412'"></app-page412>
  <app-page500 *ngIf="errorMsg=='500'"></app-page500>
  <app-page501 *ngIf="errorMsg=='501'"></app-page501>
  <app-page502 *ngIf="errorMsg=='502'"></app-page502>
</div>
<main class="content futures-main mg-t-100-f" *ngIf="contentFlag">
  <div class="container pd-y-60-f">
    <h1 class="tw tx-xs-28-f tx-sm-30-f tx-md-32-f tx-lg-36-f tx-xl-36-f tx-bold lh-1 title-text">Our Futures & Options</h1>
    <div class="se-pre-con" *ngIf="loading"></div>
    <div [@.disabled]="true" class="dateTabs">
      <mat-tab-group (selectedTabChange)="onTabChange($event)" >
        <mat-tab *ngFor="let option of stockOptions">
          <table mat-table [dataSource]="option.indexdatasource"   class="normalTableWithText mg-t-20">
            <ng-container matColumnDef="index">
              <th mat-header-cell *matHeaderCellDef class="width-200-f" >Index </th>
              <td mat-cell *matCellDef="let element"> {{element.index}} </td>
            </ng-container>
            <ng-container matColumnDef="begin_price">
              <th mat-header-cell *matHeaderCellDef  class="width-200-f"><span>Price On {{option.startdate}} @ Signal (<span  class="currencySymbolFont">{{currencysymbol}}</span>)</span></th>
              <td mat-cell *matCellDef="let element">{{element.begin_price|number:'1.0-0':symbol}} </td>
            </ng-container>
            <ng-container matColumnDef="high_probability_range">
              <th mat-header-cell *matHeaderCellDef  class="center-align-header width-200-f">High Probability Range: Next 30 Days </th>
              <td mat-cell *matCellDef="let element"  class="center-align-header"> {{element.high_probability_range}} </td>
            </ng-container>
            <ng-container matColumnDef="remark_1">
              <th mat-header-cell *matHeaderCellDef class="left-align-header" style="text-align:left !important">Likely Scenario </th>
              <td mat-cell *matCellDef="let element" class="left-align-header"> {{element.remark_1}} </td>
            </ng-container>
            <ng-container matColumnDef="end_price">
              <th mat-header-cell *matHeaderCellDef  class="width-200-f"><span>Price On {{option.enddate}} @ Signal  (<span  class="currencySymbolFont">{{currencysymbol}}</span>)</span></th>
              <td mat-cell *matCellDef="let element">{{element.end_price|number:'1.0-0':symbol}} </td>
            </ng-container>
            <ng-container matColumnDef="signal_efficiency">
              <th mat-header-cell *matHeaderCellDef  class="width-100-f">Signal Efficiency </th>
              <td mat-cell *matCellDef="let element" class="tx-16"
                [ngClass]="{ 'green-color':element.signal_efficiency === 'Y', 'red-color': element.signal_efficiency !=='Y'}">
                {{element.signal_efficiency == 'Y' ? '&#10004;' : '-' }} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="indexOptionsColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: indexOptionsColumns;"></tr>
          </table>
          <ng-template mat-tab-label>{{option.tab}}</ng-template>
          <cdk-virtual-scroll-viewport [itemSize]="30" class="mg-t-30-f">
            <table mat-table [dataSource]="option.stockdatasource"  matSort matSortDisableClear (matSortChange)="sortData($event)">
              <ng-container matColumnDef="Security_Code" sticky>
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="left-align-header">Company</th>
                <td mat-cell *matCellDef="let element" class="left-align-header">
                    <div fxLayout="row">
                      <div fxLayoutAlign="start start">
                        <img class="symbol-logo" src="{{element.IMGURL}}" alt="{{element.Security_Code}}">
                      </div>
                      <div fxLayout="column" class="pd-l-10-f">
                        <div class="tx-14-f color1 tx-bold cursor-f" (click)="getStockInfopage(element.company_name,element.Security_Code)" >{{element.Security_Code}}</div>
                        <div class="tx-12-f tx-semibold ">
                          {{element.company_name}}
                        </div>
                      </div>
                    </div>   
                  </td>
              </ng-container>
              <ng-container matColumnDef="sector">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="left-align-header">Sector </th>
                <td mat-cell *matCellDef="let element" class="left-align-header">{{element.sector}} </td>
              </ng-container>
              <ng-container matColumnDef="begin_price">
                <th mat-header-cell *matHeaderCellDef mat-sort-header><span>Price On {{option.startdate}} @ Signal (<span  class="currencySymbolFont">{{currencysymbol}}</span>)</span></th>
                <td mat-cell *matCellDef="let element">{{element.begin_price|number:'1.0-0':symbol}} </td>
              </ng-container>
              <ng-container matColumnDef="High_Probability_Range">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="center-align-header">High Probability Range: Next 30 Days </th>
                <td mat-cell *matCellDef="let element" class="center-align-header">{{element.High_Probability_Range}} </td>
              </ng-container>
              <ng-container matColumnDef="Remark_1">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="left-align-header">Likely Scenario </th>
                <td mat-cell *matCellDef="let element;" class="left-align-header"
                  [ngClass]="{ 'yellow1': element.Remark_1 == 'Range bound, consolidation phase','red1': element.Remark_1 == 'Downside bias, within the range','green1': element.Remark_1 == 'Upside bias, within the range'|| element.Remark_1=='Significant upside potential'}">{{element.Remark_1}}</td>
              </ng-container>
              <ng-container matColumnDef="signal">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Signal </th>
                <td mat-cell *matCellDef="let element"> {{element.signal}} </td>
              </ng-container>
              <ng-container matColumnDef="end_price">
                <th mat-header-cell *matHeaderCellDef mat-sort-header><span>Price On {{option.enddate}}, 2021 @ Signal (<span  class="currencySymbolFont">{{currencysymbol}}</span>)</span> </th>
                <td mat-cell *matCellDef="let element">{{element.end_price|number:'1.0-0':symbol}} </td>
              </ng-container>
              <ng-container matColumnDef="Signal_Efficiency">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Signal Efficiency </th>
                <td mat-cell *matCellDef="let element" class="tx-16"
                  [ngClass]="{ 'green-color':element.Signal_Efficiency === 'Y', 'tx-black': element.Signal_Efficiency !=='Y'}">
                  {{element.Signal_Efficiency == 'Y' ? '&#10004;' : '-' }} </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="stockOptionsColumns;sticky:true"></tr>
              <tr mat-row *matRowDef="let row; columns: stockOptionsColumns;"></tr>
            </table>
          </cdk-virtual-scroll-viewport>
          <div class="mg-t-20">
            <h2 class="tx-sm-14-f tx-16-f red-color">For short term trading, look to SELL at top end of range and BUY at bottom end of
              range</h2>
            <h2 *ngIf='option.percentage' class="color1 tx-sm-14-f tx-16-f"><b>{{option.percentage}}% </b>of F&O signals are performed
              within the
              indicated ranges</h2>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</main>