.green1 {
  background-color:#A8D08D !important;
}

.yellow1 {
  background-color: #FFE598 !important;
}

.red1 {
  background-color: #F4B083 !important;
}
.factor-info-component .mat-cell:nth-child(1){
  min-width: 300px;
   max-width: 300px;
   word-wrap:break-word;
  }
  

