<div *ngIf="errorFlag" class="mg-t-100-f">
  <app-page401 *ngIf="errorMsg=='401'"></app-page401>
  <app-page402 *ngIf="errorMsg=='402'"></app-page402>
  <app-page403 *ngIf="errorMsg=='403'"></app-page403>
  <app-page404 *ngIf="errorMsg=='404'"></app-page404>
  <app-page405 *ngIf="errorMsg=='405'"></app-page405>
  <app-page406 *ngIf="errorMsg=='406'"></app-page406>
  <app-page412 *ngIf="errorMsg=='412'"></app-page412>
  <app-page500 *ngIf="errorMsg=='500'"></app-page500>
  <app-page501 *ngIf="errorMsg=='501'"></app-page501>
  <app-page502 *ngIf="errorMsg=='502'"></app-page502>
</div>
<main class="content mg-t-100-f pd-sm-x-10-f" *ngIf="contentFlag">
  <div class="se-pre-con" *ngIf="loading"></div>
  <div class='se-pre-con-div' *ngIf='divloading'></div>
  <div class='container etf-container pd-y-60-f' [@.disabled]="true">
    <h1 class="tw tx-xs-28-f tx-sm-30-f tx-md-32-f tx-lg-36-f tx-xl-36-f tx-bold lh-1 title-text">Global Multi Asset
      Monitor</h1>

    <p class="tx-14-f  mg-y-20-f pd-md-t-10-f lh-7 pcolor ">The ETF Monitor is a useful tool to track the performance of
      various listed ETFs in India and US markets. Tracking relevant ETFs is a useful approach to track various asset
      classes and market segments.
      Select the relevant ETFs that you wish to track by using the selection filters provided below.</p>
    <mat-tab-group (selectedTabChange)="onChange($event)">
      <mat-tab label="ETF Market View">
        <div fxLayout="row wrap" fxLayoutAlign="space-between stretch" fxLayoutAlign.lt-md="center center"
          class="mg-10-f">
          <div fxFlex="49%" fxFlex.lt-lg="95%" *ngFor="let item of etfmarketViewTable1;"
            class=" mg-t-30-f mg-sm-t-20-f mg-md-t-30-f ETFMARKETCARD pd-16-f">
            <div class="tx-sm-16-f tx-18-f  lh-5 color1 tx-semibold color1">{{item.type}}</div>
            <table class="mg-t-20-f" style="border-collapse: collapse;">
              <tr>
                <th class="left-align-header">Asset Class</th>
                <th class="left-align-header">ETF</th>
                <th>Short Term Trend</th>
                <th>Intermediate Trend</th>
              </tr>
              <tbody *ngFor="let data of item.data">
                <tr>
                  <td class="width-120-f width-sm-100-f"
                    [ngClass]="{'colorgold': data.short_name === 'Dollar Index', 'tx-semibold':data.short_name === 'Dollar Index', 'dollar':data.short_name === 'Dollar Index'}">
                    {{data.short_name}}
                  </td>
                  <td class="width-150-f width-sm-100-f" [ngClass]="{'dollar':data.short_name === 'Dollar Index'}">
                    <div fxLayout="column" class="pd-l-0-f">
                      <div class="tx-14-f  tx-semibold color1"
                        [ngClass]="{'colorgold': data.short_name === 'Dollar Index','cursor-f':data.short_name != 'Dollar Index'}"
                        (click)="data.short_name != 'Dollar Index' ? getStockInfopage(data.company_name,data.security_code,'commonPage') :false">
                        {{data.security_code}}</div>
                      <div class="tx-12-f ">
                        {{data.company_name }}
                      </div>
                    </div>
                  </td>
                  <td class="center-align-header width-90-f width-sm-100-f"
                    [ngClass]="{'dollar':data.short_name === 'Dollar Index'}">
                    <div *ngIf="data.short_term=='yes'" class="greenArrow">
                      <mat-icon class="tx-bold">arrow_upward</mat-icon>
                    </div>
                    <div *ngIf="!(data.short_term=='yes')" class="redArrow">
                      <mat-icon class="tx-bold">arrow_downward</mat-icon>
                    </div>
                  </td>
                  <td class="center-align-header width-90-f width-sm-100-f"
                    [ngClass]="{'dollar':data.short_name === 'Dollar Index'}">
                    <div *ngIf="data.intermediate_term=='yes'" class="greenArrow">
                      <mat-icon class="tx-bold">arrow_upward</mat-icon>
                    </div>
                    <div *ngIf="!(data.intermediate_term=='yes')" class="redArrow">
                      <mat-icon class="tx-bold">arrow_downward</mat-icon>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div fxLayout="row wrap" fxLayoutAlign="space-between stretch" fxLayoutAlign.lt-md="center center"
          class="mg-5-f">
          <div fxFlex="49%" fxFlex.lt-lg="95%" *ngFor="let item of etfmarketViewTable2;"
            class=" mg-t-20-f mg-sm-t-20-f mg-md-t-30-f ETFMARKETCARD pd-16-f">
            <div class="tx-sm-16-f tx-18-f  lh-5 color1 tx-semibold color1">{{item.type}}</div>
            <table class="mg-t-20-f" style="border-collapse: collapse;">
              <tr>
                <th class="left-align-header">Asset Class</th>
                <th class="left-align-header">ETF</th>
                <th>Short Term Trend</th>
                <th>Intermediate Trend</th>
              </tr>
              <tbody *ngFor="let data of item.data">
                <tr>
                  <td class="width-120-f width-sm-100-f">
                    {{data.short_name}}
                  </td>
                  <td class="width-150-f width-sm-100-f">
                    <div fxLayout="column" class="pd-l-0-f">
                      <div class="tx-14-f color1 tx-semibold cursor-f"
                        (click)="getStockInfopage(data.company_name,data.security_code,'commonPage')">{{data.security_code}}</div>
                      <div class="tx-12-f ">
                        {{data.company_name }}
                      </div>
                    </div>
                  </td>
                  <td class="center-align-header width-90-f width-sm-100-f">
                    <div *ngIf="data.short_term=='yes'" class="greenArrow">
                      <mat-icon class="tx-bold">arrow_upward</mat-icon>
                    </div>
                    <div *ngIf="!(data.short_term=='yes')" class="redArrow">
                      <mat-icon class="tx-bold">arrow_downward</mat-icon>
                    </div>
                  </td>
                  <td class="center-align-header width-90-f width-sm-100-f">
                    <div *ngIf="data.intermediate_term=='yes'" class="greenArrow">
                      <mat-icon class="tx-bold">arrow_upward</mat-icon>
                    </div>
                    <div *ngIf="!(data.intermediate_term=='yes')" class="redArrow">
                      <mat-icon class="tx-bold">arrow_downward</mat-icon>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div fxFlex="49%" fxFlex.lt-lg="95%" fxLayout="column" class="ETFMARKETCARD mg-t-20-f">
            <div *ngFor="let item of etfmarketViewTable3;" class="pd-16-f">
              <div class="tx-sm-16-f tx-18-f  lh-5 color1 tx-semibold color1">{{item.type}}</div>
              <table class="mg-t-20-f" style="border-collapse: collapse;">
                <tr>
                  <th class="left-align-header">Asset Class</th>
                  <th class="left-align-header">ETF</th>
                  <th>Short Term Trend</th>
                  <th>Intermediate Trend</th>
                </tr>
                <tbody *ngFor="let data of item.data">
                  <tr>
                    <td class="width-120-f width-sm-100-f">
                      {{data.short_name}}
                    </td>
                    <td class="width-150-f width-sm-100-f">
                      <div fxLayout="column" class="pd-l-0-f">
                        <div class="tx-14-f color1 tx-semibold cursor-f"
                          (click)="getStockInfopage(data.company_name,data.security_code,'commonPage')">{{data.security_code}}</div>
                        <div class="tx-12-f ">
                          {{data.company_name }}
                        </div>
                      </div>
                    </td>
                    <td class="center-align-header width-90-f width-sm-100-f">
                      <div *ngIf="data.short_term=='yes'" class="greenArrow">
                        <mat-icon class="tx-bold">arrow_upward</mat-icon>
                      </div>
                      <div *ngIf="!(data.short_term=='yes')" class="redArrow">
                        <mat-icon class="tx-bold">arrow_downward</mat-icon>
                      </div>
                    </td>
                    <td class="center-align-header width-90-f width-sm-100-f">
                      <div *ngIf="data.intermediate_term=='yes'" class="greenArrow">
                        <mat-icon class="tx-bold">arrow_upward</mat-icon>
                      </div>
                      <div *ngIf="!(data.intermediate_term=='yes')" class="redArrow">
                        <mat-icon class="tx-bold">arrow_downward</mat-icon>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <p class="mg-t-40-f"><b class="tx-semibold">US Equities : </b>The Nasdaq ETF (QQQ) has been under-performing the
          rest of the US Large and Small cap stocks (SPY,DIA,IWM ) in the short-term.
          All segments of the US market are still in a good uptrend over the medium-term. </p>
        <p><b class="tx-semibold">International Equities : </b>The US Dollar has been in a down-trend as reflected by
          the performance of the DXY Index over the short and medium horizon
          All developed regions ex-US are in a good uptrend over the short and medium-term.
          Emerging markets are under performing over the short-term, but the medium-term uptrend in intact. </p>
        <p><b class="tx-semibold">Fixed Income : </b>Long term US Treasuries ( TLT and IEF) have under-performed over
          both the medium and short-term with rising US yields
          Investment Grade Corp Bonds (LQD), US High Yield (HYG), Inflation Protected securities (TIP), Preferred
          securities (PFF) and Convertibles (CWB)
          and EM Bonds( EMB) have out-performed over the medium-term.
          In the short-term, most segments of the US Fixed Income market except US High Yield are in a down-trend .</p>
        <p><b class="tx-semibold">Global Real Estate : </b>Global Real Estate continues in an up-trend over the short
          and medium-term. </p>
        <p><b class="tx-semibold">Precious Metals : </b>Silver and Platinum are in a good up-trend over the medium-term.
          Gold has been underperforming over the short and medium-term. </p>
        <p><b class="tx-semibold">Bitcoin : </b>Bitcoin has been in a good uptrend over the short and medium-term. </p>
      </mat-tab>

      <mat-tab label="Analytics">
        <div fxLayout="row" class="mg-t-20-f " fxLayoutAlign="start center">
          <div class="filter_dropdowns" fxFlex="80%" fxFlex.lg="90%" fxFlex.lt-lg="100%">
            <div fxLayout="row wrap" fxLayoutAlign="space-between center">
              <div fxFlex="40%" fxFlex.sm="100%" fxFlex.md="30%" fxFlex.xs="100%">
                <mat-select (openedChange)="openedChange($event)" [disableOptionCentering]="true"
                  (selectionChange)="changed()" placeholder="Select ETF" [formControl]="selectFormControl" multiple
                  [(ngModel)]="selectedETFList">
                  <mat-select-trigger>
                    {{selectFormControl.value ? selectFormControl.value[0] : ''}}
                    <span *ngIf="selectFormControl.value?.length > 1" class="additional-selection">
                      (+{{selectFormControl.value.length - 1}}
                      {{selectFormControl.value?.length === 2 ? 'other' : 'others'}})
                    </span>
                  </mat-select-trigger>
                  <div class="select-container">
                    <mat-optgroup>
                      <mat-form-field style="width:100%;">
                        <input #search autocomplete="off" placeholder="Search" aria-label="Search" matInput
                          [formControl]="searchTextboxControl" (keydown)="handleInput($event)">
                      </mat-form-field>
                    </mat-optgroup>
                    <mat-optgroup *ngIf="filteredOptions && (filteredOptions | async).length == 0">
                      <div>No results found!</div>
                    </mat-optgroup>
                    <mat-option (onSelectionChange)="selectionChange($event)"
                      *ngFor="let option of filteredOptions | async" [value]="option">
                      {{option}}
                    </mat-option>
                  </div>
                </mat-select>
              </div>
              <div class="filter_dropdowns mg-sm-t-5-f" fxLayout="row" fxFlex="23%" fxFlex.sm="49%" fxFlex.xs="100%"
                fxFlex.md="27%">
                <strong class="tx-semibold pd-r-5-f" fxFlex="20%" fxFlex.sm="20%" fxFlex.lg="30%"
                  fxLayoutAlign="end center" fxLayoutAlign.lt-md="start center">x-axis</strong>
                <mat-select [(value)]="defaultXaxis" [disableOptionCentering]="true" fxFlex="80%" fxFlex.sm="80%"
                  fxFlex.lg="70%">
                  <mat-option [value]="item.def" *ngFor="let item of Xaxis">{{item.label}}</mat-option>
                </mat-select>
              </div>
              <div class="filter_dropdowns  mg-sm-t-5-f" fxLayout="row" fxFlex="23%" fxFlex.sm="49%" fxFlex.xs="100%"
                fxFlex.md="27%">
                <strong class="tx-semibold pd-r-5-f" fxFlex="20%" fxFlex.sm="20%" fxFlex.lg="30%"
                  fxLayoutAlign="end center" fxLayoutAlign.lt-md="start center">y-axis</strong>
                <mat-select name="yaxis" [(value)]="defaultYaxis" [disableOptionCentering]="true" fxFlex="80%"
                  fxFlex.sm="80%" fxFlex.lg="70%">
                  <mat-option [value]="item.def" *ngFor="let item of Yaxis">{{item.label}}</mat-option>
                </mat-select>
              </div>

              <button class="mg-l-2-f apply  mg-sm-t-5-f" (click)="selectedData()" fxFlex="6%" fxFlex.sm="10%"
                fxFlex.xs="20%" fxFlex.md="7%">Apply</button>
              <button (click)="resetFiltersETFs()" class="reset pd-xs-x-0-f" fxFlex="6%" fxFlex.sm="10%" fxFlex.xs="20%"
                fxFlex.md="7%">Reset</button>
            </div>


          </div>
        </div>
        <div>
        </div>
      </mat-tab>
      <mat-tab label="ETF Monitor">
        <div class="tableDiv mg-t-20">
          <div fxLayout="row wrap">
            <div class="filter_dropdowns" fxFlex="50%">
              <div fxLayout="row wrap">
                <div fxFlex="50%">
                  <mat-select placeholder="Select Column" [disableOptionCentering]="true" multiple [(value)]="selectedList">
                    <mat-option *ngFor="let col of dropdownColumns" [value]="col.def">{{col.label}}</mat-option>
                  </mat-select>
                </div>
                <div fxFlex="10%">
                  <button class="mg-l-2-f apply" (click)="isSelectedTagIsCallback()">ADD</button>
                </div>
              </div>
            </div>
            <div fxFlex="50%" fxLayoutAlign="end center">
              <span class="tx-14-f  pd-r-10-f">Keyword</span> <input fxFlex="40%" matInput (keyup)="applyFilter($event)"
                placeholder="SEARCH" class="search-text-input">
            </div>
          </div>
          <div fxLayout="row wrap" class="mg-t-15-f" fxLayoutAlign="space-between center">
            <div *ngFor="let filter of filterSelectObj" class="filter_dropdowns" fxFlex="31.5%" fxFlex.md="30%"
              fxFlex.sm="28%" fxFlex.xs="26%">
              <mat-select name="{{filter.columnProp}}" [disableOptionCentering]="true" [(ngModel)]="filter.modelValue"
                (selectionChange)="filterChange(filter,$event)" placeholder="{{filter.name}}">
                <mat-option [value]="item" *ngFor="let item of filter.options | orderBy:item">{{item}}</mat-option>
              </mat-select>
            </div>
            <button fxFlex="5%" fxFlex.md="8%" fxFlex.sm="10%" fxFlex.xs="15%" (click)="resetFilters()"
              class="reset pd-xs-x-0-f">Reset</button>
          </div>
          <cdk-virtual-scroll-viewport [itemSize]="30" class="mg-t-20-f etfMonitorTable">
            <table mat-table [dataSource]="outputViewData1" matSort matSortDisableClear
              (matSortChange)="sortData($event)">
              <ng-container matColumnDef="security_code" sticky>
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="left-align-header">ETF</th>
                <td mat-cell *matCellDef="let element" class="left-align-header">
                  <div fxLayout="column" class="pd-l-10-f">
                    <div class="tx-14-f color1 tx-bold cursor-f"
                      (click)="getStockInfopage(element.company_name,element.security_code)">{{element.security_code}}
                    </div>
                    <div class="tx-12-f tx-semibold ">
                      {{element.company_name }}
                    </div>
                  </div>
                </td>
              </ng-container>
              <ng-container matColumnDef="asset_class">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="left-align-header width-150-f">Asset Class
                </th>
                <td mat-cell *matCellDef="let element" class="left-align-header"> {{element.asset_class}} </td>
              </ng-container>
              <ng-container matColumnDef="category">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="left-align-header width-150-f">Category
                </th>
                <td mat-cell *matCellDef="let element" class="left-align-header"> {{element.category}} </td>
              </ng-container>
              <ng-container matColumnDef="region_country">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="left-align-header width-150-f">Region</th>
                <td mat-cell *matCellDef="let element" class="left-align-header"> {{element.region_country}} </td>
              </ng-container>
              <ng-container matColumnDef="issuer">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="left-align-header width-150-f">Issuer</th>
                <td mat-cell *matCellDef="let element" class="left-align-header"> {{element.issuer}} </td>
              </ng-container>
              <ng-container matColumnDef="adj_price_close">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="width-90-f"><span>Close Price (<span
                      class="currencySymbolFont">{{currencysymbol}}</span>)</span></th>
                <td mat-cell *matCellDef="let element">{{element.adj_price_close|number:'1.0-0':symbol}} </td>
              </ng-container>
              <ng-container matColumnDef="mtd">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="width-90-f">MTD</th>
                <td mat-cell *matCellDef="let element"
                  [style.color]="element.mtd > 0 ? '#136F63 !important' : ' #F52A4C !important'" class="tx-semibold">
                  {{element.mtd  | percent:'1.1'}} </td>
              </ng-container>
              <ng-container matColumnDef="qtd">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="width-90-f">QTD</th>
                <td mat-cell *matCellDef="let element"
                  [style.color]="element.qtd > 0 ? '#136F63 !important' : ' #F52A4C !important'" class="tx-semibold">
                  {{element.qtd | percent:'1.1'}} </td>
              </ng-container>
              <ng-container matColumnDef="ytd">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="width-90-f">YTD</th>
                <td mat-cell *matCellDef="let element"
                  [style.color]="element.ytd > 0 ? '#136F63 !important' : ' #F52A4C !important'" class="tx-semibold">
                  {{element.ytd | percent:'1.1'}} </td>
              </ng-container>
              <ng-container matColumnDef="number_1m">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="width-90-f">1M</th>
                <td mat-cell *matCellDef="let element"
                  [style.color]="element.number_1m > 0 ? '#136F63 !important' : ' #F52A4C !important'"
                  class="tx-semibold"> {{element.number_1m | percent:'1.1'}} </td>
              </ng-container>
              <ng-container matColumnDef="number_3m">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="width-90-f">3M</th>
                <td mat-cell *matCellDef="let element"
                  [style.color]="element.number_3m > 0 ? '#136F63 !important' : ' #F52A4C !important'"
                  class="tx-semibold"> {{element.number_3m | percent:'1.1'}} </td>
              </ng-container>
              <ng-container matColumnDef="number_6m">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="width-90-f">6M</th>
                <td mat-cell *matCellDef="let element"
                  [style.color]="element.number_6m > 0 ? '#136F63 !important' : ' #F52A4C !important'"
                  class="tx-semibold"> {{element.number_6m | percent:'1.1'}} </td>
              </ng-container>
              <ng-container matColumnDef="number_12m">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="width-90-f">12M</th>
                <td mat-cell *matCellDef="let element"
                  [style.color]="element.number_12m > 0 ? '#136F63 !important' : ' #F52A4C !important'"
                  class="tx-semibold"> {{element.number_12m | percent:'1.1'}} </td>
              </ng-container>
              <ng-container matColumnDef="ema50">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="width-90-f">EMA50</th>
                <td mat-cell *matCellDef="let element"> {{element.ema50 |number:'1.1-1':symbol}} </td>
              </ng-container>
              <ng-container matColumnDef="ema200">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="width-90-f">EMA200</th>
                <td mat-cell *matCellDef="let element"> {{element.ema200 |number:'1.1-1'}} </td>
              </ng-container>
              <ng-container matColumnDef="number_50ema_200ema">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="left-align-header">Up Trend / Down Trend
                </th>
                <td mat-cell *matCellDef="let element"
                  [style.color]="element.number_50ema_200ema=='Up Trend' ? '#136F63 !important' : '#5b6770'"
                  class="tx-semibold left-align-header"> {{element.number_50ema_200ema}} </td>
              </ng-container>
              <ng-container matColumnDef="rsi_14d">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="width-90-f">RSI 14D</th>
                <td mat-cell *matCellDef="let element" class="width-90-f"> {{element.rsi_14d |number:'1.1-1':symbol}}
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="getDisplayedColumns();sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: getDisplayedColumns();"></tr>
            </table>
          </cdk-virtual-scroll-viewport>
        </div>
      </mat-tab>

    </mat-tab-group>
    <div fxLayout="row wrap" class="mg-t-20-f" fxLayoutAlign="start start">
      <div fxFlex="80%" fxFlex.lt-md="100%">
        <highcharts-chart id='scatter' [Highcharts]="Highcharts" [constructorType]="chartConstructor"
          [options]="chartOptions" [callbackFunction]="chartCallback" [(update)]="updateFlag" [oneToOne]="true"
          *ngIf="flag " style="width: 100%; display: block;">
        </highcharts-chart>
      </div>
      <div fxFlex="20%" fxFlex.lt-md="100%" fxHide.lt-md class="pd-l-20-f" *ngIf="flag">
        <!-- <h2 class="tx-sm-16-f tx-18-f color1 tx-bold">Up Trend</h2>
            <ul>
              <li *ngFor="let item of upTrend" id="{{item}}" class="tx-14">{{item}}</li>
            </ul>
            <span *ngIf="!(upTrend.length)">----</span>
            <h2 class="tx-sm-16-f  tx-18-f color1 tx-bold">Down Trend</h2>
            <ul>
              <li *ngFor="let item of downTrend" id="{{item}}" class="tx-14">{{item}}</li>
            </ul>
            <span *ngIf="!(downTrend.length)">----</span> -->

      </div>
      <div fxFlex.lt-md="100%" fxHide.gt-sm class="pd-l-20-f" *ngIf="flag">
        <!-- <h2 class="tx-sm-16-f tx-18-f color1 tx-bold">Up Trend</h2>
          <ul  id="columns">
            <li *ngFor="let item of upTrend" id="{{item}}" class="tx-14">{{item}}</li>
          </ul>
          <span *ngIf="!(upTrend.length)">----</span>
          <h2 class="tx-sm-16-f  tx-18-f color1 tx-bold">Down Trend</h2>
          <ul  id="columns">
            <li *ngFor="let item of downTrend" id="{{item}}" class="tx-14">{{item}}</li>
          </ul>
          <span *ngIf="!(downTrend.length)">----</span> -->

      </div>

    </div>

  </div>
</main>