.etfMonitorTable .mat-cell:nth-child(1){
  min-width: 300px;
   max-width: 300px;
   word-wrap:break-word;
  }

.etf-container .search-text-input{
  width:450px !important;
  padding: 5px 8px  !important;
  border-top-left-radius: 4px  !important;
  border-bottom-left-radius: 4px  !important;
  outline: none  !important;
  border: 1px solid #ccc  !important;
}
.etf-container ::ng-deep .filter_dropdowns select,.etf-container  ::ng-deep .filter_dropdowns .mat-select-trigger{
  border-radius: 0 !important;
  height: 30px !important;
  color: #969494 !important;
  background-color: #fff !important;
  padding: 6px 12px !important;
    font-size: 14px !important;
    line-height: 1.42857143 !important;
    border: 1px solid #ccc !important;
    width:99% !important;
    outline:none !important;
}
.etf-container ::ng-deep  .mat-select-panel{
  max-height: 400px!important;
}
.etf-container ::ng-deep   .mat-tab-label {
  background-color: transparent  !important;
  color: #002060 !important;
  font-weight: 700  !important;
}
.etf-container  .mat-tab-label.mat-tab-label-active {
  background-color: #ddd  !important;
  font-weight: 700  !important;
}
.etf-container  .rich-text p b{
  color:#002060 !important;
}
.etf-container  .content{
  padding:50px 0px  !important;
}

.select-all{
  margin: 5px 17px;
}
.apply{
  background-color: #002060 !important;
  border: 2px solid #002060 !important;
  color: white!important;
  padding: 0 10px!important;
  line-height: 30px!important;
  border-radius:5px;
}
.reset{
  border: 2px solid #136F63;
    color: black;
    padding: 0 10px!important;
  line-height: 30px!important;
  border-radius:5px;
}
::ng-deep .etf-container  .mat-tab-label {
  background-color: transparent  !important;
  color: #002060 !important;
  font-weight: 700  !important;
  padding:0px 15px !important;
  min-width:max-content !important;
}
/* Styles for the active tab label */
::ng-deep .etf-container  .mat-tab-label.mat-tab-label-active {
  background-color:#e7f3ff !important;
  font-weight: 700  !important;
  opacity:1 !important;
  border:none !important;
}
.additional-selection {
  opacity: 0.75;
  font-size: 0.75em;
}
.select-container{
  margin-top:10px;
}
::ng-deep .mat-pseudo-checkbox-checked {
  background: #002060 !important;
}
::ng-deep .mat-tab-header {
  border-bottom: 1px solid transparent;
}

#columns {
  -moz-column-count: 3;
  -moz-column-gap: 20px;
  -webkit-column-count: 3;
  -webkit-column-gap: 20px;
  column-count: 3;
  column-gap: 20px;
}
.greenArrow{
  color: rgb(19, 111, 99)  !important;
}
.redArrow{
  color: rgb(245, 42, 76) !important;
}
.ETFMARKETCARD{
  box-shadow: 2px 3px 10px 0px #136F63 !important;

}
.dollar{
  border-top:1px solid #B2D2CE;
}

::ng-deep    .mat-select-panel{
  margin-top:38px !important;
  margin-left:18px !important;
}
::ng-deep .cdk-overlay-pane{
  transform: translateX(-18px) !important;
}