<main class="mg-t-100">
  <title>Hello</title>
    <div class="container">
      <div id="error-div-main">
        <div class="error-div">
          <div class="error-code">
            <h1>401</h1>
          </div>
          <h2 class="tx-xs-38-f tx-sm-40-f tx-md-42-f tx-lg-46-f tx-xl-46-f tx-bold tx-uppercase">Unauthorized, Access is denied!</h2>
          <div class="container mg-t-15" fxLayout="row" fxLayoutAlign="center center">
            <div fxFlex="70%" fxFlex.xs="90%" fxFlex.sm="80%" fxFlex.md="70%" fxLayoutAlign="center center">
              <p class="red-color tx-xs-14-f tx-sm-14-f tx-md-14-f tx-lg-16-f tx-xl-16-f mg-t-30-f sub-text">
                Access is denied due to invalid credentials. You do not have permission to view this directory or page using the credentials that you supplied.
              </p>
            </div>
          </div>
          <button routerLink="/" class="backtohome tx-xs-14-f tx-sm-14-f tx-md-16-f tx-lg-18-f tx-xl-18-f">Back to Home</button>
        </div>
      </div>
    </div>
</main>



