<footer id="footer">
  <div class="container pd-y-60-f">
    <div class="pd-l-30-f"><img src="assets/images/logo_color.png" alt="72PI Logo"></div>
    <div fxLayout="row wrap">
      <div fxFlex="30%" fxFlex.md="50%" fxFlex.xs="100%">
        <mat-list role="list" class="pd-l-15-f section-1">
          <mat-list-item role="listitem" class="tx-xs-14-f tx-sm-14-f tx-md-14-f tx-lg-16-f tx-xl-16-f ">
            <div mat-line class="tx-semibold">Registered Investment Adviser</div>
            <div mat-line class="mg-t-5-f tx-semibold">SEBI Regn.No:INA200015103</div>
          </mat-list-item>
          <mat-list-item role="listitem" class="tx-xs-14-f tx-sm-14-f tx-md-14-f tx-lg-16-f tx-xl-16-f ">
            <div mat-line>For investor queries</div>
            <div mat-line class="mg-t-5-f"><a href="#"
                class="tx-xs-14-f tx-sm-14-f tx-md-14-f tx-lg-16-f tx-xl-16-f  tx-bold">info@72pi.ai</a></div>
          </mat-list-item>
          <mat-list-item role="listitem" class="tx-xs-14-f tx-sm-14-f tx-md-14-f tx-lg-16-f tx-xl-16-f ">
            <div mat-line>For grievances</div>
            <div mat-line class="mg-t-5-f"><a href="#"
                class="tx-xs-14-f tx-sm-14-f tx-md-14-f tx-lg-16-f tx-xl-16-f  tx-bold">support@72pi.ai</a></div>
          </mat-list-item>
          <mat-list-item role="listitem" class="tx-xs-14-f tx-sm-14-f tx-md-14-f tx-lg-16-f tx-xl-16-f  ">
            <div mat-line>Call us</div>
            <div mat-line class="mg-t-5-f"><a href="#"
                class="tx-xs-14-f tx-sm-14-f tx-md-14-f tx-lg-16-f tx-xl-16-f  tx-bold">+91-8919293838</a></div>
          </mat-list-item>
          <mat-list-item role="listitem" class="tx-xs-14-f tx-sm-14-f tx-md-14-f tx-lg-16-f tx-xl-16-f ">
            <div mat-line class="tx-bold">Social Media</div>
            <div mat-line class="float-icon mg-t-10-f" fxLayout="row">
              <a [href]="facebookUrl" target="_blank" rel="noopener">
                <img src="/assets/images/facebook.png" alt="Facebook Icon" matTooltip="Facebook" matTooltipPosition="above" width="100%" height="auto">
              </a>
              <a [href]="twitterUrl" target="_blank" class="Icons" rel="noopener">
                <img src="/assets/images/twitter.png" alt="Twitter Icon" matTooltip="Twitter" matTooltipPosition="above"  width="100%" height="auto">
              </a>
              <a [href]="instagramUrl" target="_blank" class="Icons" rel="noopener">
                <img src="/assets/images/instagram.png" alt="Instagram Icon" matTooltip="Instagram" matTooltipPosition="above" width="100%" height="auto">
              </a>
              <a [href]="linkedinUrl" target="_blank" class="Icons" rel="noopener">
                <img src="/assets/images/linkedin.png" alt="Linkedin Icon" matTooltip="LinkedIn" matTooltipPosition="above" width="100%" height="auto">
              </a>
              <a [href]="youtubeUrl" target="_blank" class="Icons" rel="noopener">
                <img src="/assets/images/youtube.png" alt="Youtube Icon" matTooltip="Google+" matTooltipPosition="above" width="100%" height="auto">
              </a>
            </div>
          </mat-list-item>
        </mat-list>
      </div>
      <div fxFlex="30%" fxFlex.md="50%" fxFlex.xs="100%">
        <mat-list role="list" class="pd-l-15-f section-2">
          <div mat-subheader class="tx-xs-14-f tx-sm-14-f tx-md-14-f tx-lg-16-f tx-xl-16-f tx-bold mg-t-5-f mg-b-5-f">
            Links</div>
          <mat-list-item role="listitem"><span routerLink=""
              class="tx-xs-14-f tx-sm-14-f tx-md-14-f tx-lg-16-f tx-xl-16-f ">Home</span></mat-list-item>
          <mat-list-item role="listitem"><span routerLink="{{country}}/sitemap"
              class="tx-xs-14-f tx-sm-14-f tx-md-14-f tx-lg-16-f tx-xl-16-f ">Site Map</span></mat-list-item>
          <mat-list-item role="listitem"><span (click)="openDialogWeb()"
              class="tx-xs-14-f tx-sm-14-f tx-md-14-f tx-lg-16-f tx-xl-16-f ">Website Disclaimer</span></mat-list-item>
          <mat-list-item role="listitem"><span routerLink="/terms-conditions"
              class="tx-xs-14-f tx-sm-14-f tx-md-14-f tx-lg-16-f tx-xl-16-f ">Terms of Use</span></mat-list-item>
          <mat-list-item role="listitem"><span routerLink="/privacy-policy"
              class="tx-xs-14-f tx-sm-14-f tx-md-14-f tx-lg-16-f tx-xl-16-f ">Privacy Policy</span></mat-list-item>
          <mat-list-item role="listitem"><span routerLink=""
              class="tx-xs-14-f tx-sm-14-f tx-md-14-f tx-lg-16-f tx-xl-16-f ">Risk Factors</span></mat-list-item>
          <mat-list-item role="listitem"><span routerLink="/faq"
              class="tx-xs-14-f tx-sm-14-f tx-md-14-f tx-lg-16-f tx-xl-16-f ">FAQ</span></mat-list-item>
          <mat-list-item role="listitem"><span (click)="openDialog()"
              class="tx-xs-14-f tx-sm-14-f tx-md-14-f tx-lg-16-f tx-xl-16-f ">Feedback</span></mat-list-item>
              <mat-list-item role="listitem"><span routerLink="/contact-us"
                class="tx-xs-14-f tx-sm-14-f tx-md-14-f tx-lg-16-f tx-xl-16-f">Contact Us</span></mat-list-item>
        </mat-list>
      </div>
      <div fxFlex="40%" fxFlex.md="100%" fxFlex.xs="100%">
        <div mat-subheader class="tx-xs-14-f tx-sm-14-f tx-md-14-f tx-lg-16-f tx-xl-16-f tx-bold pd-l-0-f">Subscribe to
          72PI News Letter</div>
        <form [formGroup]="newslettersubscriptionForm" (ngSubmit)="onSubmit()" class='mg-t-30-f '>
          <div><input type="email"class="tx-xs-14-f tx-sm-14-f tx-md-14-f tx-lg-16-f tx-xl-16-f newsletter  pd-y-12-f pd-x-20-f pd-xs-x-5-f"
              placeholder="Enter email address" formControlName="newsletteremail" [ngClass]="{ 'is-invalid': submitted && f.newsletteremail.errors }">
              <button class="tx-xs-14-f tx-sm-14-f tx-md-14-f tx-lg-16-f tx-xl-16-f subscribe pd-y-12-f pd-x-20-f pd-xs-x-5-f cursor-f">Subscribe</button>
          </div>
          <span class='tx-center-f red-color ' *ngIf="status == 'error'">{{response}}</span>
          <span class='tx-center-f green-color ' *ngIf="status == 'success'">{{response}}</span>
          </form>
        <!-- <div class="mapouter mg-t-30-f">
          <div class="gmap_canvas">
            <iframe id="gmap_canvas"
              src="https://maps.google.com/maps?q=golden%20hills%20&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"
              scrolling="no" marginheight="0" marginwidth="0"></iframe>
          </div>
        </div> -->
    </div>
  </div>
  </div>
  <div>
    <mat-divider></mat-divider>
    <p class="tx-xs-11-f tx-sm-11-f tx-md-11-f tx-lg-12-f tx-xl-12-f tx-center pd-y-10-f copyright">
      Powered by <a href="https://goldenhillsindia.com" target="_blank" rel="noopener" class="tx-italic tx-11-f">Aishva Financial
        Services Private Limited</a> | Copyright &copy; {{copyright | date:'yyyy'}} All rights reserved
      | Data feed provided by C-MOTS Internet Technologies Pvt
      Ltd.
    </p>
  </div>
</footer>