// //footer start
#footer {
  background: #E4E4E4;
  padding:0px !important;
  margin-bottom:-10px !important;
}

#footer a {
  color:#0E131F !important;
  text-decoration: none;
}

#footer mat-list-item span{
  color:#0E131F !important;

}
.tx-bold {
  font-weight: 700 !important;
  color: black !important;
}

.tx-semibold {
  font-weight: 700 !important;
  color: #343a48 !important;
}

.section-1 mat-list-item,
.section-2 mat-list-item {
  height: auto !important;
}
.section-2 mat-list-item span {
  cursor:pointer
}
.newsletter {
  outline: none;
  border: none;
  border-radius: 20px 0px 0px 20px;
  color: #E4E4E4;
}

.subscribe {
  background-color: #002060;
  color: white;
  outline: none;
  border: none;
  border-radius: 0px 20px 20px 0px;
}

.mapouter {
  border-radius: 10px !important;
}

.copyright {
  color: black;
}

.float-icon a {
  margin-right: 25px;
}

#gmap_canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0px 5px 5px -3px rgb(0 0 0 / 2%),
  0px 8px 10px 1px rgb(0 0 0 / 2%), 0px 3px 14px 2px rgb(0 0 0 / 2%);
  // border:1px solid grey !important;
}
.mapouter{
  position: relative;
    width: 100%;
    height: 250px;
}
::ng-deep  .mat-line{
  white-space: normal !important;
  color:black !important;
}
::ng-deep mat-list-item{
  height:auto !important;
}
.section-1 .mat-list-item{
  padding:15px 5px !important;
}
.section-2 .mat-list-item{
  padding:10px 5px !important;
}

.newsletter {
  outline: none;
  border: none;
  border-radius: 20px 0px 0px 20px;
  color:black;
}
