<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
<main class="content mg-t-100">
  <div class="container pd-y-60-f">
      <div>
    <div fxLayout="row"  fxLayoutAlign="center center">
        <mat-card class="login-card" fxFlex='31%' fxFlex.lg='33%' fxFlex.md='45%' fxFlex.sm=60% fxFlex.xs=80% >
              <div fxLayout="column">
              <div class="sub-title-text tx-xl-24-f tx-lg-24-f tx-md-16-f tx-sm-14-f tx-xs-14-f tx-center-f lh-1" [ngStyle]="{'color':'rgba(0,0,0,0.7)'}" >Email Verification Status</div>
              <br>
              <div *ngIf="error"><span class='red-color tx-14-f'>Something went wrong, try again after some time</span></div>
              <p class="mg-t-15-f lh-8-f tx-14-f pcolor"></p>
              <p class="lh-8 tx-14-f pcolor">Your Email has been verified successfully.</p>
              <br>
              <button type="submit" mat-raised-button class="getStarted  tx-xs-14-f tx-sm-14-f tx-md-16-f tx-lg-18-f tx-xl-18-f" routerLink='/login' >Continue</button>
              <p  class="mg-t-25-f tx-14-f pcolor">Please contact us if you have any trouble in accessing 72PI.<a  class='tx-bold tx-decoration'> help@72pi.ai</a></p>
              </div>
          </mat-card>
      </div>
  </div>
</div>
</main>
