
   select{
    border-radius: 0 !important;
    color: black !important;
    background-color: #fff !important;
    padding: 8px !important;
    font-size: 14px !important;
    width:200px !important;
    outline:none !important;
  }
  .factor-info-component .mat-cell:nth-child(1){
    min-width: 300px;
     max-width: 300px;
     word-wrap:break-word;
    }
    
    .factor-info-component .piotroski-score-table .mat-cell:last-child{
      min-width: 300px !important;
      max-width: 300px !important;
      text-align:left !important;
    }
  ::ng-deep .factor-info-component .piotroski-score-table th.mat-header-cell:last-child .mat-sort-header-container {
    justify-content:flex-start !important;
  }