<div *ngIf="errorFlag" class="mg-t-100-f">
  <app-page401 *ngIf="errorMsg=='401'"></app-page401>
  <app-page402 *ngIf="errorMsg=='402'"></app-page402>
  <app-page403 *ngIf="errorMsg=='403'"></app-page403>
  <app-page404 *ngIf="errorMsg=='404'"></app-page404>
  <app-page405 *ngIf="errorMsg=='405'"></app-page405>
  <app-page406 *ngIf="errorMsg=='406'"></app-page406>
  <app-page412 *ngIf="errorMsg=='412'"></app-page412>
  <app-page500 *ngIf="errorMsg=='500'"></app-page500>
  <app-page501 *ngIf="errorMsg=='501'"></app-page501>
  <app-page502 *ngIf="errorMsg=='502'"></app-page502>
</div>
<main class="content mg-t-100-f factor-info-component " *ngIf="contentFlag">
  <div class="container pd-y-60-f" *ngIf="emptyStocks">
    No portfolio for this user<a routerLink="/{{country}}/CreatePortfolio-SelectingStocks">Create Portfolio</a>
  </div>
  <div class="container pd-y-60-f" *ngIf="!emptyStocks">
    
    <section class="section-1">
    <h1 class="tw tx-xs-28-f tx-sm-30-f tx-md-32-f tx-lg-36-f tx-xl-36-f tx-bold lh-1 title-text">Factor Info</h1>
    <div class="se-pre-con" *ngIf="loading"></div>
    <div class='se-pre-con-div' *ngIf='divloading'></div>

      <p-dropdown [options]="portfolio_list" [style]="{'width': '15rem'}" [(ngModel)]="selectedPortfolio"
        optionLabel="portfolio_name" [filter]="true" filterBy="portfolio_name" (onChange)="onChange()"
        placeholder="Select a portfolio">
        <ng-template pTemplate="selectedItem">
          <div class="country-item country-item-value" *ngIf="selectedPortfolio">
            <div>{{selectedPortfolio.portfolio_name}}</div>
          </div>
        </ng-template>
        <ng-template let-portfolio pTemplate="item">
          <div class="country-item">
            <div>{{portfolio.portfolio_name}}</div>
          </div>
        </ng-template>
      </p-dropdown>
    </section>
    <section class="section-2" [@.disabled]="true">
      <mat-tab-group class="mg-t-20-f dateTabs">
        <mat-tab label="Size">
          <cdk-virtual-scroll-viewport [itemSize]="30" class="mg-t-20-f">
            <table mat-table #table [dataSource]="dataSource" matSort matSortDisableClear (matSortChange)="sortData($event)">
              <ng-container matColumnDef="fs_name" sticky>
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="left-align-header">Company</th>
                <td mat-cell *matCellDef="let element" class="left-align-header">
                  <div fxLayout="row">
                    <div fxLayoutAlign="start start">
                      <img class="symbol-logo" src="{{element.IMGURL}}" alt="{{element.security_code}}">
                    </div>
                    <div fxLayout="column" class="pd-l-10-f">
                      <div class="tx-14-f color1 tx-bold cursor-f"
                        (click)="getStockInfopage(element.fs_name,element.security_code)">{{element.security_code}}
                      </div>
                      <div class="tx-12-f tx-semibold ">
                        {{element.fs_name}}
                      </div>
                    </div>
                  </div>
                </td>
              </ng-container>
              <ng-container matColumnDef="market_cap">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  <span *ngIf="country=='India'">MCap (in <span  class="currencySymbolFont">{{currencysymbol}}</span> Cr)</span>
                  <span *ngIf="!(country=='India')">MCap (in <span  class="currencySymbolFont">{{currencysymbol}}</span> M)</span>
                </th>
                <td mat-cell *matCellDef="let element">{{element.market_cap|number:'1.0-0':symbol}}
                </td>
              </ng-container>
              <ng-container matColumnDef="sales_rm_field">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  <span *ngIf="country=='India'">Sales(in <span  class="currencySymbolFont">{{currencysymbol}}</span> Cr)</span>
                  <span *ngIf="!(country=='India')">Sales(in <span  class="currencySymbolFont">{{currencysymbol}}</span> M)</span>
                </th>
                <td mat-cell *matCellDef="let element">{{element.sales_rm_field| number:'1.0-0':symbol }}</td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="['fs_name','market_cap','sales_rm_field'];sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: ['fs_name','market_cap','sales_rm_field'];"></tr>
            </table>
          </cdk-virtual-scroll-viewport>
        </mat-tab>
        <mat-tab label="Valuation">
          <cdk-virtual-scroll-viewport [itemSize]="30" class="mg-t-20-f">
            <table mat-table #table [dataSource]="dataSource" matSort matSortDisableClear (matSortChange)="sortData($event)">
              <ng-container matColumnDef="fs_name" sticky>
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="left-align-header">Company</th>
                <td mat-cell *matCellDef="let element" class="left-align-header">
                  <div fxLayout="row">
                    <div fxLayoutAlign="start start">
                      <img class="symbol-logo" src="{{element.IMGURL}}" alt="{{element.security_code}}">
                    </div>
                    <div fxLayout="column" class="pd-l-10-f">
                      <div class="tx-14-f color1 tx-bold cursor-f"
                        (click)="getStockInfopage(element.fs_name,element.security_code)">{{element.security_code}}
                      </div>
                      <div class="tx-12-f tx-semibold ">
                        {{element.fs_name}}
                      </div>
                    </div>
                  </div>
                </td>
              </ng-container>
              <ng-container matColumnDef="pe">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Price-To-Earnings (PE)</th>
                <td mat-cell *matCellDef="let element"> {{element.pe|number:'1.1-1':symbol}}</td>
              </ng-container>
              <ng-container matColumnDef="pb">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Price-To-Book (PB)</th>
                <td mat-cell *matCellDef="let element"> {{element.pb|number:'1.1-1':symbol}}</td>
              </ng-container>
              <ng-container matColumnDef="div_yield">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Div.Yield</th>
                <td mat-cell *matCellDef="let element"> {{element.div_yield| percent:'1.1' }}</td>
              </ng-container>
              <ng-container matColumnDef="div_payout">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Div.Payout</th>
                <td mat-cell *matCellDef="let element"> {{element.div_payout|percent:'1.1' }}</td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="['fs_name','pe','pb','div_yield','div_payout'];sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: ['fs_name','pe','pb','div_yield','div_payout'];"></tr>
            </table>
          </cdk-virtual-scroll-viewport>
        </mat-tab>
        <mat-tab label="Growth">
          <cdk-virtual-scroll-viewport [itemSize]="30" class="mg-t-20-f">
            <table mat-table #table [dataSource]="dataSource" matSort matSortDisableClear (matSortChange)="sortData($event)">
              <ng-container matColumnDef="fs_name" sticky>
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="left-align-header">Company</th>
                <td mat-cell *matCellDef="let element" class="left-align-header">
                  <div fxLayout="row">
                    <div fxLayoutAlign="start start">
                      <img class="symbol-logo" src="{{element.IMGURL}}" alt="{{element.security_code}}">
                    </div>
                    <div fxLayout="column" class="pd-l-10-f">
                      <div class="tx-14-f color1 tx-bold cursor-f"
                        (click)="getStockInfopage(element.fs_name,element.security_code)">{{element.security_code}}
                      </div>
                      <div class="tx-12-f tx-semibold ">
                        {{element.fs_name}}
                      </div>
                    </div>
                  </div>
                </td>
              </ng-container>
              <ng-container matColumnDef="sales_growth">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Sales Growth</th>
                <td mat-cell *matCellDef="let element"> {{element.sales_growth|percent:'1.1' }}</td>
              </ng-container>
              <ng-container matColumnDef="sales_growth_qoq_growth">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Sales - QoQ Growth</th>
                <td mat-cell *matCellDef="let element"> {{element.sales_growth_qoq_growth|percent:'1.1' }}</td>
              </ng-container>
              <ng-container matColumnDef="sales_growth_3y_5r_cagr">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Sales - 3Y CAGR</th>
                <td mat-cell *matCellDef="let element"> {{element.sales_growth_3y_5r_cagr|percent:'1.1' }}</td>
              </ng-container>
              <ng-container matColumnDef="eps_growth">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>EPS Growth</th>
                <td mat-cell *matCellDef="let element"> {{element.eps_growth|percent:'1.1' }}</td>
              </ng-container>
              <ng-container matColumnDef="eps_growth_qoq_growth">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>EPS - QoQ Growth</th>
                <td mat-cell *matCellDef="let element"> {{element.eps_growth_qoq_growth|percent:'1.1' }}</td>
              </ng-container>
              <ng-container matColumnDef="eps_growth_3y_5r_cagr">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>EPS - 3Y CAGR</th>
                <td mat-cell *matCellDef="let element"> {{element.eps_growth_3y_5r_cagr|percent:'1.1' }}</td>
              </ng-container>


              <tr mat-header-row
                *matHeaderRowDef="['fs_name','sales_growth','sales_growth_qoq_growth','sales_growth_3y_5r_cagr','eps_growth','eps_growth_qoq_growth','eps_growth_3y_5r_cagr'];sticky: true">
              </tr>
              <tr mat-row
                *matRowDef="let row; columns: ['fs_name','sales_growth','sales_growth_qoq_growth','sales_growth_3y_5r_cagr','eps_growth','eps_growth_qoq_growth','eps_growth_3y_5r_cagr']">
              </tr>
            </table>
          </cdk-virtual-scroll-viewport>
        </mat-tab>
        <mat-tab label="Profitability">
          <cdk-virtual-scroll-viewport [itemSize]="30" class="mg-t-20-f">
            <table mat-table #table [dataSource]="dataSource" matSort matSortDisableClear (matSortChange)="sortData($event)">
              <ng-container matColumnDef="fs_name" sticky>
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="left-align-header">Company</th>
                <td mat-cell *matCellDef="let element" class="left-align-header">
                  <div fxLayout="row">
                    <div fxLayoutAlign="start start">
                      <img class="symbol-logo" src="{{element.IMGURL}}" alt="{{element.security_code}}">
                    </div>
                    <div fxLayout="column" class="pd-l-10-f">
                      <div class="tx-14-f color1 tx-bold cursor-f"
                        (click)="getStockInfopage(element.fs_name,element.security_code)">{{element.security_code}}
                      </div>
                      <div class="tx-12-f tx-semibold ">
                        {{element.fs_name}}
                      </div>
                    </div>
                  </div>
                </td>
              </ng-container>

              <ng-container matColumnDef="roe">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>ROE</th>
                <td mat-cell *matCellDef="let element"> {{element.roe|percent:'1.1' }}</td>
              </ng-container>
              <ng-container matColumnDef="roce">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>ROCE</th>
                <td mat-cell *matCellDef="let element"> {{element.roce|percent:'1.1' }}</td>
              </ng-container>
              <ng-container matColumnDef="ebitda_margin">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>EBITDA Margin</th>
                <td mat-cell *matCellDef="let element"> {{element.ebitda_margin|percent:'1.1' }}</td>
              </ng-container>
              <ng-container matColumnDef="net_income_margin">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Net Income Margin</th>
                <td mat-cell *matCellDef="let element"> {{element.net_income_margin|percent:'1.1' }}</td>
              </ng-container>
              <ng-container matColumnDef="fcf_margin">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>FCF Margin</th>
                <td mat-cell *matCellDef="let element"> {{element.fcf_margin|percent:'1.1' }}</td>
              </ng-container>
              <ng-container matColumnDef="sales_total_assets">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Sales/Total Assets</th>
                <td mat-cell *matCellDef="let element"> {{element.sales_total_assets| number:'1.1-1':symbol }}</td>
              </ng-container>



              <tr mat-header-row
                *matHeaderRowDef="['fs_name','roe','roce','ebitda_margin','net_income_margin','fcf_margin','sales_total_assets'];sticky: true">
              </tr>
              <tr mat-row
                *matRowDef="let row; columns: ['fs_name','roe','roce','ebitda_margin','net_income_margin','fcf_margin','sales_total_assets'];">
              </tr>
            </table>
          </cdk-virtual-scroll-viewport>
        </mat-tab>
        <mat-tab label="Leverage">
          <cdk-virtual-scroll-viewport [itemSize]="30" class="mg-t-20-f">
            <table mat-table #table [dataSource]="dataSource" matSort matSortDisableClear (matSortChange)="sortData($event)">
              <ng-container matColumnDef="fs_name" sticky>
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="left-align-header">Company</th>
                <td mat-cell *matCellDef="let element" class="left-align-header">
                  <div fxLayout="row">
                    <div fxLayoutAlign="start start">
                      <img class="symbol-logo" src="{{element.IMGURL}}" alt="{{element.security_code}}">
                    </div>
                    <div fxLayout="column" class="pd-l-10-f">
                      <div class="tx-14-f color1 tx-bold cursor-f"
                        (click)="getStockInfopage(element.fs_name,element.security_code)">{{element.security_code}}
                      </div>
                      <div class="tx-12-f tx-semibold ">
                        {{element.fs_name}}
                      </div>
                    </div>
                  </div>
                </td>
              </ng-container>

              <ng-container matColumnDef="net_debt_fcf">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Net Debt/FCF</th>
                <td mat-cell *matCellDef="let element"> {{element.net_debt_fcf| number:'1.1-1':symbol }}</td>
              </ng-container>
              <ng-container matColumnDef="net_debt_ebitda">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Net Debt/EBITDA</th>
                <td mat-cell *matCellDef="let element"> {{element.net_debt_ebitda| number:'1.1-1':symbol }}</td>
              </ng-container>
              <ng-container matColumnDef="debt_equity">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Debt/Equity</th>
                <td mat-cell *matCellDef="let element"> {{element.debt_equity| number:'1.1-1':symbol }}</td>
              </ng-container>



              <tr mat-header-row
                *matHeaderRowDef="['fs_name','net_debt_fcf','net_debt_ebitda','debt_equity'];sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns:['fs_name','net_debt_fcf','net_debt_ebitda','debt_equity'];">
              </tr>
            </table>
          </cdk-virtual-scroll-viewport>
        </mat-tab>
        <mat-tab label="Risk">
          <cdk-virtual-scroll-viewport [itemSize]="30" class="mg-t-20-f">
            <table mat-table #table [dataSource]="dataSource" matSort matSortDisableClear (matSortChange)="sortData($event)">
              <ng-container matColumnDef="fs_name" sticky>
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="left-align-header">Company</th>
                <td mat-cell *matCellDef="let element" class="left-align-header">
                  <div fxLayout="row">
                    <div fxLayoutAlign="start start">
                      <img class="symbol-logo" src="{{element.IMGURL}}" alt="{{element.security_code}}">
                    </div>
                    <div fxLayout="column" class="pd-l-10-f">
                      <div class="tx-14-f color1 tx-bold cursor-f"
                        (click)="getStockInfopage(element.fs_name,element.security_code)">{{element.security_code}}
                      </div>
                      <div class="tx-12-f tx-semibold ">
                        {{element.fs_name}}
                      </div>
                    </div>
                  </div>
                </td>
              </ng-container>
              <ng-container matColumnDef="beta_1y">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Beta 1Y</th>
                <td mat-cell *matCellDef="let element"> {{element.beta_1y|number:'1.1-1':symbol}}</td>
              </ng-container>
              <ng-container matColumnDef="volatility_1y">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Volatility 1Y (%)</th>
                <td mat-cell *matCellDef="let element"> {{element.volatility_1y|percent:'1.1' }}</td>
              </ng-container>



              <tr mat-header-row *matHeaderRowDef="['fs_name','beta_1y','volatility_1y'];sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: ['fs_name','beta_1y','volatility_1y'];"></tr>
            </table>
          </cdk-virtual-scroll-viewport>
        </mat-tab>
        <mat-tab label="Piotroski Score">
          <cdk-virtual-scroll-viewport [itemSize]="30" class="mg-t-20-f">
            <table mat-table #table [dataSource]="dataSource" matSort matSortDisableClear (matSortChange)="sortData($event)" class="piotroski-score-table">
              <ng-container matColumnDef="fs_name" sticky>
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="left-align-header">Company</th>
                <td mat-cell *matCellDef="let element" class="left-align-header">
                  <div fxLayout="row">
                    <div fxLayoutAlign="start start">
                      <img class="symbol-logo" src="{{element.IMGURL}}" alt="{{element.security_code}}">
                    </div>
                    <div fxLayout="column" class="pd-l-10-f">
                      <div class="tx-14-f color1 tx-bold cursor-f"
                        (click)="getStockInfopage(element.fs_name,element.security_code)">{{element.security_code}}
                      </div>
                      <div class="tx-12-f tx-semibold ">
                        {{element.fs_name}}
                      </div>
                    </div>
                  </div>
                </td>
              </ng-container>
              <ng-container matColumnDef="piotroski_score">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Piotroski Score</th>
                <td mat-cell *matCellDef="let element" class="left-aligned-header"> {{element.piotroski_score| number:'1.0-0' }}</td>
              </ng-container>


              <tr mat-header-row *matHeaderRowDef="['fs_name','piotroski_score'];sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: ['fs_name','piotroski_score'];"></tr>
            </table>
          </cdk-virtual-scroll-viewport>
        </mat-tab>
        <mat-tab label="All Factors">
          <cdk-virtual-scroll-viewport [itemSize]="30" class="mg-t-20-f">
            <table mat-table #table [dataSource]="dataSource" matSort matSortDisableClear (matSortChange)="sortData($event)">
              <ng-container matColumnDef="fs_name" sticky>
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="left-align-header">Company</th>
                <td mat-cell *matCellDef="let element" class="left-align-header">
                  <div fxLayout="row">
                    <div fxLayoutAlign="start start">
                      <img class="symbol-logo" src="{{element.IMGURL}}" alt="{{element.security_code}}">
                    </div>
                    <div fxLayout="column" class="pd-l-10-f">
                      <div class="tx-14-f color1 tx-bold cursor-f"
                        (click)="getStockInfopage(element.fs_name,element.security_code)">{{element.security_code}}
                      </div>
                      <div class="tx-12-f tx-semibold ">
                        {{element.fs_name}}
                      </div>
                    </div>
                  </div>
                </td>
              </ng-container>
              <ng-container matColumnDef="beta_1y">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="width-150-f">Beta 1Y</th>
                <td mat-cell *matCellDef="let element"> {{element.beta_1y|number:'1.1-1':symbol}}</td>
              </ng-container>
              <ng-container matColumnDef="volatility_1y">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="width-150-f">Volatility 1Y (%)</th>
                <td mat-cell *matCellDef="let element"> {{element.volatility_1y|percent:'1.1' }}</td>
              </ng-container>
              <ng-container matColumnDef="market_cap">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="width-150-f">
                  <span *ngIf="country=='India'">MCap(in <span  class="currencySymbolFont">{{currencysymbol}}</span> Cr)</span>
                  <span *ngIf="!(country=='India')">MCap(in <span  class="currencySymbolFont">{{currencysymbol}}</span> M)</span>
                </th>
                <td mat-cell *matCellDef="let element"> {{element.market_cap|number:'1.0-0':symbol}}</td>
              </ng-container>
              <ng-container matColumnDef="sales_rm_field">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="width-150-f">
                  <span *ngIf="country=='India'">Sales(in <span  class="currencySymbolFont">{{currencysymbol}}</span> Cr)</span>
                  <span *ngIf="!(country=='India')">Sales(in <span  class="currencySymbolFont">{{currencysymbol}}</span> M)</span>
                </th>
                <td mat-cell *matCellDef="let element">
                  {{element.sales_rm_field| number:'1.0-0':symbol }}</td>
              </ng-container>
              <ng-container matColumnDef="pe">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="width-150-f">Price-To-Earnings (PE)</th>
                <td mat-cell *matCellDef="let element"> {{element.pe|number:'1.1-1':symbol}}</td>
              </ng-container>
              <ng-container matColumnDef="pb">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="width-150-f">Price-To-Book (PB)</th>
                <td mat-cell *matCellDef="let element"> {{element.pb|number:'1.1-1':symbol}}</td>
              </ng-container>
              <ng-container matColumnDef="div_yield">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="width-150-f">Div.Yield</th>
                <td mat-cell *matCellDef="let element"> {{element.div_yield| percent:'1.1' }}</td>
              </ng-container>
              <ng-container matColumnDef="div_payout">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="width-150-f">Div.Payout</th>
                <td mat-cell *matCellDef="let element"> {{element.div_payout|percent:'1.1' }}</td>
              </ng-container>
              <ng-container matColumnDef="sales_growth">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="width-150-f">Sales Growth</th>
                <td mat-cell *matCellDef="let element"> {{element.sales_growth|percent:'1.1' }}</td>
              </ng-container>
              <ng-container matColumnDef="sales_growth_qoq_growth">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="width-150-f">Sales - QoQ Growth</th>
                <td mat-cell *matCellDef="let element"> {{element.sales_growth_qoq_growth|percent:'1.1' }}</td>
              </ng-container>
              <ng-container matColumnDef="sales_growth_3y_5r_cagr">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="width-150-f">Sales - 3Y CAGR</th>
                <td mat-cell *matCellDef="let element"> {{element.sales_growth_3y_5r_cagr|percent:'1.1' }}</td>
              </ng-container>
              <ng-container matColumnDef="eps_growth">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="width-150-f">EPS Growth</th>
                <td mat-cell *matCellDef="let element"> {{element.eps_growth|percent:'1.1' }}</td>
              </ng-container>
              <ng-container matColumnDef="eps_growth_qoq_growth">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="width-150-f">EPS - QoQ Growth</th>
                <td mat-cell *matCellDef="let element"> {{element.eps_growth_qoq_growth|percent:'1.1' }}</td>
              </ng-container>
              <ng-container matColumnDef="eps_growth_3y_5r_cagr">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="width-150-f">EPS - 3Y CAGR</th>
                <td mat-cell *matCellDef="let element"> {{element.eps_growth_3y_5r_cagr|percent:'1.1' }}</td>
              </ng-container>
              <ng-container matColumnDef="roe">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="width-150-f">ROE</th>
                <td mat-cell *matCellDef="let element"> {{element.roe|percent:'1.1' }}</td>
              </ng-container>
              <ng-container matColumnDef="roce">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="width-150-f">ROCE</th>
                <td mat-cell *matCellDef="let element"> {{element.roce|percent:'1.1' }}</td>
              </ng-container>
              <ng-container matColumnDef="ebitda_margin">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="width-150-f">EBITDA Margin</th>
                <td mat-cell *matCellDef="let element"> {{element.ebitda_margin|percent:'1.1' }}</td>
              </ng-container>
              <ng-container matColumnDef="net_income_margin">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="width-150-f">Net Income Margin</th>
                <td mat-cell *matCellDef="let element"> {{element.net_income_margin|percent:'1.1' }}</td>
              </ng-container>
              <ng-container matColumnDef="fcf_margin">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="width-150-f">FCF Margin</th>
                <td mat-cell *matCellDef="let element"> {{element.fcf_margin|percent:'1.1' }}</td>
              </ng-container>
              <ng-container matColumnDef="sales_total_assets">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="width-150-f">Sales/Total Assets</th>
                <td mat-cell *matCellDef="let element"> {{element.sales_total_assets| number:'1.1-1':symbol }}</td>
              </ng-container>
              <ng-container matColumnDef="net_debt_fcf">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="width-150-f">Net Debt/FCF</th>
                <td mat-cell *matCellDef="let element"> {{element.net_debt_fcf| number:'1.1-1':symbol }}</td>
              </ng-container>
              <ng-container matColumnDef="net_debt_ebitda">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="width-150-f">Net Debt/EBITDA</th>
                <td mat-cell *matCellDef="let element"> {{element.net_debt_ebitda| number:'1.1-1':symbol }}</td>
              </ng-container>
              <ng-container matColumnDef="debt_equity">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="width-150-f">Debt/Equity</th>
                <td mat-cell *matCellDef="let element"> {{element.debt_equity| number:'1.1-1':symbol }}</td>
              </ng-container>
              <ng-container matColumnDef="piotroski_score">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="width-150-f">Piotroski Score</th>
                <td mat-cell *matCellDef="let element"> {{element.piotroski_score| number:'1.0-0' }}</td>
              </ng-container>


              <tr mat-header-row
                *matHeaderRowDef="['fs_name','beta_1y','volatility_1y','market_cap','sales_rm_field','pe','pb','div_yield','div_payout','sales_growth','sales_growth_qoq_growth','sales_growth_3y_5r_cagr','eps_growth','eps_growth_qoq_growth','eps_growth_3y_5r_cagr',
            'roe','roce','ebitda_margin','net_income_margin','fcf_margin','sales_total_assets','net_debt_fcf','net_debt_ebitda','debt_equity','piotroski_score'];sticky: true">
              </tr>
              <tr mat-row
                *matRowDef="let row; columns: ['fs_name','beta_1y','volatility_1y','market_cap','sales_rm_field','pe','pb','div_yield','div_payout','sales_growth','sales_growth_qoq_growth','sales_growth_3y_5r_cagr','eps_growth','eps_growth_qoq_growth',
            'eps_growth_3y_5r_cagr','roe','roce','ebitda_margin','net_income_margin','fcf_margin','sales_total_assets','net_debt_fcf','net_debt_ebitda','debt_equity','piotroski_score'];">
              </tr>
            </table>
          </cdk-virtual-scroll-viewport>
        </mat-tab>

      </mat-tab-group>
    </section>
    <section class="section-3">
      <h2 class="tx-xs-16-f tx-sm-16-f tx-md-18-f tx-lg-18-f tx-xl-18-f tx-semibold lh-1 title-text mg-b-30-f">
        Investment Amount and Returns by Factors</h2>
      <strong class="tx-semibold">Select Factor</strong>
      <select (change)="applyFilter($event.target.value)" class="mg-l-5-f mg-t-0-f">
        <option *ngFor="let element of factors" [value]="element">
          {{element}}
        </option>
      </select>
      <div fxLayout="row wrap" fxLayoutAlign="center" class="mg-t-10">
        <div fxFlex="33%" fxFlex.lt-md="100%">
          <div id="InvestmentAmount"></div>
        </div>
        <div fxFlex="33%" fxFlex.lt-md="100%">
          <div id="Return"></div>
        </div>
        <div fxFlex="33%" fxFlex.lt-md="100%">
          <div id="NoOfStocks"></div>
        </div>
      </div>
    </section>
  </div>
</main>