<div *ngIf="errorFlag" class="mg-t-100-f">
  <app-page401 *ngIf="errorMsg=='401'"></app-page401>
  <app-page402 *ngIf="errorMsg=='402'"></app-page402>
  <app-page403 *ngIf="errorMsg=='403'"></app-page403>
  <app-page404 *ngIf="errorMsg=='404'"></app-page404>
  <app-page405 *ngIf="errorMsg=='405'"></app-page405>
  <app-page406 *ngIf="errorMsg=='406'"></app-page406>
  <app-page412 *ngIf="errorMsg=='412'"></app-page412>
  <app-page500 *ngIf="errorMsg=='500'"></app-page500>
  <app-page501 *ngIf="errorMsg=='501'"></app-page501>
  <app-page502 *ngIf="errorMsg=='502'"></app-page502>
</div>
<main class="content market-main mg-t-100-f" *ngIf="contentFlag">
  <div class="se-pre-con" *ngIf="loading"></div>
  <div class="container pd-y-60-f">
    <h1 class="tw tx-xs-28-f tx-sm-30-f tx-md-32-f tx-lg-36-f tx-xl-36-f tx-bold lh-1 title-text">Market Monitor</h1>
    <div>
      <mat-tab-group animationDuration="0ms" class="dateTabs" (selectedTabChange)="onChange($event)">
        <mat-tab label="Performance">
          <p class='tx-14-f mg-t-10-f tx-semibold tx-right pd-r-20-f'>#As of {{asofDate|date:'dd-MMM-yyyy'}}</p>
          <div class="mg-t-20-f pd-x-20-f">
            <section class="section-1">
              <div fxLayout="row wrap" fxLayoutAlign="space-between stretch">
                <mat-card fxFlex="59%" fxFlex.lt-md="100%" class="tables-div">
                  <h3 class="tx-sm-16-f tx-18-f color1 tx-semibold">Broader Market performance</h3>
                  <table mat-table #table [dataSource]="indices_data" class="normalTableWithText otherTables">
                    <ng-container [matColumnDef]="col" *ngFor="let col of displayColumns">
                      <th mat-header-cell *matHeaderCellDef> {{ col }} </th>
                      <td mat-cell *matCellDef="let element">
                        <div *ngIf='element[col][0] =="+"' class="green-color"><span>{{element[col]}}</span></div>
                        <div *ngIf='element[col][0] =="-"' class="red-color">{{element[col]}}</div>
                        <div *ngIf='element[col][0] != "-" && element[col][0] != "+" && col != " "'>
                          {{element[col] |  number:'1.1-1':symbol}}</div>
                        <div *ngIf='element[col][0] != "-" && element[col][0] != "+" && col == " " '>{{element[col]}}
                        </div>
                      </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayColumns;"></tr>
                  </table>
                </mat-card>
                <mat-card fxFlex="39%" fxFlex.lt-md="100%" class="mg-sm-t-20">
                  <h3 class="tx-sm-16-f tx-18-f color1 tx-semibold">Macro indicators</h3>
                  <table mat-table #table [dataSource]="macro_data" class="normalTableWithText otherTables">
                    <ng-container [matColumnDef]="col" *ngFor="let col of displayColumns2">
                      <th mat-header-cell *matHeaderCellDef>
                        <div *ngIf='col=="Gold (₹/gm)"'>Gold (<span class="currencySymbolFont">₹</span>/gm)</div>
                        <div *ngIf='col!="Gold (₹/gm)"'>{{ col }}</div>
                      </th>
                      <td mat-cell *matCellDef="let element">
                        <div *ngIf='element[col][0] =="+"' class="green-color"><span>{{element[col]}}</span></div>
                        <div *ngIf='element[col][0] =="-"' class="red-color">{{element[col]}}</div>
                        <div *ngIf='element[col][0] != "-" && element[col][0] != "+" && col != " " '>
                          {{element[col] |  number:'1.1-1':symbol}}</div>
                        <div *ngIf='element[col][0] != "-" && element[col][0] != "+" && col == " " '>{{element[col]}}
                        </div>
                      </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayColumns2"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayColumns2;"></tr>
                  </table>
                </mat-card>
              </div>
            </section>
            <section class="section-2">
              <mat-card>
                <h2 class="tx-24-f color1 tx-semibold tx-center">{{header_values['index_name']}} 500</h2>
                <mat-card-content>
                  <!-- <h3 class="sub-title-text tx-18-f">MarketByte </h3> -->
                  <div fxLayout="row wrap" fxLayoutAlign="space-between stretch">
                    <div fxFlex="65%" fxFlex.lt-md="100%" fxLayout="row wrap" fxLayoutAlign="space-between stretch">
                      <div fxFlex="49%" fxFlex.lt-sm="100%" fxLayout="column">
                        <h3 class="tx-sm-16-f tx-18-f green-color tx-semibold">Top 5 Gainers</h3>
                        <table fxFlex="100%" mat-table #table [dataSource]="gainers"
                          class="normalTableWithText marketbyteTables">
                          <ng-container [matColumnDef]="col" *ngFor="let col of gainers_cols;let i =index">
                            <th mat-header-cell *matHeaderCellDef> {{ gainers_columns[i] }} </th>
                            <td mat-cell *matCellDef="let element">
                              <div *ngIf="col=='Gain'" class='green-color'>{{element[col] | percent:'1.1'}}
                              </div>
                              <div *ngIf="(col=='Price')"> {{element[col] |  number:'1.1-1':symbol}}</div>
                              <div *ngIf="(col=='Company')"> {{element[col]}}</div>
                            </td>
                          </ng-container>
                          <tr mat-header-row *matHeaderRowDef="gainers_cols"></tr>
                          <tr mat-row *matRowDef="let row; columns: gainers_cols;"></tr>
                        </table>
                        <h3 class="tx-sm-16-f tx-18-f red-color tx-semibold mg-t-20-f">Top 5 Losers</h3>
                        <table fxFlex="100%" mat-table #table [dataSource]="losers"
                          class="normalTableWithText marketbyteTables">
                          <ng-container [matColumnDef]="col"
                            *ngFor="let col of ['Company','Price','Loss'];let i =index">
                            <th mat-header-cell *matHeaderCellDef> {{ losers_columns[i] }} </th>
                            <td mat-cell *matCellDef="let element">
                              <div *ngIf="col=='Loss'" class='red-color'>{{element[col] | percent:'1.1'}}
                              </div>
                              <div *ngIf="(col=='Price')"> {{element[col] |  number:'1.1-1':symbol}}</div>
                              <div *ngIf="(col=='Company')"> {{element[col]}}</div>
                            </td>
                          </ng-container>
                          <tr mat-header-row *matHeaderRowDef="['Company','Price','Loss']"></tr>
                          <tr mat-row *matRowDef="let row; columns: ['Company','Price','Loss'];"></tr>
                        </table>
                      </div>
                      <div fxFlex="49%" fxFlex.lt-sm="100%" fxLayout="column">
                        <h3 class="tx-sm-16-f tx-18-f color1 tx-semibold">Sector Indices - Gainers & Losers</h3>
                        <table mat-table #table [dataSource]="index_gain_losers"
                          class="normalTableWithText marketbyteTables sectortable">
                          <ng-container [matColumnDef]="col" *ngFor="let col of ['Company','Return'];let i =index">
                            <th mat-header-cell *matHeaderCellDef> {{ sector_columns[i] }} </th>
                            <td mat-cell *matCellDef="let element">
                              <div *ngIf="element[col]>=0 && !((col=='Company'))" class='green-color'>
                                {{element[col] | percent:'1.1'}}</div>
                              <div *ngIf="!(element[col]>=0) && !((col=='Company'))" class='red-color'>
                                {{element[col] | percent:'1.1'}}</div>
                              <div *ngIf="(col=='Company')"> {{element[col]}}</div>
                            </td>
                          </ng-container>
                          <tr mat-header-row *matHeaderRowDef="['Company','Return']"></tr>
                          <tr mat-row *matRowDef="let row; columns: ['Company','Return'];"></tr>
                        </table>

                      </div>
                    </div>
                    <div fxFlex="34%" fxFlex.lt-md="100%" fxLayout="column">
                      <h3 class="tx-sm-16-f tx-18-f color1 tx-semibold">Advance / Decline</h3>
                      <div [chart]="barChart2"></div>
                      <h3 class="tx-sm-16-f tx-18-f color1 tx-semibold">Last 10 Day Advance/Decline </h3>
                      <div [chart]="barChart1"></div>
                    </div>
                  </div>
                </mat-card-content>
              </mat-card>
            </section>
            <section class="section-3">
              <div fxLayout="row wrap" fxLayoutAlign="space-between stretch">
                <mat-card fxFlex="59%" fxFlex.sm="48%" fxFlex.xs="100%" class="">
                  <h3 class="tx-sm-16-f tx-18-f color1 tx-semibold mg-y-10-f">Index Performance </h3>
                  <mat-card-content>
                    <div [chart]="indices_lines"></div>
                  </mat-card-content>
                </mat-card>
                <mat-card fxFlex="39%" fxFlex.sm="48%" fxFlex.xs="100%" class="card1 mg-xs-t-20">
                  <h3 class="tx-sm-16-f tx-18-f color1 tx-semibold mg-y-10-f">Market Sentiment</h3>
                  <mat-card-content>
                    <div [chart]="barChart"></div>
                  </mat-card-content>
                </mat-card>
              </div>
            </section>
            <section class="section-4">
              <h3 class="tx-sm-16-f tx-18-f color1 tx-semibold">Macro Economic Data</h3>
              <div fxLayout="row wrap" fxLayoutAlign="space-between stretch">
                <mat-card fxFlex="24%" fxFlex.lt-md="48%" fxFlex.lt-sm="100%">
                  <h3 class="tx-sm-16-f tx-18-f color1 tx-semibold">Oil</h3>
                  <div [chart]="oil_lines"></div>
                </mat-card>
                <mat-card fxFlex="24%" fxFlex.lt-md="48%" fxFlex.lt-sm="100%" class="mg-xs-t-20">
                  <h3 class="tx-sm-16-f tx-18-f color1 tx-semibold">Gold</h3>
                  <div [chart]="gold_lines"></div>
                </mat-card>
                <mat-card fxFlex="24%" fxFlex.lt-md="48%" fxFlex.lt-sm="100%" class="mg-sm-t-20 mg-xs-t-20">
                  <h3 class="tx-sm-16-f tx-18-f color1 tx-semibold">FX Rate</h3>
                  <div [chart]="fxrate_lines"></div>
                </mat-card>
                <mat-card fxFlex="24%" fxFlex.lt-md="48%" fxFlex.lt-sm="100%" class="mg-sm-t-20 mg-xs-t-20">
                  <h3 class="tx-sm-16-f tx-18-f color1 tx-semibold">Interest Rate</h3>
                  <div [chart]="interest_rate_lines"></div>
                </mat-card>
              </div>
            </section>
            <section class="section-5">
              <h3 class="tx-sm-16-f tx-18-f color1 tx-semibold mg-y-20-f">Monthly Market Indices Performance</h3>
              <div class="tables-div">
                <table mat-table #table [dataSource]="market_index_performance"
                  class="normalTableWithText otherTables  monthlyMarketSector">
                  <ng-container [matColumnDef]="col" *ngFor="let col of displayPerformanceColumns">
                    <th mat-header-cell *matHeaderCellDef>{{ col }}</th>
                    <td mat-cell *matCellDef="let element">
                      <div *ngIf="!(col=='Ticker')">
                        <div [style.color]="element[col]> 0 ? '#136F63 !important' : '#F52A4C !important'">
                          {{element[col]  | percent:'1.1' }}</div>
                      </div>
                      <div *ngIf="col=='Ticker'">
                        <div>{{element[col]  }}</div>
                      </div>
                    </td>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="displayPerformanceColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayPerformanceColumns;"></tr>
                </table>
              </div>
            </section>
            <section class="section-6">
              <h3 class="tx-sm-16-f tx-18-f color1 tx-semibold">Monthly Sector Indices Performance </h3>
              <div class="tables-div">
                <table mat-table #table [dataSource]="market_sector_performance"
                  class="normalTableWithText otherTables  monthlyMarketSector">
                  <ng-container [matColumnDef]="col" *ngFor="let col of displayPerformanceColumns">
                    <th mat-header-cell *matHeaderCellDef>{{ col }}</th>
                    <td mat-cell *matCellDef="let element">
                      <div *ngIf="!(col=='Ticker')">
                        <div [style.color]="element[col]> 0 ? '#136F63 !important' : '#F52A4C !important'">
                          {{element[col]  | percent:'1.1' }}</div>
                      </div>
                      <div *ngIf="col=='Ticker'">
                        <div>{{element[col]  }}</div>
                      </div>
                    </td>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="displayPerformanceColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayPerformanceColumns;"></tr>
                </table>
              </div>
            </section>
            <section class="section-7" *ngIf="country=='India'">
              <h3 class="tx-sm-16-f tx-18-f color1 tx-semibold">Quarterly Sector wise Trailing 12M PE & PB Performance
              </h3>
              <div class="tables-div">
                <table mat-table #table [dataSource]="sector_pe_pb_performance" class="sector-table otherTables">
                  <ng-container [matColumnDef]="col" *ngFor="let col of displaySectorPEPBColumns;let i=index">
                    <th mat-header-cell *matHeaderCellDef class="sub_sector_header"
                      style="border-right:2px solid white">
                      <div *ngIf="(i+1)%2==0 && !(col=='Sector_Name')">
                        <div class='tx-center-f'>PE</div>
                      </div>
                      <div *ngIf="(i+1)%2==1 && !(col=='Sector_Name')">
                        <div class='tx-center-f'>PB</div>
                      </div>
                    </th>
                    <td mat-cell *matCellDef="let element">
                      <div *ngIf="!(col=='Sector_Name')">
                        <div class='tx-center-f'>{{element[col]|number:'1.1-1'}}</div>
                      </div>
                      <div *ngIf="col=='Sector_Name'">
                        <div>{{element[col]}}</div>
                      </div>
                    </td>
                  </ng-container>
                  <ng-container matColumnDef={{col}} *ngFor="let col of sectorGroupColumns" class="main_sector_header">

                    <th mat-header-cell *matHeaderCellDef [attr.colspan]="col == 'Sector' ? '1' : '2'"
                      style="border-right:2px solid white"> {{col}}
                    </th>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="sectorGroupColumns"></tr>
                  <tr mat-header-row *matHeaderRowDef="displaySectorPEPBColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displaySectorPEPBColumns;"></tr>
                </table>
              </div>
            </section>
          </div>
        </mat-tab>
        <mat-tab label="Valuation">
          <p class='tx-14-f mg-t-10-f tx-semibold tx-right pd-r-20-f'>#As of {{asofDate|date:'dd-MMM-yyyy'}}</p>
        </mat-tab>
        <mat-tab label="Risk">
          <p class='tx-14-f mg-t-10-f tx-semibold tx-right pd-r-20-f'>#As of {{asofDate|date:'dd-MMM-yyyy'}}</p>
        </mat-tab>
      </mat-tab-group>
      <div *ngIf="valuationFlag">
        <div *ngFor="let chart of charts; let i = index">
          <div *ngIf='headers[i] != "CBOE Volatility Index" && headers[i]!="India VIX" ' class="mg-b-30-f">
            <h3 class="tx-sm-16-f tx-18-f color1 tx-semibold mg-b-20-f">{{headers[i]}}
            </h3>
            <div [chart]='chart' style='width: 100% !important;' class="chart-div"></div>
            <p class="pcolor pd-t-10-f">{{Content[i]}}</p>
          </div>
        </div>
      </div>
      <div *ngIf="correlationFlag">
        <div *ngFor="let chart of charts; let i = index">
          <div *ngIf='headers[i]=="India VIX" || headers[i]=="CBOE Volatility Index"' class="mg-b-30-f">
            <h3 class="tx-sm-16-f tx-18-f color1 tx-semibold mg-b-20-f">{{headers[i]}}
            </h3>
            <div [chart]='chart' style='width: 100% !important;' class="chart-div"></div>
            <p class="pcolor pd-t-10-f">{{Content[i]}}</p>
          </div>
        </div>
        <h3 class="tx-sm-16-f tx-18-f color1 tx-semibold">90 Day Correlation of {{header_values['index_name']}} Indices
        </h3>
        <div class="heatMap" [chart]="heatMapCorrelation"></div>
      </div>
    </div>
  </div>
</main>
