.market-main section:first-child{
  margin-top:0px !important; 
}
::ng-deep .owl-theme .owl-nav [class*=owl-]{
  background: #404040;
}
::ng-deep .owl-prev,
::ng-deep .owl-next {
  position: absolute !important;
  top: 50% !important;
transform: translateY(-50%) !important;
}

::ng-deep .owl-prev {
  left: 0rem !important;
}

::ng-deep .owl-next {
  right: 0rem !important;
}
::ng-deep .owl-carousel ::ng-deep .owl-nav button.owl-next, ::ng-deep .owl-carousel ::ng-deep .owl-nav button.owl-prev, ::ng-deep .owl-carousel button.owl-dot{
  font-size: 50px !important;
}
::ng-deep .owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: #002060;
    width:40px !important;
    border-radius: 80px !important;
}
::ng-deep .owl-theme .owl-dots .owl-dot span {
    margin: 5px !important;
    height:6px !important;
    width:6px !important;
    background-color: #A1C5C0 ;
}

::ng-deep .owl-theme .owl-nav [class*=owl-]:hover {
  background: transparent !important;
  color:#002060 !important;
}
::ng-deep .owl-theme .owl-nav [class*=owl-]:focus {
  outline:none !important;
}
::ng-deep .normalTableWithText.marketbyteTables tr.mat-row{
  height:30px !important;
}
  ::ng-deep .sector-table .main_sector_header th.mat-header-cell:nth-child(1) {
    width:10px !important;
  }
  .sector-table tr.mat-header-row{
    height:40px !important;
  }
  ::ng-deep .sector-table th.mat-header-cell.sub_sector_header{
    text-align: right !important;
  }

  .market-main .sectortable tr.mat-row,
  .otherTables tr.mat-row{
    height:36.8px !important;
  }
  .market-main .normalTableWithText.marketbyteTables tr.mat-header-row,
  .market-main .normalTableWithText.otherTables tr.mat-header-row {
    height:40px !important;
  }
.sector-table td.mat-cell:last-child{
    padding-right:0px !important;
 } 
 .sector-table th.mat-header-cell:first-child{
    width: 200px !important;
    text-align: left !important;
 }
.sector-table th.mat-header-cell{
   width : 100px !important;
   text-align: center !important;
 }
 .monthlyMarketSector th.mat-header-cell{
   width: 100px !important;
 }
 .monthlyMarketSector th.mat-header-cell:first-child{
  width: 200px !important;
}