<div *ngIf="errorFlag" class="mg-t-100-f">
  <app-page401 *ngIf="errorMsg=='401'"></app-page401>
  <app-page402 *ngIf="errorMsg=='402'"></app-page402>
  <app-page403 *ngIf="errorMsg=='403'"></app-page403>
  <app-page404 *ngIf="errorMsg=='404'"></app-page404>
  <app-page405 *ngIf="errorMsg=='405'"></app-page405>
  <app-page406 *ngIf="errorMsg=='406'"></app-page406>
  <app-page412 *ngIf="errorMsg=='412'"></app-page412>
  <app-page500 *ngIf="errorMsg=='500'"></app-page500>
  <app-page501 *ngIf="errorMsg=='501'"></app-page501>
  <app-page502 *ngIf="errorMsg=='502'"></app-page502>
</div>
<main class="content mg-t-100-f" *ngIf="contentFlag">
  <div class="container pd-y-60-f" *ngIf="emptyStocks">
    No portfolio for this user<a routerLink="/{{country}}/CreatePortfolio-SelectingStocks">Create Portfolio</a>
  </div>
  <div class="container pd-y-60-f" *ngIf="!emptyStocks">

    <section class="section-1">
    <h1 class="tw tx-xs-28-f tx-sm-30-f tx-md-32-f tx-lg-36-f tx-xl-36-f tx-bold lh-1 title-text">Quantitative Risk Monitoring</h1>
    <div class="se-pre-con" *ngIf="loading"></div>
    <div class='se-pre-con-div' *ngIf='divloading'></div>
      <p-dropdown [options]="portfolio_list" [style]="{'width': '15rem'}" [(ngModel)]="selectedPortfolio"
        optionLabel="portfolio_name" [filter]="true" filterBy="portfolio_name" (onChange)="onPortfolioChange()"
        placeholder="Select a portfolio">
        <ng-template pTemplate="selectedItem">
          <div class="country-item country-item-value" *ngIf="selectedPortfolio">
            <div>{{selectedPortfolio.portfolio_name}}</div>
          </div>
        </ng-template>
        <ng-template let-portfolio pTemplate="item">
          <div class="country-item">
            <div>{{portfolio.portfolio_name}}</div>
          </div>
        </ng-template>
      </p-dropdown>
    </section>
    <section class="section-2">
      <h2 class="tx-sm-16-f tx-18-f color1 tx-semibold mg-t-20-f" >Risk Monitor</h2>
      <cdk-virtual-scroll-viewport [itemSize]="30" class="mg-t-10-f risk-overview-table">
        <table mat-table #table [dataSource]="riskoverviewData" matSort (matSortChange)="sortTableData($event,'riskoverviewData')">
          <ng-container matColumnDef="Security_Code" sticky>
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="left-align-header">Company</th>
            <td mat-cell *matCellDef="let element" class="left-align-header">
              <div fxLayout="row">
                <div fxLayoutAlign="start start">
                  <img class="symbol-logo" src="{{element.IMGURL}}" alt="{{element.Security_Code}}">
                </div>
                <div fxLayout="column" class="pd-l-10-f">
                  <div class="tx-14-f color1 tx-semibold cursor-f"
                    (click)="getStockInfopage(element.Company_Name,element.Security_Code)">{{element.Security_Code}}
                  </div>
                  <div class="tx-12-f tx-semibold ">
                    {{element.Company_Name}}
                  </div>
                </div>
              </div>
            </td>
          </ng-container>
          <ng-container matColumnDef="Price">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="width-120-f">
              <span>Price (<span  class="currencySymbolFont">{{currencysymbol}}</span>)</span>
            </th>
            <td mat-cell *matCellDef="let element;">{{element.Price| number:'1.0-0': symbol}}</td>
          </ng-container>
          <ng-container matColumnDef="Views">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="left-align-header">Views</th>
            <td mat-cell *matCellDef="let element;" class="left-align-header" [innerHTML]='element.Views'></td>
          </ng-container>
          <ng-container matColumnDef="_1M_Cumulative_Return">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="width-120-f">1M Cumulative Return</th>
            <td mat-cell *matCellDef="let element">
              <ng-container *ngIf="element._1M_Cumulative_Return>0.15;else _1M_second">
                <span class="return_green_mat-cell">{{element._1M_Cumulative_Return| percent:'1.1'}} </span>
              </ng-container>
              <ng-template #_1M_second>
                <ng-container *ngIf="element._1M_Cumulative_Return<-0.10;else _1M_third">
                  <span class="return_red_mat-cell"> {{element._1M_Cumulative_Return| percent:'1.1'}} </span>
                </ng-container>
              </ng-template>
              <ng-template #_1M_third>
                <ng-container>
                  {{element._1M_Cumulative_Return|percent:'1.1'}}
                </ng-container>
              </ng-template>
            </td>
          </ng-container>
          <ng-container matColumnDef="_1Y_Cumulative_Return">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="width-120-f">1Y Cumulative Return</th>
            <td mat-cell *matCellDef="let element">
              <ng-container *ngIf="element._1Y_Cumulative_Return>0.15;else _1Y_second">
                <span class="return_green_mat-cell">{{element._1Y_Cumulative_Return| percent:'1.1'}} </span>
              </ng-container>
              <ng-template #_1Y_second>
                <ng-container *ngIf="element._1Y_Cumulative_Return<-0.10;else _1Y_third">
                  <span class="return_red_mat-cell"> {{element._1Y_Cumulative_Return| percent:'1.1'}} </span>
                </ng-container>
              </ng-template>
              <ng-template #_1Y_third>
                <ng-container>
                  {{element._1Y_Cumulative_Return|percent:'1.1'}}
                </ng-container>
              </ng-template>
            </td>
          </ng-container>
          <ng-container matColumnDef="_1M_Excess_Return">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="width-120-f">1M Excess Return</th>
            <td mat-cell *matCellDef="let element">
              <ng-container *ngIf="element._1M_Excess_Return>0.15;else _1ME_second">
                <span class="return_green_mat-cell">{{element._1M_Excess_Return| percent:'1.1'}} </span>
              </ng-container>
              <ng-template #_1ME_second>
                <ng-container *ngIf="element._1M_Excess_Return<-0.10;else _1ME_third">
                  <span class="return_red_mat-cell"> {{element._1M_Excess_Return| percent:'1.1'}} </span>
                </ng-container>
              </ng-template>
              <ng-template #_1ME_third>
                <ng-container>
                  {{element._1M_Excess_Return|percent:'1.1'}}
                </ng-container>
              </ng-template>
            </td>
          </ng-container>
          <ng-container matColumnDef="_3M_Excess_Return">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="width-120-f">3M Excess Return</th>
            <td mat-cell *matCellDef="let element">
              <ng-container *ngIf="element._3M_Excess_Return>0.15;else _3ME_second">
                <span class="return_green_mat-cell">{{element._3M_Excess_Return| percent:'1.1'}} </span>
              </ng-container>
              <ng-template #_3ME_second>
                <ng-container *ngIf="element._3M_Excess_Return<-0.10;else _3ME_third">
                  <span class="return_red_mat-cell"> {{element._3M_Excess_Return| percent:'1.1'}} </span>
                </ng-container>
              </ng-template>
              <ng-template #_3ME_third>
                <ng-container>
                  {{element._3M_Excess_Return|percent:'1.1'}}
                </ng-container>
              </ng-template>
            </td>
          </ng-container>
          <ng-container matColumnDef="_1Y_Excess_Return">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="width-120-f">1Y Excess Return</th>
            <td mat-cell *matCellDef="let element">
              <ng-container *ngIf="element._1Y_Excess_Return>0.15;else _1YE_second">
                <span class="return_green_mat-cell">{{element._1Y_Excess_Return| percent:'1.1'}} </span>
              </ng-container>
              <ng-template #_1YE_second>
                <ng-container *ngIf="element._1Y_Excess_Return<-0.10;else _1YE_third">
                  <span class="return_red_mat-cell"> {{element._1Y_Excess_Return| percent:'1.1'}} </span>
                </ng-container>
              </ng-template>
              <ng-template #_1YE_third>
                <ng-container>
                  {{element._1Y_Excess_Return|percent:'1.1'}}
                </ng-container>
              </ng-template>
            </td>
          </ng-container>
          <ng-container matColumnDef="_1M_L_H">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="center-align-header">1M Price</th>
            <td mat-cell *matCellDef="let element">
              <app-spark-line2 [data]="element._1M_L_H" [maxValue]='maxValue2' [minValue]='minValue2'
                [categories]='element.categories2' [plot_line]='element.plot_line'></app-spark-line2>
            </td>
          </ng-container>
          <ng-container matColumnDef="_52_Wk_L_H">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="center-align-header">1Y Price</th>
            <td mat-cell *matCellDef="let element">
              <app-spark-line2 [data]="element._52_Wk_L_H" [maxValue]='maxValue1' [minValue]='minValue1'
                [categories]='element.categories1' [plot_line]='element.plot_line'></app-spark-line2>
            </td>
          </ng-container>
          <ng-container matColumnDef="RSI">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="width-120-f">RSI</th>
            <td mat-cell *matCellDef="let element">
              <ng-container *ngIf="element.RSI>70;else rsi_second">
                {{element.RSI| number:'1.0-0':symbol}} <br> <strong class='return_green'>Over Bought</strong>
              </ng-container>
              <ng-template #rsi_second>
                <ng-container *ngIf="element.RSI<30;else rsi_third">
                  {{element.RSI| number:'1.0-0':symbol}} <br> <strong class='return_red '>Over Sold</strong>
                </ng-container>
              </ng-template>
              <ng-template #rsi_third>
                <ng-container>
                  {{element.RSI| number:'1.0-0':symbol}}
                </ng-container>
              </ng-template>
            </td>
          </ng-container>
          <ng-container matColumnDef="_50_DMA">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="width-120-f">50 DMA</th>
            <td mat-cell *matCellDef="let element"> {{element._50_DMA | number:'1.0-0':symbol}} </td>
          </ng-container>
          <ng-container matColumnDef="_20_EMA">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="width-120-f">20 EMA</th>
            <td mat-cell *matCellDef="let element">
              <ng-container *ngIf="element._20_EMA>1.04*element.Price;else _20EMA_second">
                {{element._20_EMA| number:'1.0-0':symbol}} <strong class='return_red'>-ve</strong>
              </ng-container>
              <ng-template #_20EMA_second>
                {{element._20_EMA| number:'1.0-0':symbol}}
              </ng-template>
            </td>
          </ng-container>
          <ng-container matColumnDef="VFX">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="width-120-f">VFX</th>
            <td mat-cell *matCellDef="let element">
              <ng-container *ngIf="element.Price<element._20_EMA && element.VFX>0.09;else VFX_second">
                {{element.VFX| percent:'1.0'}} <strong class='return_red'>-ve</strong>
              </ng-container>
              <ng-template #VFX_second>
                {{element.VFX| percent:'1.0'}}
              </ng-template>
            </td>
          </ng-container>
          <tr mat-header-row
            *matHeaderRowDef="['Security_Code','Views','Price','_1M_Cumulative_Return','_1Y_Cumulative_Return','_1M_Excess_Return','_3M_Excess_Return','_1Y_Excess_Return','_1M_L_H','_52_Wk_L_H','RSI','_50_DMA','_20_EMA','VFX'];sticky: true">
          </tr>
          <tr mat-row
            *matRowDef="let row; columns: ['Security_Code','Views','Price','_1M_Cumulative_Return','_1Y_Cumulative_Return','_1M_Excess_Return','_3M_Excess_Return','_1Y_Excess_Return','_1M_L_H','_52_Wk_L_H','RSI','_50_DMA','_20_EMA','VFX'];">
          </tr>

        </table>
      </cdk-virtual-scroll-viewport>
    </section>
    <section class="section-3">
        <h2 class="tx-sm-16-f tx-18-f color1 tx-semibold mg-t-20-f" >Risk Overview</h2>
        <mat-tab-group animationDuration="0ms" mat-align-tabs="left" (selectedTabChange)="onChange($event)" [selectedIndex]="selectedIndex"
        class='mg-b-20-f periodTabs'>
        <mat-tab label="1Y"></mat-tab>
        <mat-tab label="YTD"></mat-tab>
        <mat-tab label="2020"></mat-tab>
        <mat-tab label="Max"></mat-tab>
      </mat-tab-group>
      <cdk-virtual-scroll-viewport [itemSize]="30" class="mg-t-10-f ">
        <table mat-table #table [dataSource]="stockwiseData"  matSort (matSortChange)="sortTableData($event,'stockwiseData')" >
          <ng-container matColumnDef="Company" sticky>
            <th  mat-header-cell *matHeaderCellDef mat-sort-header class="left-align-header">Stock</th>
            <td mat-cell *matCellDef="let element" class="left-align-header">
              <div fxLayout="row">
                <div fxLayoutAlign="start start">
                  <img class="symbol-logo" src="{{element.IMGURL}}" alt="{{element.Security_Code}}">
                </div>
                <div fxLayout="column" class="pd-l-10-f">
                  <div class="tx-14-f color1 tx-semibold cursor-f" (click)="getStockInfopage(element.Company,element.Security_Code)" >{{element.Security_Code}}</div>
                  <div class="tx-12-f tx-semibold ">
                    {{element.Company}}
                  </div>
                </div>
              </div>
            </td> 
          </ng-container>
          <ng-container matColumnDef="Annualized_Return">
            <th  mat-header-cell *matHeaderCellDef mat-sort-header class="width-200-f width-lg-180-f width-md-120-f width-sm-100-f">Annualized Return</th>
            <td mat-cell *matCellDef="let element">{{element.Annualized_Return|percent:'1.1'}}</td>
          </ng-container>
    
          <ng-container matColumnDef="Annualized_Volatility">
            <th  mat-header-cell *matHeaderCellDef mat-sort-header class="width-200-f width-lg-180-f width-md-120-f width-sm-100-f">Annualized Volatility (Risk)</th>
            <td mat-cell *matCellDef="let element;">{{element.Annualized_Volatility|percent:'1.1'}}</td>
          </ng-container>
          <ng-container matColumnDef="Beta">
            <th  mat-header-cell *matHeaderCellDef mat-sort-header class="width-200-f width-lg-180-f width-md-120-f width-sm-100-f">Beta</th>
            <td mat-cell *matCellDef="let element"> {{element.Beta | number:'1.1-1'}} </td>
          </ng-container>
          <ng-container matColumnDef="VaR_rm">
            <th  mat-header-cell *matHeaderCellDef mat-sort-header class="width-200-f width-lg-180-f width-md-120-f width-sm-100-f">
              <span>VaR (<span  class="currencySymbolFont">{{currencysymbol}}</span>)</span>

            </th>
            <td mat-cell *matCellDef="let element">{{element.VaR_rm|number:'1.0-0':symbol }} </td>
          </ng-container>
          <ng-container matColumnDef="VaR_Percent">
            <th  mat-header-cell *matHeaderCellDef mat-sort-header class="width-200-f width-lg-180-f width-md-120-f width-sm-100-f">VaR(%)</th>
            <td mat-cell *matCellDef="let element"> {{element.VaR_Percent|percent:'1.1'}} </td>
          </ng-container>
    
          <tr mat-header-row *matHeaderRowDef="['Company','Annualized_Return','Annualized_Volatility','Beta','VaR_rm','VaR_Percent'];sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: ['Company','Annualized_Return','Annualized_Volatility','Beta','VaR_rm','VaR_Percent'];"></tr>
        </table>
      </cdk-virtual-scroll-viewport>
    </section>
    <section class="section-4">
        <div fxLayout="row wrap" fxLayoutAlign="space-between stretch" class="mg-t-30-f">
            <mat-card fxFlex="32%" fxFlex.lt-md="100%" class="mg-sm-t-20-f">
              <h4 class="sub-title-text tx-18-f">Beta</h4>
                <div fxLayout="column"  fxLayoutAlign="space-between start" class="mg-t-20-f">
                  <div class="tx-14-f return_green">Highest :</div>
                  <div  class="tx-14-f tx-semibold mg-t-10-f"  *ngFor="let item of max_beta_list;">{{item.Company}} ( {{item.Beta|number:'1.1-1'}} )</div>
              </div>
              <div fxLayout="column"  fxLayoutAlign="space-between start" class="mg-t-10-f">
                <div class="tx-14-f return_red">Lowest :</div>
                <div class="tx-14-f tx-semibold mg-t-10-f" *ngFor="let item of min_beta_list;" >{{item.Company}} ( {{item.Beta|number:'1.1-1'}} )</div>
                </div>
              
            </mat-card> 
             <mat-card fxFlex="32%" fxFlex.lt-md="100%" class="mg-sm-t-20-f">
              <h4  class="sub-title-text tx-18-f">Volatility</h4>
              <div fxLayout="column"  fxLayoutAlign="space-between start">
                <div class="tx-14-f return_green">Highest :</div>
                <div class="tx-14-f tx-semibold mg-t-10-f" *ngFor="let item of max_vol_list;">{{item.Company}} ( {{item.Annualized_Volatility|percent:'1.1'}} )</div>
                </div>
                <div fxLayout="column"  fxLayoutAlign="space-between start" class="mg-t-10-f">
                  <div class="tx-14-f return_red">Lowest :</div>
                  <div  class="tx-14-f tx-semibold mg-t-10-f" *ngFor="let item of min_vol_list;">{{item.Company}} ( {{item.Annualized_Volatility|percent:'1.1'}} )</div>
              </div>
            </mat-card>
            <mat-card fxFlex="32%" fxFlex.lt-md="100%" class="mg-sm-t-20-f">
              <p  class="sub-title-text tx-18-f">VaR <span class="tx-10-f">(Daily VaR based on 1 year trading days data at 99% confidence interval with 1-day time horizon.)</span></p>
              <div fxLayout="column"  fxLayoutAlign="space-between start">
                <div class="tx-14-f return_green">Highest :</div>
                <div class="tx-14-f tx-semibold mg-t-10-f" *ngFor="let item of max_var_list;">{{item.Company}} ( <span  class="currencySymbolFont">{{currencysymbol}}</span>{{item.VaR|number:'1.0-0':symbol}} )</div>
                </div>
                <div fxLayout="column"  fxLayoutAlign="space-between start" class="mg-t-10-f">
                  <div class="tx-14-f return_red">Lowest :</div>
                  <div  class="tx-14-f tx-semibold mg-t-10-f" *ngFor="let item of min_var_list;">{{item.Company}} ( <span  class="currencySymbolFont">{{currencysymbol}}</span>{{item.VaR|number:'1.0-0':symbol}} )</div>
              </div>
            </mat-card>
          </div>
    </section>
  </div>
</main>

