
::ng-deep .mat-cell .text-success {
  color: rgb(19, 111, 99)  !important;
}
::ng-deep .mat-cell .text-danger{
  color:rgb(245, 42, 76) !important;
}
::ng-deep .mat-cell .return_red {
  background-color: #fcefee!important;
  color: rgb(245, 42, 76) !important;
  font-weight: 600!important;
}
::ng-deep .mat-cell .return_green  {
  color: rgb(19, 111, 99)  !important;
  font-weight: 600!important;
}
.return_green{
  color: rgb(19, 111, 99)  !important;

}
.return_red{
  color: rgb(245, 42, 76) !important;

}
.return_green_mat-cell {
  color: rgb(19, 111, 99)  !important;
  font-weight: 600!important;
}
.return_red_mat-cell {
  color: rgb(245, 42, 76) !important;
  font-weight: 600!important;
}
.risk-overview-table .mat-cell:nth-child(1){
  min-width: 300px;
   max-width: 300px;
   word-wrap:break-word;
  }
  .risk-overview-table .mat-cell:nth-child(2){
    min-width: 500px;
     max-width: 500px;
    }
