section {
    margin-top: 100px !important;
  }
  .section-5 {
    margin-top: 0px !important;
  }
  section:first-child {
    margin-top: 0px !important;
  }
  $text: #fff;
  $link: #e34234;
  $link-hover: #ba160c;
  $background: #00356b;
  #tsparticles {
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
  }
  .text {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    color: $text;
    max-width: 90%;
    padding: 2em 3em;
    background: rgba(0, 0, 0, 0.4);
    text-shadow: 0px 0px 2px #131415;
    font-family: "Open Sans", sans-serif;
  }
  .section-1 {
    background: linear-gradient(180deg, #002060, #5c89e2);
    position: relative;
    padding-bottom: 0rem;
  }
  @media (min-width: 992px) {
    .svg-border-rounded svg {
      height: 2.5rem;
    }
  }
  @media (min-width: 768px) {
    .svg-border-rounded svg {
      height: 2rem;
    }
  }
  @media (min-width: 576px) {
    .svg-border-rounded svg {
      height: 1.5rem;
    }
  }
  .svg-border-rounded svg {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2rem;
    width: 100%;
  }
  svg {
    overflow: hidden;
    vertical-align: middle;
  }
  .icon-stack-xl {
    height: 5rem;
    width: 5rem;
    font-size: 1.75rem;
  }
  .icon-stack {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    height: 5rem;
    width: 5rem;
    font-size: 1rem;
    background-color: #f2f6fc;
  }
  .bg-gradient-primary-to-secondary {
    background-color: #89bbfe;
    background-image: linear-gradient(135deg, #89bbfe 0%, #cae5ff 100%);
  }
  .slide-div {
    padding: 20px 60px;
  }
  .slide-div ul {
    list-style: none;
    color: #171721 !important;
    font-weight: normal;
    line-height: 1.8rem !important;
  }
  .slide-div ul li {
    margin-bottom: 15px !important;
  }
  .slide-div ul.sub-ul li {
    margin-bottom: 5px !important;
  }
  .slide-div ul li::before {
    content: "✓";
    margin-right: 5px !important;
    font-size: 20px;
    color: #002060;
  }
  .slide-div .sub-ul li::before {
    content: "";
    font-family: "Fontawesome";
    margin-right: 10px !important;
    font-size: 20px;
  }
  ::ng-deep .owl-theme .owl-nav [class*="owl-"] {
    background: #404040;
  }
  ::ng-deep .owl-prev,
  ::ng-deep .owl-next {
    position: absolute !important;
    top: 40% !important;
    transform: translateY(-50%) !important;
  }
  ::ng-deep .owl-prev {
    left: -1.5rem !important;
  }
  ::ng-deep .owl-next {
    right: -1.5rem !important;
  }
  ::ng-deep .owl-carousel ::ng-deep .owl-nav button.owl-next,
  ::ng-deep .owl-carousel ::ng-deep .owl-nav button.owl-prev,
  ::ng-deep .owl-carousel button.owl-dot {
    font-size: 1rem !important;
    // background-color:red;
    // border-radius:50px;
    // height:32px;
    // width:32px;
    // padding:5px;
    // display: inline-block;
    // vertical-align: baseline;
    // text-align: center;
  }
  ::ng-deep .owl-theme .owl-nav [class*="owl-"]:hover {
    background: transparent;
  }
  ::ng-deep .owl-theme .owl-nav [class*="owl-"]:focus {
    outline: none !important;
  }
  .section-5 {
    background-color: #cae5ff;
  }
  .rounded-div {
    border-radius: 100px !important;
    background: #ffffff !important;
    width: 100% !important;
    display: inline-block;
    line-height: 1;
    vertical-align: baseline;
    text-transform: none;
    font-weight: normal;
    border: 0 solid transparent;
    padding: 0.2833em 0.333em !important;
  }
  .round-image {
    background-color: #cae5ff;
    //   min-width: 2em;
    //   min-height: 2em;
    height: auto;
    width: auto;
    margin: auto 1px;
    padding: 0.5em !important;
    line-height: 1em;
    text-align: center;
    border-radius: 500rem;
    padding: auto;
    display: flex;
    justify-content: center;
  }
  .rounded-div p {
    margin: auto 1px auto 10px !important;
  }
  .free-trial-btn {
    background-color: #136f63;
    color: white;
    border: 1px solid #136f63;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
  }
  .free-trial-btn:hover {
    background-color: transparent;
    color: #002060;
    border: 1px solid #136f63;
  }
  .iframe-parent {
    position: relative;
    width: 100%;
    height: 350px;
  }
  .videoframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0px solid transparent !important;
    border-radius: 5px !important;
  }
  .relative {
    position: relative;
  }
  .body-main .section-6 .section-6-1 .mat-card {
    border-top: 15px solid #002060 !important;
    border-radius: 10px;
    margin: 0px 20px 10px 20px;
    box-shadow: 0px 3px 5px 3px rgba(0, 0, 0, 0.1) !important;
  }
  // .mat-card{
  //     box-shadow: 0px 3px 5px 3px rgba(0, 0, 0, 0.1) ;
  // }
  ::ng-deep .body-main .section-6-1 .owl-stage {
    display: flex !important;
  }
  ::ng-deep .body-main .section-6-1 .owl-item {
    display: flex !important;
    flex: 1 0 auto !important;
    z-index: 0 !important;
  }
  .testimonials-main-div {
    display: flex;
    flex-wrap: wrap;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    max-width: 100%;
  }
  // .testimonials-sub-child-div {
  //   // width: 1200px;
  //   // align-self: start;
  //   // // height: 275px;
  //   // position: relative;
  //   // // animation: 35000ms linear 0s infinite normal none running scroll;
  //   // animation: marquee 7000ms linear infinite;
  //   display: flex;
  //   width: 1200px;
  //   align-self: start;
  //   position: relative;
  //   animation: 35000ms linear 0s infinite normal none running marquee;
  // }
  // .testimonials-sub-child-div:hover {
  //   animation-play-state: paused;
  // }
  // @keyframes marquee {
  //   0% {
  //     left: 0;
  //   }
  //   100% {
  //     left: -100%;
  //   }
  // }
  .tweet-card {
    min-height: 0px;
    background: white;
    height: 100%;
    //   width: 400px;
    // box-shadow: rgb(0 0 0 / 6%) 0px 1px 8px 0px, rgb(0 0 0 / 16%) 0px 31px 30px -18px;
    box-shadow: 0px 3px 5px 3px rgba(0, 0, 0, 0.1) !important;
    border-radius: 10px;
    padding: 40px 20px 0px 20px;
    display: flex;
    flex-direction: column;
    margin: 15px;
  }
  .img-grid {
    display: flex;
    flex-direction: row;
  }
  .img-grid img {
    //   width: 4rem;
    //   height: 4rem;
    width: 6rem;
    height: 6rem;
    padding: 2px;
    position: relative;
    //   top: -5px;
    border-radius: 50%;
    //   border:1px solid black;
    margin: auto;
  }
  .names-grid {
    display: flex;
    flex-direction: column;
    flex: 1 1 0%;
    padding-left: 10px;
  }
  .testimonial-pic {
    position: absolute;
    top: -15px;
    left: 15px;
    z-index: 0;
  }
  .tweet_msg {
    margin-top: 10px;
    line-height: 1.8rem !important;
    font-style: italic;
  }
  .tweeter_name {
    font-weight: bold;
  }
  ::ng-deep .body-main .owl-carousel,
  ::ng-deep .body-main .owl-carousel .owl-item {
    z-index: 0 !important;
  }
  .m-x-auto {
    margin: auto 1px;
  }
  .m-y-auto {
    margin: 1px auto;
  }
  .m-auto {
    margin: auto;
  }
  .body-main .container {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .body-main .section-8 .container {
    padding: 0px;
  }
  .body-main .section-8 {
    margin-top: 30px;
    background: #002060;
    background: -webkit-linear-gradient(to right, #3b6cc2, #002060);
    background: linear-gradient(to right, #3b6cc2, #002060);
  }
  .body-main .section-8 {
    padding: 0px !important;
  }
  .body-main .section-8 .mat-card-image {
    margin: 0px !important;
  }
  .body-main .mat-card:hover {
    transform: translate3D(0, -1px, 0) scale(1.01);
    box-shadow: 0 0.5rem 2rem 0 rgb(33 40 50 / 25%);
  }
  .slide-div img {
    height: 300px;
    width: 450px;
  }
  .slide7 img{
      height:400px;
      width:80%;
      margin:auto;
  }
  .world-bg {
    margin-top: 150px;
    background-image: url(/assets/images/word_map_grey.svg);
    background-repeat: no-repeat;
    background-size: 100% 70%;
  }
  .road-div {
    position: relative;
  }
  .step-div img {
    width: 100%;
  }
  .step-div {
    position: absolute;
  }
  .step1 {
    top: 4%;
    left: 15%;
  }
  .step2 {
    top: 5%;
    left: 50%;
  }
  .step3 {
    top: 14%;
    left: 68.3%;
  }
  .step4 {
    top: 25%;
    left: 25%;
  }
  .step5 {
    top: 47%;
    left: 68.3%;
  }
  .step1-text {
    top: -7%;
    left: 12.5%;
  }
  .step2-text {
    top: -7%;
    left: 50%;
  }
  .step3-text {
    top: 3%;
    left: 71.3%;
  }
  .step4-text {
    top: 15%;
    left: 22%;
  }
  .step5-text {
    top: 33.5%;
    left: 65%;
  }
  .step1-joint-line {
    top: -0.5%;
    left: 13.5%;
  }
  .step2-joint-line {
    top: -0.5%;
    left: 51.1%;
  }
  .step3-joint-line {
    top: 10.5%;
    left: 71%;
  }
  .step4-joint-line {
    top: 22%;
    left: 23.7%;
  }
  .step5-joint-line {
    top: 40.5%;
    left: 65.8%;
  }
  .dot {
    height: 10px;
    width: 10px;
    background-color: #136f63;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
  }
  .dot1 {
    top: -13%;
    left: -18%;
  }
  .dot2 {
    top: -13%;
    left: -18.8%;
  }
  .dot3 {
    top: -13%;
    left: 79.5%;
  }
  .dot4 {
    top: -12%;
    left: -20.4%;
  }
  .dot5 {
    top: -7%;
    left: -10%;
  }
  .vline {
    height: 8vh;
    width: 1px;
    background-color: black;
    border-radius: 0%;
    display: inline-block;
  }
  .hline {
    width: 25px;
    border-bottom: 1px solid black;
    border-radius: 0%;
    display: inline-block;
  }
  .vline5 {
    height: 15vh;
    width: 1px;
    background-color: black;
    border-radius: 0%;
    display: inline-block;
  }
  .hline5 {
    width: 50px;
    border-bottom: 1px solid black;
    border-radius: 0%;
    display: inline-block;
  }
  .hline2 {
    border-bottom: 1px solid white;
  }
  .last-text {
    top: 80%;
    left: 30%;
  }
  .journey-free-btn {
    border: 1px solid #002060;
    font-size: 14px;
    padding: 8px 25px;
  }
  ::ng-deep .cursor-span{
    display: inline-block !important;
    font-size: 38px !important;
    transform: scale(.5, 1) !important;
  }
  .newsletter {
    outline: none;
    border: none;
    border-radius: 20px 0px 0px 20px;
    border:1px solid white;
    color: black;
    width:82%;;
  }
  .subscribe {
    background-color: #002060;
    color: white;
    outline: none;
    border: none;
    border-radius: 0px 20px 20px 0px;
    border-top:2px solid #002060;
    border-bottom:2px solid #002060;
  }
  .body-btn-rounded {
    background-color: white;
    border-radius: 50px;
    color: #002060;
    border: 1px solid white;
    padding: 8px 15px;
    font-size: 14px;
    font-weight: 650;
    max-width: max-content;
    min-width: max-content;
    cursor: pointer;
    outline:none;
  }
  .body-btn-rounded:hover {
    color: white;
    background-color: transparent;
    border: 1px solid white;
  }
  .green-color{
    color:#56C830 !important;
  }
  .log-signup{
    // color:#126F63;
    cursor:pointer;
  }
  .log-signup:hover{
    text-decoration:underline;
  }