<main class="content body-main">
  <section class="section-1">
    <Particles id="tsparticles" [options]="particlesOptions"></Particles>
    <!--  <div class="text"> -->
    <div class="container pd-y-100-f">
      <div fxLayout="row wrap" fxLayoutAlign="space-around stretch" class="pd-t-60">
        <div fxFlex="54%" fxFlex.lt-lg="60%" fxFlex.lt-md="100%" fxLayout="column" fxLayoutAlign="center start"
          class="tx-white">
          <h3 class="tx-xs-22-f tx-sm-24-f tx-md-26-f tx-lg-28-f tx-xl-28-f tx-medium">
            Premium Investing
          </h3>
          <h1 class="tw tx-xs-32-f tx-sm-36-f tx-md-38-f tx-lg-40-f tx-xl-40-f tx-semibold mg-t-10-f" #tw>
          </h1>
          <div fxLayout="column" fxLayoutAligb="space-around center">
            <p class="mg-t-10-f tx-xs-14-f tx-sm-14-f tx-md-16-f tx-lg-18-f tx-xl-18-f  tx-white">
              The All in One Platform for Disciplined wealth creation
            </p>
            <div fxLayoutAlign="row wrap" fxLayoutAlign="space-between center" class="mg-t-20-f" style="z-index:0">
              <form [formGroup]="newslettersubscriptionForm" (ngSubmit)="onSubmit()" fxFlex="72%">
                <div>
                  <input type="email"
                    class="tx-xs-14-f tx-sm-14-f tx-md-14-f tx-lg-14-f tx-xl-14-f newsletter  pd-y-8-f pd-x-15-f pd-xs-x-5-f"
                    placeholder="Enter email for free newsletters" formControlName="newsletteremail"
                    [ngClass]="{ 'is-invalid': submitted && f.newsletteremail.errors }">
                  <button aria-label="Send"
                    class="tx-xs-14-f tx-sm-14-f tx-md-14-f tx-lg-16-f tx-xl-16-f subscribe  pd-t-4-f pd-b-7-f pd-x-15-f pd-xs-x-5-f cursor-f">➤</button>
                </div>
              </form>
              <div fxFlex="28%" fxLayoutAlign="end center" class="mg-md-x-30">
                <button class="body-btn-rounded" routerLink='{{country}}/customer/free/subscription/register'>
                  Start Free Trial
                </button>
              </div>
            </div>
            <div class="mg-t-5-f pd-l-10-f">
              <span class='tx-center-f tx-semibold'
                [ngClass]="{'green-color': status == 'success', 'red-color':status == 'error' }">{{response}}&nbsp;</span>
            </div>
          </div>
        </div>
        <div fxFlex="44%" fxFlex.lt-lg="40%" fxFlex.lt-md="100%" fxLayoutAlign="center end" class="mg-sm-t-30">
          <img width="100%" src="assets/images/bodybg-1.png" alt="bannerimg">
        </div>
      </div>
    </div>
  </section>
  <section class="section-2">
    <div class="container">
      <h2 class="tx-xs-28-f tx-sm-30-f tx-md-32-f tx-lg-36-f tx-xl-36-f tx-semibold mg-t-10-f color1">
        The 72PI Advantage
      </h2>
      <p class="tx-xs-14-f tx-sm-16-f tx-md-16-f tx-lg-18-f tx-xl-18-f  pd-t-10-f p-text sec-2-sub-text">
        We offer a simple and transparent approach to invest across India and Global Markets
        through a single platform. We are committed to helping you succeed at disciplined wealth creation
      </p>
      <div class="mg-t-40-f">
        <div fxLayout="row wrap" fxLayoutAlign="space-between stretch" class='p-text'>
          <div fxFlex="23%" fxFlex.lg="23%" fxFlex.md="50%" fxFlex.sm="50%" fxFlex.xs="100%" class="tx-center">
            <div class="icon-stack icon-stack-xl bg-gradient-primary-to-secondary">
              <img mat-image src="/assets/images/fiduciary.png" alt="Fiduciary" title="Fiduciary">
            </div>
            <h5 class="tx-xs-16-f tx-sm-18-f tx-md-20-f tx-lg-22-f tx-xl-24-f sec-2-sub-title mg-t-20-f">
              Fiduciary</h5>
            <p class="tx-xs-14-f tx-sm-14-f tx-md-14-f tx-lg-16-f tx-xl-16-f  pd-t-10-f">
              Professional Advisory Solutions aligned 100% with our Clients Interest.
            </p>
          </div>
          <div fxFlex="23%" fxFlex.lg="23%" fxFlex.md="50%" fxFlex.sm="50%" fxFlex.xs="100%"
            class="mg-xs-t-20 tx-center">
            <div class="icon-stack icon-stack-xl bg-gradient-primary-to-secondary">
              <img mat-image src="/assets/images/trust.png" alt="Trust" title="Trust">
            </div>
            <h5 class="tx-xs-16-f tx-sm-18-f tx-md-20-f tx-lg-22-f tx-xl-24-f sec-2-sub-title mg-t-20-f">
              Trust</h5>
            <p class="tx-xs-14-f tx-sm-14-f tx-md-14-f tx-lg-16-f tx-xl-16-f  pd-t-10-f">
              We are a SEBI registered corporate investment advisor offering a transparent & effective
              investment
              process.
            </p>
          </div>
          <div fxFlex="23%" fxFlex.lg="23%" fxFlex.md="50%" fxFlex.sm="50%" fxFlex.xs="100%"
            class="mg-sm-t-20 tx-center">
            <div class="icon-stack icon-stack-xl bg-gradient-primary-to-secondary">
              <img mat-image src="/assets/images/security.png" alt="Security" title="Security">
            </div>
            <h5 class="tx-xs-16-f tx-sm-18-f tx-md-20-f tx-lg-22-f tx-xl-24-f sec-2-sub-title mg-t-20-f">
              Security</h5>
            <p class="tx-xs-14-f tx-sm-14-f tx-md-14-f tx-lg-16-f tx-xl-16-f  pd-t-10-f">
              Highly secure digital investment platform hosted on AWS Cloud.
            </p>
          </div>
          <div fxFlex="23%" fxFlex.lg="23%" fxFlex.md="50%" fxFlex.sm="50%" fxFlex.xs="100%"
            class="mg-sm-t-20 tx-center">
            <div class="icon-stack icon-stack-xl bg-gradient-primary-to-secondary">
              <img mat-image src="/assets/images/active_alpha.png" alt="Active Alpha" title="Active Alpha">
            </div>
            <h5 class="tx-xs-16-f tx-sm-18-f tx-md-20-f tx-lg-22-f tx-xl-24-f sec-2-sub-title mg-t-20-f">
              Active Alpha</h5>
            <p class="tx-xs-14-f tx-sm-14-f tx-md-14-f tx-lg-16-f tx-xl-16-f  pd-t-10-f">
              Actively managed <i><b>Smart Alpha</b></i> portfolios at low cost
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section-3">
    <div class="container pd-y-60-f pd-xs-x-10-f">
      <div fxLayout="row wrap" fxLayoutAlign="space-between stretch">
        <div fxFlex="26%" fxFlex.lt-lg="26%" fxFlex.lt-md="100%" fxLayoutAlign="center center">
          <img  src="assets/images/offer_image.png" alt="What we Offer" title="We offer">
        </div>
        <div fxFlex="5%"></div>
        <div fxFlex="69%" fxFlex.lg="64%" fxFlex.lt-lg="60%" fxFlex.lt-md="100%" fxLayout="column"
          fxLayoutAlign="start start" class="mg-sm-t-40">
          <h4 class="title-text tx-xs-18-f tx-sm-20-f tx-md-22-f tx-lg-28-f tx-xl-28-f tx-semibold">We offer
          </h4>
          <h3 class="title-text tx-xs-28-f tx-sm-30-f tx-md-32-f tx-lg-36-f tx-xl-36-f tx-semibold mg-t-10-f lh-3">
            Guided Investment Advisory Solutions
          </h3>
          <div fxLayout="column" class="mg-t-10-f p-text" fxLayoutAlign="space-between stretch">
            <div fxLayout="row wrap" fxLayoutAlign="space-between stretch">
              <mat-card fxFlex="48%" fxFlex.lt-lg="100%" fxFlex.sm="48%" fxFlex.lt-sm="100%">
                <div fxLayout="column">
                  <div fxLayoutAlign="start start">
                    <img src="/assets/images/model_portfolios.png" alt="Model Portfolios"
                      title="Curated Model Portfolios">
                    <h5 class="tx-sm-16-f tx-md-18-f tx-xl-18-f  mg-l-20-f m-x-auto tx-semibold">Model Portfolios</h5>
                  </div>
                  <div class="tx-xs-14-f tx-sm-14-f tx-md-14-f tx-lg-16-f tx-xl-16-f pd-t-0-f">
                    <ul>
                      <li>Actively managed portfolios for consistent alpha </li>
                      <li>Transparent portfolio updates and rebalancing</li>
                      <li>Thematic baskets and Personalization options available</li>
                      <li>Affordable pricing</li>
                    </ul>
                  </div>
                </div>
              </mat-card>
              <mat-card fxFlex="48%" fxFlex.lt-lg="100%" fxFlex.sm="48%" fxFlex.lt-sm="100%"
                class="mg-md-t-30 mg-sm-t-0-f mg-xs-t-30-f">
                <div fxLayout="column">
                  <div fxLayoutAlign="start start">
                    <img src="/assets/images/stock_etf_screener_ic.png" alt="Model Portfolios"
                      title="Curated Model Portfolios">
                    <h5 class="tx-sm-16-f tx-md-18-f tx-xl-18-f  mg-l-20-f m-x-auto tx-semibold">Stock & ETF Screener
                    </h5>
                  </div>
                  <div class="tx-xs-14-f tx-sm-14-f tx-md-14-f tx-lg-16-f tx-xl-16-f pd-t-0-f">
                    <ul>
                      <li>Powerful Stock screeners for Investment idea generation </li>
                      <li>Create custom watchlists with our Stock Rankings </li>
                      <li>ETF screener for Global Multi-Asset Monitoring </li>
                      <li>Stay of top of trends across Regions, Sectors and Styles</li>
                    </ul>
                  </div>
                </div>
              </mat-card>
              <mat-card fxFlex="48%" fxFlex.lt-lg="100%" fxFlex.sm="48%" fxFlex.lt-sm="100%" class="mg-t-30">
                <div fxLayout="column">
                  <div fxLayoutAlign="start start">
                    <img src="/assets/images/tools_for_portfolio_analytics.png" alt="Model Portfolios"
                      title="Curated Model Portfolios">
                    <h5 class="tx-sm-16-f tx-md-18-f tx-xl-18-f  mg-l-20-f m-x-auto tx-semibold">Portfolio Analytics
                      Tools
                    </h5>
                  </div>
                  <div class="tx-xs-14-f tx-sm-14-f tx-md-14-f tx-lg-16-f tx-xl-16-f pd-t-0-f">
                    <ul>
                      <li>Institutional grade Portfolio Analytics tools </li>
                      <li>Evaluate portfolios holdings using our stock rankings </li>
                      <li>Understand portfolio orientation across sectors and styles</li>
                      <li>Rebalance and Optimize Portfolios and Monitor Risk</li>
                      <!-- <li>Set Up Portfolio Alerts for various trigger conditions </li> -->
                    </ul>
                  </div>
                </div>
              </mat-card>
              <mat-card fxFlex="48%" fxFlex.lt-lg="100%" fxFlex.sm="48%" fxFlex.lt-sm="100%" class="mg-t-30">
                <div fxLayout="column">
                  <div fxLayoutAlign="start start">
                    <img src="/assets/images/investment_research_insights.png" alt="Model Portfolios"
                      title="Curated Model Portfolios">
                    <h5 class="tx-sm-16-f tx-md-18-f tx-xl-18-f  mg-l-20-f m-x-auto tx-semibold">Curated
                      Market & Research Insights</h5>
                  </div>
                  <div class="tx-xs-14-f tx-sm-14-f tx-md-14-f tx-lg-16-f tx-xl-16-f pd-t-0-f">
                    <ul>
                      <li>Actionable Global Market Views and insights </li>
                      <li>Curated Stock and Thematic Research insights </li>
                      <li>Get a holistic perspective across Global Asset Classes</li>
                      <li>Blog Articles covering investment trends and wisdom </li>
                    </ul>
                  </div>
                </div>
              </mat-card>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section-4">
    <div class="container pd-y-sm-30-f">
      <div class="tx-center">
        <div fxFlex="60%" fxFlex.xs="60%" fxFlex.sm="80%" fxFlex.md="70%" class="m-auto">
          <h2 class="tx-xs-18-f tx-sm-20-f tx-md-22-f tx-lg-28-f tx-xl-28-f tx-semibold tx-center color1 lh-3">
            The 72PI Research Platform Offers Actionable Intelligence for Disciplined Investing
          </h2>
        </div>
      </div>
      <owl-carousel [options]="SlideOptions2" [carouselClasses]="['owl-theme', 'sliding']">
        <div class="item">
          <div class="slide-div slide7">
            <h4 class="tx-xs-14-f tx-sm-14-f tx-md-14-f tx-lg-16-f tx-xl-16-f tx-semibold tx-center color1">Customer
              Journey</h4>
            <div fxLayout="row wrap" fxLayoutAlign="space-between stretch" class="mg-t-20-f">
                <img src="assets/images/roadjourney2.png" alt="slide1" title="Slide1">
            </div>
          </div>
        </div>
        <div class="item">
          <div class="slide-div slide1">
            <div fxLayout="row wrap" fxLayoutAlign="space-between stretch" class="mg-t-20-f">
              <div fxFlex="48%" fxFlex.sm="100%" fxFlex.xs="100% " fxLayout="column" fxLayoutAlign="center">
                <h5 class="mg-l-40-f tx-xl-18-f tx-lg-18-f tx-md-16-f tx-xs-14-f tx-sm-14-f">
                  Invest alongside our <b>Model Portfolios that aim to deliver consistent alpha
                    with</b> lower risk</h5>
                <ul class="tx-xs-14-f tx-sm-14-f tx-md-14-f tx-lg-16-f tx-xl-16-f mg-t-20">
                  <li>
                    Curated Multi Cap portfolios of Large/Mid/Small Cap stocks based in India & USA.
                  </li>
                  <li>Invest with Risk Aligned Portfolios</li>
                  <li>Short notes on Fundamental, Technical and Quantitative factors to understand
                    portfolio holdings in detail </li>
                </ul>
              </div>
              <div fxFlex="48%"  fxFlex.lt-md="100%" fxLayoutAlign="center center">
                <div class="slide-img-div">
                  <img src="assets/images/slide1.jpg" alt="slide1" title="Slide1">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="slide-div slide2">
            <div fxLayout="row wrap" fxLayoutAlign="space-between stretch" class="mg-t-20-f">
              <div fxFlex="48%" fxFlex.sm="100%" fxFlex.xs="100% " fxLayout="column" fxLayoutAlign="center">
                <h5 class="mg-l-40-f tx-xl-18-f tx-lg-18-f tx-md-16-f tx-xs-14-f tx-sm-14-f">
                  Evaluate and Discover sound investment ideas with our <b>Stock Profiler and
                    Rankings</b></h5>
                <ul class="tx-xs-14-f tx-sm-14-f tx-md-14-f tx-lg-16-f tx-xl-16-f mg-t-20">
                  <li>Understand Key Stock Rankings across parameters
                    such as Size, Quality, Growth, Valuations, Financial Health and Analyst Ratings
                    of over 4000+ stocks across
                    India and USA
                  </li>
                  <li>Track key Technical signals to uncover stocks
                    exhibiting strong trends and discover tradable ideas
                  </li>
                  <li>Get Instant and timely analysis of stock ideas
                    to determine if it fits your investment style and goals
                  </li>
                </ul>
              </div>
              <div fxFlex="48%" fxFlex.lt-md="100%" fxLayoutAlign="center center">
                <div class="slide-img-div">
                  <img src="assets/images/slide2.JPG" alt="slide2" title="Slide2">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="slide-div slide3">
            <div fxLayout="row wrap" fxLayoutAlign="space-between stretch" class="mg-t-20-f">
              <div fxFlex="48%" fxFlex.sm="100%" fxFlex.xs="100% " fxLayout="column" fxLayoutAlign="center">
                <h5 class="mg-l-40-f tx-xl-18-f tx-lg-18-f tx-md-16-f tx-xs-14-f tx-sm-14-f  tx-semibold">
                  Build Portfolios and create Watchlists with our powerful <b>Stock & ETF
                    Screeners</b>
                </h5>
                <ul class="tx-xs-14-f tx-sm-14-f tx-md-14-f tx-lg-16-f tx-xl-16-f mg-t-20">
                  <li>Build Unique Portfolios and watch lists by
                    screening stocks using 40+ Criteria across Fundamental, Quantitative, Technical,
                    Valuation, Risk and Analyst
                    Ratings.
                  </li>
                  <li>Identify relevant ETFs that offer exposure to
                    key Regions, Countries, Sectors, Themes and Styles
                  </li>
                  <li>Track key trends across global multi-asset
                    classes with our ETF Analytics and Market Views
                  </li>
                </ul>
              </div>
              <div fxFlex="48%"  fxFlex.lt-md="100%" fxLayoutAlign="center center">
                <div class="slide-img-div">
                  <img src="assets/images/slide3.jpg" alt="slide3" title="Slide3">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="slide-div slide4">
            <div fxLayout="row wrap" fxLayoutAlign="space-between stretch" class="mg-t-20-f">
              <div fxFlex="48%" fxFlex.sm="100%" fxFlex.xs="100% " fxLayout="column" fxLayoutAlign="center">
                <h5 class="mg-l-40-f tx-xl-18-f tx-lg-18-f tx-md-16-f tx-xs-14-f tx-sm-14-f">
                  Institutional grade <b>Portfolio Analytics tools</b> helps you to Analyse & Evaluate
                  Risk, Returns, and Exposures of your portfolios

                </h5>
                <ul class="tx-xs-14-f tx-sm-14-f tx-md-14-f tx-lg-16-f tx-xl-16-f mg-t-20">
                  <li>Evaluate portfolios holdings using our stock rankings </li>
                  <li>Understand portfolio orientation across sectors and styles </li>
                  <li>Rebalance and Optimize your portfolios Instantly </li>
                  <li>Monitor Portfolio with timely Alerts for various trigger conditions</li>
                </ul>
              </div>
              <div fxFlex="48%"  fxFlex.lt-md="100%" fxLayoutAlign="center center">
                <div class="slide-img-div">
                  <img src="assets/images/slide4.png" alt="slide4" title="Slide4">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="slide-div slide5">
            <div fxLayout="row wrap" fxLayoutAlign="space-between stretch" class="mg-t-20-f">
              <div fxFlex="48%" fxFlex.sm="100%" fxFlex.xs="100% " fxLayout="column" fxLayoutAlign="center">
                <h5 class="mg-l-40-f tx-xl-18-f tx-lg-18-f tx-md-16-f tx-xs-14-f tx-sm-14-f">
                  Get Trading Access to <b>Global Markets</b>
                </h5>
                <ul class="tx-xs-14-f tx-sm-14-f tx-md-14-f tx-lg-16-f tx-xl-16-f mg-t-20">
                  <li>Single Platform to Buy/Sell Stocks & ETFs across global markets </li>
                  <li>Transparent and Simple process </li>
                  <li>Digital Trade Execution </li>
                </ul>
              </div>
              <div fxFlex="48%"  fxFlex.lt-md="100%" fxLayoutAlign="center center">
                <div class="slide-img-div">
                  <img  src="assets/images/slide5.png" alt="slide5" title="Slide5">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="slide-div slide6">
            <div fxLayout="row wrap" fxLayoutAlign="space-between stretch" class="mg-t-20-f">
              <div fxFlex="48%" fxFlex.sm="100%" fxFlex.xs="100% " fxLayout="column" fxLayoutAlign="center">
                <h5 class="mg-l-40-f tx-xl-18-f tx-lg-18-f tx-md-16-f tx-xs-14-f tx-sm-14-f">
                  <b>Curated Global Markets Research and Insights</b> for a holistic perspective
                  across Global Asset Classes
                </h5>
                <ul class="tx-xs-14-f tx-sm-14-f tx-md-14-f tx-lg-16-f tx-xl-16-f mg-t-20">
                  <li>Actionable Global Market Views and insights </li>
                  <li>Curated Stock and Thematic Research insights </li>
                  <li>Blog Articles covering investment trends and wisdom </li>
                  <li>Enrich your understanding of key market drivers and trends</li>
                </ul>
              </div>
              <div fxFlex="48%" fxFlex.lt-md="100%" fxLayoutAlign="center center">
                <div class="slide-img-div">
                  <img src="assets/images/slide6.png" alt="slide6" title="Slide6">
                </div>
              </div>
            </div>
          </div>
        </div>
      </owl-carousel>
    </div>
  </section>

  <section class="section-5">
    <div class="container pd-b-30" fxLayout="column">
      <h2 class="tx-xs-28-f tx-sm-30-f tx-md-32-f tx-lg-36-f tx-xl-36-f tx-semibold tx-center color1">
        Invest with Discipline and Confidence
      </h2>

      <div fxLayout="row wrap" fxLayoutAlign="space-between stretch"
        class="tx-xs-14-f tx-sm-16-f tx-md-16-f tx-lg-16-f tx-xl-18-f mg-t-20">
        <div fxLayout="row" fxFlex="48%" fxFlex.lt-sm="100%" class="rounded-div pd-x-20">
          <div class="round-image">
            <img src="/assets/images/qstn1.png" alt="qstn1" title="qstn1">
          </div>
          <p>
            Buying story stocks on rumours and press tips and losing out ?
          </p>
        </div>
        <div fxLayout="row" fxFlex="48%" fxFlex.lt-sm="100%" class="rounded-div mg-xs-t-20 pd-x-20">
          <div class="round-image">
            <img src="/assets/images/ans1.png" alt="ans1" title="ans1">
          </div>
          <p>
            Say good-bye to "Buying High" and "Selling Low"
          </p>
        </div>

        <div fxLayout="row" fxFlex="48%" fxFlex.lt-sm="100%" class="rounded-div mg-t-20 pd-x-20">
          <div class="round-image">
            <img src="/assets/images/qstn1.png" alt="qstn1" title="qstn1">
          </div>
          <p>
            Bombarded by news flow and information overload ?
          </p>
        </div>
        <div fxLayout="row" fxFlex="48%" fxFlex.lt-sm="100%" class="rounded-div mg-t-20 pd-x-20">
          <div class="round-image">
            <img src="/assets/images/ans1.png" alt="ans1" title="ans1">
          </div>
          <p>
            Invest with a disciplined process and confidence
          </p>
        </div>
        <div fxLayout="row" fxFlex="48%" fxFlex.lt-sm="100%" class="rounded-div mg-t-20 pd-x-20">
          <div class="round-image">
            <img src="/assets/images/qstn1.png" alt="qstn1" title="qstn1">
          </div>
          <p>
            Portfolio keeping you awake at night ?
          </p>
        </div>
        <div fxLayout="row" fxFlex="48%" fxFlex.lt-sm="100%" class="rounded-div mg-t-20 pd-x-20">
          <div class="round-image">
            <img src="/assets/images/ans1.png" alt="ans1" title="ans1">
          </div>
          <p>
            Make data and research led investment decisions
          </p>
        </div>
        <div fxLayout="row" fxFlex="48%" fxFlex.lt-sm="100%" class="rounded-div mg-t-20 pd-x-20">
          <div class="round-image">
            <img src="/assets/images/qstn1.png" alt="qstn1" title="qstn1">
          </div>
          <p>
            Struggling with pangs of "FOMO" ?
          </p>
        </div>
        <div fxLayout="row" fxFlex="48%" fxFlex.lt-sm="100%" class="rounded-div mg-t-20 pd-x-20">
          <div class="round-image">
            <img src="/assets/images/ans1.png" alt="ans1" title="ans1">
          </div>
          <p>
            Get timely actionable intelligence to invest decisively
          </p>
        </div>
      </div>
      <div class="mg-t-40-f tx-center">
        <mat-button class="free-trial-btn tx-uppercase tx-xs-14-f tx-sm-16-f tx-md-16-f tx-lg-18-f tx-xl-18-f "
          routerLink='login'>
          Start your 30 Day Free Trial
        </mat-button>
      </div>
    </div>
  </section>

  <section class="section-6">
    <div class="container">
      <h2 class="title-text tx-xs-28-f tx-sm-30-f tx-md-32-f tx-lg-36-f tx-xl-36-f tx-semibold mg-t-10-f tx-center">
        Our Investment Solutions at Work
      </h2>
      <div fxLayout="row wrap" fxLayoutAlign="space-between stretch" class="mg-t-40-f">
        <mat-card fxFlex="49%" fxFlex.sm="100%" fxFlex.xs="100% " class="relative pd-16">
          <mat-card-content fxLayout="column">
            <div fxLayout="row wrap">
              <img src="/assets/images/72pi_india_portfolio.png" alt="72 PI India" title="72 PI India">
              <h5 class="tx-18-f tx-sm-18-f tx-semibold m-x-auto">72PI India Portfolio</h5>
            </div>
            <div class="tx-xl-16-f tx-xs-16-f tx-sm-16-f">
              <p class="p-text">
                Actively managed Multi-cap portfolio of around 25-35 <b>India based stocks,</b> focused
                on medium term horizon (2-4 months).
                Exploits insights from Fundamental, Quantitative and Technical factors for delivering
                consistent alpha with lower drawdowns across market cycles.
                Typically trades 2-3 holdings per month
              </p>
              <div fxLayout="row wrap" class="mg-l-10-f mg-t-20">
                <div fxLayout="column" fxFlex="50%">
                  <h5 class="tx-xs-14-f tx-sm-14-f tx-md-14-f tx-lg-16-f tx-xl-16-f tx-semibold p-text">
                    ITD Return <span class="tx-12-f mg-b-0-f">(From
                      {{India_model_portfolio_itd_date | date :'dd-MMM-yyyy'}})</span>
                  </h5>
                  <p [style.color]="India_model_portfolio_itd_return > 0 ? '#136F63 !important' : '#F52A4C !important'"
                    class=" tx-semibold tx-xs-14-f tx-sm-14-f tx-md-14-f tx-lg-16-f tx-xl-16-f">
                    {{India_model_portfolio_itd_return |percent:'1.1-1'}}</p>
                </div>
                <div fxLayout="column" fxFlex="50%">
                  <h5 class="tx-xs-14-f tx-sm-14-f tx-md-14-f tx-lg-16-f tx-xl-16-f tx-semibold p-text">
                    Min.Investment</h5>
                  <p class="tx-xs-14-f tx-sm-14-f tx-md-14-f tx-lg-16-f tx-xl-16-f "><span CLASS="currencySymbolFont">₹
                    </span>10L
                  </p>
                </div>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
        <mat-card fxFlex="49%" fxFlex.sm="100%" fxFlex.xs="100% " class="mg-sm-t-30 pd-16">
          <mat-card-content fxLayout="column">
            <div fxLayout="row wrap">
              <img src="/assets/images/72PI US Portfolio.png" alt="72 PI US" title="72 PI US">
              <h5 class="tx-18-f tx-sm-18-f tx-semibold m-x-auto">72PI US Portfolio</h5>
            </div>
            <div class="tx-xl-16-f tx-xs-16-f tx-sm-16-f">
              <p class="p-text">
                Actively managed Multi-cap portfolio of around 25-35 <b>USA listed stocks</b> and
                selected ETFs, focused on medium term horizon (2-4 months).
                Exploits insights from Fundamental, Quantitative and Technical factors for delivering
                consistent alpha with lower drawdowns across market cycles.
                Typically trades 2-3 holdings per month
              </p>
              <div fxLayout="row wrap" class="mg-l-10-f mg-t-20">
                <div fxLayout="column" fxFlex="50%">
                  <h5 class="tx-xs-14-f tx-sm-14-f tx-md-14-f tx-lg-16-f tx-xl-16-f tx-semibold p-text">
                    ITD Return <span class="tx-12-f mg-b-0-f">(From
                      {{US_model_portfolio_itd_date | date :'dd-MMM-yyyy'}})</span>
                  </h5>
                  <p [style.color]="US_model_portfolio_itd_return > 0 ? '#136F63 !important' : '#F52A4C !important'"
                    class=" tx-semibold tx-xs-14-f tx-sm-14-f tx-md-14-f tx-lg-16-f tx-xl-16-f">
                    {{US_model_portfolio_itd_return |percent:'1.1-1'}}</p>
                </div>
                <div fxLayout="column" fxFlex="50%">
                  <h5 class="tx-xs-14-f tx-sm-14-f tx-md-14-f tx-lg-16-f tx-xl-16-f tx-semibold p-text">
                    Min.Investment</h5>
                  <p class="tx-xs-14-f tx-sm-14-f tx-md-14-f tx-lg-16-f tx-xl-16-f ">$ 10M
                  </p>
                </div>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="mg-t-40 tx-center" *ngIf="!(LoginStatus$ | async) as LoginStatus">
        <mat-button class="free-trial-btn  tx-xs-14-f tx-sm-16-f tx-md-16-f tx-lg-18-f tx-xl-18-f " routerLink='signup'>
          Sign Up, to learn more
        </mat-button>
      </div>
    </div>
  </section>
  <section class="section-9">
    <div class="container">
      <div fxLayout="row wrap" fxLayoutAlign="space-between stretch">
        <div fxFlex="45%" fxFlex.lt-sm="100%" class="relative">
          <div class="iframe-parent">
            <iframe class="videoframe" src="https://www.youtube.com/embed/p09-NY5rZg4" title="Video Frame"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen>
            </iframe>
          </div>
        </div>
        <div fxFlex="49%" fxFlex.lt-sm="100%" class="mg-sm-t-20">
          <h2 class="title-text tx-xs-28-f tx-sm-30-f tx-md-32-f tx-lg-36-f tx-xl-36-f tx-semibold mg-t-10-f">
            Explore 72pi.ai
          </h2>
          <p class="tx-xs-14-f tx-sm-16-f tx-md-16-f tx-lg-18-f tx-xl-18-f mg-t-40-f p-text">
            Explore our introductory video to learn more about how 72PI.ai can help you become a successful investor.
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="section-7">
    <div class="container">
      <h2 class="title-text tx-xs-28-f tx-sm-30-f tx-md-32-f tx-lg-36-f tx-xl-36-f tx-semibold mg-t-10-f tx-center">
        Customer Reviews
      </h2>
      <div class="testimonials-main-div mg-t-40">
        <div class="testimonials-sub-div">
          <div fxLayout="row wrap" class="testimonials-sub-child-div" fxFlex="space-between stretch">
            <div fxFlex="24%" fxFlex.lt-lg="50%" fxFlex.lt-md="100%" class="relative">
              <div class="testimonial-pic">
                <img src="/assets/images/testimonials_icon.png" alt="Testimonials" title="Testimonials">
              </div>
              <div class="tweet-card">
                <div class="img-grid">
                  <div class="img-grid-img">
                    <img src="assets/images/female2.png" alt="female icon" title="Female Icon">
                  </div>
                  <div class="names-grid">
                    <p class="tweeter_name">Vyshnavi</p>
                    <p class="tweeter_designation">HDFC Bank Ltd, Asst Manager</p>
                  </div>
                </div>
                <p class="tweet_msg ">
                  Build your own portfolio with the help of Portfolio Wizard to shortlist and filter stocks across
                  various Index/sector Constituents.
                </p>
              </div>
            </div>
            <div fxFlex="24%" fxFlex.lt-lg="50%" fxFlex.lt-md="100%" class="mg-sm-t-40 relative">
              <div class="testimonial-pic">
                <img src="/assets/images/testimonials_icon.png" alt="Testimonials" title="Testimonials">
              </div>
              <div class="tweet-card">
                <div class="img-grid">
                  <div class="img-grid-img">
                    <img src="assets/images/male1.png" alt="male icon" title="Male Icon">
                  </div>
                  <div class="names-grid">
                    <p class="tweeter_name">Amit Singh</p>
                    <p class="tweeter_designation"> Vedantu, Product Manager</p>
                  </div>
                </div>
                <p class="tweet_msg ">
                  A single platform to track and analyze stocks and ETFs of both India & USA Markets by using 72Pi and
                  make their investment decisions wisely.
                </p>
              </div>
            </div>
            <div fxFlex="24%" fxFlex.lt-lg="50%" fxFlex.lt-md="100%" class="mg-md-t-40 relative">
              <div class="testimonial-pic">
                <img src="/assets/images/testimonials_icon.png" alt="Testimonials" title="Testimonials">
              </div>
              <div class="tweet-card">
                <div class="img-grid">
                  <div class="img-grid-img">
                    <img src="assets/images/female3.png" alt="female icon" title="Female Icon">
                  </div>
                  <div class="names-grid">
                    <p class="tweeter_name">Ramya</p>
                    <p class="tweeter_designation">Phenom People, PD Engineer</p>
                  </div>
                </div>
                <p class="tweet_msg ">
                  72pi Screener is very useful to shortlist companies and to create portfolios by just using the basic
                  filters provided.
                </p>
              </div>
            </div>
            <div fxFlex="24%" fxFlex.lt-lg="50%" fxFlex.lt-md="100%" class="mg-md-t-40 relative">
              <div class="testimonial-pic">
                <img src="/assets/images/testimonials_icon.png" alt="Testimonials" title="Testimonials">
              </div>
              <div class="tweet-card">
                <div class="img-grid">
                  <div class="img-grid-img">
                    <img src="assets/images/male2.png" alt="male icon" title="Male Icon">
                  </div>
                  <div class="names-grid">
                    <p class="tweeter_name">Byasadev Pradhan</p>
                    <p class="tweeter_designation"> Synopsis, Associate</p>
                  </div>
                </div>
                <p class="tweet_msg ">
                  72pi offers a fully integrated platform along with access to a range of analytical tools, news
                  updates, and stock alerts services at affordable pricing.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </section>
  <section class="section-8">
    <div class="container" fxLayout="row wrap">
      <div fxFlex="40%" fxLayoutAlign="start center" fxFlex.lt-md="100%">
        <img src="assets/images/ready_to_invest.png" width="100%" alt="Ready to invest" title="Ready to invest">
      </div>
      <div fxFlex="60%" fxLayoutAlign="space-around center" fxFlex.lt-md="100%" fxLayout="row wrap"
        class="pd-xs-y-30 pd-md-y-20">
        <h2 fxFlex="50%" fxFlex.lt-sm="100%"
          class="tx-xs-20-f tx-sm-24-f tx-md-26-f tx-lg-28-f tx-xl-36-f tx-medium tx-white mg-t-0-f lh-4 tx-sm-center">
          Beat the Markets, Subscribe to 72PI.ai
        </h2>
        <div fxFlex="30%" fxFlex.lt-sm="100%" class="tx-sm-center mg-sm-t-10">
          <mat-button class="body-btn-rounded pd-md-x-20-f" routerLink="signup"> Sign Up, Now</mat-button>
        </div>
      </div>
    </div>
  </section>
</main>