<main class="content mg-t-100-f">
  <div class="container pd-y-60-f">
    <mat-card class='tx-center color1 main-card'>
         <h1>You don't have access to this page please upgrade.</h1>
          <button mat-raised-button >Upgrade</button>
    </mat-card>
  </div>
</main>