/// error code pages styles
.error-code h1 {
    color: #ECECEC;
    font-weight: 900;
    font-size: 276px;
    margin: 0px;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.error-code {
    position: absolute;
    height: 100px;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: -1;
}
.error-div {
    width: 100%;
    line-height: 1.8;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
}
#error-div-main {
    position: relative;
    height: 80vh;
}
#error-div-main .error-div {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.backtohome{
margin-top:30px;
border:2px solid #002060;
border-radius:50px;
padding:15px 20px;
background-color: #002060;
color:white;
cursor:pointer;
}
.backtohome:hover{
    border:2px solid #002060;
    color: #002060;
    background-color:white;
    }
////error code pages styles end