::ng-deep .mat-tab-label {
    background-color: transparent  !important;
    color: #002060 !important;
    font-weight: 700  !important;
    padding:0px 15px !important;
    min-width:max-content !important;
  }
  /* Styles for the active tab label */
  ::ng-deep .mat-tab-label.mat-tab-label-active {
    background-color:#e7f3ff !important;
    font-weight: 700  !important;
    opacity:1 !important;
    border:none !important;
  }
  .technicalIndicators-tables mat-header-row {
    min-height: 30px !important;
  }
  .technicalIndicators-tables mat-row {
    min-height: 30px !important;
  }
  .technicalIndicators-tables .mat-cell:nth-child(1),.technicalIndicators-tables .mat-header-cell:nth-child(1){
    justify-content: flex-start !important;
    border-left: solid 0.5px  #E5E8EF;
    white-space:nowrap !important;
    flex: 0 0 45% !important;
    width: 45% !important;
  }
  .technicalIndicators-tables .mat-cell:nth-child(2),.technicalIndicators-tables .mat-header-cell:nth-child(2){
    justify-content: flex-end !important;
    white-space:nowrap !important;
  }
  .technicalIndicators-tables .mat-cell:last-child,.technicalIndicators-tables .mat-header-cell:last-child{
    justify-content: center !important;
    white-space:nowrap !important;
  }
  ::ng-deep .technicalIndicator .mat-button-toggle-standalone,
  ::ng-deep .mat-button-toggle-group {
    box-shadow: none !important;
  }
  .technicalIndicator .mat-button-toggle-group.mat-button-toggle-group {
    display: flex;
    margin-left: auto;
    // margin-right: auto;
  } 
  .Price.mat-button-toggle,
  .MA9.mat-button-toggle,
  .MA20.mat-button-toggle,
  .MA26.mat-button-toggle,
  .MA50.mat-button-toggle,
  .MA100.mat-button-toggle,
  .MA200.mat-button-toggle,
  .RSI.mat-button-toggle,
  .Volatility.mat-button-toggle {
    color: #909090;
    font-size: 11px;
  }
  .RSI.mat-button-toggle-checked,
  .Volatility.mat-button-toggle-checked {
    border-bottom: 2px solid #002060;
    background-color: white;
    color: black;
  }
  .Price.mat-button-toggle-checked {
    border-bottom: 2px solid #002060;
    background-color: white;
    color: black;
  }
  .MA9.mat-button-toggle-checked {
    border-bottom: 2px solid #00A878;
    background-color: white;
    color: black;
  }
  .MA20.mat-button-toggle-checked {
    border-bottom: 2px solid #9BC53D;
    background-color: white;
    color: black;
  }
  .MA26.mat-button-toggle-checked {
    border-bottom: 2px solid #CACF85;
    background-color: white;
    color: black;
  }
  .MA50.mat-button-toggle-checked {
    border-bottom: 2px solid #00A8E8;
    background-color: white;
    color: black;
  }
  .MA100.mat-button-toggle-checked {
    border-bottom: 2px solid #FDCA40;
    background-color: white;
    color: black;
  }
  .MA200.mat-button-toggle-checked {
    border-bottom: 2px solid #F79824;
    background-color: white;
    color: black;
  }
  ::ng-deep .technicalIndicator .mat-button-toggle-label-content {
    line-height: 0px !important;
    padding: 0 16px 15px 16px !important;
  }
  .technicalIndicator .ng-select {
    padding-bottom: 0px !important;
    padding-top: 5px !important;
    margin-top: 0px !important;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    padding-left: 10px !important;
    cursor: pointer !important;
    &::ng-deep {
      .ng-select-container {
        cursor: pointer !important;
        &::ng-deep {
          .ng-value-container {
            &::ng-deep {
              .ng-input {
                > input {
                  cursor: pointer !important;
                }
              }
            }
          }
        }
      }
      .ng-dropdown-panel {
        z-index: 1 !important;
      }
    }
  }
  ::ng-deep .technicalIndicator ng-select .ng-arrow-wrapper .ng-arrow {
    display: inline-block !important;
  }
  ::ng-deep
    .technicalIndicator
    ng-select.ng-select-single
    .ng-select-container
    .ng-arrow-wrapper {
    bottom: 10px !important;
    right: 5px !important;
  }
  .overallTechnicalRating{
    border-bottom: 1px solid #e0e0e0;
  }
  .with-icon {
    display: flex;
    align-items: center;
  }
  
  .stockinfo-symbol-logo{
    height:64px;
    width:64px;
    border-radius: 50%;
  }
  
  .key_info_div span{
    margin-bottom:10px;
    margin-right:20px;
    padding:5px;
    border-bottom:1px dotted black;
  }
  .key_info_div span:last-child{
    margin-bottom:0px;
    margin-right:20px;
    border-bottom:none;
  }
  .section-1{
    padding:10px 5px 5px 15px;
  }
  .key_info_div_main{
    background-color: #E5E8EF;
  
  }
  table {
    width: 100%;
    border: 1px solid #e5e5e5;
  }
  .mat-elevation-z8 {
    box-shadow: none;
  }
  ::ng-deep .keyInformation .mat-row,
  .keyInformation .mat-header-row {
    border: none !important;
  }
  .keyInformation .mat-header-row {
    min-height: 0px;
  }
  .keyInformation .mat-row {
    min-height: 20px;
  }
  .factorInformation .mat-header-cell {
    background-color: #e5e8ef;
    color: #0e131f;
    font-weight: bold;
    font-size: 14px;
  }
  .factorInformation .mat-header-row {
    min-height: 30px;
  }
  .factorInformation .mat-row {
    min-height: 30px;
  }
  .factorInformation .mat-cell:first-child{
    // white-space: nowrap !important;
    width:60% !important;
  }
  .factorInformation .mat-cell:nth-child(2){
    text-align:right !important;
  }
  
  ::ng-deep .mat-button-toggle-group {
    box-shadow: 0px 0px 0px 0px rgb(0 0 0 / 20%), 0px 0px 0px 0px rgb(0 0 0 / 20%),
      0px 0px 0px 0px rgb(0 0 0 / 20%) !important;
  }
  ::ng-deep .example-stretched-tabs {
    max-width: 100px;
  }
  ::ng-deep .stockinfo-main .mat-tab-label{
    font-size: 12px !important;
  }
  
  .progress_background {
    width: 100%;
    background-color: #ccc;
    border-radius: 1em;
  }
  .progress_background {
    width: 200px;
  }
  .progressbar {
    height: 10px;
    border-radius: 1em;
    overflow: hidden;
    position: relative;
    transition: width 1s ease-in-out;
  }
  .progressbar_cate {
    height: 20px;
    border-radius: 1em;
    overflow: hidden;
    position: relative;
    transition: width 1s ease-in-out;
  }
  .progressbar:after,
  .progressbar:before,
  .progressbar_cate:after,
  .progressbar_cate:before {
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  .progressbar:before,
  .progressbar_cate::before {
    width: 200px;
    background: linear-gradient(to right, #ff0 0, green 100%);
    box-shadow: inset 0 -2px 5px rgba(0, 0, 0, 0.5);
  }
  .progressbar:not([style]):before,
  .progressbar[style=""]:before,
  .progressbar_cate:not([style]):before,
  .progressbar_cate[style=""]:before {
    background: #d3d3d3;
  }
  .progressbar:after,
  .progressbar_cate:after {
    z-index: 1;
    width: 100%;
    border-radius: 1em;
    animation: progress 1s linear infinite;
    background-repeat: repeat-x;
    background-size: 30px 30px;
    background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  }
  .mat-expansion-panel:not([class*=mat-elevation-z]) {
    box-shadow:none !important;
  }
  .highcharts-xaxis
  {
    color:white !important;
  }
  .factorInformation .mat-cell:last-of-type,
  .mat-header-cell:last-of-type,
  .mat-footer-cell:last-of-type {
    justify-content: flex-end !important;
  }
  .readMore{
    cursor: pointer;
    color: #002060;
  }
  .stockranking-expansion{
    border-radius:0px;border-bottom: 1px solid #E4E4E4;
  }
  .highcharts{
    width: 100%; display: block
  }
  .stockranking-div{
    width:450px;border:1px solid #002060;border-radius:10px
  }
  .text-decoration{
    text-decoration:none
  }
  .gauge-chart-div{
    border-radius:10px 10px 0 0
  }
  .stock-info-header{
  margin:auto 1px;
  }
  