.section-1 {
  padding-top: 50px;
  padding-bottom: 50px;
}
::ng-deep .portfolio-details-main .section-1 .card1 {
  box-shadow: 5px 5px 5px -3px rgba(0, 0, 0, 0.2),
    5px 8px 10px 1px rgba(0, 0, 0, 0.14), 5px 3px 14px 2px rgba(0, 0, 0, 0.12) !important;
}

.portfolio-table th {
  word-wrap: initial !important;
  display: table-cell !important;
  line-break: unset !important;
  width: 100% !important;
  white-space: nowrap !important;
  overflow: hidden !important;
  vertical-align: middle !important;
  background-color: #e5e8ef !important;
  text-transform: capitalize;
  border-right: 1px solid #ddd;
}

.portfolio-table tr {
  display: table-row !important;
  min-height: 20px !important;
}

// .portfolio-table tr td {
//   text-align: left;
//   padding: 0.5rem !important;
// }

::ng-deep .portfolio-table th {
  border: none !important;
  padding: 1rem 1rem 1rem 0.5rem !important;
}

.portfolio-table th:nth-child(2),
.portfolio-table td:nth-child(2) {
  text-align: left !important;
}

.p-button.p-button-icon-only.p-button-rounded {
  height: 25px !important;
  width: 25px !important;
  margin-right: 10px;
}

::ng-deep .pi {
  font-size: 1rem !important;
}

.del-mul-stocks {
  margin-left: 20px !important;
  margin-right: 20px;
}

::ng-deep .p-input-icon-right > .p-inputtext {
  width: 20rem !important;
}

.newStock {
  cursor: pointer;
  border-bottom: 1px solid #e5e8ef;
}

.newStock:hover {
  background-color: #cae5ff;
}

// ::ng-deep .portfolio-details-main .ng-select .ng-select-container {
//   border: 1px solid #e5e8ef !important;
//   padding: 7px !important;
// }

// ::ng-deep .ng-select {
//   padding-bottom: 0px !important;
// }

.moreBtn,
.Save,
.Save:hover,
::ng-deep .p-confirm-dialog-accept,
::ng-deep .p-confirm-dialog-accept:hover {
  background-color: #136f63 !important;
  border: 1px solid #136f63 !important;
  color: white !important;
  width: fit-content;
}
.editBtn,
.notifyBtn,
.delBtn {
  background-color: transparent !important;
  border: 1px solid transparent !important;
  color: grey !important;
  width: fit-content;
  font-size:30px !important;
}
.editBtn:hover{
  background-color: #136f63 !important;
  color:white !important;
  
  ::ng-deep .pi {
    font-size: 0.8rem !important;
  }
}
.delBtn:hover{
  background-color: #F52A4C !important;
  color:white !important;
  ::ng-deep .pi {
    font-size: 0.8rem !important;
  }
}
.notifyBtn:hover{
  background-color: #F79824 !important;
  color:white !important;
  ::ng-deep .pi {
    font-size: 0.8rem !important;
  }
}
::ng-deep .p-button {
  height: 35px !important;
}

::ng-deep
  .p-dialog
  ::ng-deep
  .p-dialog-header
  ::ng-deep
  .p-dialog-header-icon:focus,
::ng-deep .p-button:focus,
.moreBtn:focus,
.editBtn,
.notifyBtn:focus {
  box-shadow: none !important;
}

::ng-deep .p-dialog ::ng-deep .p-dialog-header ::ng-deep .p-dialog-header-icon,
::ng-deep
  .p-dialog
  ::ng-deep
  .p-dialog-header
  ::ng-deep
  .p-dialog-header-icon:hover,
::ng-deep .p-confirm-dialog-reject,
::ng-deep .p-confirm-dialog-reject:hover {
  border: 1px solid #f52a4c !important;
  background-color: white !important;
  color: #f52a4c !important;
}
.Cancel {
  border: 1px solid #f52a4c !important;
  background-color: white !important;
  color: #f52a4c !important;
  width: fit-content;
}
::ng-deep .portfolio-details-main .p-datatable .p-datatable-header {
  border: none !important;
}
::ng-deep .portfolio-details-main .mat-form-field-appearance-outline .mat-form-field-prefix,::ng-deep .portfolio-details-main .mat-form-field-appearance-outline .mat-form-field-suffix{
  top : 0 !important;
}
::ng-deep .portfolio-details-main .mat-form-field-appearance-outline .mat-form-field-outline{
  top : 0.7em !important;
}
::ng-deep .portfolio-details-main .mat-form-field-appearance-outline .mat-form-field-outline-thick,::ng-deep .portfolio-details-main .mat-form-field-appearance-outline.mat-form-field-disabled .mat-form-field-outline{
  color: rgba(0,0,0,.12) !important;
}
::ng-deep .portfolio-details-main .mat-form-field-appearance-outline .mat-form-field-infix{
  padding: 10px 0 !important;
}
::ng-deep .portfolio-details-main .mat-form-field-wrapper{
 padding-bottom: 0px !important;
}
::ng-deep .p-datatable .p-datatable-header {
  background:transparent !important;
}
.CreatePortifolio{
  cursor: pointer;
}
::ng-deep .portfolio-details-main .mat-tab-label {
  background-color: transparent !important;
  color: #002060 !important;
  font-weight: 700 !important;
  padding: 0px 15px !important;
  min-width: max-content !important;
}
/* Styles for the active tab label */
::ng-deep .portfolio-details-main .mat-tab-label.mat-tab-label-active {
  background-color: #e7f3ff !important;
  font-weight: 700 !important;
  opacity: 1 !important;
  border: none !important;
}
.notifyBtn1{
  background-color: #FDCA40 !important;
  color:white !important;
  border: 1px solid #FDCA40 !important;
  ::ng-deep .pi {
    font-size: 1rem !important;
  }
}
.portfolio-details-main .ng-select {
  padding-bottom: 0px !important;
  padding-top: 5px !important;
  margin-top: 0px !important;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  padding-left: 10px !important;
  cursor: pointer !important;
  &::ng-deep {
    .ng-select-container {
      cursor: pointer !important;
      &::ng-deep {
        .ng-value-container {
          &::ng-deep {
            .ng-input {
              > input {
                cursor: pointer !important;
              }
            }
          }
        }
      }
    }
    .ng-dropdown-panel {
      z-index: 1 !important;
    }
  }
}
::ng-deep .portfolio-details-main ng-select .ng-arrow-wrapper .ng-arrow {
  display: inline-block !important;
}
::ng-deep
  .portfolio-details-main
  ng-select.ng-select-single
  .ng-select-container
  .ng-arrow-wrapper {
  bottom: 10px !important;
  right: 5px !important;
}