<div *ngIf="errorFlag" class="mg-t-100-f">
  <app-page401 *ngIf="errorMsg=='401'"></app-page401>
  <app-page402 *ngIf="errorMsg=='402'"></app-page402>
  <app-page403 *ngIf="errorMsg=='403'"></app-page403>
  <app-page404 *ngIf="errorMsg=='404'"></app-page404>
  <app-page405 *ngIf="errorMsg=='405'"></app-page405>
  <app-page406 *ngIf="errorMsg=='406'"></app-page406>
  <app-page412 *ngIf="errorMsg=='412'"></app-page412>
  <app-page500 *ngIf="errorMsg=='500'"></app-page500>
  <app-page501 *ngIf="errorMsg=='501'"></app-page501>
  <app-page502 *ngIf="errorMsg=='502'"></app-page502>
</div>
<main class="content portfolio-details-main mg-t-100" *ngIf="contentFlag">
<p-toast></p-toast>

  <div class="container section-1 pd-y-60-f">
    <div class="se-pre-con" *ngIf="loading"></div>

      <h1 class="tw tx-xs-28-f tx-sm-30-f tx-md-32-f tx-lg-36-f tx-xl-36-f tx-semibold mg-t-10-f color1">My Portfolio
      </h1>
   
    <mat-card-content class="pd-t-20-f" *ngIf="emptyStocks">
      <p class='tx-14-f pcolor tx-center-f'>
       You don't have any portfolio. By clicking this link to create your Portfolio <span routerLink="/{{country}}/CreatePortfolio-SelectingStocks" class='tx-semibold tx-16 color1 CreatePortifolio'>Create Portfolio</span>
      </p>
      <p class='tx-14-f pcolor tx-center-f'>
        You don't have any portfolio. By clicking this link to create your Portfolio <span routerLink="/{{country}}/Screener" class='tx-semibold tx-16 color1 CreatePortifolio'>Screener</span>
      </p>
    </mat-card-content>
    <mat-card-content class="mg-t-10" *ngIf="!emptyStocks">
      <div fxLayout="row wrap" fxLayoutAlign="space-around start">
        <div fxFlex="50%" fxFlex.md='50%' fxFlex.sm="50%" fxFlex.xs="100%" fxLayoutAlign="start start">
          <p-dropdown [options]="portfolioNames" [style]="{'width': '15rem'}" [(ngModel)]="selectedPortfolio"
            optionLabel="name" [filter]="true" filterBy="name" (onChange)="selected()" placeholder="Select a portfolio">
            <ng-template pTemplate="selectedItem">
              <div class="country-item country-item-value" *ngIf="selectedPortfolio">
                <div>{{selectedPortfolio.name}}</div>
              </div>
            </ng-template>
            <ng-template let-portfolio pTemplate="item">
              <div class="country-item">
                <div>{{portfolio.name}}</div>
              </div>
            </ng-template>
          </p-dropdown>
        </div>
        <div fxFlex="50%" fxFlex.md='50%' fxFlex.sm="50%" fxFlex.xs="100%" fxLayoutAlign="end end"
          fxLayoutAlign.xs='start end' class='mg-xs-t-10-f'>
          <span class="p-input-icon-right">
            <input pInputText type="text" placeholder="Search..." (input)="dt.filterGlobal($event.target.value, 'contains')" />
          </span>
        </div>
      </div>
      <p-toast></p-toast>
      <p-overlayPanel #op [showCloseIcon]="false">
        <ng-template pTemplate>
          <div (click)="openNewStock()" (click)="hideOverlay($event, op)"
            class='pd-y-5-f pd-x-10-f mg-0-f newStock tx-14-f'>Add New Stock</div>
        </ng-template>
      </p-overlayPanel>
      <p-table #dt [value]="customers" [scrollable]="true" [style]="{width:'100%'}" [virtualScroll]="true"
        scrollHeight="450px" class="portfolio-table tx-14-f" [(selection)]="selectedstocks" [globalFilterFields]="['company_name','security_code','sector_name','market_cap_category','quantity','current_price','current_mkt_val']">
        <ng-template pTemplate="colgroup" let-columns>
          <colgroup>
            <col style="width:50px">
            <col style="width:250px">
            <col style="width:170px">
            <col style="width:120px">
            <col style="width:120px">
            <col style="width:150px">
            <col style="width:180px">
            <col style="width:150px">
          </colgroup>
        </ng-template>
        <ng-template pTemplate="caption">
          <div class="" fxLayout="row" fxLayoutAlign="end end">
            <button pButton pRipple  icon="pi pi-trash" class="p-button-danger mg-l-30 del-mul-stocks"
              (click)="deleteSelectedStocks()" [disabled]="!selectedstocks || !selectedstocks.length"></button>
            <button pButton pRipple label="More" icon="pi pi-ellipsis-v" (click)="op.toggle($event)"
              class="mg-l-30 moreBtn"></button>
            <div class="p-d-flex p-ai-center p-jc-between mg-l-20-f pd-b-5-f">
              {{customers ? customers.length : 0 }} Stocks
            </div>
          </div>
        </ng-template>
        <ng-template pTemplate="header" class='tx-14-f tx-medium'>
          <tr>
            <th>
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th pSortableColumn="company_name" class='tx-14-f tx-medium tx-justify-left'>Company <p-sortIcon field="company_name">
              </p-sortIcon>
            </th>
            <th pSortableColumn="sector_name" class='tx-14-f tx-medium tx-justify-left'>Sector Name <p-sortIcon field="sector_name">
              </p-sortIcon>
            </th>
            <th pSortableColumn="market_cap_category" class='tx-14-f tx-medium tx-justify-left'>Mcap Category <p-sortIcon
                field="market_cap_category"></p-sortIcon>
            </th>
            <th pSortableColumn="quantity" class='tx-14-f tx-medium tx-justify-right'>Quantity <p-sortIcon field="quantity"></p-sortIcon>
            </th>
            <th pSortableColumn="price" class='tx-14-f tx-medium tx-justify-right'>Current Price <p-sortIcon field="price"></p-sortIcon>
            </th>
            <th pSortableColumn="current_mkt_val" class='tx-14-f tx-medium tx-justify-right'>Current Market Value <p-sortIcon
                field="current_mkt_val"></p-sortIcon>
            </th>
            <th pSortableColumn="actions" class='tx-14-f tx-medium tx-center-f'>Actions</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-customer class='tx-14-f'>
          <tr>
            <td>
              <p-tableCheckbox [value]="customer"></p-tableCheckbox>
            </td>
            <td class="tx-justify-left">
              <div fxLayout="row">
                <div fxLayoutAlign="start start">
                  <img class="symbol-logo" src="{{customer.IMGURL}}" alt="{{customer.seurity_code}}">
                </div>
                <div fxLayout="column" class="pd-l-10-f">
                  <div class="tx-14-f color1 tx-bold cursor-f" (click)="getStockInfopage(customer.company_name,customer.security_code)">{{customer.security_code}}</div>
                  <div class="tx-12-f tx-semibold ">
                    {{customer.company_name}}
                  </div>
                </div>
              </div> 
            </td> 
            <td class="tx-justify-left pd-l-10-f">{{customer.sector_name}}</td>
            <td class="tx-justify-left pd-l-10-f">{{customer.market_cap_category}}</td>
            <td class="tx-justify-right ">{{customer.quantity | number:'1.0-0': symbol}}</td>
            <td class="tx-justify-right ">{{customer.current_price | number:'1.0-0':symbol}}</td>
            <td class="tx-justify-right ">{{customer.current_mkt_val | number:'1.0-0': symbol}} </td>
            <td class="tx-justify-right ">
              <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded editBtn p-mr-2"
                (click)="editStock(customer)"></button>
              <button pButton pRipple icon="pi pi-trash" class="p-button-rounded delBtn p-button-danger"
                (click)="deleteStock(customer)"></button>
              <button pButton pRipple icon="pi pi-bell" class="p-button-rounded notifyBtn p-mr-2"
                (click)="createAlert(customer)"></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
      <p-dialog [draggable]="false" [(visible)]="stockDialog" [style]="{width: '450px'}" header="Edit Stock Details" [modal]="true"
        styleClass="p-fluid">
        <ng-template pTemplate="content">
          <div class="p-field">
            <label for="name">Name</label>
            <input type="text" pInputText id="name" [(ngModel)]="stock.company_name" [disabled]="true" class="mg-t-5" />
          </div>
          <div class="p-formgrid p-grid mg-t-20">
            <div class="p-field p-col">
              <label for="current_price">Price</label>
              <p-inputNumber id="current_price" [(ngModel)]="stock.current_price" mode="currency" [currency]="currencyMode" locale="symbol" [disabled]="true" class="mg-t-5"></p-inputNumber>
            </div>
            <div class="p-field p-col mg-t-20">
              <label for="quantity">Quantity</label>
              <p-inputNumber id="quantity" [(ngModel)]="stock.quantity" class="mg-t-5"></p-inputNumber>
            </div>
          </div>
        </ng-template>
        <ng-template pTemplate="footer">
          <button pButton pRipple label="Cancel" class="p-button-text Cancel" (click)="hideDialog()"></button>
          <button pButton pRipple label="Save" class="p-button-text Save" (click)="saveEditedStock()"></button>
        </ng-template>
      </p-dialog>
      <p-dialog [draggable]="false" [(visible)]="addNewStockDialog" [style]="{width: '450px'}" header="Add New Stock" [modal]="true"
        styleClass="p-fluid">
        <ng-template pTemplate="content">
          <div class="p-field">
            <label for="name">Company Name</label>
            <div class="mg-y-10-f ng-select-div">
              <ng-select [items]="stockNames_dict" [virtualScroll]="true"
                bindLabel="company" placeholder="Select Company" (change)="getCompanyDetails(selectedNewStock)"
                [(ngModel)]="selectedNewStock">
              </ng-select>
            </div>
          </div>
          <div class="p-field">
            <label for="name">Sector</label>
            <input type="text" pInputText id="name" [(ngModel)]="Newstock.gics" [disabled]="true" class="mg-t-5-f" />
          </div>
          <div class="p-formgrid p-grid mg-t-20">
            <div class="p-field p-col mg-t-20">
              <label for="quantity" class="mg-b-5-f">Quantity</label>
              <p-inputNumber id="quantity" [(ngModel)]="Newstock.quantity" class="mg-t-5-f"></p-inputNumber>
            </div>
            <div class="p-field p-col  mg-t-20">
              <label for="price">Price</label>
              <p-inputNumber id="price" [(ngModel)]="Newstock.new_price" mode="currency" [currency]="currencyMode" locale="symbol"
              [disabled]="true" class="mg-t-5-f"></p-inputNumber>
            </div>
            <div class="p-field p-col mg-t-20">
              <label for="instmnt_amnt">Investment Amount</label>
              <p-inputNumber id="invstmnt_amnt" [(ngModel)]="Newstock.quantity*Newstock.new_price" class="mg-t-5-f" [disabled]="true">
              </p-inputNumber>
            </div>
          </div>
        </ng-template>
        <ng-template pTemplate="footer">
          <button pButton pRipple label="Cancel" class="p-button-text Cancel" (click)="hideDialog()"></button>
          <button pButton pRipple label="Save" class="p-button-text Save" (click)="saveNewStock(Newstock)"></button>
        </ng-template>
      </p-dialog>

      <p-dialog [draggable]="false" [(visible)]="addAlertDialog" [style]="{width: '800px'}" header={{alerttitle}} [modal]="true"
        styleClass="p-fluid">
        <ng-template pTemplate="content">
          <mat-tab-group animationDuration="0ms" mat-align-tabs="left"
          (selectedTabChange)="alterTab($event.index)" class='mg-b-10-f' [selectedIndex]="activeTab">
          <mat-tab label="Create Alert">
            <mat-accordion>
              <mat-expansion-panel #panel1 [expanded]='expand1'>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <h3 class="tx-18-f color1 tx-bold mg-y-20-f">Price Movement Alerts</h3>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div fxLayout="row wrap" fxLayoutAlign="space-around center">
                  <div fxFlex="25%" fxFlex.sm="25%" fxFlex.xs="100%" class="pd-r-20"></div>
                  <div fxFlex="25%" fxFlex.sm="25%" fxFlex.xs="100%" class="pd-r-20"></div>
                  <div fxFlex="25%" fxFlex.sm="25%" fxFlex.xs="100%" class="pd-r-20"></div>
                  <div fxFlex="25%" fxFlex.sm="25%" fxFlex.xs="100%" class="pd-r-20"><span class="tx-bold green-color">Last Price : {{lastPrice|number:'1.2'}}</span></div>
                </div>
                <div fxLayout="row wrap" fxLayoutAlign="space-around center">
                  <div fxFlex="25%" fxFlex.sm="25%" fxFlex.xs="100%" class="pd-r-20">
                    <mat-form-field fxFlex="100%" appearance="outline" name="select" floatPlaceholder="never"
                      floatLabel="never">
                      <mat-select [(ngModel)]="selectedValue11">
                        <mat-option *ngFor="let select of buy_sell" [value]="select.value">{{select.viewValue}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div fxFlex="25%" fxFlex.sm="25%" fxFlex.xs="100%" class="pd-r-20">
                    <mat-form-field fxFlex="100%" appearance="outline">
                      <input type="text" matInput sname="input" placeholder="Last Price" [disabled]="true">
                    </mat-form-field>
                  </div>
                  <div fxFlex="25%" fxFlex.sm="25%" fxFlex.xs="100%" class="pd-r-20">
                    <mat-form-field fxFlex="100%" appearance="outline" name="select" floatPlaceholder="never"
                      floatLabel="never">
                      <mat-select [(ngModel)]="selectedValue21">
                        <mat-option *ngFor="let select of increase_decrease" [value]="select.value">
                          {{select.viewValue}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div fxFlex="25%" fxFlex.sm="25%" fxFlex.xs="100%">
                    <mat-form-field fxFlex="100%" appearance="outline">
                      <span matPrefix *ngIf="country == 'India'">INR</span>
                      <span matPrefix *ngIf="country == 'US'">USD</span>
                      <input type="number" matInput step="0.01" name="input" placeholder="Enter price in value"
                        [(ngModel)]="price_value" min="0" oninput="validity.valid||(value='');">
                    </mat-form-field>
                  </div>
                </div>
  
                <div fxLayout="row wrap" fxLayoutAlign="space-around center">
                  <div fxFlex="25%" fxFlex.sm="25%" fxFlex.xs="100%" class="pd-r-20">
                    <mat-form-field fxFlex="100%" appearance="outline" name="select" floatPlaceholder="never"
                      floatLabel="never">
                      <mat-select [(ngModel)]="selectedValue12">
                        <mat-option *ngFor="let select of buy_sell" [value]="select.value">{{select.viewValue}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div fxFlex="25%" fxFlex.sm="25%" fxFlex.xs="100%" class="pd-r-20">
                    <mat-form-field fxFlex="100%" appearance="outline">
                      <input type="text" matInput sname="input" placeholder="Last Price" [disabled]="true">
                    </mat-form-field>
                  </div>
                  <div fxFlex="25%" fxFlex.sm="25%" fxFlex.xs="100%" class="pd-r-20">
                    <mat-form-field fxFlex="100%" appearance="outline" name="select" floatPlaceholder="never"
                      floatLabel="never">
                      <mat-select [(ngModel)]="selectedValue22">
                        <mat-option *ngFor="let select of increase_decrease" [value]="select.value">
                          {{select.viewValue}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div fxFlex="25%" fxFlex.sm="25%" fxFlex.xs="100%" >
                    <mat-form-field fxFlex="100%" appearance="outline">
                      <span matSuffix>%</span>
                      <input type="number" matInput step="0.01" name="input" placeholder="Enter price in percent"
                        [(ngModel)]="price_percent" min="0" max="100" oninput="validity.valid||(value='');">
                    </mat-form-field>
                  </div>
                </div>
                <div fxLayout="row wrap" fxLayoutAlign="space-around center">
                  <div fxFlex="25%" fxFlex.sm="25%" fxFlex.xs="100%" class="pd-r-20">
                    <mat-form-field fxFlex="100%" appearance="outline" name="select" floatPlaceholder="never"
                      floatLabel="never">
                      <mat-select [(ngModel)]="selectedValue13">
                        <mat-option *ngFor="let select of buy_sell" [value]="select.value">{{select.viewValue}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div fxFlex="25%" fxFlex.sm="25%" fxFlex.xs="100%" class="pd-r-20">
                    <mat-form-field fxFlex="100%" appearance="outline">
                      <input type="text" matInput sname="input" placeholder="Last Price" [disabled]="true">
                    </mat-form-field>
                  </div>
                  <div fxFlex="25%" fxFlex.sm="25%" fxFlex.xs="100%" class="pd-r-20">
                    <mat-form-field fxFlex="100%" appearance="outline" name="select" floatPlaceholder="never"
                      floatLabel="never">
                      <mat-select [(ngModel)]="selectedValue23">
                        <mat-option *ngFor="let select of increase_decrease" [value]="select.value">
                          {{select.viewValue}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div fxFlex="25%" fxFlex.sm="25%" fxFlex.xs="100%" >
                    <div fxLayout='column'>
                      <mat-form-field fxFlex="100%" appearance="outline">
                        <input type="number" matInput step="0.01" name="input" placeholder="Enter value in percent"
                          [(ngModel)]="price_52wh" min="0" max="100" oninput="validity.valid||(value='');">
                      </mat-form-field>
                    </div>
                    <div class="tx-12-f ">% of 52wh</div>
                  </div>
                </div>
                <div class="tx-right mg-t-20-f">
                  <button (click)="panel1.toggle()" (click)="epandClose1()" pButton pRipple label="Cancel" icon="pi pi-times"
                    class="p-button-text Cancel mg-r-10-f"></button>
                  <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text Save"
                    (click)="savePriceData()"></button>
                </div>
              </mat-expansion-panel>
              <mat-expansion-panel #panel2 [expanded]='expand2'>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <h3 class="tx-18-f color1 tx-bold mg-y-20-f">Technical Indicator Alerts</h3>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div fxLayout='row wrap' fxLayoutAlign="space-around center">
                  <div fxFlex="25%" fxFlex.sm="25%" fxFlex.xs="100%" class="pd-r-20">
                    <mat-form-field fxFlex="100%" appearance="outline" name="select" floatPlaceholder="never" floatLabel="never">
                      <mat-select [(ngModel)]="selectedValue41">
                        <mat-option *ngFor="let select of buy_sell" [value]="select.value">{{select.viewValue}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div fxFlex="25%" fxFlex.sm="25%" fxFlex.xs="100%" class="pd-r-20">
                    <mat-form-field fxFlex="100%" appearance="outline">
                      <input type="text" matInput name="input" placeholder="14 Day RSI" [disabled]="true">
                    </mat-form-field>
                  </div>
                  <div fxFlex="25%" fxFlex.sm="25%" fxFlex.xs="100%" class="pd-r-20">
                    <mat-form-field fxFlex="100%" appearance="outline" name="select" floatPlaceholder="never" floatLabel="never">
                      <mat-select [(ngModel)]="selectedValue51">
                        <mat-option *ngFor="let select of greater_lesser" [value]="select.value">{{select.viewValue}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div fxFlex="25%" fxFlex.sm="25%" fxFlex.xs="100%" >
                    <mat-form-field fxFlex="100%" appearance="outline">
                      <input matInput type="number" step="0.01" name="input" placeholder="Enter RSI Value (0-100)"
                      [(ngModel)]="rsi_value" min="0" max="100" oninput="validity.valid||(value='');">
                    </mat-form-field>
                  </div>
                </div>
                <div fxLayout='row wrap' fxLayoutAlign="space-around center">
                    <div fxFlex="25%" fxFlex.sm="25%" fxFlex.xs="100%" class="pd-r-20">
                      <mat-form-field fxFlex="100%" appearance="outline" name="select" floatPlaceholder="never" floatLabel="never">
                        <mat-select [(ngModel)]="selectedValue42">
                          <mat-option *ngFor="let select of buy_sell" [value]="select.value">{{select.viewValue}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div> 
                  <form #myForm="ngForm" fxFlex="75%">
                    <div fxFlex="33.33%" fxFlex.sm="33.33%" fxFlex.xs="100%" class="pd-r-20">               
                        <mat-form-field fxFlex="100%" appearance="outline">
                          <mat-select #select1 placeholder="Select" (selectionChange)="setFirstValues(myForm)"
                            name="select1" ngModel>
                            <mat-option *ngFor="let time1 of ma_values.time" [value]="time1"
                              [disabled]="secondSelections.includes(time1)">{{time1}}</mat-option>
                          </mat-select>
                        </mat-form-field>                   
                    </div>
                    <div fxFlex="33.33%" fxFlex.sm="33.33%" fxFlex.xs="100%" class="pd-r-20">
                        <mat-form-field fxFlex="100%" appearance="outline" name="select" floatPlaceholder="never"
                          floatLabel="never">
                          <mat-select [(ngModel)]="selectedValue52">
                            <mat-option *ngFor="let select of greater_lesser" [value]="select.value">
                              {{select.viewValue}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                    </div>
                    <div fxFlex="33.33%" fxFlex.sm="33.33%" fxFlex.xs="100%">
                        <mat-form-field fxFlex="100%" appearance="outline">
                          <mat-select #select2 placeholder="Select" name="select2" ngModel
                            (selectionChange)="setSecondValues(myForm)">
                            <mat-option *ngFor="let time2 of ma_values.time" [value]="time2"
                              [disabled]="firstSelections.includes(time2)">{{time2}}</mat-option>
                          </mat-select>
                        </mat-form-field>
                    </div>
                  </form>
                </div>
                <div class="tx-right mg-t-20-f">
                  <button (click)="panel2.toggle()" (click)="epandClose2()" pButton pRipple label="Cancel" icon="pi pi-times"
                    class="p-button-text Cancel mg-r-10-f"></button>
                  <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text Save"
                    (click)="saveTechData()"></button>
                </div>
              </mat-expansion-panel>
            </mat-accordion>
          </mat-tab>
          <mat-tab label="View Alerts" fxLayoutAlign='center center'>
            <div fxLayout='row wrap' fxLayoutAlign='center center' fxFlex='100%' class='mg-b-20-f' *ngIf="alertsLength">
            <mat-card fxFlex='80%' *ngFor="let alert of alerts" class='mg-t-10-f'>
              <mat-card-content>
                <div class='row wrap'>
                  <div fxFlex='90%' fxLayoutAlign='start start' class='tx-semibold'>
                  {{alert}}</div>
                  <div fxFlex='10%' fxLayoutAlign='end start'>
                  <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded notifyBtn2 p-mr-2"></button>
                  </div>
                </div>
              </mat-card-content>
            </mat-card>
            </div>
            <div fxLayout='row wrap' fxLayoutAlign='center center' fxFlex='100%' class='mg-b-20-f' *ngIf="!alertsLength">
            <mat-card fxFlex='80%' class='mg-t-10-f'>
              <mat-card-content>
                <div class='row wrap'>
                <p class="tx-center">No waiting alerts at this moment</p>                  
                </div>
              </mat-card-content>
            </mat-card>
          </div>
          </mat-tab>
          <mat-tab label="Notifications">
            <div fxLayout='row wrap' fxLayoutAlign='center center' fxFlex='100%' class='mg-b-20-f' *ngIf="notificationsLength">
              <mat-card fxFlex='80%' *ngFor= "let notification of notifications" class='mg-t-10-f'>
                <mat-card-content>
                  <div class='row wrap'>
                    <div fxFlex='90%' fxLayoutAlign='start start' class='tx-semibold'>
                    {{notification}}</div>
                    <div fxFlex='10%' fxLayoutAlign='end start'>
                    <button pButton pRipple icon="pi pi-bell" class="p-button-rounded notifyBtn1 p-mr-2"></button>
                    </div>
                  </div>
                </mat-card-content>
              </mat-card>
            </div>
            <div fxLayout='row wrap' fxLayoutAlign='center center' fxFlex='100%' class='mg-b-20-f' *ngIf="!notificationsLength">
              <mat-card fxFlex='80%' class='mg-t-10-f' #notificationsElseBlock>
                <mat-card-content>
                  <div class='row wrap'>
                  <p class="tx-center">No notifications at this moment</p>                  
                  </div>
                </mat-card-content>
              </mat-card>
            </div>
          </mat-tab>
        </mat-tab-group>
        </ng-template>
        <!-- <ng-template pTemplate="footer">
          <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text Cancel"
            (click)="hideDialog()"></button>
          <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text Save"
            (click)="saveNewStock(Newstock)"></button>
        </ng-template> -->
      </p-dialog>
      <p-confirmDialog [style]="{width: '450px'} " acceptButtonStyleClass="accept">
      </p-confirmDialog>
    </mat-card-content>
  </div>
</main>