<main class="mg-t-100">
  <div class="container pd-y-60">
    <section class="section-1">
      <h1 class="tw tx-xs-28-f tx-sm-30-f tx-md-32-f tx-lg-36-f tx-xl-36-f tx-bold lh-1 title-text">My Subscriptions
      </h1>
      <div fxLayout="row wrap" fxLayoutAlign="space-between stretch">
        <div fxFlex="48%" fxFlex.lt-md="95%" *ngFor="let item of subscriptionsData;" class="mySubscriptionCardsMain mg-t-30-f mg-sm-t-20-f mg-md-t-30-f" fxLayoutAlign="space-between stretch">
          <div fxFlex="100%" class="mySubscriptionCards pd-16-f "
          [ngClass]="{'green-bg': item.status === 'ACTIVE', 'gold-bg':item.status === 'UPCOMING', 'red-bg':item.status === 'EXPIRED'}">
            <table class="subscriptiontable">
              <tbody>
                <tr>
                  <td>Plan</td>
                  <td>{{item.plan}}</td>
                </tr>
                <tr>
                  <td>Active From</td>
                  <td>{{item.active_from}}</td>
                </tr>
                <tr>
                  <td>Valid Through</td>
                  <td>{{item.valid_to}}</td>
                </tr>
                <tr>
                  <td>Status</td>
                  <td [ngClass]="{'green-color': item.status === 'ACTIVE', 'goldColor2':item.status === 'UPCOMING', 'red-color':item.status === 'EXPIRED'}">{{item.status}}</td>
                </tr>
              </tbody>
            </table>
          </div>  
        </div>
      </div>
    </section>
  </div>
</main>