.mySubscriptionCards {
  border-radius: 8px;
}

.mySubscriptionCards:hover {
  transform: translate3D(0, -1px, 0) scale(1.03);
//   box-shadow: 0 0.5rem 2rem 0 rgb(33 40 50 / 25%) !important;
}
.subscriptiontable{
    width:100%;
}
.subscriptiontable tr{
    height:40px;
}
.subscriptiontable td{
    width:50%;
}
.subscriptiontable td:last-child{
    font-weight: 600;
}
.green-bg{
    box-shadow: 2px 3px 10px 0px #136F63 !important;
}
.gold-bg{
    box-shadow: 2px 3px 10px 0px #F79824 !important;
}
.red-bg{
    box-shadow: 2px 3px 10px 0px #F52A4C !important;
}