<div *ngIf="errorFlag" class="mg-t-100-f">
    <app-page401 *ngIf="errorMsg=='401'"></app-page401>
    <app-page402 *ngIf="errorMsg=='402'"></app-page402>
    <app-page403 *ngIf="errorMsg=='403'"></app-page403>
    <app-page404 *ngIf="errorMsg=='404'"></app-page404>
    <app-page405 *ngIf="errorMsg=='405'"></app-page405>
    <app-page406 *ngIf="errorMsg=='406'"></app-page406>
    <app-page412 *ngIf="errorMsg=='412'"></app-page412>
    <app-page500 *ngIf="errorMsg=='500'"></app-page500>
    <app-page501 *ngIf="errorMsg=='501'"></app-page501>
    <app-page502 *ngIf="errorMsg=='502'"></app-page502>
  </div>
    <main class="content mg-t-50-f"  *ngIf="contentFlag">
    <div class='container pd-y-60-f'>
        <div style="margin-left: auto;margin-right: auto;">
            <div class='mg-t-50'>
                <h1 class='tx-xs-28-f tx-sm-30-f tx-md-32-f tx-lg-36-f tx-xl-36-f tx-semibold color1 mg-b-20-f'>{{selectedBlogTitle}}</h1>
            </div>
            <img width='520' height="300" src="{{site}}/media/{{image_title}}" alt="{{image_title}}">
            <div>
                <p class="tx-14-f tx-light lh-8 pd-t-10 tx-justify" [innerHTML]=description></p>
            </div>
        </div>
    </div>
</main>