.changePassword-card {
    width: 400px;
    padding: 20px 35px;
  }
  ::ng-deep .changePassword input.mat-input-element {
    padding-top: 10px !important;
  }
  .changePassword
  ::ng-deep
  .mat-form-field-appearance-fill
  ::ng-deep
  .mat-form-field-flex {
  padding: 0em 0.75em 0 0.75em !important;
}
.changePasswordbtn {
    background: #136f63;
    color: #fff;
    border-radius: 4px;
    border: 1px solid #136f63;
    cursor: pointer;
    width: 100%;
  }