<main class="content changePassword mg-t-100-f">
  <div class="container pd-y-60-f">
    <div fxLayout="row" fxLayoutAlign="center center">
      <mat-card class="changePassword-card" fxFlex='31%' fxFlex.lg='33%' fxFlex.md='45%' fxFlex.sm=60% fxFlex.xs=80%>
        <div fxLayout="column" fxFlex="100%">
          <div class="sub-title-text tx-xl-24-f tx-lg-24-f tx-md-16-f tx-sm-14-f tx-xs-14-f tx-center-f lh-1"
            [ngStyle]="{'color':'rgba(0,0,0,0.7)'}">Change Password</div>
          <form [formGroup]="changePasswordForm">
            <div *ngIf="error"><span class='red-color tx-14-f'>{{error['error']['oldpassword']}}</span></div>
            <div class="mg-t-30-f">
              <mat-form-field fxFlex="100%" appearance="fill">
                <mat-label class='pcolor tx-14-f'>Old Password</mat-label>
                <input type="text" matInput placeholder="Enter Old Password" required formControlName="oldpassword">
              </mat-form-field>
            </div>
            <div *ngIf="error"><span class='red-color tx-14-f'>{{error['error']['newpassword']}}</span></div>
            <div>
              <mat-form-field fxFlex="100%" appearance="fill">
                <mat-label class='pcolor tx-14-f'>New Password</mat-label>
                <input type="email" matInput placeholder="Enter New Password" required
                  [type]="hide ? 'password' : 'text'" formControlName="newpassword">
                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>

              </mat-form-field>
            </div>
            <div *ngIf="error"><span class='red-color tx-14-f'>{{error['error']['confirmpassword']}}</span></div>
            <div class="mg-t-10-f">
              <mat-form-field fxFlex="100%" appearance="fill">
                <mat-label class='pcolor tx-14-f'>Confirm Passsword</mat-label>
                <input matInput placeholder="confirmpassword" [type]="hide ? 'password' : 'text'" required
                  formControlName="confirmpassword">
                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </mat-form-field>
            </div>
            <div class='tx-right-f'>
            <button type="submit" mat-raised-button class="changePasswordbtn mg-y-10-f tx-14-f">Change Password</button>
          </div>
          </form>
        </div>
      </mat-card>
    </div>
  </div>
</main>
