<div *ngIf="errorFlag" class="mg-t-100-f">
  <app-page401 *ngIf="errorMsg=='401'"></app-page401>
  <app-page402 *ngIf="errorMsg=='402'"></app-page402>
  <app-page403 *ngIf="errorMsg=='403'"></app-page403>
  <app-page404 *ngIf="errorMsg=='404'"></app-page404>
  <app-page405 *ngIf="errorMsg=='405'"></app-page405>
  <app-page406 *ngIf="errorMsg=='406'"></app-page406>
  <app-page412 *ngIf="errorMsg=='412'"></app-page412>
  <app-page500 *ngIf="errorMsg=='500'"></app-page500>
  <app-page501 *ngIf="errorMsg=='501'"></app-page501>
  <app-page502 *ngIf="errorMsg=='502'"></app-page502>
</div>
<main class="content mg-t-100-f stockinfo-main" *ngIf="contentFlag">
  <div class="se-pre-con" *ngIf="loading"></div>
  <div class="container pd-y-60-f">
    <section class="section-1">
      <div fxLayout="row wrap">
        <div fxLayout="row" fxFlex="39%" fxFlex.lt-md="100%"  class="stock-info-header">
          <div fxLayoutAlign="start start">
            <img class="stockinfo-symbol-logo" src={{img_url}} alt={{security_code}}>
          </div>
          <div fxLayout="column" class="pd-l-15-f pd-t-10">
            <div fxLayout="column" class="pd-l-10-f">
              <div class="title-text tx-xl-24-f tx-lg-24-f tx-md-24-f tx-sm-18-f tx-xs-18-f tx-bold">{{security_code}}</div>
              <div class="tx-xl-18-f tx-lg-18-f tx-md-18-f tx-sm-16-f tx-xs-16-f tx-semibold mg-t-10">
                {{company_name}}
              </div>
            </div>
          </div>
        </div>
        <div fxLayout="row" *ngIf="keyInformation" fxFlex="59%" fxFlex.lt-md="100%" fxLayoutAlign="end start" class="key_info_div_main mg-sm-t-20" >
          <div fxLayout="column" class="key_info_div">
            <span>
              <p class="tx-10 mg-t-0-f mg-b-0-f">SECTOR</p>
              <p class="tx-14 mg-t-0-f mg-b-0-f tx-semibold">{{keyInformation.gics}}</p>
            </span>
            <span>
              <p class="tx-10 mg-t-0-f mg-b-0-f">ADDRESS</p>
              <p class="tx-14 mg-t-0-f mg-b-0-f tx-semibold">{{keyInformation.address}}</p>
            </span>
            <span *ngIf="country=='India'">
              <p class="tx-10 mg-t-0-f mg-b-0-f">FOUNDED</p>
              <p class="tx-14 mg-t-0-f mg-b-0-f tx-semibold">{{keyInformation.founded}}</p>
            </span>
          </div>
          <div fxLayout="column" class="key_info_div">
            <span>
              <p class="tx-10 mg-t-0-f mg-b-0-f">INDUSTRY</p>
              <p class="tx-14 mg-t-0-f mg-b-0-f tx-semibold">{{keyInformation.industry}}</p>
            </span>
            <span>
              <p class="tx-10 mg-t-0-f mg-b-0-f">PHONE</p>
              <p class="tx-14 mg-t-0-f mg-b-0-f tx-semibold">{{keyInformation.tel1}}</p>
            </span>
            <span *ngIf="country=='India'">
              <p class="tx-10 mg-t-0-f mg-b-0-f">CHAIRMAN/CEO</p>
              <p class="tx-14 mg-t-0-f mg-b-0-f tx-semibold" *ngIf="!(keyInformation.chairman)">-</p>
              <p class="tx-14 mg-t-0-f mg-b-0-f tx-semibold" *ngIf="keyInformation.chairman">{{keyInformation.chairman}}
              </p>
            </span>
          </div>
          <div fxLayout="column" class="key_info_div">
            <span>
              <p class="tx-10 mg-t-0-f mg-b-0-f">MARKET CAP</p>
              <p class="tx-14 mg-t-0-f mg-b-0-f tx-semibold">{{keyInformation.market_cap_category}}</p>
            </span>
            <span>
              <p class="tx-10 mg-t-0-f mg-b-0-f">WEBSITE</p>
              <p class="tx-14 mg-t-0-f mg-b-0-f tx-semibold">
                <a href="{{keyInformation.internet}}" target="_blank"  class="text-decoration">{{keyInformation.internet}}</a>
              </p>
            </span>
            <span *ngIf="country=='India'">
              <p class="tx-10 mg-t-0-f mg-b-0-f">EMAIL</p>
              <p class="tx-14 mg-t-0-f mg-b-0-f tx-semibold">{{keyInformation.email}}</p>
            </span>
          </div>
        </div>
      </div>
    </section>
    <section class="section-2">
      <span *ngIf="show" class='tx-justify pcolor' [innerHTML]="stringToShow">{{stringToShow}}</span>
      <span *ngIf="showReadMore" (click)="toggle()"
        class='readMore tx-semibold color1 tx-right'>{{isCollapsed ? "read more" : "read less"}}</span>
    </section>
    <section class="section-3">
      <div fxLayout="row wrap">
        <div fxFlex="59%" fxLayout="column" fxFlex.lt-md='100%' class="pd-xl-r-20-f">
          <h2 class='sub-title-text tx-xl-18-f tx-lg-18-f tx-md-18-f tx-sm-16-f tx-xs-16-f  tx-semibold'>
            Stock Price</h2>
          <highcharts-chart class="highcharts" *ngIf="stockPriceOptions" [Highcharts]="Highcharts"
            [options]="stockPriceOptions">
          </highcharts-chart>

          <div class="dateTabs">
            <h3 class="tx-sm-16-f tx-18-f color1 tx-semibold">
              Indices vs Stock Return</h3>
            <mat-tab-group animationDuration="0ms" mat-align-tabs="left"
              (selectedTabChange)="addDisableIndexSeries($event.index)" class='mg-b-20-f'>
              <mat-tab label="{{security_code}}"></mat-tab>
              <mat-tab label="{{benchmark_headers[country][0]}}"></mat-tab>
              <mat-tab label="{{benchmark_headers[country][1]}}"></mat-tab>
              <mat-tab label="{{benchmark_headers[country][2]}}"></mat-tab>
            </mat-tab-group>
            <highcharts-chart id="chart" [Highcharts]="Highcharts" [constructorType]="chartConstructor"
              [options]="stockIndexOptions" [callbackFunction]="chartCallback" [(update)]="stockIndexFlag"
              [oneToOne]="true" *ngIf="stockIndexOptions" class="highcharts">
            </highcharts-chart>
          </div>
          <div>
            <h3 class="tx-sm-16-f tx-18-f color1 tx-semibold">
              Stock Price vs
              Moving Average</h3>
            <mat-button-toggle-group fxLayoutAlign="start center" multiple="true" appearance="legacy"
              name="fontStyle" class='mg-b-30-f mg-t-20-f' value="All">
              <mat-button-toggle [checked]="Price" (click)="addDisableSeries('Price')" class='Price' value="All">Price
              </mat-button-toggle>
              <mat-button-toggle [checked]="MA9" (click)="addDisableSeries('MA9')" class='MA9' >MA9
              </mat-button-toggle>
              <mat-button-toggle (click)="addDisableSeries('MA20')" class='MA20 ' >MA20</mat-button-toggle>
              <mat-button-toggle (click)="addDisableSeries('MA26')" class='MA26' >MA26</mat-button-toggle>
              <mat-button-toggle (click)="addDisableSeries('MA50')" class='MA50 ' value="All">MA50</mat-button-toggle>
              <mat-button-toggle (click)="addDisableSeries('MA100')" class='MA100'>MA100</mat-button-toggle>
              <mat-button-toggle (click)="addDisableSeries('MA200')" class='MA200' value="All">MA200</mat-button-toggle>
            </mat-button-toggle-group>
            <highcharts-chart id="chart" [Highcharts]="Highcharts" [constructorType]="chartConstructor"
              [options]="movingAverageOptions" [callbackFunction]="chartCallback" [(update)]="updateFlag"
              [oneToOne]="true" *ngIf="movingAverageOptions" class="highcharts">
            </highcharts-chart>
          </div>
          <div>
            <h3 class="tx-sm-16-f tx-18-f color1 tx-semibold">Volume</h3>
            <highcharts-chart class="highcharts" *ngIf="volumeOptions" [Highcharts]="Highcharts"
              [options]="volumeOptions"></highcharts-chart>
          </div>
          <div>
            <mat-button-toggle-group appearance="legacy" fxLayoutAlign="start center " name="fontStyle" value="All"
              class='mg-b-8-f'>
              <mat-button-toggle (click)="RSIVolatility('RSIDiv','VolatilityDiv')" class='RSI' value="All">RSI
              </mat-button-toggle>
              <mat-button-toggle (click)="RSIVolatility('VolatilityDiv','RSIDiv')" class='Volatility'>Volatility
              </mat-button-toggle>
            </mat-button-toggle-group>
            <div *ngIf='RSIDiv'>
              <highcharts-chart class="highcharts" *ngIf="rsiOptions" [Highcharts]="Highcharts"
                [options]="rsiOptions"></highcharts-chart>
            </div>
            <div *ngIf='VolatilityDiv'>
              <highcharts-chart class="highcharts" *ngIf="volatilityOptions" [Highcharts]="Highcharts"
                [options]="volatilityOptions"></highcharts-chart>
            </div>
          </div>
        </div>
        <div fxFlex="39%" fxLayout="column" fxFlex.lt-md='100%' class="mg-sm-t-20">
          <div fxLayout="column">
            <div fxLayout="column" fxLayoutAlign="center center">
              <h2 class='sub-title-text tx-xl-18-f tx-lg-18-f tx-md-18-f tx-sm-16-f tx-xs-16-f  tx-semibold'>
                Stock Ranking</h2>
              <div class="background-color7 pd-5-f stockranking-div" >
                <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                  <div *ngIf="stock_ranking_data" class="color1 tx-center-f mg-l-20-f">
                    <b>{{stock_ranking_data['nsesymbol']}}</b></div>
              
                  <div class="tx-center-f pd-b-5-f" *ngIf="stock_ranking_data"
                    [style.color]=" stock_ranking_data['price']>=0 ? 'rgb(19, 111, 99) !important' : 'red !important'">
                    <b ><span  class="currencySymbolFont">{{currency_symbol}}</span>&nbsp;{{stock_ranking_data['price']}}</b>&nbsp;&nbsp;&nbsp;&nbsp;{{stock_ranking_data['net_change']}}
                      ({{stock_ranking_data['return_field']}}%)
                      <mat-icon *ngIf="!(stock_ranking_data['return_field']>=0)">&#8595;</mat-icon>
                      <mat-icon *ngIf="stock_ranking_data['return_field']>=0">&#8593;</mat-icon>
                    </div>
                </div>
                
                <div fxLayout="row wrap" fxLayoutAlign="space-between center" class="background-color1 pd-y-10-f gauge-chart-div">
                  <div class="background-color7 tx-center-f" fxFlex="30%">
                    <highcharts-chart class="highcharts"  [Highcharts]="Highcharts" *ngIf="chartOptions"
                      [options]="chartOptions"> </highcharts-chart>
                  </div>
                  <div class="tx-white tx-center-f tx-18-f" fxFlex="70%">
                    {{company_name}}
                  </div>
                </div>
                <div fxLayout="row" fxLayoutAlign="space-between center" class="pd-t-10-f">
                  <div fxFlex="40%" class="tx-white-f tx-12-f tx-center-f tx-bold"   *ngIf="stock_ranking_data">
                    Quantitative Rank:
                    {{stock_ranking_data['stock_rank']}}
                  </div>
                  <div fxFlex="60%">
                    <app-spark-line2 *ngIf="week_52_prices" [colorVal]="0" [data]="week_52_prices['_52_Wk_L_H']"
                      [maxValue]="week_52_prices['week_52_max']" [minValue]="week_52_prices['week_52_min']"
                      [categories]="week_52_prices['categories1']" [plot_line]="week_52_prices['plot_line']">
                      </app-spark-line2>
                  </div>
                </div>
               
                <div class="mg-t-20-f" >
                  <mat-accordion>
                    <mat-expansion-panel [togglePosition]="'before'" class="mg-0-f stockranking-expansion">
                      <mat-expansion-panel-header class="pd-x-10-f">
                        <mat-panel-title class="color1 tx-semibold" fxFlex="30%">
                          Quality:
                        </mat-panel-title>
                        <mat-panel-description fxFlex="70%" class="mg-r-0-f">
                          <div class="progress_background" >
                            <div class="progressbar_cate" [style.width.%]="quality_score"></div>
                          </div>
                        </mat-panel-description>
                      </mat-expansion-panel-header>
                      <div fxLayout="row" class="mg-t-10-f" fxLayoutAlign="space-between center"
                        *ngFor="let element of indv_quality_scores;let i=index;">
                        <div class="tx-12">
                          {{['Sales :','Piotroski Score :','ROE :','Debt/Equity :','FCF Margin :','Beta :'][i]}}</div>
                        <div class="progress_background"  >
                          <div class="progressbar" [style.width.%]="element"></div>
                        </div>
                      </div>
                    </mat-expansion-panel>
                    <mat-expansion-panel [togglePosition]="'before'" class="mg-0-f stockranking-expansion" >
                      <mat-expansion-panel-header class="pd-x-10-f">
                        <mat-panel-title class="color1 tx-semibold" fxFlex="30%">
                          Growth:
                        </mat-panel-title>
                        <mat-panel-description fxFlex="70%" class="mg-r-0-f">
                          <div class="progress_background">
                            <div class="progressbar_cate" [style.width.%]="growth_score"></div>
                          </div>
                        </mat-panel-description>
                      </mat-expansion-panel-header>
                      <div fxLayout="row" class="mg-t-10-f" fxLayoutAlign="space-between center"
                        *ngFor="let element of indv_growth_scores;let i=index;">
                        <div class="tx-12">{{['EPS Growth : ','Sales Growth :','Sales QoQ :'][i]}}</div>
                        <div class="progress_background" >
                          <div class="progressbar" [style.width.%]="element"></div>
                        </div>
                      </div>
                    </mat-expansion-panel>
                    <mat-expansion-panel [togglePosition]="'before'" class="mg-0-f stockranking-expansion">
                      <mat-expansion-panel-header class="pd-x-10-f">
                        <mat-panel-title class="color1 tx-semibold" fxFlex="30%">
                          Technical:
                        </mat-panel-title>
                        <mat-panel-description fxFlex="70%" class="mg-r-0-f">
                          <div class="progress_background" >
                            <div class="progressbar_cate" [style.width.%]="technical_score"></div>
                          </div>
                        </mat-panel-description>
                      </mat-expansion-panel-header>
                      <div fxLayout="row" class="mg-t-10-f" fxLayoutAlign="space-between center"
                        *ngFor="let element of indv_technical_scores;let i=index;">
                        <div class="tx-12">
                          {{['Price vs EMA20 :','Price vs EMA50 :','Price vs EMA200 :','RSI :','EMA50 vs EMA200 :','Current Price vs 52 Week High :'][i]}}
                        </div>
                        <div class="progress_background">
                          <div class="progressbar" [style.width.%]="element"></div>
                        </div>
                      </div>
                    </mat-expansion-panel>
                  </mat-accordion>
                </div>
              </div>
            </div>
            <div fxFlex="100%" class="tables mg-b-20" *ngFor='let tab of factorDataSource;let i = index'>
              <h3 class="tx-sm-16-f tx-18-f color1 tx-semibold">{{headings[i]}}</h3>
              <table mat-table [dataSource]="tab" class="mat-elevation-z8 factorInformation">
                <ng-container [matColumnDef]="col1" *ngFor="let col1 of factorColumns">
                  <mat-header-cell *matHeaderCellDef>{{col1}} </mat-header-cell>
                  <mat-cell *matCellDef="let element">
                    <div>{{element[col1]}}</div>
                  </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="factorColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: factorColumns;"></mat-row>
              </table>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</main>