
.pricing-div{
  position: relative;
}
.selectedOne {
  border-top:10px solid #F79824;
  // height: 500px !important;
  h2 {
    color: #002060 !important;
  } 
  .Pay {
    background-color: #00A878 !important;
    border: 2px solid #00A878 !important;
    color: white !important;
    line-height: 30px !important;
    font-weight: 600 !important;
  }
}
.FreeTrial{
  background-color: #00A878 !important;
  border: 2px solid #00A878 !important;
  color: white !important;
  line-height: 30px !important;
  font-weight: 600 !important;
}
.Demo{
  background-color: #F79824 !important;
  border: 2px solid #F79824 !important;
  color: white !important;
  line-height: 30px !important;
  font-weight: 600 !important;
}
.unSelectedOne {
  box-shadow: 0 15px 35px rgb(50 50 93 / 10%), 0 5px 15px rgb(0 0 0 / 7%);

  h2 {
    color: #002060 !important;
  }
  .Pay {
    background-color: #00A878;
    border: 2px solid #00A878;
    color: white;
    line-height: 30px !important;
    font-weight: 600 !important;
  }
}
.pricing-div .mat-icon {
  vertical-align: sub;
}
.subscription-class {
  cursor: pointer;
}
.subscription-class:hover {
  cursor: pointer;
  color: #f79824;
}
.pricing-div .mat-card-title{
  border-bottom:1px solid #e3e9ef;
}

.pricing-div .items-list{
  list-style: none;
  width: 90%;
  margin: auto;
}
.matcardStyle mat-card{
  width: 400px !important;
}