<main class="content">
  <section fxLayout='row wrap' class="stripebg">
    <div class="bg"></div>
  </section>
  <section class="container pricing-div pd-y-100-f">
    <div class="pd-y-30 tx-center">
      <h1 class="tx-xs-28-f tx-sm-30-f tx-md-32-f tx-lg-36-f tx-xl-36-f tx-semibold mg-t-10-f tx-white">
        No Surprises, Single Plan for India and US Market</h1>
      <h2 class='tx-xl-24-f tx-lg-24-f tx-md-18-f tx-sm-16-f tx-xs-16-f tx-white'>INDIA & US Market in one Platform</h2>
      <div *ngIf='freesubscription'>
        <button mat-flat-button class='mg-r-10-f mg-xs-r-0-f Demo'>Watch Product Demo</button>
        <button mat-flat-button class='FreeTrial mg-xs-t-10-f' routerLink='/{{country}}/customer/free/subscription/register'>Get Free Trial-30 Days</button>
      </div>
      <div *ngIf='!freesubscription'>
        <button mat-flat-button>Watch Product Demo</button>
      </div>
    </div> 
    <div fxLayout="row wrap" fxLayoutAlign="space-around center" class='pd-y-60-f matcardStyle'>
      <div fxFlex='47%' fxFlex.md='100%' fxFlex.sm='100%' fxFlex.xs='100%' fxLayoutAlign="end start" fxLayoutAlign.md="center start" fxLayoutAlign.sm="center start" fxLayoutAlign.xs="center start" >
        <mat-card class={{IndiaStyle}} (click)='changeCard1()'>
          <mat-card-title>
            <h2 class='tx-semibold tx-xl-24-f tx-lg-24-f tx-md-22-f tx-sm-20-f tx-xs-20-f tx-center-f pd-t-20'>Pay
              INR(<span class="currencySymbolFont">₹</span>)</h2>
          </mat-card-title>
          <mat-card-content class='tx-center-f tx-16-f pd-y-20'>
            <p><span class="currencySymbolFont">₹</span> 1,440/month</p>
            <p>Quarterly : <span style="text-decoration: line-through;" class='pd-x-10-f goldColor2'><span class="currencySymbolFont">₹</span> 4,320 </span>
              <span class="currencySymbolFont">₹</span> 3,988</p>
            <p class='tx-12-f'>(Pay for 12 Weeks & Get 1 Week Free)</p>

            <p>Annually : <span style="text-decoration: line-through;" class='pd-x-10-f goldColor2'><span class="currencySymbolFont">₹</span> 17,280 </span>
              <span class="currencySymbolFont">₹</span> 14,400</p>
            <p class='tx-12-f'>(Pay for 10 Months & Get 2 Months Free)</p>

            <div class='tx-center-f mg-t-20-f'>
              <button routerLink="/{{country}}/customer/subscription/INR/premium" mat-flat-button class='Pay'>Pay in INR (<span class="currencySymbolFont">₹</span>)</button>
            </div>
            <div>
              <ul class="tx-left items-list" >
                <li class="tx-14-f mg-t-20-f">
                  <span (click)='ModelPortfolios()' class='subscription-class '>
                    <mat-icon class='mg-r-10-f green-color '>done</mat-icon><span>Model Portfolios</span>
                  </span>
                </li>
                <li class="tx-14-f">
                  <span (click)='StockETFScreener()' class='subscription-class '>
                    <mat-icon class='mg-r-10-f green-color'>done</mat-icon><span>Stock & ETF Screener</span>
                  </span>
                </li>
                <li class="tx-14-f">
                  <span (click)='PortfolioAnalyticTools()' class='subscription-class '>
                    <mat-icon class='mg-r-10-f green-color'>done</mat-icon><span>Portfolio Analytic Tools</span>
                  </span>
                </li>
                <li class="tx-14-f">
                  <span (click)='CuratedMarketResearchInsights()' class='subscription-class '>
                    <mat-icon class='mg-r-10-f green-color'>done</mat-icon><span>Curated Market & Research Insights</span>
                  </span>
                </li>
              </ul>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex='47%' fxFlex.md='100%' fxFlex.sm='100%' fxFlex.xs='100%' class='mg-md-t-10-f' fxLayoutAlign="start start" fxLayoutAlign.md="center start" fxLayoutAlign.sm="center start" fxLayoutAlign.xs="center start">
        <mat-card class={{UsStyle}} (click)='changeCard2()'>
          <mat-card-title>
            <h2 class='tx-semibold tx-xl-24-f tx-lg-24-f tx-md-22-f tx-sm-20-f tx-xs-20-f tx-center-f pd-t-20'>Pay USD
              ($)</h2>
          </mat-card-title>
          <mat-card-content class='tx-center-f tx-16-f pd-y-20'>
            <p>$ 20/month</p>
            <p>Quarterly : <span style="text-decoration: line-through;" class='pd-x-10-f goldColor2'>$ 60 </span>
              $ 56</p>
            <p class='tx-12-f'>(Pay for 12 Weeks & Get 1 Week Free)</p>
            <p>Annually : <span style="text-decoration: line-through;" class='pd-x-10-f goldColor2'>$ 240 </span>
              $ 200</p>
            <p class='tx-12-f'>(Pay for 10 Months & Get 2 Months Free)</p>
            <div class='tx-center-f mg-t-20-f'>
              <button routerLink="/{{country}}/customer/subscription/USD/premium" mat-flat-button class='Pay'>Pay in USD ($)</button>
            </div>
            <ul class="tx-left items-list" >
              <li class="tx-14-f mg-t-20-f">
                <span (click)='ModelPortfolios()' class='subscription-class '>
                  <mat-icon class='mg-r-10-f green-color '>done</mat-icon><span>Model Portfolios</span>
                </span>
              </li>
              <li class="tx-14-f">
                <span (click)='StockETFScreener()' class='subscription-class '>
                  <mat-icon class='mg-r-10-f green-color'>done</mat-icon><span>Stock & ETF Screener</span>
                </span>
              </li>
              <li class="tx-14-f">
                <span (click)='PortfolioAnalyticTools()' class='subscription-class '>
                  <mat-icon class='mg-r-10-f green-color'>done</mat-icon><span>Portfolio Analytic Tools</span>
                </span>
              </li>
              <li class="tx-14-f">
                <span (click)='CuratedMarketResearchInsights()' class='subscription-class '>
                  <mat-icon class='mg-r-10-f green-color'>done</mat-icon><span>Curated Market & Research Insights</span>
                </span>
              </li>
            </ul>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </section>
</main>