
<mat-dialog-title>
  <h3 class='sub-title-text tx-xl-24-f tx-lg-24-f tx-md-18-f tx-sm-16-f tx-xs-16-f'>{{data.dialogHeader}}</h3>
</mat-dialog-title>
<mat-dialog-content class='mg-t-20-f tx-14-f tx-justify pcolor'>
    {{data.dialogContent}}
</mat-dialog-content>
<mat-dialog-actions align='end'>
  <button mat-flat-button (click)="onNoClick()" class='noThanks' cdkFocusInitial>Close</button> 
</mat-dialog-actions>