  
table {
  width: 100%;
}


.p-button.p-button-icon-only.p-button-rounded {
  height: 25px !important;
  width: 25px !important;
  margin-right: 10px;
}


.Save,
::ng-deep .p-confirm-dialog-accept,
::ng-deep .p-confirm-dialog-accept:hover {
  background-color: #136f63 !important;
  border: 1px solid #136f63 !important;
  color: white !important;
  width: fit-content;
  line-height: 20px !important;

}

::ng-deep .p-dialog ::ng-deep .p-dialog-header ::ng-deep .p-dialog-header-icon,
::ng-deep
  .p-dialog
  ::ng-deep
  .p-dialog-header
  ::ng-deep
  .p-dialog-header-icon:hover,
::ng-deep .p-confirm-dialog-reject,
::ng-deep .p-confirm-dialog-reject:hover {
  border: 1px solid #f52a4c !important;
  background-color: white !important;
  color: #f52a4c !important;
}
.Cancel {
  border: 1px solid #f52a4c !important;
  background-color: white !important;
  color: #f52a4c !important;
  width: fit-content;
  line-height: 20px !important;

}

.editBtn,
.notifyBtn,
.delBtn {
  background-color: transparent !important;
  border: 1px solid transparent !important;
  color: grey !important;
  width: fit-content;
  font-size:30px !important;
  line-height: 30px !important;
}
.editBtn:hover{
  background-color: #136f63 !important;
  color:white !important;
  line-height: 30px !important;
  
  ::ng-deep .pi {
    font-size: 0.8rem !important;
  }
}
.delBtn:hover{
  background-color: #F52A4C !important;
  color:white !important;
  line-height: 30px !important;

  ::ng-deep .pi {
    font-size: 0.8rem !important;
  }
}


::ng-deep .my-alert .mat-form-field-appearance-outline .mat-form-field-prefix,::ng-deep .my-alert .mat-form-field-appearance-outline .mat-form-field-suffix{
  top : 0 !important;
}
::ng-deep .my-alert .mat-form-field-appearance-outline .mat-form-field-outline{
  top : 0.7em !important;
}
::ng-deep .my-alert .mat-form-field-appearance-outline .mat-form-field-outline-thick,::ng-deep .my-alert .mat-form-field-appearance-outline.mat-form-field-disabled .mat-form-field-outline{
  color: rgba(0,0,0,.12) !important;
}
::ng-deep .my-alert .mat-form-field-appearance-outline .mat-form-field-infix{
  padding: 8px 0 !important;
}

::ng-deep .my-alert .mat-form-field-wrapper{
 padding-bottom: 0px !important;
}