<p-toast></p-toast>
<main class="mg-t-100-f">
  <div class='container pd-y-60-f my-alert'>
    <div>
      <mat-card-title class='tx-left'>
        <h1 class="tx-xs-28-f tx-sm-30-f tx-md-32-f tx-lg-36-f tx-xl-36-f tx-bold lh-1 title-text">My Alerts Management
        </h1>
      </mat-card-title>
    </div>
    <mat-card-content class="pd-y-10-f" *ngIf="isAlertsExist">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 mg-t-20 mg-b-20">
        <ng-container [matColumnDef]="col"
          *ngFor="let col of ['Company','Portfolio Name','Type','Buy/Sell','Metric','Condition','Value','Action']">
          <th mat-header-cell *matHeaderCellDef> {{col}} </th>
          <td mat-cell *matCellDef="let element">
            <div *ngIf="!(col=='Action')">
              <div class="tx-left" *ngIf="col == 'Value'">{{element[col]}}&nbsp;&nbsp;{{element['symbol']}}</div>
              <div class="tx-left" *ngIf="col != 'Value'">{{element[col]}}</div>
            </div>
            <div *ngIf="col=='Action'" class="tx-left">
              <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded editBtn p-mr-2"
                (click)="editStock(element)"></button>
              <button pButton pRipple icon="pi pi-trash" class="p-button-rounded delBtn p-button-danger"
                (click)="deleteStock(element)"></button>
            </div>
          </td>
        </ng-container>
        <tr mat-header-row
          *matHeaderRowDef="['Company','Portfolio Name','Type','Buy/Sell','Metric','Condition','Value','Action']"></tr>
        <tr mat-row
          *matRowDef="let row; columns: ['Company','Portfolio Name','Type','Buy/Sell','Metric','Condition','Value','Action'];">
        </tr>
      </table>
    </mat-card-content>
    <mat-card-content *ngIf="!isAlertsExist">
      <mat-card>
        <h3 class="tx-center">You have no alerts in waiting state at this moment</h3>
        <p class="tx-center">You can create your alerts from <a routerLink="/{{country}}/PortfolioDetails">My
            Portfolio</a> page</p>
        <p class="tx-center"><b>Note:</b> Will notify you via email once your stock met your requirements</p>
      </mat-card>
    </mat-card-content>
    <p-dialog header="{{header_name}}" [(visible)]="edit" [draggable]="false" [modal]="true">
      <div fxLayout="row wrap" fxLayoutAlign="space-around center">
        <div fxFlex="25%" fxFlex.sm="25%" fxFlex.xs="100%" class="pd-r-20">
          <mat-form-field fxFlex="100%" appearance="outline">
            <input type="text" matInput sname="input" placeholder="Buy" disabled>
          </mat-form-field>
        </div>
        <div fxFlex="25%" fxFlex.sm="25%" fxFlex.xs="100%" class="pd-r-20" *ngIf="subtype != 'dmaalert'">
          <mat-form-field fxFlex="100%" appearance="outline" *ngIf="subtype != 'rsialert'">
            <input type="text" matInput sname="input" placeholder="Last Price" disabled>
          </mat-form-field>
          <mat-form-field fxFlex="100%" appearance="outline" *ngIf="subtype == 'rsialert'">
            <input type="text" matInput sname="input" placeholder="14 Days RSI" disabled>
          </mat-form-field>
        </div>
        <form #myForm="ngForm" fxFlex="75%" *ngIf="subtype == 'dmaalert'">
          <div fxFlex="25%" fxFlex.sm="25%" fxFlex.xs="100%" class="pd-r-20">
            <mat-form-field fxFlex="100%" appearance="outline">
              <mat-select #select1 placeholder="Select" (selectionChange)="setFirstValues(myForm)" name="select1"
                [(ngModel)]="left_previous">
                <mat-option *ngFor="let time1 of ma_values.time" [value]="time1"
                  [disabled]="secondSelections.includes(time1)">{{time1}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div fxFlex="25%" fxFlex.sm="25%" fxFlex.xs="100%" class="pd-r-20">
            <mat-form-field fxFlex="100%" appearance="outline" name="select" floatPlaceholder="never"
              floatLabel="never">
              <mat-select [(ngModel)]="selectedValue21">
                <mat-option *ngFor="let select of less_greater" [value]="select.value">
                  {{select.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div fxFlex="25%" fxFlex.sm="25%" fxFlex.xs="100%">
            <mat-form-field fxFlex="100%" appearance="outline">
              <mat-select #select2 placeholder="Select" name="select2" [(ngModel)]="price_value"
                (selectionChange)="setSecondValues(myForm)">
                <mat-option *ngFor="let time2 of ma_values.time" [value]="time2"
                  [disabled]="firstSelections.includes(time2)">{{time2}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </form>
        <div fxFlex="25%" fxFlex.sm="25%" fxFlex.xs="100%" class="pd-r-20" *ngIf="type == 'Price Movement'">
          <mat-form-field fxFlex="100%" appearance="outline" name="select" floatPlaceholder="never" floatLabel="never">
            <mat-select [(ngModel)]="selectedValue21">
              <mat-option *ngFor="let select of increase_decrease" [value]="select.value">
                {{select.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div fxFlex="25%" fxFlex.sm="25%" fxFlex.xs="100%" class="pd-r-20" *ngIf="subtype == 'rsialert'">
          <mat-form-field fxFlex="100%" appearance="outline" name="select" floatPlaceholder="never" floatLabel="never">
            <mat-select [(ngModel)]="selectedValue21">
              <mat-option *ngFor="let select of less_greater" [value]="select.value">
                {{select.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div fxFlex="25%" fxFlex.sm="25%" fxFlex.xs="100%" *ngIf="subtype != 'dmaalert'">
          <mat-form-field fxFlex="100%" appearance="outline">
            <span matSuffix>{{metric}}</span>
            <input type="number" matInput step="0.01" name="input" placeholder="Enter price in value"
              [(ngModel)]="price_value" min="0" oninput="validity.valid||(value='');">
          </mat-form-field>
        </div>
      </div>
      <div class="tx-right mg-t-20-f">
        <button (click)="closeExpand()" pButton pRipple label="Cancel" icon="pi pi-times"
          class="p-button-text Cancel mg-r-10-f"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text Save"
          (click)="saveData()"></button>
      </div>
    </p-dialog>
    <p-dialog header="{{header_name}}" [(visible)]="delete" [draggable]="false" [modal]="true" [style]="{width: '25vw'}">
      <div class="tx-center">Are you sure want to delete?</div>
      <div class="tx-center mg-t-20-f">
        <button (click)="closeExpand()" pButton pRipple label="Cancel" icon="pi pi-times"
          class="p-button-text Cancel mg-r-10-f"></button>
        <button pButton pRipple label="Delete" icon="pi pi-check" class="p-button-text Save"
          (click)="deleteData()"></button>
      </div>
    </p-dialog>
  </div>
</main>