<app-navbar></app-navbar>
<router-outlet></router-outlet>
<app-footer></app-footer>
<lib-ngx-cookie-consent *ngIf='cookiesOpen' class='stickyCookies'>
  <div class='pd-l-50-f mg-y-10-f' fxLayout='row wrap' fxLayoutAlign='center center'>
    <div fxFlex='50%' class='tx-14-f pcolor'>
      This site uses cookies to analyse traffic, remember your preferences, and optimise your experience.
      <a href="privacy-policy" blank="_system">Our Privacy Policy</a>
    </div>
    <div fxFlex='50%' class='tx-right'>
      <button mat-button class='mg-r-10-f Manage' (click)="openManageCookies()">Manage</button>
      <button mat-button (click)='Accept()' class='Accept mg-r-30-f'>Accept</button>
    </div>
  </div>
</lib-ngx-cookie-consent>
<app-scroll-top></app-scroll-top>
