
// Cookies styless
  
.Manage,.cookiesCancel{
    border: 1px solid #002060 !important;
    line-height: 30px !important;
    color: #002060 !important;
    font-weight: 600;
  }
  .Accept,.AcceptAndContinue{
    background-color: #126F63 !important;
    border: 1px solid #126F63 !important;
    color: white !important;
    line-height: 30px !important;
  }
  lib-ngx-cookie-consent{
    display: block !important;
  }
  ::ng-deep lib-ngx-cookie-consent .mat-icon-button{
    display: none !important;
  }
  ::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb{
    background-color: #136F63 !important;
  }
  ::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-bar{
    background-color: #00A878 !important;
  }
  .stickyCookies{
    position: fixed;
    bottom: 0;
    width: 100%;
    z-Index: 999;
    background-color: #E4E4E4;
  }