<mat-dialog-title>
    <h3 class='sub-title-text tx-xl-24-f tx-lg-24-f tx-md-18-f tx-sm-16-f tx-xs-14-f'>Privacy manager</h3>
</mat-dialog-title>
<mat-dialog-content class='mg-t-10-f'>
    <div fxLayout='row wrap'>
        <div fxFlex='50%' class='tx-16-f tx-semibold'>
            Essential Cookies
        </div>
        <div fxFlex='50%' fxLayoutAlign='end end'>
            <mat-slide-toggle [(ngModel)]="data.EssentialCookies"></mat-slide-toggle>
        </div>
        <p class='pcolor'>
            These cookies enable core functionality such as security, verification of identity and network management.
            These cookies cannot be turned off ( as they are needed to run our website securely), they do not store any
            personal data about you.
        </p>
        <div fxFlex='50%' class='tx-16-f tx-semibold'>
            Marketing Cookies
        </div>
        <div fxFlex='50%' fxLayoutAlign='end end'>
            <mat-slide-toggle [(ngModel)]="data.MarketingCookies"></mat-slide-toggle>
        </div>
        <p class='pcolor '>
            These cookies are used to track advertising effectiveness and gather information about your browsing habbits
            and allow us to better and allow us to better understand your interests to provide a more relavant service
            and deliver better ads to suit your interests.
        </p>
        <div fxFlex='50%' class='tx-16-f tx-semibold'>
            Functional Cookies
        </div>
        <div fxFlex='50%' fxLayoutAlign='end end'>
            <mat-slide-toggle [(ngModel)]="data.FunctionalCookies"></mat-slide-toggle>
        </div>
        <p class='pcolor '>
            These cookies allow our website to remember the choices you make (such as language or location selection)
            and tailor the experience to provide enhanced features and give more personalised experience for you.
        </p>
        <div fxFlex='50%' class='tx-16-f tx-semibold'>
            Analytics Cookies
        </div>
        <div fxFlex='50%' fxLayoutAlign='end end'>
            <mat-slide-toggle [(ngModel)]="data.AnalyticsCookies"></mat-slide-toggle>
        </div>
        <p class='pcolor '>
            These cookies help us to understand how visitors interact with our website, discover errors and provide
            better overall analytics. The information collected is completely anonymous and used only for the purpose of
            improving user experience for our website visitors
        </p>
    </div>
</mat-dialog-content>
<mat-dialog-actions align='end'>
    <button mat-button class='cookiesCancel' [mat-dialog-close]="data">Cancel</button>
    <button mat-button class='AcceptAndContinue' type="submit" [mat-dialog-close]="data">Accept And
        Continue</button>
</mat-dialog-actions>