<div *ngIf="errorFlag" class="mg-t-100-f">
  <app-page401 *ngIf="errorMsg=='401'"></app-page401>
  <app-page402 *ngIf="errorMsg=='402'"></app-page402>
  <app-page403 *ngIf="errorMsg=='403'"></app-page403>
  <app-page404 *ngIf="errorMsg=='404'"></app-page404>
  <app-page405 *ngIf="errorMsg=='405'"></app-page405>
  <app-page406 *ngIf="errorMsg=='406'"></app-page406>
  <app-page412 *ngIf="errorMsg=='412'"></app-page412>
  <app-page500 *ngIf="errorMsg=='500'"></app-page500>
  <app-page501 *ngIf="errorMsg=='501'"></app-page501>
  <app-page502 *ngIf="errorMsg=='502'"></app-page502>
</div>
<main class="content mg-t-100-f dashboard-main"  *ngIf="contentFlag">
  <div class="container pd-y-60-f" *ngIf="emptyStocks">
    No portfolio for this user<a routerLink="/{{country}}/CreatePortfolio-SelectingStocks">Create Portfolio</a>
  </div>
  <div class="container pd-y-60-f" *ngIf="!emptyStocks">


    <section class="section-1">
      <div class="se-pre-con" *ngIf="loading"></div>
      <div class='se-pre-con-div' *ngIf='divloading'></div>
    <h1 class="tw tx-xs-28-f tx-sm-30-f tx-md-32-f tx-lg-36-f tx-xl-36-f tx-bold lh-1 title-text">Dashboard Summary</h1>

      <p-dropdown [options]="userPortfolios" [style]="{'width': '15rem'}" [(ngModel)]="selectedPortfolio"
        optionLabel="portfolio_name" [filter]="true" filterBy="portfolio_name" (onChange)="onPortfolioChange()"
        placeholder="Select a portfolio">
        <ng-template pTemplate="selectedItem">
          <div class="country-item country-item-value" *ngIf="selectedPortfolio">
            <div>{{selectedPortfolio.portfolio_name}}</div>
          </div>
        </ng-template>
        <ng-template let-portfolio pTemplate="item">
          <div class="country-item">
            <div>{{portfolio.portfolio_name}}</div>
          </div>
        </ng-template>
      </p-dropdown>
    </section>
    <section class="section-2">
      <div fxLayout="row wrap">
        <div fxFlex="20%" fxLayout="column" class="portfolio_info_div" fxLayoutAlign="start start">
          <h3 class="tx-18-f tx-sm-16-f color1 tx-semibold">Portfolio Profile</h3>
          <table class="portfolio-profile-table">
            <tr>
              <td>
                <span>
                  <p class="tx-14 mg-t-10-f ">USERNAME</p>
                  <p class="tx-16 tx-semibold">{{username}}</p>
                </span>
              </td>
            </tr>
            <tr>
              <td>
                <span>
                  <p class="tx-14 mg-t-10-f">PORTFOLIONAME</p>
                  <p class="tx-16 tx-semibold">{{portfolioName}}</p>
                </span>
              </td>
            </tr>
            <tr>
              <td>
                <span>
                  <p class="tx-14 mg-t-10-f">STOCKS COUNT</p>
                  <p class="tx-16 tx-semibold">{{stockscount}}</p>
                </span>
              </td>
            </tr>
            <tr>
              <td>
                <span>
                  <p class="tx-14  mg-t-10-f">SECTOR COUNT</p>
                  <p class="tx-16 tx-semibold">{{sectorcount}}</p>
                </span>
              </td>
            </tr>
          </table>
        </div>
        <div fxFlex="80%" fxLayout="column" fxLayoutAlign="start start">
          <h3 class="tx-18-f color1 tx-semibold"> Cumulative Returns </h3>
          <highcharts-chart *ngIf="flag" style="width: 100%; display: block" [Highcharts]="Highcharts"
            [options]="cumulative_returns">
          </highcharts-chart>
        </div>
      </div>
    </section>
    <section class="section-3">
      <h2 class="tx-sm-16-f tx-18-f tx-semibold lh-3 color1">Risk Statistics</h2>
      <div fxLayout="row wrap" fxLayoutAlign="space-between stretch">
        <div fxFlex="49%" fxFlex.lt-md="100%" class="tables-div ">
          <table mat-table #table [dataSource]="performanceMetrics1" class="normalTableWithText risk_statistics">
            <ng-container [matColumnDef]="col" *ngFor="let col of displayPerfomanceMetricsTableColumns1">
              <th mat-header-cell *matHeaderCellDef >
                <div *ngIf="col=='Metric/Portfolio'"></div>
                <div *ngIf="!(col=='Metric/Portfolio')" class="width-90-f">{{col}}</div>
              </th>
              <td mat-cell *matCellDef="let element">
                <div>{{element[col] }}</div>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayPerfomanceMetricsTableColumns1;" [style.min-height]="0"></tr>
            <tr mat-row *matRowDef="let row; columns: displayPerfomanceMetricsTableColumns1;"></tr>
          </table>
        </div>
        <div fxFlex="49%" fxFlex.lt-md="100%" class="mg-sm-t-10-f tables-div">
          <table mat-table #table [dataSource]="performanceMetrics2" class="normalTableWithText risk_statistics">
            <ng-container [matColumnDef]="col" *ngFor="let col of displayPerfomanceMetricsTableColumns2">
              <th mat-header-cell *matHeaderCellDef>
                <div *ngIf="col=='Metric/Portfolio'"></div>
                <div *ngIf="!(col=='Metric/Portfolio')" class="width-90-f">{{col}}</div>
              </th>
              <td mat-cell *matCellDef="let element">
                <div>{{element[col] }}</div>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayPerfomanceMetricsTableColumns2;" [style.min-height]="0"></tr>
            <tr mat-row *matRowDef="let row; columns: displayPerfomanceMetricsTableColumns2;"></tr>
          </table>
        </div>
      </div>
    </section>
    <section class="section-4">
      <div fxLayout="row wrap" fxLayoutAlign="space-between stretch">
        <div fxFlex="32%" fxFlex.lt-md="100%">
          <highcharts-chart style="width: 100%; display: block" *ngIf="flag" [Highcharts]="Highcharts"
            [options]="investmentAmtSector">
          </highcharts-chart>
        </div>
        <div fxFlex="32%" fxFlex.lt-md="100%" class="mg-md-t-10-f">
          <highcharts-chart style="width: 100%; display: block" *ngIf="flag" [Highcharts]="Highcharts"
            [options]="investmentAmtMcapr">
          </highcharts-chart>
        </div>
        <div fxFlex="32%" fxFlex.lt-md="100%" class="mg-md-t-10-f">
          <h2 class="tx-sm-16-f tx-18-f tx-semibold lh-3 color1">Style Measures</h2>
          <table mat-table #table [dataSource]="styleMeasures" class="normalTableWithText">
            <ng-container [matColumnDef]="col" *ngFor="let col of displayStyleMeasuresTableColumns">
              <th mat-header-cell *matHeaderCellDef> {{ col }} </th>
              <td mat-cell *matCellDef="let element">{{element[col]  }}
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayStyleMeasuresTableColumns;" [style.min-height]="0">
            </tr>
            <tr mat-row *matRowDef="let row; columns: displayStyleMeasuresTableColumns;"></tr>
          </table>
        </div>
      </div>
    </section>
    <section class="section-5">
      <div fxLayout="row wrap" fxLayoutAlign="space-between stretch">
        <mat-card fxFlex="100%" fxFlex.lt-md="100%">
          <h2 class="tx-18-f tx-semibold lh-3 color1">Returns Summary</h2>
          <div fxLayout="row" fxLayoutAlign="space-between start">
            <div fxFlex="32%">
              <h2 class="tx-16-f tx-semibold lh-3 color1 tx-center-f">Cumulative Return</h2>
              <hr/>
              <div fxLayout="row" class="cumulative_div">
                <span fxFlex="50%">
                  <p class="tx-14">Portfolio</p>
                  <p class="tx-16  tx-semibold">{{ portfolio_cumulative_return|percent:'1.1' }}</p>
                </span>
                <span fxFlex="50%">
                  <p class="tx-14 " *ngIf="country=='India'">Nifty</p>
                  <p class="tx-14 " *ngIf="country=='US'">S&P</p>

                  <p class="tx-16  tx-semibold">{{ nifty_cumulative_return|percent:'1.1' }}</p>
                </span>
              </div>
            </div>
            <div fxFlex="32%">
              <h2 class="tx-16-f tx-semibold lh-3 tx-center-f green-color">Best Performer</h2>
              <hr/>
              <table class="summary-performer-table">
                <tr>
                  <td class="tx-semibold">Stockwise</td>
                  <td class="tx-semibold">Sectorwise</td>
                </tr>
                <tr>
                  <td>{{ best_stock }}</td>
                  <td>{{ best_sector }}</td>
                </tr>
                <tr>
                  <td><span  class="currencySymbolFont">{{currencysymbol}}</span>{{ best_stock_investment | number: '1.0-0':symbol }}</td>
                  <td><span  class="currencySymbolFont">{{currencysymbol}}</span>{{ best_sector_investment | number: '1.0-0':symbol }}</td>
                </tr>
                <tr>
                  <td class="green-color tx-semibold">{{ best_stock_return|number:'1.1-1' }}%</td>
                  <td class="green-color tx-semibold">{{ best_sector_return|number:'1.1-1' }}%</td>
                </tr>
              </table>
            </div>
            <div fxFlex="32%">
              <h2 class="tx-16-f tx-semibold lh-3 tx-center-f red-color">Worst Performer</h2>
              <hr/>
              <table class="summary-performer-table">
                <tr>
                  <td class="tx-semibold">Stockwise</td>
                  <td class="tx-semibold">Sectorwise</td>
                </tr>
                <tr>
                  <td>{{ worst_stock }}</td>
                  <td>{{ worst_sector }}</td>
                </tr>
                <tr>
                  <td><span  class="currencySymbolFont">{{currencysymbol}}</span>{{ worst_stock_investment | number: '1.0-0':symbol }}</td>
                  <td><span  class="currencySymbolFont">{{currencysymbol}}</span>{{ worst_sector_investment | number: '1.0-0':symbol }}</td>
                </tr>
                <tr>
                  <td class="red-color tx-semibold">{{ worst_stock_return|number:'1.1-1' }}%</td>
                  <td class="red-color tx-semibold">{{ worst_sector_return|number:'1.1-1' }}%</td>
                </tr>
              </table>
             
            </div>
          </div>
        </mat-card>
        <mat-card fxFlex="49%" fxFlex.lt-md="100%" class="mg-t-30-f">
          <h2 class="tx-18-f tx-semibold lh-3 color1">Risk Summary</h2>
          <div fxLayout="row wrap" fxLayoutAlign="space-between start">
            <div fxFlex="32%">
              <h2 class="tx-16-f tx-semibold lh-3 color1 tx-center-f">Volatility</h2>
              <hr/>
              <div fxLayout="row" class="cumulative_div">
                <span fxFlex="50%">
                  <p class="tx-14">Portfolio</p>
                  <p class="tx-16  tx-semibold">{{ portfolio_volatility|percent:'1.1'}}</p>
                </span>
                <span fxFlex="50%">
                  <p class="tx-14 "  *ngIf="country=='India'">Nifty</p>
                  <p class="tx-14 "  *ngIf="country=='US'">S&P</p>

                  <p class="tx-16  tx-semibold">{{ nifty_volatility|percent:'1.1' }}</p>
                </span>
              </div>
            </div>
            <div fxFlex="32%" fxFlex="column">
              <h2 class="tx-16-f tx-semibold lh-3 color1 tx-center-f">Beta</h2>
              <hr/>
              <div fxLayout="row" class="cumulative_div">
                <span >
                  <p class="tx-18  tx-semibold">{{beta}}</p>
                  <p class="tx-12 " *ngIf="country=='India'">Portfolio's beta w.r.t Nifty</p>
                  <p class="tx-12 " *ngIf="country=='US'">Portfolio's beta w.r.t S&P</p>


                </span>
              </div>
            </div>
            <div fxFlex="32%">
              <h2 class="tx-16-f tx-semibold lh-3 tx-center-f color1">Highest Beta</h2>
              <hr/>
              <div fxLayout="row" class="cumulative_div">
                <span >
                  <p class="tx-18  tx-semibold">{{highest_beta_val|number:'1.1-1'}}</p>
                  <p class="tx-12 ">{{hihest_beta_stock}}</p>
                </span>
              </div>
            </div>
          </div>
        </mat-card>
        <mat-card fxFlex="49%" fxFlex.lt-md="100%" class="mg-t-30-f">
          <h2 class="tx-18-f tx-semibold lh-3 color1">Investment Amount Summary</h2>
          <div fxLayout="row"  fxLayout.xs="column" fxLayoutAlign="space-between start">
            <div fxFlex="30%">
              <h2 class="tx-14-f tx-semibold lh-3 color1 tx-center-f">Highest Sector</h2>
              <hr/>
              <div fxLayout="row" class="cumulative_div">
                <span>
                  <p class="tx-14">{{high_inv_amnt}}</p>
                  <p class="tx-14">{{high_inv_percnet|percent:'1.1'}}</p>
                  <p class="tx-16  tx-semibold"><span  class="currencySymbolFont">{{currencysymbol}}</span>{{highest_investment_sector_amount | number: '1.0-0':symbol}}</p>
                </span>
              </div>
            </div>
            <div fxFlex="68%" fxFlex="column">
              <h2 class="tx-14-f tx-semibold lh-3 tx-center-f green-color">Top 3 Stocks</h2>
              <hr/>
              <table class="summary-performer-table" >
                <tbody >
                  <tr *ngFor="let stock of top_3_stocks" >
                    <td class="tx-semibold">{{stock[0]}}</td>
                    <td class="tx-semibold"><span  class="currencySymbolFont">{{currencysymbol}}</span>{{stock[1] | number: '1.0-0':symbol}}</td>
                    <td >{{stock[2]|percent:'1.1'}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </mat-card>
      </div>
    </section>
    <section class="section-8">
      <div class="filter_dropdowns mg-b-20-f">
        <strong class="tx-semibold">Frequency </strong>
        <select id="frequency" (change)="DrawTreeMap()">
          <option value='DailyPercentChange'>Daily</option>
          <option value='WeeklyPriceChangePercent'>Weekly</option>
          <option value='MonthlyPriceChangePercent'>Monthly</option>
        </select>
        <strong class="tx-semibold mg-l-10">GICS Classification </strong>
        <select id="layer" (change)="DrawTreeMap()" >
          <option value="0">None</option>
          <option value="1">GICS Sector</option>
          <option value="2">GICS Industry Group</option>
          <option value="3">GICS Industry</option>
          <option value="4">GICS Sub Industry</option>
          <option value="5">GICS Sector vs GICS Industry Group</option>
          <option value="6" selected>GICS Sector vs GICS Industry</option>
          <option value="7">GICS Sector vs GICS Sub Industry</option>
          <option value="8">GICS Industry Group vs GICS Industry</option>
          <option value="9">GICS Industry Group vs GICS Sub Industry</option>
          <option value="10">GICS Industry vs GICS Sub Industry </option>
        </select>
        <strong class="tx-semibold mg-l-10">Size </strong>
        <select id="size" (change)="DrawTreeMap()">
          <option value='EqualSize'>None</option>
          <option value='Market Cap' selected>MarketCap</option>
          <option value="Sales(RM)">Sales</option>
          <option value="RSI">RSI(14D)</option>
          <option value="Volatility_1Y">Volatility</option>
          <option value="Beta_1Y">Beta</option>
          <option value="PE">PE</option>
          <option value="PB">PB</option>
          <option value="ROE">ROE</option>
          <option value="Debt/Equity">Debt/Equity</option>
        </select>
      </div>
      <fusioncharts width="100%" height="450" type="treemap" dataFormat="JSON" [dataSource]="FUSIONdataSource">
      </fusioncharts>
    </section>
    <section class="section-6">
      <h2 class="tx-sm-16-f tx-18-f tx-semibold lh-3 color1">Top 10 Holdings</h2>
      <table mat-table #table [dataSource]="portfolioHoldings"   matSort matSortDisableClear (matSortChange)="sortData($event,'portfolioHoldings')">
        <ng-container matColumnDef="Security_Code">
          <th mat-header-cell *matHeaderCellDef  class="left-align-header" mat-sort-header>Company</th>
          <td mat-cell *matCellDef="let element" class="left-align-header">
            <div fxLayout="row">
              <div fxLayoutAlign="start start">
                <img class="symbol-logo" src="{{element.IMGURL}}" alt="{{element.Security_Code}}">
              </div>
              <div fxLayout="column" class="pd-l-10-f">
                <div class="tx-14-f color1 tx-semibold cursor-f"
                  (click)="getStockInfopage(element.Company,element.Security_Code)">{{element.Security_Code}}
                </div>
                <div class="tx-12-f tx-semibold ">
                  {{element.Company}}
                </div>
              </div>
            </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="CurrentExposure">
          <th mat-header-cell *matHeaderCellDef  mat-sort-header><span>Investment Amount (<span  class="currencySymbolFont">{{currencysymbol}}</span>)</span></th>
          <td mat-cell *matCellDef="let element">{{element.CurrentExposure|number:'1.0-0':symbol}} </td>
        </ng-container>
        <ng-container matColumnDef="Return">
          <th mat-header-cell *matHeaderCellDef  mat-sort-header>Actual Return</th>
          <td mat-cell *matCellDef="let element"> {{element.Return|percent:'1.1'}} </td>
        </ng-container>
        <ng-container matColumnDef="PNL">
          <th mat-header-cell *matHeaderCellDef mat-sort-header ><span>Actual Return (<span  class="currencySymbolFont">{{currencysymbol}}</span>)</span></th>
          <td mat-cell *matCellDef="let element">{{element.PNL|number:'1.0-0':symbol  }} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="['Security_Code','CurrentExposure','Return','PNL']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['Security_Code','CurrentExposure','Return','PNL'];"></tr>
      </table>
    </section>
    <section class="section-7">
      <h2 class="tx-sm-16-f tx-18-f tx-semibold lh-3 color1">Stock by Stock</h2>
      <cdk-virtual-scroll-viewport [itemSize]="30">
        <table mat-table #table [dataSource]="stockBystock"   matSort matSortDisableClear (matSortChange)="sortData($event,'stockBystock')">
          <ng-container matColumnDef="Security_Code">
            <th mat-header-cell *matHeaderCellDef  mat-sort-header class="left-align-header">Company</th>
            <!-- <td mat-cell *matCellDef="let element" class=""> {{element.company_name}}</td>  -->
            <td mat-cell *matCellDef="let element" class="left-align-header">
              <div fxLayout="row">
                <div fxLayoutAlign="start start">
                  <img class="symbol-logo" src="{{element.IMGURL}}" alt="{{element.Security_Code}}">
                </div>
                <div fxLayout="column" class="pd-l-10-f">
                  <div class="tx-14-f color1 tx-semibold cursor-f"
                    (click)="getStockInfopage(element.company_name,element.Security_Code)">{{element.Security_Code}}
                  </div>
                  <div class="tx-12-f tx-semibold ">
                    {{element.company_name}}
                  </div>
                </div>
              </div>
            </td>
          </ng-container>
          <ng-container matColumnDef="views">
            <th mat-header-cell *matHeaderCellDef   mat-sort-header class="left-align-header">Views</th>
            <td mat-cell *matCellDef="let element" [innerHTML]="element.views" class="left-align-header"> </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="['Security_Code','views'];sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: ['Security_Code','views']"></tr>
        </table>
    </cdk-virtual-scroll-viewport>
    </section>
    
  </div>
</main>
