.dashboard-summary-tables{
  width:100%;
  box-shadow: none;
}
.dashboard-summary-tables mat-header-row{
  min-height:30px !important;
  border-bottom: 2px solid #c9b160 !important;
  background-color: #f7f7f7 !important;
}
.dashboard-summary-tables mat-row{
  min-height:30px !important;
}
.dashboard-summary-tables  mat-header-cell{
  font-size: 14px !important;
  color: #333 ;
  font-weight: 600 !important;
  justify-content: center !important;
  padding-right:0px !important;
}
.dashboard-summary-tables mat-cell{
  justify-content: center !important;
  padding:5px 6px;
}
.dashboard-summary-tables mat-cell:first-child,
.dashboard-summary-tables mat-header-cell:first-child{
  justify-content: flex-start !important;
}
::ng-deep .mat-cell .text-success {
  color: #3bb001!important;
}
::ng-deep .mat-cell .text-danger{
  color:rgb(245, 42, 76) !important;
}
::ng-deep .mat-cell .return_red {
  background-color: #fcefee!important;
  color: rgb(245, 42, 76) !important;
  font-weight: 700!important;
}
::ng-deep .mat-cell .return_green  {
  // background-color: !important;
  color: rgb(19, 111, 99) !important;
  font-weight: 700!important;
}


.dashboard-main .portfolio_info_div span,
.cumulative_div span{
margin-bottom:30px;
}

.portfolio-profile-table tr{
height:50px !important;
}
.summary-performer-table tr{
height:40px !important;
}
.portfolio-profile-table tr td,
.summary-performer-table tr td{
padding: 5px !important;
border-bottom: 1px solid #eff2f5 !important;
word-wrap: normal !important;
}
::ng-deep .mat-cell .text-success {
  color: rgb(19, 111, 99)  !important;
}
::ng-deep .mat-cell .text-danger{
  color:rgb(245, 42, 76) !important;
}
.summary-performer-table td:last-child{
text-align:right;
}
.border-left{
border-left:1px solid black
}
.dashboard-main .risk_statistics td:nth-child(1){
  font-weight:550;
}

::ng-deep svg > g[class^="raphael-group-"] > text{
  display: none  !important;
}