<div *ngIf="errorFlag" class="mg-t-100-f">
  <app-page401 *ngIf="errorMsg=='401'"></app-page401>
  <app-page402 *ngIf="errorMsg=='402'"></app-page402>
  <app-page403 *ngIf="errorMsg=='403'"></app-page403>
  <app-page404 *ngIf="errorMsg=='404'"></app-page404>
  <app-page405 *ngIf="errorMsg=='405'"></app-page405>
  <app-page406 *ngIf="errorMsg=='406'"></app-page406>
  <app-page412 *ngIf="errorMsg=='412'"></app-page412>
  <app-page500 *ngIf="errorMsg=='500'"></app-page500>
  <app-page501 *ngIf="errorMsg=='501'"></app-page501>
  <app-page502 *ngIf="errorMsg=='502'"></app-page502>
</div>
<main class="content modelPortfolio-parentComponent mg-t-100-f" *ngIf="contentFlag">
  <div class="container pd-y-60-f">
    <h1 class="tw tx-xs-28-f tx-sm-30-f tx-md-32-f tx-lg-36-f tx-xl-36-f tx-bold lh-1 title-text">Flagship Portfolio</h1>

      <div fxLayout="row wrap"  fxLayoutAlign="space-between stretch" fxLayoutAlign.lt-md="center center" >
        <div fxFlex="48%"  fxFlex.lt-md="95%" class="modelPortfolioCardsMain mg-t-50-f pd-16-f mg-sm-t-20-f mg-md-t-30-f"  >
          <mat-list>
            <mat-list-item>
              <img mat-list-icon    src="/assets/images/{{portfolio_name}}.png">
              <div mat-line class="tx-sm-16-f tx-18-f  lh-5 color1 tx-semibold">{{portfolio_name}}</div>
              <div mat-line  class="tx-14-f pd-t-5-f lh-5 pcolor">{{content}}</div>
              <div mat-line class="mg-t-10-f"><div class="tx-12-f risk pd-5-f tx-center with-icon">
                <span  class="riskCircle mg-r-5-f"></span> Moderate Risk</div></div>
            </mat-list-item>
            </mat-list>
            <div fxLayout="row" fxLayoutAlign="space-around stretch" class="mg-t-30-f">
              <div fxFlex="32%" fxLayout="column">
                <span  class="tx-semibold tx-14-f">ITD Return ({{itd_date | date:'dd-MMM-yyyy'}})</span>
                <b style="color:#136F63" class="tx-14-f pd-t-5">{{itd_return  | percent:'1.1'}}</b>
              </div>
              <div fxFlex="28%" fxLayout="column">
                <span class="tx-14-f tx-semibold">Min. Amount</span>
                <b  class="tx-14-f pd-t-5"><span  class="currencySymbolFont">{{currencySymbol}}</span> {{investment_amount}}</b>
              </div>
              <div fxFlex="28%">
                <button 
                (click)="GetourPortfolio()" class="viewDetails tx-16-f tx-bold">View Details</button>
              </div>
            </div>
        </div>
      </div>

      <h3 class="tx-xs-18-f tx-sm-20-f tx-md-22-f tx-lg-24-f tx-xl-24-f tx-semibold color1 mg-t-40-f">
       Curated Thematic Portfolios
      </h3>
      <div fxLayout="row wrap" fxLayoutAlign="space-between stretch" fxLayoutAlign.lt-md="center center"  >
        <div fxFlex="48%"  fxFlex.lt-md="95%" *ngFor="let item of dataSource;" class=" mg-t-30-f mg-sm-t-20-f mg-md-t-30-f" fxLayoutAlign="space-between stretch" fxLayoutAlign.lt-md="center center"  >
          <div *ngIf="!(item.PortfolioName=='72PI India Portfolio' || item.PortfolioName=='72PI US Portfolio')" class="modelPortfolioCards pd-16-f ">
          <mat-list>
            <mat-list-item>
              <img mat-list-icon    src="/assets/images/{{item.PortfolioName}}.png">
              <div mat-line class="tx-sm-16-f tx-18-f  lh-5 color1 tx-semibold">{{item.PortfolioName}}</div>
              <div mat-line  class="tx-14-f pd-t-5-f lh-5 pcolor">{{item.description}}</div>
              <div mat-line class="mg-t-10-f"><div class="tx-12-f risk pd-5-f tx-center with-icon"><span  class="riskCircle  mg-r-5-f"></span> Moderate Risk</div></div>
            </mat-list-item>
            </mat-list>
            <div fxLayout="row" fxLayoutAlign="space-around stretch" class="mg-t-30-f">
              <div fxFlex="30%" fxLayout="column">
                <span  class="tx-semibold tx-14-f">12M Return</span>
                <b [style.color]="item._1Y > 0 ? '#136F63 !important' : '#F52A4C !important'" class="tx-14-f pd-t-5"> {{item._1Y | percent:'1.1'}}</b>
              </div>
              <div fxFlex="30%" fxLayout="column">
                <span class="tx-14-f tx-semibold">Min. Amount</span>
                <b  class="tx-14-f pd-t-5"><span  class="currencySymbolFont">{{currencySymbol}}</span> {{investment_amount}}</b>
              </div>
              <div fxFlex="30%">
                <button 
                (click)="GetModelPortfolio(item.PortfolioName)" class="viewDetails tx-16-f tx-bold">View Details</button>
              </div>
            </div>
      </div>
    </div>
    </div>
  </div>
</main>
