
 .mat-list-icon{
    width:auto !important;
    height:auto !important;
}
.modelPortfolio-parentComponent .modelPortfolioCards{
    // box-shadow: 0px 5px 5px -3px rgb(0 0 0 / 6%),
    // 0px 8px 10px 1px rgb(0 0 0 / 4%), 0px 3px 14px 2px rgb(0 0 0 / 2%) !important;
        box-shadow: 0px 3px 5px 3px rgb(0 0 0 / 10%) !important;
    border-radius:8px;

}
  .mat-line{
    white-space: normal !important;;
}
 mat-list-item{
    height:auto !important;
}
.modelPortfolio-parentComponent .risk{
    background-color:#E5E8EF;
    border-radius:100px;
    width:110px;
    padding:8px 16px;
}
.modelPortfolio-parentComponent .riskCircle{
    border-radius:50px;
    color:transparent  !important;
    height: 10px;
    width: 10px;
    background-color:#136F63;
    display: inline-block;
    text-align:center;

}
.modelPortfolio-parentComponent .viewDetails{
    background-color:white;
    color:#002060;
    outline:none;
    border-radius:20px;
    border:1px solid #002060;
    padding:8px 16px;
    cursor:pointer;
}
.modelPortfolioCardsMain{
  box-shadow: 2px 3px 10px 0px #136F63 !important;
  border-radius:10px;

}
.progress_background {
    width: 100%;
    background-color: #ccc;
    border-radius: 1em;
}
.progress_background {
    width: 200px;
}

.with-icon {
    display: flex;
    align-items: center;
  }
  .modelPortfolio-parentComponent .modelPortfolioCards:hover,
.modelPortfolio-parentComponent .modelPortfolioCardsMain:hover {
    transform: translate3D(0, -1px, 0) scale(1.03);
    box-shadow: 0 0.5rem 2rem 0 rgb(33 40 50 / 25%) !important;
}