<main class="content mg-t-100">
  <section fxLayout='row wrap' class="stripebg">
    <div class="bg"></div>
  </section>
  <section class="container confirm-order pd-y-100-f">
    <div fxLayout="row wrap" fxLayoutAlign="center center" class='pd-t-40-f pd-b-100-f'>
      <div fxFlex='50%'>
        <mat-card fxFlex='100%' class="pd-y-30-f">
          <mat-card-title class='tx-center-f'>
            <mat-icon class='success' *ngIf="response['code'] == 'success' ">check_circle_outline</mat-icon>
            <mat-icon class='error' *ngIf="response['code'] == 'error' ">highlight_off</mat-icon>
          </mat-card-title>
          <mat-card-content class='tx-center-f pd-b-30-f'>
            <h2 class='tx-24-f pcolor tx-center-f'>{{response['status']}}</h2>
            <p class='tx-18-f pcolor tx-center-f'>{{response['reason']}}</p>
          </mat-card-content>
          </mat-card>
      </div>
    </div>
  </section>
</main>