.success{
    font-size: 100px !important;
    color: #00A878 !important;
    height: 70px !important;
    width: 80px !important;
}
.error{
    font-size: 100px !important;
    color: #F52A4C !important;
    height: 70px !important;
    width: 80px !important;
}
.stripebg {
    top: calc(50% + 175px);
    position: absolute;
    left: 0;
    top: 42%;
    right: 0;
    transform: skewY(-15deg);
    pointer-events: none;
  }
  .mat-card{
      z-index: 0 !important;
  }
