// ::ng-deep.mat-tab-label,
// ::ng-deep.mat-tab-label-active {
//   min-width: 0 !important;
//   padding: 3px 5px !important;
//   margin: 3px 5px !important;
//   font-size: 11px !important;
//   font-weight: bold !important;
//   height:30px !important;
// }
::ng-deep.mat-tab-nav-bar,
::ng-deep.mat-tab-header {
  border-bottom: 0px !important;
}
::ng-deep .example-stretched-tabs {
  max-width: 100px;
}
::ng-deep [mat-align-tabs=center]>.mat-tab-header ::ng-deep.mat-tab-labels{
  justify-content: flex-start !important;
}
svg>g[class^=raphael-group-]>text{display:none !important}
.filter_dropdowns select{
  border-radius: 0 !important;
  height: 30px !important;
  color: #969494 !important;
  background-color: #fff !important;
  padding: 6px 12px !important;
    font-size: 14px !important;
    line-height: 1.42857143 !important;
    border: 1px solid #ccc !important;
    width:200px !important;
    outline:none !important;
}

.risk_statistics th.mat-header-cell {
  width: 70px !important;
  min-width: 70px !important;
}
.performancetable td:last-child(),
.performancetable th:last-child(),
.performancetable td:nth-last-child(2),
.performancetable th:nth-last-child(2)
{
  display:none !important;
}

.mat-input-element.portfolio_returns_input{
  color:grey !important;
}
.portfolio_returns_Datepicker{
  border:1px solid grey;
  width:200px;
  height:30px;
}
::ng-deep .portfolio_returns_Datepicker .mat-datepicker-toggle .mat-icon-button {
  width: 30px !important;
  height: 30px !important;
  line-height: 20px !important;
}
::ng-deep svg > g[class^="raphael-group-"] > text{
  display: none  !important;
}