<div *ngIf="errorFlag" class="mg-t-100-f">
  <app-page401 *ngIf="errorMsg=='401'"></app-page401>
  <app-page402 *ngIf="errorMsg=='402'"></app-page402>
  <app-page403 *ngIf="errorMsg=='403'"></app-page403>
  <app-page404 *ngIf="errorMsg=='404'"></app-page404>
  <app-page405 *ngIf="errorMsg=='405'"></app-page405>
  <app-page406 *ngIf="errorMsg=='406'"></app-page406>
  <app-page412 *ngIf="errorMsg=='412'"></app-page412>
  <app-page500 *ngIf="errorMsg=='500'"></app-page500>
  <app-page501 *ngIf="errorMsg=='501'"></app-page501>
  <app-page502 *ngIf="errorMsg=='502'"></app-page502>
</div>
<main class="content mg-t-100-f" *ngIf="contentFlag">
  <div class="container pd-y-60-f" *ngIf="emptyStocks">
    No portfolio for this user<a routerLink="/{{country}}/CreatePortfolio-SelectingStocks">Create Portfolio</a>
  </div>
  <div class="container pd-y-60-f" *ngIf="!emptyStocks">
   

    <section class="section-1">
      <div class="se-pre-con" *ngIf="loading"></div>
      <div class='se-pre-con-div' *ngIf='divloading'></div>
    <h1 class="tw tx-xs-28-f tx-sm-30-f tx-md-32-f tx-lg-36-f tx-xl-36-f tx-bold lh-1 title-text">Portfolio Returns</h1>

      <p-dropdown [options]="portfolio_list" [style]="{'width': '15rem'}" [(ngModel)]="selectedPortfolio"
        optionLabel="portfolio_name" [filter]="true" filterBy="portfolio_name" (onChange)="onPortfolioChange()"
        placeholder="Select a portfolio">
        <ng-template pTemplate="selectedItem">
          <div class="country-item country-item-value" *ngIf="selectedPortfolio">
            <div>{{selectedPortfolio.portfolio_name}}</div>
          </div>
        </ng-template>
        <ng-template let-portfolio pTemplate="item">
          <div class="country-item">
            <div>{{portfolio.portfolio_name}}</div>
          </div>
        </ng-template>
      </p-dropdown>
    </section>
    <section class="section-2">
      <h2 class="tx-sm-16-f tx-18-f color1 tx-semibold">Portfolio Returns vs Benchmark</h2>
      <div  class="periodTabs">
        <table>
          <tr><td style="width:400px">
            <mat-tab-group (selectedTabChange)="onChange($event)" animationDuration="0ms">
              <mat-tab label="YTD"></mat-tab>
              <mat-tab label="MTD"></mat-tab>
              <mat-tab label="QTD"></mat-tab>
              <mat-tab label="1M"></mat-tab>
              <mat-tab label="3M"></mat-tab>
              <mat-tab label="1Y"></mat-tab>
              <mat-tab label="Max"></mat-tab>
            </mat-tab-group>
          </td><td>
            <div class="mg-l-40" fxLayout="row" (click)="picker.open()" class="portfolio_returns_Datepicker pd-x-10-f">
              <input matInput [matDatepicker]="picker" placeholder="Custom Date" [max]="maxDate" [min]="minDate"
                autocomplete="off" name="date" [(ngModel)]="startDate" (dateInput)="onDateChange($event.value)" class="portfolio_returns_input">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker [startAt]="startDate" #picker></mat-datepicker>
            </div>
          </td></tr>
        </table>
       
    
      </div>
      <div [chart]='cumulative_returns'></div>
    </section>
    <section class="section-3">
      <h2 class="tx-sm-16-f tx-18-f tx-semibold lh-3 color1">Risk Statistics</h2>
      <div fxLayout="row wrap" fxLayoutAlign="space-between stretch">
        <div fxFlex="49%" fxFlex.lt-md="100%" class="tables-div">
          <table mat-table #table [dataSource]="metricsTable1" class="normalTableWithText risk_statistics">
            <ng-container [matColumnDef]="col" *ngFor="let col of displayTableColumns1">
              <th mat-header-cell *matHeaderCellDef>
                <div *ngIf="col=='Metric/Portfolio'"></div>
                <div *ngIf="!(col=='Metric/Portfolio')">{{col}}</div>
              </th>

              <td mat-cell *matCellDef="let element">
                <div>{{element[col] }}</div>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayTableColumns1;" [style.min-height]="0"></tr>
            <tr mat-row *matRowDef="let row; columns: displayTableColumns1;"></tr>
          </table>
        </div>
        <div fxFlex="49%" fxFlex.lt-md="100%" class="mg-sm-t-10-f tables-div">
          <table mat-table #table [dataSource]="metricsTable2" class="normalTableWithText risk_statistics">
            <ng-container [matColumnDef]="col" *ngFor="let col of displayTableColumns2">
              <th mat-header-cell *matHeaderCellDef>
                <div *ngIf="col=='Metric/Portfolio'"></div>
                <div *ngIf="!(col=='Metric/Portfolio')">{{col}}</div>
              </th>
              <td mat-cell *matCellDef="let element">
                <div>{{element[col] }}</div>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayTableColumns2;" [style.min-height]="0"></tr>
            <tr mat-row *matRowDef="let row; columns: displayTableColumns2;"></tr>
          </table>
        </div>
      </div>
    </section>
    <section class="section-4">
      <h2 class="tx-sm-16-f tx-18-f color1 tx-semibold">Monthly Performance</h2>
      <div class="tables-div">
        <table mat-table #table [dataSource]="performanceTable" class="normalTableWithoutText">
          <ng-container [matColumnDef]="col" *ngFor="let col of MonthlyPerfomanceTableColumns">
            <th mat-header-cell *matHeaderCellDef> {{ col }} </th>
            <td mat-cell *matCellDef="let element">
              <div *ngIf="col=='Year'">{{element[col]  }}</div>
              <div *ngIf="!(col=='Year')">{{element[col] |percent:'1.1' }}</div>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="MonthlyPerfomanceTableColumns;" [style.min-height]="0"></tr>
          <tr mat-row *matRowDef="let row; columns: MonthlyPerfomanceTableColumns;"></tr>
        </table>
      </div>

    </section>
    <section class="section-5">
      <div fxLayout="row wrap" fxLayoutAlign="space-between start">
        <div fxFlex="38%" fxLayout="column" fxFlex.lt-md="100%" class="tables-div">
          <h2 class="tx-18-f   tx-semibold lh-3 color1  mg-b-28-f">Return Statistics</h2>
          <table mat-table #table [dataSource]="ror_metricsTable" class="normalTableWithText">
            <ng-container [matColumnDef]="col" *ngFor="let col of ['ROR','Value']">
              <td mat-cell *matCellDef="let element">
                <div>{{element[col]  }}</div>
              </td>
            </ng-container>
            <tr mat-row *matRowDef="let row; columns: ['ROR','Value'];"></tr>
          </table>
        </div>
        <div fxFlex="58%" fxFlex.lt-md="100%" class="mg-sm-t-10-f">
          <div fxLayout="row wrap" fxLayoutAlign="space-between start">
            <span class="tx-sm-16-f tx-18-f  tx-semibold lh-3 color1">Monthly Returns</span>
            <div>
              <strong class="tx-semibold">Select Benchmarks</strong>
              <select (change)="onIndexChange($event)" class="mg-l-5-f">
                <option *ngFor="let element of benchmarks;let i = index" [value]="element">
                  {{element}}
                </option>
              </select>
            </div>
          </div>
          <div id="monthlyReturns"></div>
        </div>
      </div>
    </section>
    <section class="section-6">
      <div class="filter_dropdowns mg-b-20-f">
        <strong class="tx-semibold">Frequency </strong>
        <select id="frequency" (change)="DrawTreeMap()">
          <option value='DailyPercentChange'>Daily</option>
          <option value='WeeklyPriceChangePercent'>Weekly</option>
          <option value='MonthlyPriceChangePercent'>Monthly</option>
        </select>
        <strong class="tx-semibold mg-l-10">GICS Classification </strong>
        <select id="layer" (change)="DrawTreeMap()" >
          <option value="0">None</option>
          <option value="1">GICS Sector</option>
          <option value="2">GICS Industry Group</option>
          <option value="3">GICS Industry</option>
          <option value="4">GICS Sub Industry</option>
          <option value="5">GICS Sector vs GICS Industry Group</option>
          <option value="6" selected>GICS Sector vs GICS Industry</option>
          <option value="7">GICS Sector vs GICS Sub Industry</option>
          <option value="8">GICS Industry Group vs GICS Industry</option>
          <option value="9">GICS Industry Group vs GICS Sub Industry</option>
          <option value="10">GICS Industry vs GICS Sub Industry </option>
        </select>
        <strong class="tx-semibold mg-l-10">Size </strong>
        <select id="size" (change)="DrawTreeMap()">
          <option value='EqualSize'>None</option>
          <option value='Market Cap' selected>MarketCap</option>
          <option value="Sales(RM)">Sales</option>
          <option value="RSI">RSI(14D)</option>
          <option value="Volatility_1Y">Volatility</option>
          <option value="Beta_1Y">Beta</option>
          <option value="PE">PE</option>
          <option value="PB">PB</option>
          <option value="ROE">ROE</option>
          <option value="Debt/Equity">Debt/Equity</option>
        </select>
      </div>
      <fusioncharts width="100%" height="450" type="treemap" dataFormat="JSON" [dataSource]="FUSIONdataSource">
      </fusioncharts>
    </section>
    <section class="section-7">
      <h2 class="tx-18-f tx-semibold lh-3 mg-b-28-f color1">Stock Performance</h2>
      <cdk-virtual-scroll-viewport [itemSize]="30" class="mg-t-10-f risk-overview-table">
      <table mat-table #table [dataSource]="PerformanceTable"  matSort matSortDisableClear (matSortChange)="sortTableData($event,'PerformanceTable')">
        <ng-container matColumnDef="Company" sticky>
          <th  mat-header-cell *matHeaderCellDef mat-sort-header class="left-align-header">Company</th>
          <td mat-cell *matCellDef="let element" class="left-align-header">
            <div fxLayout="row">
              <div fxLayoutAlign="start start">
                <img class="symbol-logo" src="{{element.IMGURL}}" alt="{{element.Security_Code}}">
              </div>
              <div fxLayout="column" class="pd-l-10-f">
                <div class="tx-14-f color1 tx-bold cursor-f" (click)="getStockInfopage(element.Company,element.Security_Code)" >{{element.Security_Code}}</div>
                <div class="tx-12-f tx-semibold ">
                  {{element.Company}}
                </div>
              </div>
            </div>
          </td> 
        </ng-container>
        <ng-container matColumnDef="MTD">
          <th  mat-header-cell *matHeaderCellDef mat-sort-header class="width-200-f width-lg-180-f width-md-120-f width-sm-100-f">MTD</th>
          <td mat-cell *matCellDef="let element">{{element.MTD|percent:'1.1'}}</td>
        </ng-container>
  
        <ng-container matColumnDef="YTD">
          <th  mat-header-cell *matHeaderCellDef mat-sort-header class="width-200-f width-lg-180-f width-md-120-f width-sm-100-f">YTD</th>
          <td mat-cell *matCellDef="let element;">{{element.YTD|percent:'1.1'}}</td>
        </ng-container>
        <ng-container matColumnDef="YEAR">
          <th  mat-header-cell *matHeaderCellDef mat-sort-header class="width-200-f width-lg-180-f width-md-120-f width-sm-100-f">1Y</th>
          <td mat-cell *matCellDef="let element"> {{element.YEAR | percent:'1.1'}} </td>
        </ng-container>
        <ng-container matColumnDef="ITD">
          <th  mat-header-cell *matHeaderCellDef mat-sort-header class="width-200-f width-lg-180-f width-md-120-f width-sm-100-f">2019toDate</th>
          <td mat-cell *matCellDef="let element">{{element.ITD|percent:'1.1' }} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="['Company','MTD','YTD','YEAR','ITD'];sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: ['Company','MTD','YTD','YEAR','ITD'];"></tr>
      </table>
    </cdk-virtual-scroll-viewport>
    </section>
    <section class="section-8">
      <h2 class="tx-sm-16-f tx-18-f tx-semibold lh-3 mg-b-28-f color1">Returns by Stock & Sector</h2>
      <strong class="tx-semibold">Split by </strong>
      <select id='filterBy' (change)="changeBarData()">
        <option value="Stock">Stock</option>
        <option value="Sector">Sector</option>
      </select>
      <strong class="mg-l-20 tx-semibold">Sort by </strong>
      <select id="order" (change)="sortData()">
        <option value="Investment">Investment Amount</option>
        <option value="Actual Return(%)">Actual Return(%)</option>
        <option value="Actual Return">Actual Return(<span  class="currencySymbolFont">{{currencysymbol}}</span>) </option>
      </select>
      <cdk-virtual-scroll-viewport [itemSize]="30" class="mg-t-10-f risk-overview-table">
      <div id="current_positions"></div>
    </cdk-virtual-scroll-viewport>

    </section>
  </div>
</main>