<main class="content logindiv mg-t-100-f">
  <div class="container pd-y-60-f">
    <div fxLayout="row" fxLayoutAlign="center center">
      <mat-card class="login-card" fxFlex='31%' fxFlex.lg='33%' fxFlex.md='45%' fxFlex.sm=60% fxFlex.xs=80%>
        <div fxLayout="column" fxFlex="100%">
          <div class="sub-title-text tx-xl-24-f tx-lg-24-f tx-md-16-f tx-sm-14-f tx-xs-14-f tx-center-f lh-1"
            [ngStyle]="{'color':'rgba(0,0,0,0.7)'}">Sign In</div>
          <!-- {{error | json}} -->
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class='mg-t-30-f '>
            <div *ngIf="error"><span class='red-color tx-14-f'>{{error['error']['non_field_errors'][0]}}</span></div>
            <div class="form-group">
              <mat-form-field appearance="fill" fxFlex="100%">
                <mat-label class='pcolor tx-14-f'>Username / Email</mat-label>
                <input type="text" matInput placeholder="Username / Email" formControlName="username"
                  [ngClass]="{ 'is-invalid': submitted && f.username.errors }">
                <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                  <div *ngIf="f.username.errors.required"></div>
                  <!--Not keeping any text message-->
                </div>
              </mat-form-field>
            </div>
            <div class="mg-t-10-f form-group">
              <mat-form-field appearance="fill" fxFlex="100%">
                <mat-label class='pcolor tx-14-f'>Passsword</mat-label>
                <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" formControlName="password"
                  [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                  <div *ngIf="f.password.errors.required"></div>
                  <!--Not keeping any text message-->
                </div>
                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="end center">
              <a [routerLink]="['/password/reset']" class='tx-decoration tx-14-f'>Forgot password?</a>
            </div><br>
            <!-- <div *ngIf="submitted && f.recaptcha.status == 'INVALID' " fxlayout='row' fxLayoutAlign='center center'>
              <span class='red-color tx-14-f'>This verification is mandatory</span>
            </div> -->
            <!-- <div class="form-group" fxlayout='row' fxLayoutAlign='center center'>
              <ngx-recaptcha2 [siteKey]="sitekey" formControlName="recaptcha"
                [ngClass]="{ 'is-invalid': submitted && f.recaptcha.errors }">
              </ngx-recaptcha2>
            </div> -->
            <button type="submit" mat-raised-button class="login mg-y-10-f tx-14-f">Login</button>
          </form>
           <!-- <div class="strike-through strike-through-margin mg-y-20-f">
            <span>
              <strong class="or-text tx-gray-400">or</strong>
            </span>
          </div>
         <mat-list fxLayout="row wrap" fxLayoutAlign='space-between center' class="socialMedia">
            <mat-list-item class="google" fxFlex="49%" fxFlex.lg="100%" fxFlex.md='100%' fxFlex.sm='100%'
              fxFlex.xs='100%'>
              <mat-icon mat-list-icon class="googleIcon"></mat-icon>
              <div mat-line><a  class="tx-12-f tx-lg-14-f tx-md-14-f tx-sm-14-f tx-xs-12-f GoogleSignIn tx-center pcolor">Sign in with Google</a></div>
            </mat-list-item>
            <mat-list-item class="facebook mg-lg-t-5-f mg-md-t-5-f mg-sm-t-5-f mg-xs-t-5-f" fxFlex="49%"
              fxFlex.lg="100%" fxFlex.md='100%' fxFlex.sm='100%' fxFlex.xs='100%'>
              <mat-icon mat-list-icon class="facebookIcon">facebook</mat-icon>
              <div mat-line><a class="tx-12-f tx-lg-14-f tx-md-14-f tx-sm-14-f tx-xs-12-f FacebookSignIn tx-center pcolor">Sign in with Facebook</a></div>
            </mat-list-item>
          </mat-list> -->
          <div class="tx-center-f pd-y-20-f tx-14-f pcolor">Don't have an account?<a [routerLink]="['/signup']"
              class="tx-decoration tx-14-f"> Get Started</a></div>
        </div>
      </mat-card>
    </div>
  </div>
</main>