<main class="content mg-t-100">
  <section fxLayout='row wrap' class="stripebg">
    <div class="bg"></div>
  </section>
  <section class="container sub-inf-div pd-y-60-f">
    <div fxLayout="row wrap" fxLayoutAlign="space-around center" class='pd-y-60-f'>
      <div fxFlex='49.99%' fxLayoutAlign="end start">
        <mat-card fxFlex='80%' class="pd-y-30-f pd-x-40-f">
          <p *ngIf='!free_eligible' class='red-color'>You are not eligible for free subscription</p>
          <mat-card-title>
            <h2 class='sub-title-text tx-xl-24-f tx-lg-24-f tx-md-18-f tx-sm-16-f tx-xs-16-f'>Your Information</h2>
          </mat-card-title>
          <mat-card-content>
            <input type="text" pInputText [(ngModel)]="firstName" placeholder="First Name">
            <input type="text" pInputText [(ngModel)]="lastName" placeholder="Last Name">
            <span class="p-input-icon-right">
              <i class="pi pi-envelope"></i>
            <input type="email" pInputText [(ngModel)]="email" placeholder="Email">
            </span>
            <span class="p-input-icon-right">
              <i class="pi pi-phone"></i>
              <input type="number" pInputText [(ngModel)]="mobileNumber" placeholder="Mobile Number">
            </span>
            <div class='pd-y-30-f' >
              <button pButton pRipple (click)=activateSubscription() class='subscribe' label='Subscribe' [disabled]='!free_eligible'
                mat-flat-button></button>
            </div>
            <p class=' tx-justify tx-12-f tx-gray-500'>By submitting this form, you confirm that you agree to our Terms
              of Service and consent to the storing and processing of your personal data as described in our Privacy
              Policy.</p>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex='50%' fxLayoutAlign="start start">
        <mat-card fxFlex='80%' class="pd-y-30-f pd-x-40-f">
          <mat-card-title>
            <h2 class='sub-title-text tx-xl-24-f tx-lg-24-f tx-md-18-f tx-sm-16-f tx-xs-16-f'>Your Subscription</h2>
            <div class='sub-title-text tx-xl-26-f tx-lg-26-f tx-md-20-f tx-sm-18-f tx-xs-18-f pd-b-10-f'>Free
              Subscription
            </div>
            <span class='sub-title-text tx-xl-18-f tx-lg-18-f tx-md-16-f tx-sm-16-f tx-xs-14-f'>30 Day Free Trial</span>
          </mat-card-title>
          <mat-card-content>
            <ul class="tx-left items-list" >
              <li class="tx-14-f mg-t-20-f">
                <mat-icon class='mg-r-10-f green-color '>done</mat-icon><span>Model Portfolios
                 </span>
              </li>
              <li class="tx-14-f">
                <mat-icon class='mg-r-10-f green-color'>done</mat-icon><span> Stock & ETF Screener
                 </span>
              </li>
              <li class="tx-14-f">
                <mat-icon class='mg-r-10-f green-color'>done</mat-icon><span> Portfolio Analytic Tools
                  </span>
              </li>
              <li class="tx-14-f">
                <mat-icon class='mg-r-10-f green-color'>done</mat-icon><span>Curated Market & Research Insights</span>
              </li>
            </ul>
            <div class='items-list'>
              <h2 class='sub-title-text tx-xl-16-f tx-lg-16-f tx-md-14-f tx-sm-14-f tx-xs-14-f'>Note:</h2>
              <div fxLayout='row wrap' fxLayoutAlign='space-around start'>
                With this free subscription you are eligible to access all the above mentioned features for upto 30 days from the time you have
                subscibed. Once your subscription is expired, you have to take premium subscription to continue using our services. You will be notified
                about your subscription validity and pricing plans to this email {{email}}
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </section>
</main>