.sub-inf-div {
    position: relative;
  }
  .sub-inf-div input,
  .sub-inf-div .p-dropdown{
      margin-bottom:20px !important;
  }
  .subscribe {
    background-color: #00A878 !important;
    color: white !important;
    border: 2px solid #00A878 !important;
    line-height: 30px !important;
    font-weight: 600 !important;
    width: 100% !important;
  }
  // .subscribe:hover {
  //   background-color: white !important;
  //   border: 2px solid #00A878 !important;
  //   color: #00A878 !important;
  //   line-height: 30px !important;
  //   font-weight: 600 !important;
  // }
  ::ng-deep .sub-inf-div .p-dropdown,
  ::ng-deep .sub-inf-div .p-inputtext,
  ::ng-deep .sub-inf-div .p-inputnumber {
    width: 100% !important;
  }
  .sub-inf-div .p-input-icon-right {
    width: 100% !important;
  }
  .sub-inf-div .p-input-icon-right > i {
    top: 20% !important;
    margin-top: 0px !important;
  }
  .sub-inf-div .mat-icon {
      vertical-align: sub;
    }
    .sub-inf-div .items-list{
      list-style: none;
      padding-bottom: 20px;
      border-bottom:1px solid #e3e9ef;
    }
    .mat-card{
      z-index: 0 !important;
  }