<div *ngIf="errorFlag" class="mg-t-100-f">
  <app-page401 *ngIf="errorMsg=='401'"></app-page401>
  <app-page402 *ngIf="errorMsg=='402'"></app-page402>
  <app-page403 *ngIf="errorMsg=='403'"></app-page403>
  <app-page404 *ngIf="errorMsg=='404'"></app-page404>
  <app-page405 *ngIf="errorMsg=='405'"></app-page405>
  <app-page406 *ngIf="errorMsg=='406'"></app-page406>
  <app-page412 *ngIf="errorMsg=='412'"></app-page412>
  <app-page500 *ngIf="errorMsg=='500'"></app-page500>
  <app-page501 *ngIf="errorMsg=='501'"></app-page501>
  <app-page502 *ngIf="errorMsg=='502'"></app-page502>
</div>
<main class='mg-t-100-f stocksCharts' *ngIf="contentFlag">
  <div class="container pd-y-60-f">
    <div class="se-pre-con" *ngIf="loading"></div>
    <div class="se-pre-con-div" *ngIf="divloading"></div>
    <div class="mg-b-20">
      <h1 class="tw tx-xs-28-f tx-sm-30-f tx-md-32-f tx-lg-36-f tx-xl-36-f tx-bold lh-1 title-text">Stocks Charts</h1>

      <mat-tab-group animationDuration="0ms" mat-align-tabs="center" [selectedIndex]="3"
        (selectedTabChange)="tabClick($event)" class='mg-b-20-f'>
        <mat-tab label="WTD"></mat-tab>
        <mat-tab label="MTD"></mat-tab>
        <mat-tab label="YTD"></mat-tab>
        <mat-tab label="1Y"></mat-tab>
        <mat-tab label="2020"></mat-tab>
        <mat-tab label="2019"></mat-tab>
      </mat-tab-group>
      <div fxLayout="row wrap" fxLayoutAlign="space-between start">
        <div fxFlex="44%" fxFlex.lg="42%" fxFlex.md="50%" fxFlex.sm="50%" fxFlex.xs="100%" class='pd-r-10-f pd-sm-r-0-f pd-xs-r-0-f'>
          <span fxLayoutAlign="center center" class='tx-14-f pd-r-10-f' fxFlex='20%' fxFlex.lg='25%' fxFlex.md='20%' fxFlex.sm='40%' >Stock
            Charts</span>
          <ng-multiselect-dropdown fxFlex='80%' fxFlex.lg='75%' fxFlex.md='80%' fxFlex.sm='60%' 
            [placeholder]="'Select stocks...'" [settings]="stockdropdownSettings" [data]="stocksList"
            [(ngModel)]="list_of_stocks_selected" (onSelectAll)="onSelectAll($event)">
          </ng-multiselect-dropdown>
        </div>
        <div fxFlex="44%" fxFlex.lg="42%" fxFlex.md="50%" fxFlex.sm="50%" fxFlex.xs="100%" class='pd-r-10-f pd-md-r-0-f pd-sm-r-0-f pd-xs-r-0-f mg-xs-t-10-f'>
          <span fxLayoutAlign="end center" class='tx-14-f pd-r-10-f' fxFlex='20%' fxFlex.lg='25%' fxFlex.md='20%' fxFlex.sm='40%' >ETF
            Charts</span>
          <ng-multiselect-dropdown fxFlex='80%' fxFlex.lg='75%' fxFlex.md='80%' fxFlex.sm='60%' 
            [placeholder]="'Select ETF stocks...'" [settings]="ETFdropdownSettings" [data]="etfList"
            [(ngModel)]="etf_benchmarks_list_selected"></ng-multiselect-dropdown>
        </div>
        <div fxFlex="12%" fxFlex.lg="16%" fxFlex.md="100%" fxFlex.sm="100%" fxFlex.xs="100%" class='tx-right mg-xs-t-10-f'>
          <button mat-flat-button (click)="totalSelectedStocks()" class='Apply mg-r-10-f tx-14-f'>Apply</button>
          <button mat-flat-button (click)="Reset()" class='Reset tx-14-f tx-semibold'>Reset</button>
        </div>
       
      </div>
      <div class='pd-t-20 pd-l-10'>
        <h3 class="tx-sm-16-f tx-18-f color1 tx-semibold">Cumulative Returns</h3>
        <div [chart]="cumulative_output"></div>
      </div>
      <div class='pd-t-20 pd-l-10'>
        <h3 class="tx-sm-16-f tx-18-f color1 tx-semibold">RSI</h3>
        <div [chart]="rsi_output"></div>
      </div>
      <div class='pd-t-20 pd-l-10'>
        <h3 class="tx-sm-16-f tx-18-f color1 tx-semibold">Volatility</h3>
        <div [chart]="volatility_output"></div>
      </div>
    </div>
  </div>
</main>