::ng-deep .stocksCharts .mat-tab-label,
::ng-deep .stocksCharts .mat-tab-label-active {
  min-width: 0 !important;
  padding: 3px !important;
  margin: 3px 5px !important;
  font-size: 14px !important;
  font-weight: bold !important;
  height: 30px !important;
}
::ng-deep.mat-tab-nav-bar,
::ng-deep.mat-tab-header {
  border-bottom: 0px !important;
}
::ng-deep .example-stretched-tabs {
  max-width: 100px;
}
::ng-deep [mat-align-tabs=center]>.mat-tab-header ::ng-deep.mat-tab-labels{
  justify-content: flex-start !important;
}
.Apply{
  background-color: #002060;
  border: 2px solid #002060;
  color: white;
  line-height: 30px !important;
}
.Reset{
  border: 2px solid #136F63;
  color: #136F63;
  line-height: 30px !important;
}
::ng-deep .stocksCharts .mat-tab-group.mat-primary .mat-ink-bar,.stocksCharts .mat-tab-nav-bar.mat-primary .mat-ink-bar{
  background-color: #002060 !important;
}
::ng-deep .stocksCharts .multiselect-dropdown .dropdown-btn .selected-item{
  background-color: #002060 !important;
  border: #002060 !important;
}
::ng-deep .stocksCharts .dropdown-list{
  z-index: 1 !important;
}