<div *ngIf="errorFlag" class="mg-t-100-f">
  <app-page401 *ngIf="errorMsg=='401'"></app-page401>
  <app-page402 *ngIf="errorMsg=='402'"></app-page402>
  <app-page403 *ngIf="errorMsg=='403'"></app-page403>
  <app-page404 *ngIf="errorMsg=='404'"></app-page404>
  <app-page405 *ngIf="errorMsg=='405'"></app-page405>
  <app-page406 *ngIf="errorMsg=='406'"></app-page406>
  <app-page412 *ngIf="errorMsg=='412'"></app-page412>
  <app-page500 *ngIf="errorMsg=='500'"></app-page500>
  <app-page501 *ngIf="errorMsg=='501'"></app-page501>
  <app-page502 *ngIf="errorMsg=='502'"></app-page502>
</div>
<main class="content mg-t-100 market-view-main" *ngIf="contentFlag">
  <div class='container pd-y-60-f' [@.disabled]="true">
      <h1 class="tx-xs-28-f tx-sm-30-f tx-md-32-f tx-lg-36-f tx-xl-36-f tx-bold lh-1 title-text" >Our Market View</h1>
      <mat-card-content class="mg-t-30 dateTabs">   
        <mat-tab-group >
          <mat-tab *ngFor="let view of marketViews" >
            <ng-template mat-tab-label>{{view.Title}}</ng-template>
            <div class="mg-t-20-f description pcolor tx-xs-14-f tx-sm-14-f tx-md-14-f tx-lg-16-f tx-xl-16-f " [innerHTML]="view.Description"></div>
          </mat-tab>
        </mat-tab-group>
     </mat-card-content>
  </div>
</main>