.Investment_Philosophy .aboutus-background {
    background: url(/assets/images/InvestmentPhilosophyBackground.jpg);
    color: white;
    background-repeat: no-repeat;
    background-position: 100% 100%;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
  }
  
  .Investment_Philosophy .getstarted-div {
    background: linear-gradient(rgba(3, 36, 94, 0.7), rgba(3, 36, 94, 0.7)), url(/assets/images/blue_strip_image.png);
    color: white;
    background-repeat: no-repeat;
    background-position: 100% 100%;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
  }
  .with-icon {
    display: flex;
    align-items: center;
  }
  .with-icon mat-icon{
    width:auto !important;
    height:auto !important;
  }
  .with-icon span{
    word-wrap: unset; white-space: nowrap;
  }
  @media (max-width: 1000px) {
    .Investment_Philosophy .fit-image {
      object-fit: cover !important;
      /*this makes the image in src fit to the size specified below*/
      width: 100%;
      /* Here you can use wherever you want to specify the width and also the height of the <img>*/
    }
  }
  
  @media (max-width: 600px) {
    .Investment_Philosophy .fit-image {
      object-fit: cover !important;
      /*this makes the image in src fit to the size specified below*/
      width: 70%;
      /* Here you can use wherever you want to specify the width and also the height of the <img>*/
    }
  }
  .getstarted-div mat-icon{
    width: 12px !important;
  }
