<main class="content Investment_Philosophy">
    <!-- section-1 start -->
    <div class="pd-y-100-f pd-md-t-60-f pd-md-b-0-f aboutus-background background-color1">
      <div class="container pd-y-60-f pd-md-t-100-f pd-xs-t-80-f" fxLayoutAlign="center center">
        <div fxLayout="row wrap">
          <div fxFlex="40%" fxFlex.lt-lg="100%" fxLayoutAlign="center center">
            <div fxFlex="80%" fxFlex.xs="85%">
              <div fxFlex.xs="100%" fxLayout="column">
                <b class="tx-90-f tx-sm-36-f tx-md-40-f tx-xs-24-f lh-2">We are</b>
                <mat-divider></mat-divider>
                <b class="tx-136-f tx-sm-40-f tx-md-126-f tx-xs-36-f lh-2">72PI</b>
              </div>
            </div>
          </div>
          <div fxFlex="60%" fxFlex.lt-lg="100%" fxLayoutAlign="center center">
            <div fxFlex="80%" fxFlex.xs="85%">
              <div fxFlex.xs="100%" fxLayout="column">
                <p class="tx-20-f tx-md-18-f  tx-sm-16-f tx-xs-14-f lh-7 lh-xs-5"><b>Set up in 2020,</b> we are a
                  seasoned team of investment management professionals and technology innovators with a vision to make
                  world-class investing transparent and simple for mass affluent and high-net worth investors.</p>
                <p class="tx-20-f  tx-md-18-f tx-sm-16-f  tx-xs-14-f lh-7 lh-xs-5">We are on a Mission to bring the power
                  of Robust investment frame works and Deep-Tech to offer innovative and effective investment solutions
                  for long term wealth creation. We bring a GLOBAL perspective to all our investment solutions for our
                  clients around the world.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- section-1 end -->

    <!-- section-4 start -->
    <div class="container pd-t-60-f" fxHide.xs>
      <!-- <h1 class="tx-36-f tx-36-f tx-lg-36-f tx-md-34-f tx-sm-32-f tx-xs-30-f color1 tx-bold tx-center pd-b-0-f">What we do
      </h1> -->
      <div fxLayout="row">
        <div fxFlex="50%" fxFlex.xs="100%" class="what-we-do-image">
          <img src="/assets/images/InvestmentPhilosophy.png" class="fit-image">
        </div>
        <div fxFlex="50%" fxFlex.xs="100%" fxLayoutAlign="center center">
          <div fxLayout="column" fxFlex="80%">
            <span class="tx-24-f  tx-md-22-f  tx-sm-20-f tx-xs-18-f  tx-bold lh-3">Our Investment Philosophy...</span>
            <span class="tx-16-f  tx-md-14-f  tx-sm-14-f tx-xs-14-f  pd-t-20-f pd-md-t-10-f lh-7 pcolor">We are fiduciary investment advisors for our clients. We aim to uncover and invest in companies and strategies that deliver superior risk-adjusted returns across market cycles and compound wealth for our clients.

                We follow an active approach to investing and we predominantly invest in companies that can raise profitability and enhance competitive advantages while also implementing robust ESG and Sustainability practices.
                
                We focus on uncovering distinct sources of systematic alpha through rigorous quantitative and fundamental research across global markets and asset classes.
                
                We aim to deliver consistent alpha generation through absolute return strategies with asymmetric risk-return profiles and an emphasis on capital preservation. </span>
          </div>
  
        </div>
      </div>
      <div fxLayout="row">
  
        <div fxFlex="50%" fxFlex.xs="100%" fxLayoutAlign="center center">
          <div fxLayout="column" fxFlex="80%">
            <span class="tx-24-f  tx-md-22-f  tx-sm-20-f tx-xs-18-f  tx-bold lh-3">Our Investment Process...</span>
            <span class="tx-16-f  tx-md-14-f  tx-sm-14-f tx-xs-14-f  pd-t-20-f pd-md-t-10-f lh-7 pcolor">We are fiduciary investment advisors for our clients. We aim to uncover and invest in companies and strategies that deliver superior risk-adjusted returns across market cycles and compound wealth for our clients.

                We follow an active approach to investing and we predominantly invest in companies that can raise profitability and enhance competitive advantages while also implementing robust ESG and Sustainability practices.
                
                We focus on uncovering distinct sources of systematic alpha through rigorous quantitative and fundamental research across global markets and asset classes.
                
                We aim to deliver consistent alpha generation through absolute return strategies with asymmetric risk-return profiles and an emphasis on capital preservation.</span>
  
          </div>
        </div>
        <div fxFlex="50%" fxFlex.xs="100%" class="what-we-do-image" fxLayoutAlign="center center">
          <img src="/assets/images/InvestmentProcess.png" class="fit-image">
        </div>
      </div>
      <div fxLayout="row">
        <div fxFlex="50%" fxFlex.xs="100%" class="what-we-do-image">
          <img src="/assets/images/InvestmentSolutions.png" class="fit-image">
        </div>
        <div fxFlex="50%" fxFlex.xs="100%" fxLayoutAlign="center center">
          <div fxLayout="column" fxFlex="80%">
            <span class="tx-24-f   tx-md-22-f  tx-sm-20-f tx-xs-18-f tx-bold lh-3">Our Investment Solutions...</span>
            <span class="tx-16-f  tx-md-14-f  tx-sm-14-f tx-xs-14-f  pd-t-20-f pd-md-t-10-f lh-7 pcolor">We offer our flagship actively managed model portfolios and fund strategies for subscription to our clients through the our 72PI Digital Wealth platform.

                We also offer tailored portfolio solutions for select private wealth clients, family offices and Institutions based on their unique requirements and investment mandates. </span>
          </div>
  
        </div>
      </div>
    </div>
  
    <div class="container pd-t-0-f pd-b-0-f" fxHide.gt-xs>
      <div fxLayout="column">
        <div fxFlex.xs="100%" fxLayoutAlign="center center">
          <div fxFlex="85%">
            <div fxLayout="column">
              <!-- <h1 class="tx-36-f tx-lg-36-f tx-md-34-f tx-sm-32-f tx-xs-30-f color1 tx-bold tx-center pd-b-0-f">What we do
              </h1> -->
              <span class="tx-24-f  tx-md-22-f  tx-sm-20-f tx-xs-18-f  tx-bold lh-3 mg-t-20-f">Our Investment Philosophy...</span>
              <div fxLayoutAlign="center center"><img src="/assets/images/InvestmentPhilosophy.png"
                  class="fit-image"> </div>
              <span class="tx-16-f  tx-md-14-f  tx-sm-14-f tx-xs-14-f  pd-t-20-f pd-md-t-10-f lh-7 pcolor">We are fiduciary investment advisors for our clients. We aim to uncover and invest in companies and strategies that deliver superior risk-adjusted returns across market cycles and compound wealth for our clients.

                We follow an active approach to investing and we predominantly invest in companies that can raise profitability and enhance competitive advantages while also implementing robust ESG and Sustainability practices.
                
                We focus on uncovering distinct sources of systematic alpha through rigorous quantitative and fundamental research across global markets and asset classes.
                
                We aim to deliver consistent alpha generation through absolute return strategies with asymmetric risk-return profiles and an emphasis on capital preservation. </span>
            </div>
          </div>
        </div>
        <div fxFlex.xs="100%" fxLayoutAlign="center center">
          <div fxFlex="85%">
            <div fxLayout="column">
              <span class="tx-24-f  tx-md-22-f  tx-sm-20-f tx-xs-18-f  tx-bold lh-3 mg-t-20-f">Our Investment Process...</span>
              <div fxLayoutAlign="center center"><img src="/assets/images/InvestmentProcess.png" class="fit-image"></div>
              <span class="tx-16-f  tx-md-14-f  tx-sm-14-f tx-xs-14-f  pd-t-20-f pd-md-t-10-f lh-7 pcolor">We are fiduciary investment advisors for our clients. We aim to uncover and invest in companies and strategies that deliver superior risk-adjusted returns across market cycles and compound wealth for our clients.

                We follow an active approach to investing and we predominantly invest in companies that can raise profitability and enhance competitive advantages while also implementing robust ESG and Sustainability practices.
                
                We focus on uncovering distinct sources of systematic alpha through rigorous quantitative and fundamental research across global markets and asset classes.
                
                We aim to deliver consistent alpha generation through absolute return strategies with asymmetric risk-return profiles and an emphasis on capital preservation.</span>
            </div>
          </div>
        </div>
        <div fxFlex.xs="100%" fxLayoutAlign="center center">
          <div fxFlex="85%">
            <div fxLayout="column">
              <span class="tx-24-f   tx-md-22-f  tx-sm-20-f tx-xs-18-f tx-bold lh-3 mg-t-20-f">Our Investment Solutions...</span>
              <div fxLayoutAlign="center center"><img src="/assets/images/InvestmentSolutions.png" class="fit-image"> </div>
              <span class="tx-16-f  tx-md-14-f  tx-sm-14-f tx-xs-14-f  pd-t-20-f pd-md-t-10-f lh-7 pcolor">We offer our flagship actively managed model portfolios and fund strategies for subscription to our clients through the our 72PI Digital Wealth platform.

                We also offer tailored portfolio solutions for select private wealth clients, family offices and Institutions based on their unique requirements and investment mandates.
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- section-4 end -->
  
 
  
  
    <!-- section-7 start -->
    <div class="getstarted-div pd-y-100-f pd-sm-y-30-f">
      <div class="container pd-l-50-f pd-sm-l-30-f">
        <div fxLayout="row wrap" fxLayoutAlign="center center">
          <div fxLayout="row wrap" fxFlex="100%" >
            <div fxFlex="100%" fxLayoutAlign="space-between center" class="with-icon">
              <span class="tx-xs-10-f tx-sm-16-f tx-md-24-f tx-lg-32-f tx-xl-36-f tx-semibold " >
                Insightful Research</span>
                <mat-icon class="tx-semibold mg-l-10-f mg-r-30-f mg-md-x-20-f mg-xs-x-0-f tx-xs-10-f tx-sm-16-f tx-md-24-f tx-lg-32-f tx-xl-34-f">star</mat-icon>
                <span class="tx-xs-10-f tx-sm-16-f tx-md-24-f tx-lg-32-f tx-xl-36-f tx-semibold ">Smart Alpha</span>
                <mat-icon class="tx-semibold mg-l-10-f mg-r-30-f mg-md-x-20-f mg-xs-x-0-f tx-xs-10-f tx-sm-16-f tx-md-24-f tx-lg-32-f tx-xl-34-f">star</mat-icon>
                <span class="tx-xs-10-f tx-sm-16-f tx-md-24-f tx-lg-32-f tx-xl-36-f tx-semibold ">Deep-Tech Innovation </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- section-7 end -->
  
  
  </main>

