<div *ngIf="errorFlag" class="mg-t-100-f">
  <app-page401 *ngIf="errorMsg=='401'"></app-page401>
  <app-page402 *ngIf="errorMsg=='402'"></app-page402>
  <app-page403 *ngIf="errorMsg=='403'"></app-page403>
  <app-page404 *ngIf="errorMsg=='404'"></app-page404>
  <app-page405 *ngIf="errorMsg=='405'"></app-page405>
  <app-page406 *ngIf="errorMsg=='406'"></app-page406>
  <app-page412 *ngIf="errorMsg=='412'"></app-page412>
  <app-page500 *ngIf="errorMsg=='500'"></app-page500>
  <app-page501 *ngIf="errorMsg=='501'"></app-page501>
  <app-page502 *ngIf="errorMsg=='502'"></app-page502>
</div>
<main class="content ourportfolio-main" *ngIf="contentFlag">
  <div class="container pd-b-60-f">
    <div class="se-pre-con" *ngIf="loading"></div>

    <section class="section-1">
      <div [@.disabled]="true">
        <mat-tab-group (selectedTabChange)="tabChanged($event)">
          <mat-tab label="ACTIVE"></mat-tab>
          <mat-tab label="ADDITIONS"></mat-tab>
          <mat-tab label="EXITS"></mat-tab>
        </mat-tab-group>
      <cdk-virtual-scroll-viewport [itemSize]="30" class="mg-t-30">        
        <table mat-table #table [dataSource]="dataSource"  matSort class="our-portfolio-table">
          <ng-container [matColumnDef]="col" *ngFor="let col of accessColumns;let i = index;">
                <div *ngIf="col=='stock_name'">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header class="left-align-header" sticky> {{displayColumns[i]}} </th>
                  <td mat-cell *matCellDef="let element" class="left-align-header">
                    <div fxLayout="row">
                      <div fxLayoutAlign="start start">
                        <img class="symbol-logo" src="{{element.IMGURL}}" alt="{{element.security_code}}">
                      </div>
                      <div fxLayout="column" class="pd-l-10-f">
                        <div class="tx-14-f color1 tx-bold cursor-f"
                          (click)="getStockInfopage(element.stock_name,element.security_code)">{{element.security_code}}
                        </div>
                        <div class="tx-12-f tx-semibold ">
                          {{element.stock_name}}
                        </div>
                      </div>
                    </div>
                  </td>
                </div>
                <div *ngIf="!(col=='stock_name')">
                  <div *ngIf="col=='buy_price' || col=='sell_price' || col=='price'">
                     <th mat-header-cell *matHeaderCellDef mat-sort-header ><span>  {{displayColumns[i]}} (<span  class="currencySymbolFont">{{currencysymbol}}</span>)</span> </th>                    
                  </div>
                  <div *ngIf="!(col=='buy_price' || col=='sell_price' || col=='price')">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="{'left-align-header': col=='sector_name' || col=='date'}"> {{displayColumns[i]}} </th>
                  </div>  
                  <td mat-cell *matCellDef="let element" [ngClass]="{'left-align-header': col=='sector_name' || col=='date'}">
                    <div *ngIf="col=='date'">{{element[col]|date: 'dd-MMM-yyyy'}}</div>  
                    <div *ngIf="col=='buy_price' || col=='sell_price' || col=='price'">{{element[col] |number:'1.0-0'}} </div>
                    <div *ngIf="!(col=='buy_price' || col=='sell_price' || col=='price' || col=='date')"> {{element[col]}} </div>                    
                  </td>
                </div>                
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="accessColumns;sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: accessColumns;"></tr>
        </table>

        
        </cdk-virtual-scroll-viewport>
      </div>
    </section>
    <section class="section-2">
      <h1  class="tx-sm-16-f tx-18-f color1 tx-semibold mg-b-20-f">Short notes on 72PI Portfolio Stocks</h1>
      <div *ngFor='let signal of tradeSignals'>
        <mat-card class="mg-b-30 pd-16-f">
          <mat-card-content>
          <div [class.collapsed]="isCollapsed">
              <ng-content></ng-content>
          </div>
            <h2  class="tx-sm-16-f tx-18-f color1 tx-semibold mg-y-20-f tx-center">
              {{signal.company_name}}
            </h2>
            <div fxLayout="row wrap" fxLayoutAlign="space-around stretch">
              <div fxFlex="25%"  fxFlex.lt-md="100%" class="notes_divs pd-r-15-f">
                <h2 class="tx-sm-14-f tx-16-f color5 tx-semibold">Fundamental</h2>
                <p class="tx-justify pcolor">
                  {{signal.fundamental}}
                  
                </p>
             
                  <div *ngFor="let i of [].constructor(5);let j=index" style="display: inline;">
                  <span class="material-icons star"  *ngIf='j<=signal.fund_rating'>star</span>
                  <span class="material-icons star" *ngIf='j>signal.fund_rating'>star_outline</span>
                </div>
              </div>
              <div fxFlex="23%"  fxFlex.lt-md="100%" class="notes_divs pd-r-15-f">
                <h2  class="tx-sm-14-f tx-16-f color5 tx-semibold">Quantitative</h2>
                <p class="tx-justify pcolor">
                  {{signal.quantitative}}
                </p>
                 <div *ngFor="let i of [].constructor(5);let j=index" style="display: inline;">
                  <span class="material-icons star"  *ngIf='j<=signal.quant_rating'>star</span>
                  <span class="material-icons star" *ngIf='j>signal.quant_rating'>star_outline</span>
                </div>
              </div>
              <div fxFlex="23%"  fxFlex.lt-md="100%" class="notes_divs pd-r-15-f">
                <h2  class="tx-sm-14-f  tx-16-f color5 tx-semibold">Technical</h2>
                <p class="tx-justify pcolor">
                  {{signal.technical}}
                </p>
                  <div *ngFor="let i of [].constructor(5);let j=index" style="display: inline;">
                  <span class="material-icons star"  *ngIf='j<=signal.technical_rating'>star</span>
                  <span class="material-icons star" *ngIf='j>signal.technical_rating'>star_outline</span>
                </div>
              </div>
              <div fxFlex="25%" fxFlex.lt-md="100%" class="">
                <h2  class="tx-sm-14-f  tx-16-f color5 tx-semibold">Situations</h2>
                <p class="tx-justify pcolor">
                  {{signal.situations}}
                </p>
                  <div *ngFor="let i of [].constructor(5);let j=index" style="display: inline;">
                  <span class="material-icons star"  *ngIf='j<=signal.situations_rating'>star</span>
                  <span class="material-icons star" *ngIf='j>signal.situations_rating'>star_outline</span>
                </div>
              </div>
            </div>
            <mat-divider></mat-divider>
            <div *ngFor='let idea of tradeIdeas'>
              <div *ngIf="getSignalIdeas(idea, signal)">
                <table class="shortnotes_table mg-t-20-f">
                  <tr>
                    <td rowspan="2" class="tx-semibold">{{idea.issue_date|date: 'dd-MMM-yyyy'}}</td>
                    <td class="tx-center tx-14-f">Purchase Price(<span  class="currencySymbolFont">{{currencysymbol}}</span>)</td>
                    <td class="tx-center tx-14-f">Target Price(<span  class="currencySymbolFont">{{currencysymbol}}</span>)</td>
                    <td class="tx-center tx-14-f">Time Period</td>
                  </tr>
                  <tr class="pd-t-10-f">
                    <td  class="tx-semibold tx-center">{{idea.purchased_price}}</td>
                    <td  class="tx-semibold tx-center">{{idea.target_price}}</td>
                    <td  class="tx-semibold tx-center">{{idea.time_period}}</td>
                  </tr>
                </table>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </section>
  </div>
</main>