
.notes_divs{
    border-right:1px solid #cdd4e0;
}
.star {
    color:#C87D09 !important;
}
.our-portfolio-table .mat-cell:nth-child(1){
  min-width: 300px;
   max-width: 300px;
   word-wrap:break-word;
  }
::ng-deep .our-portfolio .mat-tab-label {
  background-color: transparent  !important;
  color: #002060 !important;
  font-weight: 700  !important;
  padding:0px 10px !important;
  min-width:max-content !important;
  font-size:12px !important;
  height:30px !important;
}
/* Styles for the active tab label */
::ng-deep .our-portfolio  .mat-tab-label.mat-tab-label-active {
  background-color:#e7f3ff !important;
  font-weight: 700  !important;
  opacity:1 !important;
  border:none !important;
}