<main class="content mg-t-95 FAQ">
  <div class="header tx-center pd-y-100-f">
    <p class='tx-xs-28-f tx-sm-30-f tx-md-32-f tx-lg-36-f tx-xl-36-f tx-semibold color1'>Get Some Help Here!</p>
    <p class='tx-xs-18-f tx-sm-20-f tx-md-22-f tx-lg-24-f tx-xl-24-f tx-medium color1 mg-t-50-f'>Browse helpful
      resources below to find the quick solution to your question</p>
  </div>
  <div class="container mg-t-60-f">
    <div class="tx-center">
      <p class="tx-xs-18-f tx-sm-20-f tx-md-22-f tx-lg-24-f tx-xl-24-f tx-semibold color1">Frequently Asked Questions
      </p>
      <div class="mg-t-50-f">
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Tell us about your service offerings?
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class='pcolor tx-xs-14-f tx-sm-14-f tx-md-14-f tx-lg-16-f tx-xl-16-f sub-text'>
              <div class="sub">We offer two main products:</div>
              Signals and Portfolio Analytics
              <p>Signals product is designed to derive investment signals by evaluating market data from multiple
                dimensions:</p>
              <ol>
                <li>Quantitative signals from Artificial Intelligence / Machine Learning model</li>
                <li>Futures & Options market</li>
                <li>Technical chart signals</li>
                <li>Fundamental analysis</li>
                <li>Model portfolios of market participants</li>
              </ol>
              The second product is Portfolio Analytics. Create, analyze, and optimize your portfolios with 72PI
              Portfolio
              Analytics module.
              Deep dive into the portfolio performance and understand the metrics driving overall return.
              Use our Portfolio Optimization module to help pick the right combination of weights to maximize the return
              or to balance
              the return risk ratio or to achieve the target return. Our tools enable you to compare and fine tune your
              portfolios based
              on various parameters and complement your investment process and become a smarter investor at portfolio
              construction.
            </div>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Is 72PI or its parent company, Aishva Financial Services, a broker?
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class='pcolor tx-xs-14-f tx-sm-14-f tx-md-14-f tx-lg-16-f tx-xl-16-f sub-text'>
              <p>72PI and its parent company Aishva Financial Services is not a stockbroker.</p>
              <p>72PI is built to be the one-stop content and modeling resource to make the investing process smarter,
                more
                accessible, and transparent for individual investors.
                We provide our subscribers with the knowledge and tools they need to make more informed decisions to
                succeed
                in their financial investments.</p>
            </div>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Will intraday stock tips be provided?
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p class='pcolor tx-xs-14-f tx-sm-14-f tx-md-14-f tx-lg-16-f tx-xl-16-f sub-text'>No</p>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                What content is provided in the Signals product?
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class='pcolor tx-xs-14-f tx-sm-14-f tx-md-14-f tx-lg-16-f tx-xl-16-f sub-text'>
              <div class="sub">
                <p>Our key modules within Signals product are :</p>
              </div>
              <p><b class='sub'>Market :</b> Subscribers are provided with a snapshot of the equity market conditions
                and
                associated macro-economic information in India.
                Macroeconomic data, equity market indices performance and sector indices performance are updated every
                day
                to provide user with
                a glimpse into the current economy and stock market.</p>
              <p><b class="sub">72PI Portfolio :</b> 72PI will look into fundamental, quantitative, technical and
                situational analyses to determine the best stocks to invest in.</p>
              <p>Subscribers can follow changes to model portfolio every week or month.</p>
              <p><b class="sub">Futures & Options :</b> Using an in-house proprietary model, a list of companies and
                their
                corresponding ‘high probability
                price range’ for near term (typically one month) will be provided to subscribers. This list and the
                price
                ranges will be update weekly.
                For short term trading, subscribers can consider to SELL at top end of range and BUY at bottom end of
                range.</p>
              <p><b class="sub">Quant :</b> Quantitative models using Machine Learning techniques are used to predict 1
                to
                3 months relative performance of sectors and companies.
                Historical data from the last 5 years is used to train the model. The model’s predictions predominantly
                capture the relative
                momentum of Sectors and specific stocks within each Sector. Each sector and the companies within
                each sector fall into one of the following categories: Underweight, Neutral or Overweight.
                TheseQuantitative models using Machine Learning techniques can be used along with other signals to
                identify
                investment opportunities in a sector and stock.</p>
              <p><b class="sub">Model Portfolios :</b> 72PI provides subscribers with model portfolios which includes a
                list of companies that are handpicked
                based on risk appetite and investment preference OR based on selection by top Mutual Funds in India.</p>
              <p><b class="sub">72PI Wizard :</b> Listed companies are put through fundamental, technical and the AL/ML
                filters to identify interesting investment opportunities
                based on current market conditions. Subscribers can alter the fundamental, technical and the AL/ML
                filters
                to their desire by customizing the filters.</p>
              <p><b class="sub">72PI Reports :</b> The 72PI research team provides custom reports for its subscribers on
                a
                select list of companies to provide curated information
                about their business and company valuation. This report can be used to understand certain companies at a
                more granular level.</p>
              <div class="sub">Curated News :</div> 72PI team will curate market news into a structured content for easy
              digestion and understanding of markets.
            </div>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                What content is provided in the Portfolio Analytics product?
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class='pcolor tx-xs-14-f tx-sm-14-f tx-md-14-f tx-lg-16-f tx-xl-16-f sub-text'>
              <div class="sub">
                <p>Our key modules within Portfolio Analytics product are :</p>
              </div>
              <p><b class="sub">72PI Chatbot :</b> A conversational Machine Learning based Chat-Bot for easy
                understanding
                of portfolio through an interactive Q&A format.
                Display data and charts based on queries of subscriber.</p>
              <p><b class="sub">Portfolio Creator by selecting stocks :</b> Create portfolio by selecting stocks by
                sector, and market capitalization.</p>
              <p><b class="sub">Portfolio Creator by using Filters :</b> Create portfolio by selecting stocks using
                multiple factors as filters, including Sales, Sales Growth,
                PE multiple, EPS Growth, PB multiple, Beta, Volatility, Sector, Market capitalization, Dividend Yield,
                ROE
                and many other factors.</p>
              <p><b class="sub">Portfolio Analyzer :</b> Analyze your portfolios with 72PI for deep dive into the
                portfolio performance and understand the metrics driving overall return,
                including equal-weighted returns, returns by sector, risk / volatility of portfolio, comparison of price
                to
                analyst target prices for each stock,
                and an overall recommendations on portfolio construction.</p>
              <p><b class="sub">Advanced Portfolio Analyzer :</b> Advanced features analytics such as historical
                valuation
                multiples of each company, factor analysis of portfolio,
                impact of Oil / US$ to Rupee exchange rate on portfolio, technical factors such as RSI. These tools are
                intended to help you become a much smarter investor,
                especially at portfolio construction.</p>
              <p><b class="sub">Portfolio Optimization :</b>For a portfolio, run efficient frontier simulations based on
                historical or forecasted returns to understand
                expected portfolio returns and risk. To compare the portfolio weights of different optimization models.
                Helps in fine tuning the amount of investment
                for each position in your portfolio.</p>
            </div>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Can 72PI manage my capital?
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class='pcolor tx-xs-14-f tx-sm-14-f tx-md-14-f tx-lg-16-f tx-xl-16-f sub-text'>
              <p>72PI does not manage your capital currently. 72PI is built to be the one-stop content and
                modeling resource to make the investing process smarter,
                more accessible, and transparent for individual investors. We provide our subscribers with the knowledge
                and
                tools they need to make more informed decisions
                to succeed in their financial investments.</p>
              <p>Aishva Financial Services is a SEBI registered Investment Adviser. If an investor is looking for
                specific
                investment advisory services to manage</p>
              capital please write to advisory@aishva.com
            </div>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Does 72PI provide Portfolio Management Services (PMS)?
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p class='pcolor tx-xs-14-f tx-sm-14-f tx-md-14-f tx-lg-16-f tx-xl-16-f sub-text'>No, 72PI does not provide
              PMS services. Aishva Financial Services is a SEBI registered
              Investment Adviser.
              If an investor is looking for specific investment advisory services to manage capital please write to
              advisory@aishva.com</p>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Does 72PI provide live price feeds?
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p class='pcolor tx-xs-14-f tx-sm-14-f tx-md-14-f tx-lg-16-f tx-xl-16-f sub-text'>No. 72PI currently
              displays end of prices only.</p>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Who owns 72PI?
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class='pcolor tx-xs-14-f tx-sm-14-f tx-md-14-f tx-lg-16-f tx-xl-16-f sub-text'>
              <p>72PI platform is owned by Aishva Financial Services Private Limited, a SEBI registered
                Investment Adviser.</p>
              <p>Suresh Raju founded Aishva Financial Services to provide insightful equity research ideas and bring
                institutional
                style portfolio analytics to the individual investor. Suresh and his team currently operate a SEBI
                registered Alternative Investment Fund,
                Category III, that invests in equities and derivatives market. Suresh has over 20 years of extensive
                experience in Investment Management,
                Capital Markets, Financial Structuring, Valuation, Corporate Finance and Due Diligence.</p>
              <p>Prior to launching 72PI, he founded and operated a company in the financial services space to provide
                equity
                research, predictive modeling,
                and analytics support to asset management clients, primarily fund managers and hedge funds, in Boston
                and
                New York City.
                He and his team have researched and delivered over 1500+ company writeups across sectors and
                international
                markets to clients in USA.
                Suresh spent 4 years in the private equity market as a General Partner at TVS Capital Funds, evaluating
                over
                600+ companies across consumer
                consumption sectors in India. In his earlier days, Suresh spent time in the Investment Banking practice
                at
                Deutsche Bank (Boston, USA) and led
                over 25 transactions from IPOs, private placements, debt financings, M&A transactions, LBOs across
                technology sector.
                Suresh started his career at ABAQUS Inc. (USA) a software company that focused on finite element
                technologies.</p>
              <p>Suresh received his bachelor’s from IIT Madras in 1993 and master’s in engineering from Ohio State
                University in 1995.
                He received his MBA from University of Chicago Booth School of Business in 2001.</p>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
  </div>
</main>