.mat-form-field + .mat-form-field {
    margin-left: 8px;
  }

mat-panel-title{
    font-weight: bold;
    color: rgb(0, 32, 96);
    font-size: 16px;

}

mat-expansion-panel{
    width: 70%;
    color: #777;
    font-size: 14px;
    line-height: 1.8;
    padding: 1rem;
    border-bottom: 1px solid #ccc;
}

h1{
    color: rgb(0, 32, 96);
    font-size: 26px;
    text-align: center;
}

.mat-accordion .mat-expansion-panel{
    margin-bottom: 15px;
    border-radius: 5px;
    // border: solid 0.5px rgb(0, 32, 96);
  }

mat-expansion-panel-header{
    height: 50px;
}

.sub{
    color: rgb(0, 32, 96);
    font-weight: 450;
    font-size: 16px;
    display: inline;
    text-align: justify;
}

.header{
    background-color: #E5E8EF;
}

.answer{
    text-align:justify
}
::ng-deep .mat-expansion-panel:not([class*=mat-elevation-z]){
    box-shadow: none !important;
    border-radius: 0px!important;
}
.FAQ .mat-expansion-panel-header{
    text-align:left !important;
}